[2020-03-12 23:11] pixelzoom commented on #318
@chrisklus I added the missing entries to images/license.json.  I didn't know who created the images, so I inserted "TODO" for the "notes" field,  and you'll still need to address those.

[2020-03-13 04:48] arouinfar commented on #311
@chrisklus this is all looking quite nice! One small thing I'm noticing is a seam in the pipe near the burner legs on the Systems screen. Is this an artifact of the layering?
![image](https://user-images.githubusercontent.com/8419308/76590482-dba1ed00-64b2-11ea-8f79-4a4fb13fdde9.png)
![image](https://user-images.githubusercontent.com/8419308/76590503-ea889f80-64b2-11ea-8e9a-3ff4b2f78a0a.png)

[2020-03-13 17:16] KatieWoe opened #321 "Sliders of off screen energy sources can be on screen (but invisible)"
For https://github.com/phetsims/QA/issues/483. First seen on iPad, but can be seen on other devices if you make the window very tall.
This is a very minor issue and can probably be closed without doing anything.
If you showPointerAreas, you can see and manipulate the sliders of energy sources above the current one. When the energy sources changes the sliders reset, and the sliders are otherwise in

[2020-03-17 18:35] chrisklus commented on #318
Ahh my apologies! Thanks much @KatieWoe and @pixelzoom. Author credits added above, closing.

[2020-03-17 18:35] #318 closed

[2020-03-17 18:55] chrisklus commented on #311
Nice catch, thanks @arouinfar! I fixed the gap in the above commit. Anything else for this issue?

[2020-03-18 01:32] zepumph opened #322 "Move a11y strings to json file"
From https://github.com/phetsims/chipper/issues/795

[2020-03-18 01:46] zepumph commented on #322
@jessegreenberg please spot check.

[2020-03-18 23:50] arouinfar commented on #311
Looks good @chrisklus.

@ariel-phet would you also like to review?

[2020-03-19 17:30] ariel-phet commented on #311
Looking good to me!

[2020-03-19 17:32] ariel-phet commented on #311
@chrisklus can you publish a dev version? It might be good to show this to the UK teacher I spoke with.

[2020-03-20 02:32] chrisklus commented on #321
Nice find @KatieWoe!

This is due to the off screen system elements no longer being invisible, but opacity: 0 instead. It's caused by the changes from https://github.com/phetsims/energy-forms-and-changes/issues/305. @arouinfar seems okay to me (`showPointerAreas` seems pretty phet internal), what do you think?

[2020-03-20 03:04] chrisklus commented on #320
I downloaded that file and found the line:column of `(1941,433763)` to be pointing at the `EFACQueryParameters` object in EFACQueryParameters.js. `.keys` is never called on `EFACQueryParameters`, so I'm at a bit of a dead end without being able to reproduce the problem with a debug version. I'll need someone with a windows machine to lend me a hand.

@KatieWoe would you mind confirming that the si

[2020-03-20 15:30] KatieWoe commented on #320
Still happens on master

[2020-03-20 17:18] chrisklus commented on #311
Sounds good, I'm going to try to fix https://github.com/phetsims/energy-forms-and-changes/issues/317 first and then will post a dev link.

[2020-03-20 18:16] chrisklus commented on #320
@zepumph kindly helped me out - we found a couple problems. First, I was using Array.keys in EFACQueryParameters.js, and that's not supported in IE. Once we figured out a different approach, we found another bug in QueryStringMachine.js, see https://github.com/phetsims/query-string-machine/issues/39.

Fix committed above, @KatieWoe please test on master.

[2020-03-20 18:19] arouinfar commented on #321
Nice @KatieWoe!

Agreed @chrisklus. I think this is safe to close.

[2020-03-20 18:19] #321 closed

[2020-03-20 18:25] KatieWoe commented on #320
Now loads on IE :)

[2020-03-20 18:56] chrisklus commented on #320
Great, thanks! Closing.

[2020-03-20 18:56] #320 closed

[2020-03-21 00:29] chrisklus commented on #317
This was a little tricky to figure out but the fix ended up being very simple.

Basically, the biker was being activated correctly and had initial energy when the sim started up, but the problem was that the energy chunk nodes weren't being created to reflect the model chunks. This was because of the following:

The type EnergyChunkLayer takes an ObservableArray of chunks and listens to it for cha

[2020-03-21 00:42] chrisklus commented on #311
#317 is fixed. Here's a new dev: https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.2.0-dev.11/phet/energy-forms-and-changes_en_phet.html

I'm going to close - let me know if you hear back and would like to make any tweak!

[2020-03-21 00:47] #311 closed

[2020-03-23 15:32] KatieWoe commented on #317
Looks good on master

[2020-03-24 18:56] chrisklus commented on #319
I remember this coming up during v1 release testing and I think @jbphet and I didn't fix it because it would make `constrainPosition` more complex and computationally expensive. I'll keep looking for the issue.

[2020-03-24 19:00] kathy-phet commented on #316
I'm not inclined to fix this issue. If/when a client needs this level of quick state setting, then perhaps they can fund some rewrite of how state works for this sim. Sound OK with everyone?

[2020-03-25 17:23] chrisklus commented on #317
Thanks @KatieWoe! Closing.

[2020-03-25 17:23] #317 closed

[2020-03-25 17:42] chrisklus commented on #319
I still can't find the relevant issue from last year. However, this problem was known and accepted, and it took @jbphet and I some time to get beaker/block drag performance to an acceptable point on some of the slower devices, so I don't think this is worth digging into. @arouinfar are you okay with closing?

[2020-03-25 17:45] chrisklus commented on #316
Sounds reasonable to me. Closing.

[2020-03-25 17:45] #316 closed

[2020-03-25 19:54] arouinfar commented on #319
That's my recollection as well @chrisklus. Let's close.

[2020-03-25 19:54] #319 closed

[2020-03-26 19:06] JRomero0613 opened #323 "Generator String Overruns With Long String"
For https://github.com/phetsims/QA/issues/488 when using the ?stringTest=long query parameter the “generator” string overruns the shape of the generator. I have attached a picture of this issue.
![90635353-B3F5-4819-891C-BC60C1D8BFCA](https://user-images.githubusercontent.com/30352536/77686390-81993100-6f62-11ea-9d8d-364553bfa1cc.png)

[2020-03-26 23:06] chrisklus commented on #323
Thanks @JRomero0613. Fixed on master, closing.

[2020-03-26 23:06] #323 closed

[2020-03-27 16:06] oliver-phet opened #324 "User request: remote "Forms""

[2020-03-27 18:26] arouinfar commented on #324
@oliver-phet this is similar to other feedback we've gotten from users in the UK, and we have made changes in #311 that are still in the pipeline to be published.

The translation utility supports en_GB, and @ariel-phet said:

However, it doesn't appear that the sim has been translated yet. @ariel-phet I'd be happy update submit an en_GB translation with the changes described above. Let me know ho

[2020-03-31 21:33] loganbraywork opened #325 "Water label appears on Olive Oil beaker at random times"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Firefox 74
**Problem description**
For https://github.com/phetsims/QA/issues/488

At random times the Olive Oil label on the Olive Oil beaker will be replaced with the Water label. This bug always seems to occur when the water beaker is being moved over the burners, and always after the intro screen is opened for the fir

[2020-04-01 01:39] chrisklus commented on #325
Thanks @loganbraywork! We discussed more on slack and @loganbraywork added that this happens somewhere between every 1 and 9 reloads, and it happens on his machine but not on a faster PC. Similarly, @zepumph helped troubleshoot on his end and found that it wasn't happening on his machine, but it was on a slower PC he has access too.

@zepumph suggested some different ways to try constructing the b

[2020-04-01 19:10] loganbraywork commented on #325
@chrisklus Sure thing! Just slack me whenever you guys are available

[2020-04-01 22:51] zepumph opened #326 "Convert ReferenceIO usages to NodeIO?"
Over in https://github.com/phetsims/tandem/issues/159, we encountered a few spots in the CAF view that made more sense being instrumented as unstateful NodeIO instances instead of as ReferenceIO. My best guess as to why they were ReferenceIO is because that is very tolerant to static serialization.

@chrisklus mentioned using that pattern in this sim, and perhaps there could be some cleanup done i

[2020-04-07 18:54] ariel-phet commented on #324
@arouinfar I will reach out to our en_GB contact when this simulation gets published. Since this is basically a duplicate of #311 I am closing

[2020-04-07 18:54] #324 closed

[2020-04-09 22:45] liam-edward-mulhall opened #327 "Huge slowdown in state wrapper"
<b>Test Device</b>

MacBook Air, Early 2015, 1.6 GHz Dual-Core Intel Core i5

<b>Operating System</b>

macOS 10.15.2

<b>Browser</b>

Safari 13.0.4

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/488. In https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.2.0-dev.12/phet-io/, I'm seeing a huge slowdown in the state wrapper on my MacBook Air. When I use the profiler

[2020-04-09 22:48] #327 closed

[2020-04-09 22:48] lmulhall-phet opened #328 "Huge slowdown in state wrapper"
<b>Test Device</b>

MacBook Air, Early 2015, 1.6 GHz Dual-Core Intel Core i5

<b>Operating System</b>

macOS 10.15.2

<b>Browser</b>

Safari 13.0.4

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/488. In https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.2.0-dev.12/phet-io/, I'm seeing a huge slowdown in the state wrapper on my MacBook Air. When I use the profiler

[2020-04-09 23:08] lmulhall-phet commented on #328
Mirror inputs is also pretty slow.

[2020-04-09 23:09] chrisklus commented on #325
@loganbraywork and I paired today to test out a couple possible fixes.

First, we confirmed that this still happens with master on Windows Firefox on @loganbraywork's device. It took a few tries, but the bug still occurred after 5-7 tries.

Attempt 1 was not passing in a label for the water beaker, but using the default option for that string instead. This had no effect, as the bug occurred on the

[2020-04-09 23:20] chrisklus commented on #328
Thanks @lmulhall-phet - the state wrapper is indeed pretty unusable when loaded with `numberOfMillisecondsBetweenUpdates` at its default value of 1000 ms, see https://github.com/phetsims/energy-forms-and-changes/issues/316 and the phet-io special instruction section in https://github.com/phetsims/QA/issues/488.

The state slowness doesn't relate to the mirror inputs wrapper though, so if you think

[2020-04-09 23:22] lmulhall-phet commented on #328
Ah, sorry I didn't see that. Thanks, @chrisklus.

[2020-04-09 23:22] #328 closed

[2020-04-14 19:05] oliver-phet commented on #232
Another user emailed about this. I asked what specifically in their lab benefits from the heaters being locked?

[2020-04-14 19:06] oliver-phet commented on #232
@arouinfar Assigning to you to decide on.

[2020-04-15 03:03] arouinfar commented on #232
I think the user in https://github.com/phetsims/energy-forms-and-changes/issues/232#issuecomment-613626501 raises an interesting point, and highlights a use case we hadn't explicitly considered before.

The user can use the `?stickyBurners` query parameter to achieve the desired behavior. We haven't publicized this query parameter (except to PhET-iO clients), but I wonder if we should. @ariel-phet

[2020-04-15 03:08] ariel-phet commented on #232
@arouinfar I see no reason not to advertise the `?stickBurners` query parameter in the teacher tips. Seems useful for some teachers.

[2020-04-15 04:32] arouinfar commented on #232
?stickyBurners has been added to the Teacher Tips.

[2020-04-15 15:56] oliver-phet commented on #232
Email to user send!

[2020-04-15 15:56] #232 closed

[2020-04-23 14:58] chrisklus commented on #326
The block nodes were already type `NodeIO`, but I was thinking the beaker views could use cleanup, since they were `ReferenceIO( ObjectIO )`. I thought based on our discussion that just ObjectIO might work since they are just the corresponding views (they handle their NodeIO properties separately), but I'm getting an uncloneable error in Studio. There's also a separate usage not in a PhetioGroup t

[2020-04-23 14:58] #326 closed

[2020-04-23 15:07] chrisklus opened #329 "Misc cleanup"
- [x] model PhetioGroup instance names don't match their tandem names
- [x] view PhetioGroup instance names don't match their tandem names
- [x] 1 TODO in Block.js

[2020-04-23 15:48] chrisklus commented on #329
All set, closing.

[2020-04-23 15:48] #329 closed

[2020-04-28 23:33] pixelzoom opened #330 "duplicated code in EFACIntroScreenView.js"
I ran into this bit of code in EFACIntroScreenView.js while working on https://github.com/phetsims/tandem/issues/180:

[code]

Lots of duplication here.  While refactoring PhetioGroupAPI, I had to change `get` to `getElement` 10x !

For example:
* `model.beakerGroup.getElement` repeated 4x
* `this.beakerProxyNodeGroup.getElement` repeated 6x
* index `0` repeated 5x
* index `1` repeated 5x
* `front

[2020-04-28 23:39] pixelzoom commented on #330
Also wondering why this is an `if then else if`.  If there are only 2 beakers, isn't one of them always in front?

[2020-04-30 23:52] chrisklus commented on #330
Thanks @pixelzoom! This was the result of my poor refactor from `waterBeaker` and `oliveOilBeaker` to `beakerGroup.getElement( 0 )` etc. I added `moveToFront` to BeakerView. After some investigation, I figured out that the `if else if` was there because sometimes the bottom of beakerA could be slightly below the top of beakerB while A is dragged across the top of the of B (due to rounding error i

[2020-05-01 18:59] chrisklus opened #331 "CT: Assertion failed: PhET-iO API error"
[code]

[2020-05-05 16:19] pixelzoom commented on #330
👍 Closing.

[2020-05-05 16:19] #330 closed

[2020-05-07 15:03] chrisklus commented on #331
In the above commit, we removed the validation of archetypes when they are not created by the sim. This was continued and improved in https://github.com/phetsims/phet-io/issues/1648. Closing.

[2020-05-07 15:03] #331 closed

[2020-05-18 14:50] KatieWoe opened #332 "CT impossible set state from iterate"
[code]

[2020-05-18 19:01] chrisklus commented on #332
In https://github.com/phetsims/phet-io/issues/1668 we moved the logic for clearing out a PhetioDynamicElementContainer for setState from phetioState engine to PhetioDynamicElementContainer, but we forgot to add `supportsDynamicState` as a guard there. Thanks for looking into it with me @samreid and @zepumph!

Thank you @KatieWoe, closing.

[2020-05-18 19:01] #332 closed

[2020-06-30 16:43] KatieWoe commented on #185
Noting this in https://github.com/phetsims/QA/issues/488

[2020-06-30 18:16] KatieWoe opened #333 "Thermometer does not stick to bottom of stacked block"
**Test device**
Lovelace
**Operating System**
ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/488. Related to https://github.com/phetsims/energy-forms-and-changes/issues/185.
If you put a thermometer on the bottom of a block, it sticks to it as expected. However, if that block is on top of another, than the thermometer is left behind when you try to li

[2020-06-30 19:42] KatieWoe opened #334 "Feed Me button gets rid of many chunks"
**Test device**
Lovelace
**Operating System**
ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/488. Not in published.
When you refill the biker source by clicking the feed me button, most of the chunks on the way to the wheel/at the wheel disappear. In published new ones were added and none disappeared. This new behavior looks odd and causes gaps in the

[2020-06-30 22:31] KatieWoe opened #335 "Feed Me button is pressed when launched"
For https://github.com/phetsims/QA/issues/488. State issue found in Studio.
When the biker is depleted, the Feed Me button pops up. If the sim is launched in that state, the biker is no longer empty and the Feed Me button will disappear. It will be there briefly, which is easier to see if you launch the sim in a paused state.
![feedmepushed](https://user-images.githubusercontent.com/41024075/86183

[2020-06-30 23:07] KatieWoe opened #336 "Teapot chunks load too close together studio"
For https://github.com/phetsims/QA/issues/488. Issue with State found in Studio.
When you have the teapot turned on to a small degree the chunks are spread out. However, when you then launch the sim, the chunks load close together, as if the teapot was fully on.
![teapottooclose](https://user-images.githubusercontent.com/41024075/86185618-019bdd80-baf4-11ea-8e32-828f4c630b8a.gif)

[2020-07-16 15:26] chrisklus commented on #334
Thanks @KatieWoe! This should be fixed on master.

[2020-07-16 15:28] chrisklus commented on #335
Thanks @KatieWoe! This was a little tricky, nice catch. Should be fixed on master.

[2020-07-16 15:48] KatieWoe commented on #334
Looks good on master

[2020-07-16 15:49] KatieWoe commented on #335
Looks good on master

[2020-07-17 17:28] chrisklus commented on #335
Thanks! Closing

[2020-07-17 17:28] chrisklus commented on #334
Thanks! Closing.

[2020-07-17 17:28] #334 closed

[2020-07-19 17:36] chrisklus commented on #333
Thanks @KatieWoe!

This is caused by the model blocks not knowing the z order of the block nodes. A while ago, in https://github.com/phetsims/energy-forms-and-changes/commit/c6e81242e0aad0218ddc763946212a7e53a8d561, @samreid and I wrote a sorting function that I believe was the first to be accurate in both the x and y direction, and for an arbitrary number of blocks (since the sim can have up to 4

[2020-07-20 15:04] KatieWoe commented on #333
Things mostly look ok on master. I did notice this behavior. Is this expected? @chrisklus
![isthisok](https://user-images.githubusercontent.com/41024075/87953169-f17a7c80-ca67-11ea-88fd-400d3d35d7c1.gif)

[2020-07-30 15:15] chrisklus commented on #333
Thanks @KatieWoe - that behavior seems desirable to me, but I'd like to double check with @arouinfar before closing. I don't think the iron block should "steal" the sensor since the user hasn't touched sensor after attaching it to the brick, but I also think the sensor should be measuring whatever it is over. @arouinfar want to experiment and see what you think? Note that this is the behavior in t

[2020-07-31 18:26] chrisklus opened #337 "Energy sources are reset after getting their state set"
Found while investigating https://github.com/phetsims/energy-forms-and-changes/issues/336.

There's some really funky stuff going on with the ordering of set state for energy source output levels. I've determined that there's currently at least three layers of resetting happening to the tea kettle's `heatProportionProperty` after it gets its value from state.

[2020-07-31 23:40] arouinfar commented on #333
@chrisklus it seems most natural for the thermometer to stay with the object it was placed on. In https://github.com/phetsims/energy-forms-and-changes/issues/333#issue-648394918, it was placed on the iron so I would expect to stick with the iron (which it now does). In https://github.com/phetsims/energy-forms-and-changes/issues/333#issuecomment-661096088, the thermometer was placed on the brick so

[2020-07-31 23:40] #333 closed

[2020-08-03 21:47] chrisklus commented on #337
Thanks @samreid for helping me figure out a fix for this. We determined that it was enough to prevent the deactivation of the source elements during their animation to stop the overwriting of values from state.

Another concern I brought up was the Property relationship used for mapping the slider values from the view to the model. We discussed using slider's option `constrainValue` to do the mapp

[2020-08-03 21:47] #337 closed

[2020-08-04 05:08] chrisklus commented on #336
Nice catch @KatieWoe, thanks! The preloading of the energy chunks was only dependent on the tea kettle's internal energy, so if the burner was on really low but the tea kettle was hot, the chunks would load close together. I matched the behavior so that if the burner is on, the chunks are preloaded using the burner setting. If the burner is off (but the tea kettle is still warm), then it bases the

[2020-08-12 15:44] chrisklus opened #338 "X button on dialog may have too small pointer area"
From https://github.com/phetsims/sun/issues/610.

A commit from that issue should be cherry picked for this RC as described in https://github.com/phetsims/sun/issues/610#issuecomment-671525020.

[2020-08-12 21:53] chrisklus commented on #338
Cherry picked in the above commits. Marking this ready for the next RC.

[2020-08-17 16:43] oliver-phet opened #339 "User suggestion: thermometer values"
The teacher tips state **The thermometer maxes out at 300 °C, and major tick marks correspond to 50 °C.**

[2020-08-18 02:05] samreid opened #340 "Support setting a partial instead of total state"
From https://github.com/phetsims/phet-io/issues/1697:  There are several calls to `phetioStateEngine.stateSetEmitter.addListener`.  There is now a 2nd argument to the listener, which is a predicate that tests `Tandems` and returns `true` if they are in scope.  We should check these listeners and see if any of them need to check whether they are in scope of a partial state set.

[2020-08-19 16:42] chrisklus opened #341 "Add query parameter tests to listContinuousTests.js"
@zepumph suggested I add fuzz tests for a few configurations of the sim with its public query parameters in listContinuousTests.js like @pixelzoom is doing for NS. Thanks!

[2020-08-20 15:20] chrisklus commented on #341
Tests added above, closing.

[2020-08-20 15:20] #341 closed

[2020-08-26 18:19] zepumph opened #342 "PropertyStateHandler dependency registration leaks memory"
This issue over in https://github.com/phetsims/axon/issues/328 will most likely effect the current RC for EFAC:

A memory leak was outlined and fixed in master over in https://github.com/phetsims/axon/issues/328#issuecomment-681042541. It effects PhET brand. Please follow that link to cherry-pick changes into the next maintenance release of this sim.

[2020-08-26 19:15] samreid commented on #342
On hold until https://github.com/phetsims/axon/issues/328#issuecomment-681071910 is cleared up

[2020-08-26 21:57] chrisklus commented on #342
Thanks @zepumph @samreid. EFAC's RC is being rebuilt from master so the changes should be picked up there. Closing.

[2020-08-26 21:57] #342 closed

[2020-08-27 16:29] chrisklus commented on #340
Thanks @samreid. I added a couple in two places I thought were appropriate, and the sim/studio launch appears to be behaving correctly. Closing.

[2020-08-27 16:29] #340 closed

[2020-08-27 20:45] KatieWoe commented on #335
I'm actually seeing this again in https://github.com/phetsims/QA/issues/528, in a more minor form. It only seems to occur when the biker is paired with the solar panel, rather than the generator.
![refillbiker](https://user-images.githubusercontent.com/41024075/91493041-e6d7b200-e873-11ea-8598-68dcb9aef429.gif)

[2020-08-27 20:50] KatieWoe commented on #336
This looks ok in https://github.com/phetsims/QA/issues/528. Will reopen if something comes up.

[2020-08-27 21:03] KatieWoe commented on #306
RC.1 has an issue with this it seems. Related to https://github.com/phetsims/energy-forms-and-changes/issues/335

[2020-08-27 21:14] loganbraywork commented on #325
Appears fixed as of the latest RC

[2020-08-27 23:39] loganbraywork commented on #325
While the initial issue is fixed, there appears to be an entirely new issue which appears when pressing one beakers against the other while it sits on the burner.
![2020-08-27EFAC](https://user-images.githubusercontent.com/54685448/91505200-3fb34480-e88c-11ea-8ac7-dcf46d60756e.gif)

[2020-08-28 17:07] KatieWoe opened #343 "Water temp has delayed reset on second screen"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/528. Partially present in published version.
When you switch the light bulbs and fan and switch back, they have reset/stopped. In the case of the water heater, it returns with the old temperature and (if it was present) steam. It quickly resets after this and the st

[2020-08-28 22:35] KatieWoe commented on #306
Other aspects seem fixed in rc.1, but will edit if something comes up.

[2020-08-30 22:26] megan-phet opened #344 "Extra Pointer Area"
<b>Test Device</b>
- Macbook Pro
- iPhone 11 Pro
- iPad Pro

<b>Operating System</b>
- 13.1.2
- 13.5.1
- 13.6.1

<b>Browser</b>
- Safari
- Chrome

<b>Problem Description</b>

For phetsims/QA#528 Extra pointer area above teapot and faucet.

<b>Steps to Reproduce</b>
1. type "?showPointerAreas" behind URL
2. click on systems
3. select teapot or faucet

<b>Visuals</b>
<img width="501" alt="Screen Sho

[2020-08-30 22:30] #344 closed

[2020-08-31 16:19] KatieWoe commented on #344
This was closed as a duplicate of https://github.com/phetsims/energy-forms-and-changes/issues/321

[2020-08-31 17:28] KatieWoe commented on #306
I may be misunderstanding, but I'm confused when you say:

as it does seem to have a start-up period when it is first switched to. Doesn't bother me, but I thought I would ask for clarification.
![sunstartingup](https://user-images.githubusercontent.com/41024075/91748311-083ee380-eb7d-11ea-9ded-75dfec8c053e.gif)

[2020-08-31 17:42] arouinfar commented on #306
Good catch @KatieWoe. The start-up period is not an issue so long as the state is correctly restored when launched. Are sun-containing systems launching correctly?

[2020-08-31 18:18] arouinfar commented on #306
I spoke with @KatieWoe and the gif shows an example of the state not being correctly saved.

Here's another example:
1. Systems screen
2. Turn on Energy Symbols
3. Pause sim (optional, just makes it a bit more obvious)
4. Switch to sun. Sun's energy chunks are not fully propagated across screen.
5. Launch sim. Sun's energy chunks are fully propagated, so state was not correctly saved.

Assigning t

[2020-08-31 18:33] arouinfar commented on #343
It looks like the water beaker isn't reset until the next time step in both the rc and latest, though the SteamNode doesn't appear in latest.

[2020-08-31 18:46] KatieWoe commented on #306
Seems to happen with water faucet as well.

[2020-08-31 21:06] KatieWoe opened #345 "Water passes through wheel"
For https://github.com/phetsims/QA/issues/528. I haven't been able to reproduce it, but I will keep trying.
I encountered an odd behavior where the water from the faucet was falling past the wheel generator, but not turning it. Reset all fixed it and I have been unable to reproduce it. I had energy chunks turned on and had previously been using the sun/solar panel combination.

[2020-08-31 21:40] arouinfar commented on #345
Given that the bug isn't reproducible and is fixed by ResetAll, I'm not too worried about it. It sounds like it could have been a graphical fluke. @KatieWoe if you have access to another ChromeOS device, it might be good to spend a little time trying to reproduce. If it doesn't resurface again during testing, I don't think there's really anything we can do.

[2020-08-31 21:42] KatieWoe commented on #345
@phet-steele has the other ChromeOS device, so I'll assign him to take a look. I also altered the QA team on Slack to look out for it.

[2020-08-31 22:31] arouinfar commented on #306
Steps to reproduce:
1. Systems screen
2. Turn on Energy Symbols
3. Turn on the faucet then immediately launch the sim
4. Launched sim shows energy chunks distributed all throughout the system, which does not at all match the state when launched.

[2020-09-02 16:55] KatieWoe opened #346 "Water energy chunks boil far too early when biker runs out of food."
**Test device**
Dell or Jordan
**Operating System**
Win 10 or Mac 10.14
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/528. Seems to occur in published as well.
On the second screen, if the biker runs out of energy with chunks on and you don't feed the biker, the heat chunks in the water behave as if the water is boiling and start leaving the water. However, t

[2020-09-02 19:46] KatieWoe opened #347 "Energy chunks don't appear in falling water if faucet is off"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Edge
**Problem description**
For https://github.com/phetsims/QA/issues/528. Fairly minor and can probably be ignored. Feel free to close if so.
If there is water falling but the faucet is off, and chunks are turned on in this state, chunks do not appear in the falling water.
**Steps to reproduce**
1. Go to the second screen. Make sure en

[2020-09-02 20:05] arouinfar commented on #347
This issue is present in the published version.

Basically, it looks like the energy chunks are not pre-loaded because the faucet is off. I don't find the behavior to be all that problematic, though it is somewhat inconsistent when compared to the tea kettle. If I repeat the steps outlined in https://github.com/phetsims/energy-forms-and-changes/issues/347#issue-691371359 with the tea kettle, the e

[2020-09-03 23:51] jbphet commented on #346
I've done some investigation, and this problem is not limited to the case where the biker is the energy source.  It happens whenever the beaker heater is the energy user, it's just most obvious in this case.  You can see it in other cases where energy chunks are on and, say, the sun is allowed to peek through the clouds only briefly.

The problem exists because the beaker heater isn't correctly di

[2020-09-03 23:54] jbphet commented on #346
I've added code to manage the heater's output level based on the number of energy chunks present, but I haven't tested it much, so I'll do that before having QA try it out and moving it to the RC branch.

[2020-09-04 19:20] KatieWoe opened #348 "Hiding Buttons on Second Screen Hides Connected Element as Well"
For https://github.com/phetsims/QA/issues/528. Found while checking https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.4.0-rc.1/phet-io/doc/guides/client-requests.html#hide-the-system-selector-panels-or-individual-options-within in client request guide. Studio bug.
If you hide the buttons for the Energy Source, Converter, or User while that particular element is active, it also hides th

[2020-09-04 20:52] KatieWoe commented on #335
More complicated than that. It also seems to happen if you have chunks off and the biker is not fully depleted. Easier to see if paused, but occurs either way. https://github.com/phetsims/QA/issues/528
![launchrefills](https://user-images.githubusercontent.com/41024075/92283883-24fd5300-eebe-11ea-861e-3d14c60998ba.gif)

[2020-09-04 23:57] arouinfar opened #349 "Layout issues when editing labelNode.textProperty"
For https://github.com/phetsims/QA/issues/528

Editing the labels on the blocks, beakers, or generator in studio will cause layout issues.  As far as I know, the client didn't have an explicit request to edit strings in EFAC , but it is generally something they like to do. I think this looks pretty bad, and it would be nice if the strings could be re-centered based on their new size.

General stud

[2020-09-05 00:05] arouinfar commented on #348
This is a pretty serious bug. Hiding the radio button should not hide the corresponding element from the play area. I'm fairly certain that this bug was introduced after deciding on phetioFeatured overrides in https://github.com/phetsims/energy-forms-and-changes/issues/309, because this is something we would have noticed.

[2020-09-07 20:12] zepumph opened #350 "Instrument EnergyChunks as dynamic elements (PhetioGroup)"
After discussion with @jbphet last Thursday, I feel like I am well briefed on the structure of the EnergyChunks and how I want to begin investigation to add PhET-iO dynamic element support to them.

Brief notes from our meeting:

[code]

[2020-09-07 20:14] zepumph commented on #350
Currently we are only trying to add support for this to the second screen. It wasn't totally clear if this is needed for the first screen. It may be the case that it is easy to add to the first once the second is in good shape.

[2020-09-07 22:37] zepumph commented on #350
In the last 2.5 hours I made progress on this issue.

Work done so far:
1. Isolated the systems model to a single source/converter/user (biker/generator/beakerHeater.
2. Instrumented EnergyChunk and EnergyChunkMover as dynamic elements with state methods
3. Created a single PhetioGroup for each in the systems model, and passed those to each EnergySystemElement
4. EnergyChunks were already well sup

[2020-09-07 22:38] zepumph commented on #350
From this investigation, I think that it is likely to take between 8-16 more hours to get an initial feature working for all sim elements. I hope to touch base with the greater team once I have my mini system working fully with state (2-4 more hours?) Tagging @kathy-phet so she is aware of my current time estimates.

[2020-09-09 17:17] jbphet commented on #306
After some investigation into this issue, I determined that it is caused by a fairly fundamental design decision about the way that state information is serialized and deserialized.  As of this writing, the precise state of individual energy chunks - meaning their position, type, movement patterns, etc. - are not included as part of the state information.  Instead, the state information includes t

[2020-09-09 19:45] zepumph commented on #350
The above fixes an infinite loop because of using string operations. The following case should return true for PhetioDynamicElementContainer.stateSetOnAllChildrenOfDynamicElement, but never returned:

potential parent: `energyFormsAndChanges.systemsScreen.model.energyChunkPathMoverPhetioGroup.energyChunkPathMoverPhetio_1`
potential child:
`energyFormsAndChanges.systemsScreen.model.energyChunkPathM

[2020-09-09 20:12] zepumph opened #351 "branch: energyChunkGroups"
For work over in #350.

[2020-09-09 20:46] zepumph commented on #350
Thanks to some consulting with @jbphet, I was able to get an initial pass implemented. Work done so far:

* EnergyChunk instrumented as a dynamic element
* EnergyChunkPathMover instrumented as a dynamic element
* A PhetioGroup for each in SystemsModel that is passed to any system element that wants to make either (so a single collection for each).
* Commented out all system elements except Biker/G

[2020-09-09 20:49] zepumph opened #352 "RectangularThermalMovableModelElement.addEnergyChunkSlices isn't used?"
It looks like this method is overridden in all cases, and I couldn't find a spot where it was called. Fuzzing with a debugger in that method never hit it. Should we remove this @jbphet?

[2020-09-10 02:35] zepumph commented on #350
Things are looking really good. In https://github.com/phetsims/energy-forms-and-changes/commit/33160bed9f2a3d260bb1152ace21dce1d1c3e5d1 I got the state wrapper working for the original three system elements.

Then I got the first screen working

Now I am on to adding support to individual system elements. I think it will go pretty fast from here, like in https://github.com/phetsims/energy-forms-an

[2020-09-10 02:37] zepumph commented on #350
I have spent 8.5 Hours on this so far.

[2020-09-10 22:09] zepumph commented on #350
All system elements have now been added back for the second screen:

![image](https://user-images.githubusercontent.com/6856943/92814034-ef011880-f36e-11ea-92d2-701bc2cb22a8.png)

The dynamic element implementation has leaked into the first screen, and I can't think of a way to isolate this feature just to the second screen because Beaker (meaning `RectangularThermalMovableModelElement`) needed to

[2020-09-10 22:28] zepumph opened #353 "BlockNode energy chunks don't transform when set by PhET-iO state"
From over in https://github.com/phetsims/energy-forms-and-changes/issues/350#issuecomment-690758333

@jbphet, I think I need some help about this transform issue on the first screen.

**Problem:**
Energy chunks don't transform with the blocks, but they do with the beakers after getting set for state (in the downstream sim in the state wrapper.

**Insight/Background**
* Note that the slices (and so

[2020-09-10 22:31] zepumph commented on #350
I created https://github.com/phetsims/energy-forms-and-changes/issues/353 to investigate some first-screen trouble mentioned above.

Up next:
* There are some memory concerns in the state wrapper, which I want to investigate
* Sometimes when fuzzing I get `Error: Assertion failed: energyFormsAndChanges.systemsScreen.model.energyChunkGroup.countProperty should match array length.`.  I will need to

[2020-09-10 23:00] zepumph commented on #350
Second bullet solved by https://github.com/phetsims/energy-forms-and-changes/commit/37104230caf31517d1231fba15172919d3f84594.

[2020-09-10 23:08] zepumph commented on #350
RE performance, there seems to be many more instances of EnergyChunk (8250) and EnergyChunkContainerSlice (6084) in a random snapshot I made in the state wrapper. Then a couple of seconds later, we were up to EnergyChunk (18596) and EnergyChunkContainerSlice (2500).

What fun! Nothing like an obvious memory leak for a Thursday afternoon!!!

[2020-09-11 00:16] zepumph commented on #350
The above fix in EnergyChunkContainerSlice fixed the massive memory leak. Now after a bit of running we still stay within the 50-60MB range:
![image](https://user-images.githubusercontent.com/6856943/92829633-e580ac00-f380-11ea-96ff-75e1034af5a3.png)

That said, I think that still feel that there may be a smaller memory leak. I will report back after 10 minutes of fuzzing.

[2020-09-11 00:24] zepumph commented on #350
There is definitely still a memory leak, just not as aggressive:

![image](https://user-images.githubusercontent.com/6856943/92830706-0dbcda80-f382-11ea-9a53-0ac9663b8058.png)

[2020-09-11 01:25] zepumph commented on #350
I think that I am on to something with this patch. I would have committed, but after this patch, toggling the energy chunks visible caused this assertion:

`Assertion failed: energyFormsAndChanges.systemsScreen.model.energyChunkPathMoverGroup.countProperty should match array length.`

This only seems to happen in cases where energy chunks get preloaded.

[2020-09-11 01:25] zepumph commented on #350
<details>

[code]

[2020-09-11 18:34] zepumph commented on #350
The main issue with https://github.com/phetsims/energy-forms-and-changes/issues/350#issuecomment-690818017 was that I was directly calling `dispose`, instead of `PhetioGroup.disposeElement`. This handled some of the memory leak I was finding. Still though we are increasing the number of EnergyChunk and EnergyChunkPathMover instances without bound (just slower).

Still needing work:
* Something I d

[2020-09-11 18:41] zepumph commented on #352
How does this commit look? I went with this since Beaker and Block both override this.

[2020-09-11 19:07] zepumph commented on #350
https://github.com/phetsims/energy-forms-and-changes/commit/0e5daa3bc04a161a9fc34525e21261f857215b71 fixed the first bullet by recognizing that energyChunk slices are actually static, and don't need to a PhetioGroup. This cleaned up a lot of code. It also changed the buggy behavior of https://github.com/phetsims/energy-forms-and-changes/issues/353. I'll comment over there.

From a basic check, it

[2020-09-11 19:09] zepumph commented on #353
This behavior is a bit different now since doing https://github.com/phetsims/energy-forms-and-changes/commit/0e5daa3bc04a161a9fc34525e21261f857215b71. Now the energy chunks are transformed twice as much as the block and then on next state set, since the change in position is zero, the chunks come back to the block. It is very strange! This happens for the beakers also now too! (so likely behavior

[2020-09-11 20:11] jbphet commented on #339
Hey @oliver-phet - I don't quite understand what this issue is for, what needs to be done about it, and to whom it should be assigned.  Can you please clarify?

[2020-09-11 20:14] oliver-phet commented on #339
Sorry, the full message didn't paste. I've updated the original issue with the full request and explanation from the user. This should go to the lead designer for the sim!

[2020-09-11 20:19] jbphet commented on #338
I just verified that this looks correct on the [current 1.4 branch RC](https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.4.0-rc.1/phet/energy-forms-and-changes_en_phet.html).  Screenshot below.  Closing.

![image](https://user-images.githubusercontent.com/3082831/92969185-ba0dc800-f439-11ea-83b3-e7ce572751b1.png

[2020-09-11 20:19] #338 closed

[2020-09-11 20:36] jbphet commented on #352
It's okay with me to make this abstract.  I would suggest adding the check to `Block.addEnergyChunkSlices` where it makes sure that it isn't called twice, and then remove that check from the abstract version, since it no longer makes sense there.

[2020-09-11 20:47] jbphet commented on #349
In the 9/10/2020 phet-io meeting, we decided that adding dynamic layout code that handles in situ changes to the strings is overkill given what we expect our users to do, and that we'd be better off creating a means through which users can customize strings prior to the sim's launch.  Our plan is to add this in the future, but we won't do so before the imminent 1.4 release.  So, the plan for now i

[2020-09-11 21:04] jbphet commented on #346
@KatieWoe - I've implemented a fix on master, please test it out and do a bit of regression testing and let me know if this appears to solve the problem.  In my own testing, I found it to be a pretty good solution, but it's always good to get a 2nd opinion.  If all looks good, let me know and I'll cherry pick the changes to the 1.4 release branch.

[2020-09-11 21:34] zepumph commented on #353
@jbphet solved this with this patch:

[code]

Thanks for the help!

[2020-09-11 21:51] zepumph commented on #350
@jbphet and I found that I'm not disposing for `clearEnergyChunks`. I'll do that now!

[2020-09-11 21:54] zepumph commented on #350
I just merged to master, and @jbphet and I will work together in the same repo as we go from here.

[2020-09-11 21:57] zepumph commented on #352
Ahh yes great idea! Thanks. Closing

[2020-09-11 21:57] #352 closed

[2020-09-11 21:57] zepumph commented on #351
This has now been merged to master. and the branch deleted. Closing

[2020-09-11 22:01] zepumph commented on #353
Committed and confirmed fixed. Thanks @jbphet. Closing

[2020-09-11 22:01] #353 closed

[2020-09-11 22:31] zepumph commented on #350
In the above I am disposing the appropriate chunks and movers when clearing the chunks. This has led to a much more reasonable counts in the groups while interacting with the state wrapper, but we may still have a slow leak in some cases.

[2020-09-11 22:31] zepumph commented on #350
- [ ] Make sure to cherry-pick #353  and #352 when adding to the RC branch.

[2020-09-11 22:34] zepumph opened #354 "Impossible set State on energyChunksPassingThroughClouds"
Because of #350.

To reproduce:
1. EFAC state wrapper second screen
2. turn on sun
3. show energy chunks
4. get this error:

[code]

I'll take a look!

[2020-09-11 22:56] zepumph commented on #354
I have no idea why, clearing the clouds list before resetting the Property fixes this issue. I took the liberty of making it a bit more idiomatic and extending the chunk clearing function instead of doing that in deactivate.

[2020-09-11 22:57] #354 closed

[2020-09-11 22:57] zepumph commented on #350
- [ ] Make sure to cherry-pick https://github.com/phetsims/energy-forms-and-changes/issues/354 when adding to the RC branch

[2020-09-11 23:14] zepumph opened #355 "Impossible Set state in systems screen"
From work in https://github.com/phetsims/energy-forms-and-changes/issues/350

To reproduce:
1. state wrapper second screen
2. turn to sun/solarPanel/Fan
3. toggle energy chunks on
4. Wait for a while
5. switch to a light bulb

[code]

Something seems to be clearing its references to this mover without disposing it. I'll take a look.

[2020-09-11 23:19] zepumph commented on #355
I was only disposing the mover in one case, not no matter what. I refactored to make it more clear.

[2020-09-11 23:19] #355 closed

[2020-09-11 23:58] zepumph opened #356 "Memory leak in the view when setting state"
Discovered while working on https://github.com/phetsims/energy-forms-and-changes/issues/350. It isn't totally clear if this is because of that work, or if the state wrapper exposed a memory leak that was already there.

Steps to produce
1. Get energy chunks going through the system in a way that never stops (so no biker)
2. Toggle energy chunks visible
3. Pause the sim when there are many energy c

[2020-09-12 00:04] zepumph opened #357 "EnergyChunk velocity can get flipped 180° on state set"
While working on https://github.com/phetsims/energy-forms-and-changes/issues/356, likely from work done in https://github.com/phetsims/energy-forms-and-changes/issues/350.

1. state wrapper second screen. add `numberOfMillisecondsBetweenUpdates=5000`
2. Toggle activeProperty true in the state wrapper for the downstream sim.
2. fan output
3. show energy chunks
4. Notice that after state set, energy

[2020-09-12 00:11] zepumph commented on #357
I don't know about this one. I looked at Fan, EnergyChunkPathMover, FanNode, for anything that looked like it could have been applying a velocity in a additive way, with no luck. Perhaps a pair with @jbphet is in order.

[2020-09-12 00:15] zepumph opened #358 "Assertion failed: "item not found in Array" or "element already disposed""
This seems to be happening as a result of the animating. It always occurs when clearing/disposing outgoingEnergyChunks. I have seen it in biker and generator.

I will improve the assertion error in PhetioGroup

[2020-09-12 00:16] zepumph commented on #358
I don't think this was caused by https://github.com/phetsims/energy-forms-and-changes/issues/350, but I think formalizing the lists in to instrumented ObservableArrays exposed where disposal wasn't happening before.

[2020-09-12 00:18] zepumph commented on #350
As you can see from linked issues, there is still a fair amount of work to do. The main stuff now is just caused by bugs in the friction with how PhetioGroup is strict with registration and de-registration.

- [ ] I also need to work on cleanup and documentation.

[2020-09-14 15:12] KatieWoe opened #359 "CT element already disposed"
[code]

[2020-09-14 18:18] jbphet commented on #359
@zepumph was working on disposal of energy chunks recently, and I suspect this is related, so I'm assigning the issue to him.  Feel free to send it back to me if it is something else.

[2020-09-14 18:35] zepumph commented on #359
Duplicate of https://github.com/phetsims/energy-forms-and-changes/issues/358

[2020-09-14 18:35] #359 closed

[2020-09-14 21:57] jbphet commented on #348
I found the point in the code where these visibility properties are linked, and the accompanying comment references #305, which very explicitly states that the radio button and energy system element visibility should be linked.  This leaves me a bit confused about what should be done.  Was there a misunderstanding when #305 was created, and that's not really what was requested?  Or maybe the visib

[2020-09-15 17:28] arouinfar commented on #339
This is not a request we can accommodate without significant changes to the sim's model. To replicate a calorimetry lab, we would need to isolate the beakers/blocks from thermal contact with the air.  The model just doesn't work that way.

The simulation isn't designed to be a calorimetry lab, and the learning goals related to heat capacity and energy transfer are qualitative.

Back to @oliver-phe

[2020-09-15 18:05] arouinfar commented on #348
Thanks for the refresher @jbphet. This behavior is somewhat atypical for a radio button group, but the scrolling animation is also atypical so I think it's the right solution. There isn't a reason for users to hide a single radio button for an item that is currently visible in the play area. If the goal is to remove the radio button group, that should be done using `radioButtonGroup.visibileProper

[2020-09-15 18:10] arouinfar commented on #335
@jbphet this is a blocking issue, but seems like something that would be corrected by #350.

[2020-09-15 18:14] arouinfar commented on #345
@jbphet this is not a blocking issue, and can likely be closed since it's not very serious and was only seen once during testing.

[2020-09-15 18:44] KatieWoe commented on #346
This looks solved on master

[2020-09-15 19:24] oliver-phet commented on #339
Replied to user, closing!

[2020-09-15 19:24] #339 closed

[2020-09-16 17:50] jbphet commented on #346
Cool, thanks.  I have cherry-picked the changes to the release branch.

[2020-09-16 18:16] jbphet commented on #346
Unassigning for now, will reassign when I have an RC ready that includes the fix for this issue.

[2020-09-16 18:33] zepumph commented on #358
@samreid and I dove into this today, and found it hard to reproduce (could only do so with fuzzing), and challenging to get straight. This really boils down to making sure that each ObservableArray in a system element holds only unique chunks if it disposes its chunks when clearing out the list. There were a few loose ends about transferring from your element's energy chunk lists (could be energyC

[2020-09-16 18:36] zepumph commented on #350
- [ ] Make sure to cherry-pick https://github.com/phetsims/energy-forms-and-changes/issues/358 to the rc branch.

[2020-09-16 18:39] zepumph commented on #335
Yes this has been fixed on master and will be cherry-picked for the next rc. I will assign it such that it get's confirmed fixed in the next RC.

[2020-09-16 18:41] zepumph commented on #343
@jbphet, after reviewing, I think that this issue would be best fixed by you, with your sim-specific expertise. Let me know if you would like some help!

[2020-09-16 18:43] jbphet commented on #348
Yes, the information from the client guide needs to be cherry-picked into the release.  I've done so, and will mark this as fixed, and will have it tested during the next QA cycle.

Note to QA team: The testing on this is just to verify that it's covered in the client guide.

[2020-09-16 20:30] jbphet commented on #345
I'm going to unassign myself for now.  @phet-steele - if you can reproduce reliably, assign it back to me and, if not, please close.

[2020-09-16 20:42] zepumph commented on #358
Looks clear on CT now, and will be cherry-picked over in #350. Closing

[2020-09-16 21:18] zepumph commented on #356
@jbphet and I were largely stumped by this, but @jbphet had the great forethought to recognize that since there weren't any sim-specific types getting built up, likely this is more scenery internal rather than a sim bug.

I then met with @jonathanolson, and we found that the state wrapper for EFAC seems to be creating a really specific case in which SVGGroup instances are not properly marked as di

[2020-09-16 21:18] #358 closed

[2020-09-16 21:19] zepumph opened #360 "PhET-iO wrapper tests error: "Did not complete in 200000ms, may not have completed all tests""
I looked into this and it seems like there is an issue with the number of events that spam to the test on startup of EFAC, it keeps logging assertions even after the number of checks it should go to has been passed.

[2020-09-16 21:20] zepumph commented on #360
After this, wrapper tests for EFAC seem fixed locally. I'll wait to see what CT says.

[2020-09-16 22:55] zepumph commented on #357
After a meeting with @jbphet about this, we didn't find an obvious problem, but he gave me a couple of leads to pursue:

[code]

[2020-09-16 23:09] zepumph commented on #356
Upon a bit more memory testing, I'm pretty sure that this bug can be reproduced in the standalone sim in either phet or phet-io brand.

To reproduce this, go to the systems screen and pick a system that will just keep working forever (i.e. sun/solar panel/some output). Then memory test after tens of minutes will show more SVGGroup instances created, but at a really slow rate. So slow that we would

[2020-09-16 23:57] zepumph commented on #357
In the above I didn't fix this issue, but it seemed incomplete to have not instrumented the internalEnergyFromEnergyChunks value. So I did so. I think that doesn't have much to do with energy chunks that have already been blown away though.

[2020-09-17 01:39] zepumph commented on #358
I redid a refactor from this because it was causing an assertion error in one systems case. It is possible that you can call this from state setting, and reverting seemed better than to guard on when state is setting.

[2020-09-17 01:44] zepumph commented on #357
Alright, I finally found the trouble. It was all about how EnergyChunkPathMover.moveAlongPath uses `nextPoint`. Basically, when we reconstitute a path mover in the state engine, we create a new instance of Vector2 for `nextPoint`. this is not one of the actual objects in `path`. So the following is true sometimes: `this.path.indexOf( this.nextPoint ) === -1`. This is really buggy, and just so happ

[2020-09-17 01:50] zepumph commented on #357
I like the above solution much more than https://github.com/phetsims/energy-forms-and-changes/commit/c2dd784ad6dfdbb1efe9bf94a0aeb89e0c2fadbe. I will make sure this get's cherry-picked into the branch over in #350. Closing

[2020-09-17 01:50] #357 closed

[2020-09-17 01:51] zepumph commented on #350
- [ ]  Make sure to cherry-pick #357 to the rc branch.

[2020-09-17 01:52] zepumph commented on #360
CT is looking clear! No need for this to end up in the RC branch. Closing

[2020-09-17 01:52] #360 closed

[2020-09-17 22:11] zepumph commented on #350
I successfully cherry-picked everything above into the branch. Note I left a few superfluous tandem commits out, but included all of the EFAC ones. Here is the ordered list:

https://github.com/phetsims/tandem/commit/3420fef7da5d83f6948ff1eba9850e93aa251307

https://github.com/phetsims/energy-forms-and-changes/commit/65ceee44a9c10181b00c893154283c1ad1f89b5b
https://github.com/phetsims/energy-forms

[2020-09-17 22:46] zepumph commented on #350
Everything above is a cherry-pick into 1.4 branch

[2020-09-17 22:50] zepumph opened #361 "screen 1 blocks and beakers emitted chunks don't work in state"
Extending from work done in #350. On the first screen, we don't seem to support the positions of the chunks that are emitted while heating the blocks/beakers.

![image](https://user-images.githubusercontent.com/6856943/93536258-1454d000-f8f5-11ea-9f62-e2dfcc470941.png)

High priority, tagging @jbphet, and blocking publication

[2020-09-17 23:05] zepumph opened #362 "Studio launch doesn't restore EnergyChunk state like the state wrapper"
Discovered while working on #361, I am getting wildly different behavior from studio launch than from the state wrapper on both the first and second screens. I wonder if it has to do with some internal state of system elements, for example in SunEnergySource we aren't restoring `this.currentSectorIndex` or     `this.energyChunkEmissionCountdownTimer`.

[2020-09-17 23:07] zepumph commented on #361
It isn't just going to be enough to instrument Air.energyChunkList, because when I do that, it doesn't have an `EnergyChunkWandererController`. I think I need to add the same support for `EnergyChunkWandererController` that I did for the path movers in the second screen.

[2020-09-18 16:22] jbphet commented on #361
@zepumph - Your thinking sounds correct to me.  `EnergyChunkWanderController` serves much the same purpose as the `EnergyChunkPathMovers` in the second screen.  The main difference is that the path movers have a specific path and the wander controllers don't.

[2020-09-18 17:41] jonathanolson commented on #356
FYI, this is due to SVGGroups being appended to the list of dirtyGroups for an SVGBlock that isn't displayed. Because the SVGBlock (for content in a screen that isn't shown) is not displayed, its `update()` isn't being called (which would process the dirty array).

The array is filled with a mix of repeated entries and entries to otherwise-disposed SVGGroups. The main part of the memory leak is th

[2020-09-18 18:13] zepumph opened #363 "EnergyChunks in slice can warp back to original position"
I think this is very similar to the original problem outlined in https://github.com/phetsims/energy-forms-and-changes/issues/353, even though we ended up solving a different problem later on in the issue. I discovered this as part of  https://github.com/phetsims/energy-forms-and-changes/issues/361.

In this case the chunks are transformed correctly, but with particular drag operation, the EnergyCh

[2020-09-18 18:19] zepumph opened #364 "Convert newly created IO Types to new pattern"
To make cherry-picking to the 1.4 branch easier, I have some local commits that are using the old pattern of IO Types:

* EnergyChunkWanderControllerIO for https://github.com/phetsims/energy-forms-and-changes/issues/361
* EnergyChunkContainerSliceIO for https://github.com/phetsims/energy-forms-and-changes/issues/363

These are in my local copy because they will need to get back into the 1.4 branch

[2020-09-18 18:21] zepumph commented on #363
I fixed this and committed (but haven't pushed yet). I found that I couldn't reproduce this when I transferred the slice `bounds` in state. That is shifted as the block/beaker is dragged, so it would make sense that weird things would happen if the block's position was updated without updating the bounds that the slice is taking up.

[2020-09-18 18:32] zepumph opened #365 "EnergyChunks expand above the liquid line when block is inside beaker"
This doesn't happen in the normal state-wrapper feature, but it will using the "launch" button at the bottom of the state wrapper.

1. state wrapper on the first screen only
2. move brick into water
4. show energy symbols
3. press launch button.

This is the screenshot:

![image](https://user-images.githubusercontent.com/6856943/93632658-25a3e800-f99a-11ea-83b3-267c18e865e0.png)

And if you put bo

[2020-09-18 18:48] zepumph commented on #365
This was a byproduct of setting slice.bounds as part of state over in #363. We were increasing the height twice, once when the slice's state was set, and a second when the fluidProportionProperty's listener fired during state setting. The commit I haven't yet pushed solves this in my local copy.

[2020-09-18 19:16] jbphet commented on #343
To fix the thermometer behavior I added code to step the thermometer once when the beaker heater is deactivated.  To fix the steam behavior, I added a `resetInProgressProperty` to the beaker and code that monitors it in the `BeakerView` class and clears out the steam when reset occurs.  This seems to work, and I'll have QA check it on the next release.

The changes have been cherry-picked to the 1

[2020-09-18 19:48] zepumph commented on #361
- [ ] I witnessed a bug in which I went from heating the burner to cooling the burner with something (I don't remember what) and it tried to dispose an energy chunk twice. I wish I kept the stack trace, because I haven't been able to reproduce it again. I hope CT picks it up.

[2020-09-18 20:00] zepumph commented on #361
I believe that this is complete. Here is my working copy changes before pull that addresses this issue and the side bugs reported about (not https://github.com/phetsims/energy-forms-and-changes/issues/364). This is only in my working copy right now.

**From newest to oldest:**
a1fa5b19221e2cbb0c90b224a0e0aca3996fbe44
347aa72610e46585cba4306bb3c535c1b1fa79ef
d39f946ec65037c6a08d1ab0a2021195db3e6a7c

[2020-09-18 20:19] zepumph commented on #362
I'm going to go through each system element for members that aren't instrumented, and so then aren't conveyed through state. I don't know if all of these NEED to be, but it will be good to get a list:

* BeakerHeater: none
* Biker:
  * mechanicalChunksSinceLastThermal
  * energyProducedSinceLastChunkEmitted
* Fan
  * internalTemperature
* FaucetAndWater
  * waterDropsPreloaded
  * transferNextAvai

[2020-09-18 20:40] zepumph commented on #350
- [ ] Many IO Types just have `EnergySystemElementIO.documentation = 'My Documentation';` as documentation. Oops.

[2020-09-18 20:41] jbphet commented on #347
I started investigating this, and the reason that it occurs is that the energy chunks are pre-populated based on the amount of energy being produced by the faucet, not how much water has recently come out of it.  At first it didn't seem like a big deal to me, but then it occurred to me that the inverse of this situation would also occur.  In other words, if the faucet is off, then the sim is pause

[2020-09-18 21:24] zepumph commented on #362
I have done all but clouds, flowEnergyDelay and waterDrops. The implementation creates an IO Type called EnergySystemElementIO, and let's all elements implement their own toStateObject/applyState functions. I discussed with @samreid and this seemed like a good way forward since they all had similar state needs (reference serialization).

[2020-09-18 21:28] zepumph commented on #364
And EnergySystemElementIO in https://github.com/phetsims/energy-forms-and-changes/issues/362

[2020-09-18 21:52] jonathanolson commented on #356
I believe the commit above is the best way currently to solve this (and the array ends up not leaking size either).

It adds checks for any item that may need to release references after a Display update, where the actual item isn't update()d. In this case, we (a) need to only release references when update() wasn't called, (b) don't want to trigger the adding of that more than once when it is nee

[2020-09-18 22:42] zepumph commented on #356
I looked at this commit for 10 minutes, and I understand that you created a new channel ("reduceReferences") to flush references that point to `this` SVGGroup in cases where `update` isn't getting called.

I'm not going to pretend to actually understand some of the nuance that may be needed for a review, but I'd be happy to talk with @jonathanolson and ask some questions as a way to co-self-review

[2020-09-19 00:17] jbphet commented on #347
The preloading of energy chunks has been improved such that it takes the state of the water droplets into account.  This is a significant improvement, but it isn't perfect, because it doesn't take the previous flow rate into account, so it always loads the water stream with the same number of energy chunks.  It would have been more complicated to consider the previous flow rate, and didn't seem wo

[2020-09-19 00:19] jbphet commented on #347
The fix has been cherry-picked to the 1.4 branch.  I'm marking this as fixed and will list it among the QA issues to test for the next RC.

[2020-09-19 04:56] zepumph commented on #362
On top of the above additions to the systems model state, there were a couple more bugs that I had the help of @jbphet to track down:

* a few spots where `EnergyChunk.translate` was being used in Property listeners. We needed to guard this during state set to make sure the translation wasn't applied a "second" time, since the EnergyChunk was already in the correct position. a9187bc1ab8e43c4b01071

[2020-09-19 05:29] zepumph commented on #361
Here is the git log from today's work.

<details>

[code]
</details>

From newest to oldest. I think that will be the list to cherry-pick. It ignores the merge conflict that was brought about from IO Type work over in https://github.com/phetsims/tandem/issues/211. Closing

[2020-09-19 05:29] zepumph commented on #361
Oops, just kidding, editing the above comment now.

[2020-09-19 05:30] zepumph commented on #364
Master is now running, and the merge conflicts were fixed above. Closing

[2020-09-19 05:30] #364 closed

[2020-09-19 05:30] zepumph commented on #364
Nothing needs to be cherry-picked into the branch from here.

[2020-09-19 05:38] zepumph opened #366 "Cherry-pick today's phet-io state related changes to 1.4"
Here is the git log from today's work.

<details>

[code]
</details>

From newest to oldest. I think that will be the list to cherry-pick. It ignores the merge conflict that was brought about from IO Type work over in https://github.com/phetsims/tandem/issues/211.

Here is the list of commits in proper order, excluding other devs' commits from oldest to newest:

5462c254742bd8365049b820a43eaa3ebf1

[2020-09-19 05:39] zepumph commented on #365
Fixed above,  I will cherry pick over in #366.

[2020-09-19 05:40] #365 closed

[2020-09-19 05:40] zepumph commented on #363
Fixed above,  I will cherry pick over in #366.

[2020-09-19 05:40] #363 closed

[2020-09-19 06:05] zepumph commented on #366
There was only one small merge conflict, everything else went really well! I also left out a small change from last night, but could patch it manually above.

[2020-09-19 06:07] zepumph commented on #366
Cherry-picked and pushed. Closing

[2020-09-19 06:07] #366 closed

[2020-09-19 06:08] zepumph commented on #356
This has not been patched into the EFAC release branch yet.

[2020-09-19 06:14] zepumph opened #367 "Review EnergyChunk PhET-iO state work"
@jbphet I think this work is ready for review.

We discussed things earlier today, and I feel like there is still likely odds and ends to clean up, but it would be good to get another set of eyes one this. I don't think this blocks the next RC, but perhaps it should be done before/soon around the time of publication (in case important MRs need to be done)

Here is a dev version I made tonight as a

[2020-09-19 06:16] zepumph commented on #335
Changes that fix this are now on the branch, unassigning.

[2020-09-19 06:16] zepumph commented on #306
Undeferring, and marking for review as part of https://github.com/phetsims/energy-forms-and-changes/issues/367

[2020-09-19 06:19] zepumph commented on #367
I unmarked all sub-issues as blocking, but marked this one. It is up to @jbphet, @kathy-phet, and @arouinfar as to how much of this review we do before the next RC. Likely we should have a bit of review first, but maybe not wait for an entire/thorough review. My vote would be that @jbphet at least poke around and test some changes out before the next RC is made.

[2020-09-19 06:29] zepumph commented on #356
When I kept the state wrapper open for 20 minutes and took a snap shot, it was still 80MB (startup is 50). Then when I tried again, the dev tools crashed while trying to take the heap snapshot.

@jonathanolson were you able to confirm the above commit fixed the EFAC state wrapper? I can do more testing starting next Wednesday.

[2020-09-21 22:07] zepumph commented on #356
This is a general issue, transferring it to scenery and marking as blocks publication. I personally don't think this applies to NS since extensive memory testing didn't demonstrate this problem (since no large batch of dynamic elements are invisible).

[2020-09-21 22:08] zepumph opened #368 "Memory leak in the view when setting state"
Sim-specific issue tracking https://github.com/phetsims/scenery/issues/1080

[2020-09-21 23:26] jbphet commented on #306
Using the current tip of the 1.4 release branch, which contains the code used for 1.4.0-rc.1 and fixes for the issues reported during QA testing thereof, I just tested the cases described in https://github.com/phetsims/energy-forms-and-changes/issues/306#issue-547138297, https://github.com/phetsims/energy-forms-and-changes/issues/306#issuecomment-683946219, and https://github.com/phetsims/energy-f

[2020-09-21 23:55] jbphet commented on #306
@arouinfar and I just met to discuss the issues described in my previous comment just above.  We decided it would be worth looking into fixing both, since I have a reasonably good working theory for the reason behind the gaps, and we were able to figure out a big part of what was causing the laggy behavior.  The latter issue - the laggy behavior in Studio - appears to be the result of having all t

[2020-09-22 00:20] arouinfar commented on #306
To add onto @jbphet's notes, I don't see any value in having the energyChunkGroup visible in the tree though I understand why it needs to be instrumented.

[2020-09-22 00:41] zepumph commented on #306
I think there is convention around making sure every element is in the tree, just so it isn't confusing if the data stream ends up with an event from the group, or if you see it in the state. I feel fine discussing changing that, though I don't know if that is central to the "lag" problem.  I definitely don't feel like it the group should be featured.

I saw in a performance audit that setting inn

[2020-09-22 16:07] jbphet opened #369 "Water from faucet can have gaps and other odd-looking behavior"
There is a problem with the water that emerges from the faucet.  For one thing, it can end up with gaps in it that shouldn't be there, such as in the first screenshot shown below.  This one actually shows an energy chunk in the gap, which pretty much indicates that the gap shouldn't be there.  This was created by starting the faucet, switching to another tab in the browser for several seconds, the

[2020-09-22 17:02] samreid commented on #306
Maybe studio should `link` when you select a phetioID, and `unlink` when you navigate away from it, so it is only watching the selected `phetioID`?

[2020-09-22 18:20] jbphet commented on #369
I've implemented a fix for this and it has been applied to both master and the 1.4 branch.  Unassigning for now, I'll add it to the list of issues that should be verified during the next RC.

[2020-09-22 20:29] jbphet commented on #368
To help us verify that the issue is fixed (once it is), I thought I'd test the leakage rate in the state wrapper on the current tip of the 1.4 branch, which has fixes for bugs found during the 1.4.0-rc.1 testing, including instrumentation of the energy chunks, but does not yet have any sort of fix for this issue.  The SHA used was 3e6b17c5abbfe80014b1b845d02d5289119a79f7.

The test procedure was t

[2020-09-23 18:21] zepumph commented on #368
@jbphet you are clear to cherry-pick commits referenced in https://github.com/phetsims/scenery/issues/1080#issuecomment-697013629

[2020-09-23 18:38] zepumph commented on #306
In a meeting this morning with @samreid, I could not reproduce any noticeable difference in performance between phet brand stand alone, phet-io brand stand alone, or studio.
I tried a couple of things on all three runtimes, and always got the same frame rate between the three:
* Fresh chrome: 60fps
* @samreid's fresh chrome: 60fps
* Throttled 4x slower CPU: 1-8fps

This is a performance intensive

[2020-09-23 21:07] jbphet commented on #368
I cherry-picked the commits that @zepumph referenced and re-ran the leak test described in the opening comment above.

| Time (min) | Memory Usage (MB) |
| ----------- | ----------- |
| 0 | 58.1 |
| 1 | 145 |
| 2 | 233 |
| 3 | 324 |
| 4 | 445 |
| 5 | crashed during snapshot |

The numbers are a little better, but not much, and it still crashes during the snapshot at the 5 minute mark.  This would

[2020-09-23 21:10] jbphet commented on #368
Here is a screenshot of a heap comparison between two of the snapshots captured during the previous test.  It is sorted by deltas.  It does seem to indicate that there are about 9000 additional energy chunks, so maybe the problem lies within the sim now and not scenery.

![image](https://user-images.githubusercontent.com/3082831/94070090-dbae6e00-fdae-11ea-9d15-f63cfd980de8.png)

[2020-09-23 21:31] jbphet commented on #362
In #367, @zepumph said:

I reviewed the resulting behavioral changes for this particular change and discussed them with @ariel-phet, and we both felt that the change is fine, since the sun still has its energy chunks preloaded (e.g. stepped) when the sim isn't paused.

[2020-09-23 22:59] jbphet commented on #368
@zepumph found a commit that wasn't on the list for moving over: https://github.com/phetsims/energy-forms-and-changes/commit/12203c18eecc3d9a05cf040f477cef5d3dcbf9a7

[2020-09-23 23:16] jbphet commented on #306
I just did some testing and, as of this moment, the performance issue still exists on the 1.4 branch but not on master.  @zepumph - from the dialog above, it sounds like I need to create a branch for studio and cherry pick https://github.com/phetsims/studio/commit/81ff7cf1e21469683c59afc1f90fc514db96c1fe in order to pick up this change.  Is this correct?

[2020-09-23 23:28] jbphet commented on #306
I talked with @zepumph on Zoom and he said yes, I should add this change to the EFAC 1.4 branch.

[2020-09-23 23:51] zepumph opened #370 "Memory leak in 1.4 but not in master"
As described over in https://github.com/phetsims/energy-forms-and-changes/issues/368#issuecomment-697974734, there is a memory leak about how EnergyChunks are handled in both screens with PhET-iO save/load.

Originally I thought that I had forgotten to cherry-pick https://github.com/phetsims/energy-forms-and-changes/commit/12203c18eecc3d9a05cf040f477cef5d3dcbf9a7, but upon closer inspection, cherr

[2020-09-23 23:58] zepumph commented on #370
I really thought that (1) was the issue, but I just found a webstorm dialog that put that to rest:

In the 1.4 branch, In the Project view on the right panel, right click energy-forms-and-changes/ ->Git -> compare with branch-> master.

I then cycled through every change, and found nothing out of the ordinary. I am going to continue doing this in each dependency until I find the issue.

[2020-09-24 00:08] jbphet commented on #306
I've moved this change onto the 1.4 branch.  In most of my subsequent testing it seemed fine, but I did see the low FPS on my auxiliary screen in Chrome with lots of tabs open, but it was fine on my main screen and in an incognito window, so I think the issue is resolved.  Maybe some caching weirdness was happening.

Ready to test in the next RC.

[2020-09-24 00:25] zepumph commented on #370
Not from scenery.

[2020-09-24 00:27] zepumph commented on #370
Not from joist. I'm unsure this is the way to go about finding this. I'm still skeptical it isn't from EFAC changes.

[2020-09-24 00:40] zepumph commented on #370
I have tracked this down to being caused by a discrepancy of commits over in https://github.com/phetsims/phet-io/issues/1703#issuecomment-687217407. This is largely because of the fact that messages don't get released by the phet-io engine when the sim is inactive. I will cherry-pick those commits over to the EFAC branch now.

[2020-09-24 00:42] zepumph commented on #370
https://github.com/phetsims/phet-io/commit/4aaa0565e7e725462cc38df42072344e1585f69b
https://github.com/phetsims/tandem/commit/cb1f7f814690681f0e39759434cfe977da0a6dc4
https://github.com/phetsims/joist/commit/ed4fddc4c7492eccb1d78d301b29d53c89ca73c5
https://github.com/phetsims/axon/commit/b03491c5881894138f737abbb3eab8722cdff6b8
https://github.com/phetsims/axon/commit/d90f745de715bba84398d530198927

[2020-09-24 01:19] zepumph commented on #370
The above cherry-picks were committed, and the memory leak is now gone. While this ended up not being totally vital to get into this RC, I'm still glad to have tracked this down and patched things up.

I tested phet-io/phet brand fuzzing, as well as studio performance and state wrapper memory testing. All looks good to go. I'm going to close this issue, and continue with making an RC.

Tagging @jb

[2020-09-24 01:21] zepumph commented on #368
I am a liar. This was not true. Actually the problem was a lack of changes related to a phet-io engine issue. See  https://github.com/phetsims/energy-forms-and-changes/issues/370 for the hunt and paper trail.

We can now use the state wrapper enough on the 1.4 branch for me to confirm that the scenery memory leaks are no longer there (no "Detatched . . ." SVG types).

@jbphet over to you to review

[2020-09-24 01:22] #370 closed

[2020-09-24 20:35] jbphet commented on #368
I just re-ran the memory test on the 1.4.0-rc.2 release that includes these fixes.  This isn't _quite_ and apples-to-apples comparison, since it's using a built version, but it's very close and I felt that it would be better to do it like this because then I'm testing the code that will actually be delivered to the end users.

The testing does seem to show that the problem is fixed.  Here it is:

[2020-09-24 20:59] jbphet opened #371 "Light energy chunk bouncing off of the solar panel should be improved"
In the currently live version, which is v1.0.11, when an energy chunk representing light reflects off the solar panel, it travels up at exactly the same angle all the lines on the solar panel.  This looks odd, especially when a light chunk is right on one of the lines, because it looks like it's traveling along a wire or something.  Here are a couple of screenshots (a gif would be better, but I'm

[2020-09-24 21:21] jbphet commented on #336
Reopening to test on 1.4.0-rc.2, since the way that energy chunk state is handled has been completely revamped.

[2020-09-24 23:02] KatieWoe commented on #346
Looks ok in rc.2. Will reopen if something shows up.

[2020-09-24 23:02] #346 closed

[2020-09-25 16:07] KatieWoe commented on #343
This looks fixed in rc.2. Will reopen if something comes up.

[2020-09-25 16:14] KatieWoe commented on #347
This looks fixed in RC.2. Will reopen if something comes up.

[2020-09-25 16:14] #347 closed

[2020-09-25 18:02] KatieWoe commented on #343
The steam in the teapot also carries over for a frame, but disappears immediately. Feel free to close if this doesn't need to be addressed.
![teapotsteam](https://user-images.githubusercontent.com/41024075/94300939-f1df3a00-ff26-11ea-849a-782f37e78bdc.gif)

[2020-09-25 19:20] KatieWoe opened #372 "Unknown crash "energy chunk of undefined""
For https://github.com/phetsims/QA/issues/556. Seen on Mac 10.15.7 Chrome. Was in iframe when it occurred. Occurs outside of iframe as well. Unable to determine cause for certain. Sim crashed, froze, and output continuous errors to the console. Fairly easy to reproduce, but exact cause is still uncertain.

Steps:
1. You can use either the water or the oil beaker and do not need to have a block in

[2020-09-25 19:23] KatieWoe commented on #372
Managed to reproduce again, after turning on energy chunks. But I don't think it's the same exact method?
![Uploading Screen Shot 2020-09-25 at 1.22.36 PM.png…]()

[2020-09-25 19:26] KatieWoe commented on #372
Reproduced a third time. Does seem to trigger when Energy chunk checkbox is used. My be connected to the use of the water and iron beaker, and/or the thermometers.

[2020-09-25 19:28] KatieWoe commented on #372
No longer just in iframe, occurred in xhtml as well, and did not happen when the checkbox was used.

[2020-09-25 19:34] KatieWoe commented on #372
Steps that might help reproduce:
1. Have the iron block in the water beaker
2. Have thermometers on the water and the iron
3. Use the ice in the bucket to fully lower the temperature
4. Add heat then take it away
5. Toggle the energy chunk check boxes.

I can't tell which of these are/are not necessary, but they are common aspects.

[2020-09-25 19:46] KatieWoe commented on #372
Ok, I think I might have it. (Sorry for all the corrections).
1. You can use either the water or the oil beaker and do not need to have a block in it.
2. It seems to happen when an energy chunk would come from the atmosphere to heat up the beaker
3. Easiest way to reproduce is to continuously cool a beaker until the error triggers.

As I was testing this I saw a chunk that was going towards the bu

[2020-09-25 20:22] KatieWoe commented on #336
This does not seem to occur in rc.2 will reopen if something comes up.

[2020-09-25 20:22] #336 closed

[2020-09-25 20:44] KatieWoe commented on #306
Looks ok in rc.2. I noticed in studio there was a bit low fps, but it wasn't bad. Will reopen if something comes up.

[2020-09-25 20:44] #306 closed

[2020-09-25 20:50] KatieWoe commented on #335
This seems fixed in rc.2. Will reopen if something comes up.

[2020-09-25 20:50] #335 closed

[2020-09-25 21:02] KatieWoe commented on #348
This clarification is added in rc.2. Will reopen if something comes up.

[2020-09-25 21:02] #348 closed

[2020-09-25 21:20] KatieWoe commented on #361
I believe this is fixed in rc.2 (I was a bit confused by the wording). The two state screens seem to match up now. If something else was meant to be looked for, let me know.

[2020-09-25 21:20] #361 closed

[2020-09-25 21:40] KatieWoe commented on #362
Seems fixed in rc.2. Will reopen if something comes up

[2020-09-25 21:40] #362 closed

[2020-09-25 22:02] jbphet commented on #372
Good find @KatieWoe.  The problem is caused by some code in `BeakerContainer.addEnergyChunk` that is called when energy is transferred from the air to a beaker.  It's trying to access some information from an array that was converted to an `ObservableArray` while support was being added for energy chunk state in phet-io.  The fix should be straightforward.

[2020-09-25 22:08] KatieWoe commented on #368
Looks good in rc.2.
0 min: 41.1
1 min: 41
2 min: 41
3 min: 41.1
4 min: 41.2
5 min: 41.1

[2020-09-25 22:08] #368 closed

[2020-09-25 22:17] KatieWoe commented on #369
Looks good in rc.2. Will reopen if something comes up.

[2020-09-25 22:17] #369 closed

[2020-09-25 22:25] jbphet commented on #372
I've committed a fix to both the 1.4 and master branches, and this fix will appear in the next RC.

[2020-09-25 23:16] jbphet commented on #343
I agree that the paused tea kettle behavior is pretty minor, but it was a one line code fix (not including updates to comments), so I went ahead with it.  It should now be fixed on both the 1.4 branch and master and will be available in the next RC.

[2020-09-27 17:39] jbphet commented on #371
Unassigning - I'll make it part of the testing for the next 1.4 RC.

[2020-09-28 16:33] KatieWoe commented on #372
Did a quick check on master and wasn't readily able to reproduce there.

[2020-09-28 17:01] KatieWoe opened #373 "Possible memory leak."
For https://github.com/phetsims/QA/issues/556. Taken at one minute intervals.
Phet brand:
![memphet](https://user-images.githubusercontent.com/41024075/94463081-a8d2f400-0179-11eb-9431-8e73a7b32106.png)
Phet-iO brand:
![memio](https://user-images.githubusercontent.com/41024075/94463106-b0929880-0179-11eb-958f-0a829b433849.png)
Looks like there might be a leak, but a relatively slow one.

[2020-09-28 17:21] jbphet commented on #373
I just ran a memory leak on the tip of the 1.4 branch, which has only very small differences from the 1.4.0-rc.2 release.  This was so that I could use a non-built version.  I used the following procedure:

- launch with fuzz running
- after 30 seconds, stop fuzzing by entering `phet.chipper.queryParameters.fuzz=false`
- reset both screens
- take a heap snapshot
- restart fuzzing by entering `phet

[2020-09-28 20:48] KatieWoe opened #374 "Playback wrapper slow to load logs and won't play them."
For https://github.com/phetsims/QA/issues/556.
I was unable to upload a recording to the playback wrapper. It got stuck at 89%. Console showed this. Unable to determine if recording worked due to this.
![Screen Shot 2020-09-28 at 2 46 46 PM](https://user-images.githubusercontent.com/41024075/94484433-a84a5580-0199-11eb-8639-85309f7d5a37.png)

[2020-09-28 21:10] KatieWoe commented on #374
Seeing this on Lovelace (ChromeOS) as well.

[2020-09-28 22:05] KatieWoe opened #375 "Slight delay when switching between Energy Users"
**Device**
Lovelace
**OS**
ChromeOS
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/556.
Seen on PhET-iO so far, particularly slower wrappers. Doesn't seem too bad at the moment.
On the second screen, when switching between the energy users, there is a noticeable lag between the click and the change. It does not seem as bad on the energy sources or generators.

[2020-09-28 23:25] phet-steele opened #376 "State of running water does not seem to be saved correctly"
1. Enter the studio wrapper
2. Go to the Systems screen
3. Pause the sim
4. Switch to the faucet
5. Turn the faucet all the way on
6. Press "Launch"

The launched sim will be paused with the faucet on, but will erroneously display running water. The sim was paused when the faucet was turned on, and technically shouldn't yet have running water.

7. Enable energy chunks
8. Turn off the faucet
9. Pre

[2020-09-29 16:13] KatieWoe opened #377 "Cannot make metacog recording"
For https://github.com/phetsims/QA/issues/556. Encountered with iPadOS 14 Safari. May be connected to other recording and data stream issues.
I was unable to make a metacog recording for EFAC 1.4.0 rc.2. I was able to enter in a 5-digit code, and the sim seemed to load, but interaction was not possible and the sim crashed after 10-15 seconds.

[2020-09-29 17:31] KatieWoe commented on #163
Noting this in https://github.com/phetsims/QA/issues/556

[2020-09-29 18:23] jbphet commented on #376
The water stream is modeled as a set of circles that overlap and that elongate as they fall.  You can see this if you pause the sim and look closely at the stream.  We did not add the state of all of these drops to the phet-io information, since it would be a lot of data that isn't very useful.  Instead, we rely on code that looks at whether the faucet is on or off when state is restored and "prel

[2020-09-29 19:48] jbphet commented on #375
I've done some investigation on this, and the root of this problem is that it takes a while to add and position the initial energy chunks in the beaker because of the algorithm that is used to distribute them.  This was always computationally expensive, but now that energy chunk positions are being monitored in phet-io, the issue is worse.

I've made an improvement by adding code that only deactiv

[2020-09-29 21:42] loganbraywork opened #378 "Visual bugs and flashing in firefox for launched and wrapper simulation"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 1903

<b>Browser</b>

Firefox 80.0.1

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/556

Firefox seems to suffer weird visual bugs when sim is launched from phet-io wrapper index.

<b>Visuals</b>

![2020-09-29EFACPhet-IOFirefoxflashing](https://user-images.githubusercontent.com/54685448/94619452-2d9d

[2020-09-29 21:45] zepumph commented on #373
Thanks! I'll take a look. I first want to understand if this happens on master. That will help me track things down.

This is certainly not normal from a PhET-iO context. Though there is a central registry in phetioEngine, it should not hand onto old instances.

I spent so much time on the second screen, that it would make sense that the intro screen is where the problem lies. I'll have a look.

[2020-09-29 22:44] zepumph commented on #373
This was caused because I didn't go to all of the lists cleared out on resetting the first screen to dispose EnergyChunks and their wander controllers.

Implemented above; sorry for the hassle. Here is a screenshot of ~7 minutes of fuzzing, this settled out after just a couple of minutes.

![image](https://user-images.githubusercontent.com/6856943/94624118-338f1e00-0262-11eb-9fb9-8bb1da0e13f6.png)

[2020-09-29 22:50] zepumph commented on #374
@KatieWoe, how long did you run this? Could you do me a favor and reproduce this, and then just wait. My guess is that it will load&mdash;eventually, but it may take >15 minutes or so to do it. Could you try to see if it is just slow loading? Also you can get a more interesting log by adding `?debug` to the query string.

I think this is a "duplicate" (ish) of https://github.com/phetsims/phet-io-w

[2020-09-29 22:56] jbphet commented on #378
@loganbraywork - It would be helpful if you would describe _what_ the "visual bugs" are and when they occur.  I've watched the GIF several times, and I'm yet clear on exactly what you're referring to.

[2020-09-29 23:08] zepumph commented on #374
I met with @KatieWoe, and it seems to be the same bug as mentioned in above linked issues.

[2020-09-29 23:11] jbphet commented on #376
@kathy-phet and I discussed this, and we agreed that it wasn't worth the time and effort to instrument the water drops, so I'm going to mark as "won't fix" and close.

[2020-09-29 23:11] #376 closed

[2020-09-29 23:26] jbphet commented on #375
I discussed this with @kathy-phet and @arouinfar, and they feel that this should be addressed.  Probably the best way to address this is to have a way of setting pre-set energy chunks positions and not redistribute them, and there would be particular presets for the three existing configurations of the beakers.  This is similar to how the liquid and solid states are set in the States of Matter sim

[2020-09-29 23:28] jbphet commented on #374
I discussed this with @kathy-phet and @arouinfar and we agreed that it is not a blocking issue for the 1.4.0 release.  It should be fixed on master, but at least for now, it doesn't need to be propagated to the 1.4 branch.

[2020-09-29 23:37] jbphet commented on #378
I reviewed this with @kathy-phet and @arouinfar, and we agreed that this seems pretty minor and shouldn't block the 1.4 release.

[2020-09-29 23:48] jbphet opened #379 "Cannot make metacog recording"
See https://github.com/phetsims/phet-io-wrappers/issues/385.

This is not a blocking issue for the 1.4.0 release, but there should be a maintenance release that includes this fix (assuming it's on our side and not Metacog's) once it is available.

[2020-09-29 23:51] jbphet opened #380 "Text Area wrapper completely freezes on loading"
See https://github.com/phetsims/phet-io-wrappers/issues/382

This was discussed with @kathy-phet and @arouinfar, and we agreed that this issue blocks the 1.4.0 release.

[2020-09-29 23:58] zepumph commented on #379
Right! Thanks @jbphet, I forgot to do this part.

[2020-09-30 00:32] kathy-phet commented on #375
John, if the blocks have the same algorithm and if it’s causing slow down in the data stream wrappers they probably need this too. K

Sent from my iPhone

[2020-09-30 17:52] jbphet commented on #375
To start this off, I'm going to gather some baseline data so that we can measure how much the performance improves as a result of these changes.  I'll do screen 2 first, since that's where the problem was reported, but will also measure related performance for screen 1, since the reset takes a long while there as a result of the same issue (i.e. redistributing newly added energy chunks).  All test

[2020-09-30 18:23] zepumph commented on #380
@samreid and I found that EFAC spits out 39MB of `EnergyChunk.positionProperty` data stream events based on position changes on startup. We are working on a way to have that positionProperty opt out of the data stream, since it was instrumented for PhET-iO state, and that number of events is debilitating.

[2020-09-30 18:38] samreid commented on #380
@zepumph and I realized that the particle positions are irrelevant to the data stream, and should be suppressed completely.  To implement this, we added `EventType.OPT_OUT` and now the metadata will appear like so:

[code]

This is working well and the data stream wrapper runs without crashing or stalling.  Commits on the way.

[2020-09-30 18:42] samreid commented on #380
In https://github.com/phetsims/phet-io-wrappers/issues/382#issue-710485071 @KatieWoe said:

Upon loading the textarea data stream, the page becomes completely non-interactive. I can't play with the sim, I can't scroll the page. I don't see any error come up in the console. I see something similar with Safari 14. I can scroll, but nothing else works.

@KatieWoe can you please test after the commits

[2020-09-30 20:22] zepumph opened #381 "Playback wrapper slow to load logs and won't play them."
Following progress over in https://github.com/phetsims/phet-io-wrappers/issues/376. The review is complete, and we should try to get shas into EFAC 1.4 before publication. I will cherry-pick the changes into the branch, but will work with @jbphet on timeline to make sure we are on the same page.

This will be helpful to do now, so that we have a working playback wrapper and don't need to MR for th

[2020-09-30 21:46] jbphet commented on #375
I have added the ability to set the energy chunks into pre-configured locations in the blocks and beakers.  The code is now using this for initialization rather than adding and distributing the energy chunks.  This seems to be working well.

When re-running the tests described above, switching between the beaker and incandescent bulb on the 2nd screen has gone from 1033 ms to 739 ms and feels much

[2020-09-30 21:48] jbphet commented on #375
@arouinfar - please test on master and let me know if you feel like this resolves the problem.  I do, but I think you should verify as well.

[2020-09-30 21:55] zepumph commented on #381
Duplicate of https://github.com/phetsims/energy-forms-and-changes/issues/374

[2020-09-30 21:55] #381 closed

[2020-09-30 21:57] zepumph commented on #374
This issue is marked as blocking because I hope to get a patch in before the next RC. It is solved and out for confirmation by QA. Cherry-picks coming in soon (by me).

[2020-09-30 22:02] jbphet commented on #373
The changes look reasonable, and I have cherry-picked them to the 1.4 release branch.

[2020-09-30 22:08] KatieWoe commented on #380
Text area wrapper seems to work on master. Tested on Mac 10.15 Chrome

[2020-09-30 22:55] arouinfar commented on #375
@jbphet master is looking great.

I'm not seeing any lag on my older Macbook (macOS 10.15.7, latest Chrome), and it certainly isn't noticeably different than switching between other energy consumers.

[2020-09-30 23:15] zepumph commented on #374
We are all set for a cherry-pick onto the 1.45 branch. From https://github.com/phetsims/phet-io-wrappers/issues/378#issuecomment-701665340:

https://github.com/phetsims/phet-io-wrappers/commit/c06068a7643ae86ab449114f02bdff6b7ae28d6a
https://github.com/phetsims/phet-io-wrappers/commit/cbf071ccae1cbbc1ff8fcbb98348714a51cc09a9
https://github.com/phetsims/phet-io-wrappers/commit/f285f1e6910338f2b4102

[2020-10-01 00:04] zepumph opened #382 "State and Mirror Input screens twitch when changing scenes"
To track https://github.com/phetsims/phet-io-wrappers/issues/384. It isn't clear if this is blocking EFAC. It does occur in the phet brand sims in a iframe. I feel like it likely doesn't block publication, and may even be a "wont fix", though I'm not very certain about these weird layout issues. Over to @jbphet. Marking as blocking until proven otherwise.

[2020-10-01 00:08] zepumph commented on #374
Cherry-picked and pushed. Over to @jbphet to link in the next RC issue.

[2020-10-01 00:10] kathy-phet commented on #374
Thanks, MK. :)

[2020-10-01 14:46] KatieWoe opened #383 "CT assertion failed one element should be removed before another is added"
[code]

[2020-10-01 18:17] zepumph commented on #382
Parent issue tagged as wontfix

[2020-10-01 18:17] #382 closed

[2020-10-01 23:24] jbphet commented on #383
I've done some testing on this, and it occurs on the master branch but not on the recently created 1.4 branch.  It happens during fuzz testing of the state wrapper, and it can be duplicated manually by loading the state wrapper, going to the first screen, and then moving things around quickly.  After a while, a weird stacking configuration will come up, and some time after that the assertion will

[2020-10-01 23:57] zepumph commented on #383
My guess is that these changes are exposing the underlying problem that was always there, but the wrapper is now better set up to test the PhET-iO state feature.

This is the line of code to start looking at from the stack, but I won't get to it until tomorrow:

`at EFACIntroModel.fallToSurface (https://bayes.colorado.edu/continuous-testing/ct-snapshots/1601548082052/energy-forms-and-changes/js/in

[2020-10-02 00:06] jbphet opened #384 "Should energy chunk creation and disposal opt out of the data stream?"
In #380, @zepumph and @samreid removed energy chunk position data from the data stream, saying "[T]he particle positions are irrelevant to the data stream, and should be suppressed completely."  When testing 1.4.0.rc.3, I noticed that there was a lot of data in the stream for creation and disposal of energy chunks in some situations.  Should we consider opting this information out of the data stre

[2020-10-02 00:08] jbphet commented on #384
I'm assigning this to @samreid and @zepumph to begin with, but if they feel that this is a design question, they can assign @arouinfar instead.

[2020-10-02 00:08] zepumph commented on #384
We discussed this during our work in #380, and I think settled on "let's not until there is a reason to." I don't feel too strongly either way, but it is a bit of a slippery slope in my view. The data stream is "big data".

[2020-10-02 00:12] zepumph commented on #384
My vote would be to leave as is unless there is a usability concern with keeping it in. The traditional solution to "this thing is clogging up the data stream wrapper and making it hard to see other events" is to mark those PhetioObjects as `phetioHighFrequency:true`. Would you like to investigate doing that in the groups you desire to clean up the data stream wrapper?

@samreid please step in if

[2020-10-02 00:38] samreid commented on #384
I think we should leave it unless/until it causes a problem.  We can re-evaluate when we start designing the data streams.

[2020-10-02 14:31] jbphet commented on #384
Thanks for your input, we will plan on leaving it as is for now.  Closing.

[2020-10-02 14:31] #384 closed

[2020-10-02 19:12] zepumph commented on #383
This is easily reproduceable with the following steps:

1. State wrapper, change the "set state rate" to 5000
2. Move an object on a burner, let the state set.
3. Remove that object and add another one to the same burner before next state set.

This feels like a minor issue where an assert was added pre-phet-io to help outline the expected behavior of a sim:

"It would be buggy if a surface went f

[2020-10-02 19:48] KatieWoe commented on #373
Memory tests look much better in rc.3. Closing.
PhET Brand:
![Screen Shot 2020-10-02 at 1 18 16 PM](https://user-images.githubusercontent.com/41024075/94963597-a2b08080-04b5-11eb-9ed1-42444ba43105.png)
PhET-iO Brand:
![Screen Shot 2020-10-02 at 1 45 12 PM](https://user-images.githubusercontent.com/41024075/94963772-dee3e100-04b5-11eb-98b6-27ea45810b1c.png)

[2020-10-02 19:48] #373 closed

[2020-10-02 20:09] KatieWoe commented on #371
This looks ok in rc.3. Will reopen if something comes up.

[2020-10-02 20:09] #371 closed

[2020-10-02 20:54] KatieWoe opened #385 "Possible early boiling on second screen."
**Test device**
MacBook Air
**Operating System**
Mac 10.15
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/560. Possibly related to https://github.com/phetsims/energy-forms-and-changes/issues/346.
If you switch away from and then to the water boiler while the biker is running, energy chunks seem to escape the boiler sooner than they would if you were on the boi

[2020-10-02 21:35] jbphet commented on #383
I've applied and committed the patch.  I feel like it's a bit unfortunate to have to get rid of this, since it might be helpful in detecting bugs that are introduced when future changes are made, but I understand that what was never possible via user interaction is now possible through phet-io, so this has to go.  Closing.

[2020-10-02 21:35] #383 closed

[2020-10-02 21:51] KatieWoe commented on #385
It does look like it is happening in rc.2. I really couldn't tell with published though. Sorry.

[2020-10-02 21:56] KatieWoe commented on #343
This looks solved in rc.3. Will reopen if something comes up.

[2020-10-02 21:56] #343 closed

[2020-10-02 22:03] zepumph opened #386 "PhET-iO instrument HorizontalSurface"
Discovered while working on #383, and may help solve it. This type is not supported for state. @jbphet and I were both surprised to see this, and equally surprised that it wasn't causing problems with PhET-iO state. I'll investigate.

[2020-10-02 22:18] jbphet commented on #385
I watched the GIF and looked through the code to refresh my memory, and I think I know what is going on.  The code tries to maintain a balance between the amount of energy and the number of energy chunks in the beaker.  The energy comes in continuously, whereas the energy chunks show up based on how long it took them to get through the system.  In the particular scenario that @KatieWoe came up wit

[2020-10-02 22:18] #385 closed

[2020-10-02 22:42] KatieWoe commented on #375
This seems fixed in rc.3. Will reopen if something shows up.

[2020-10-02 22:42] #375 closed

[2020-10-02 22:46] KatieWoe commented on #372
Looks fixed in rc.3. Will reopen if something comes up.

[2020-10-02 22:46] #372 closed

[2020-10-02 22:52] KatieWoe commented on #380
Looks good in rc.3. I did notice that the text area wrapper was a bit laggy. Is that alright?

[2020-10-02 23:01] KatieWoe commented on #374
This seems to fixed in rc.3. Will reopen if something comes up.

[2020-10-02 23:01] #374 closed

[2020-10-05 16:42] jbphet commented on #380
I don't think that this wrapper is widely used by our primary client for this phet-io release, so I think it is probably all right.  @arouinfar - Can you please check it and update this issue?  If you're okay with the performance in 1.4.0-rc.3, you can just close this issue.

[2020-10-05 17:19] jbphet commented on #350
Thanks for all the work that you did here @zepumph.  1.4.0-rc.3 is in RC as of this writing (rc.2 had the first round of instrumented energy chunks, rc.1 did not), and so far things are looking good.  I've done a fair amount of testing of this code, and have done some reviewing, and will continue the review under #367, so I think it's best to close this issue at this point.

[2020-10-05 17:19] #350 closed

[2020-10-05 18:18] brooklynlash opened #387 "Slow Frame Rate when Starting Simulation on Firefox"
**Test device**
Lenovo ThinkPad
**Operating System**
Windows 10

**Browser**
Firefox

**Problem description**
This is for https://github.com/phetsims/QA/issues/560
When opening the Systems section of the sim, the frame rate is slow and I saw some flickering in between frames for the biker. It seems to get better as time goes on.

**Steps to reproduce**
1. Open the simulation
2. Click on the System

[2020-10-05 18:18] brooklynlash commented on #387
Forgot to mention that my cursor is a bit slow with this gif application but the cursor works normally usually.

[2020-10-05 18:25] zepumph commented on #386
This was a real challenge. I'm not sure what is best, to leave it as is, or try to solve this.

Basically the state data about what model element is attached to what surface is not saved in PhET-iO state, when I tried to add this, I got pretty far, but in a very inefficient way.

Here is where my investigation took me:
1. HorizontalSurface.elementOnSurfaceProperty was not instrumented. This felt v

[2020-10-05 19:45] arouinfar commented on #380
I'm seeing a very slight lag on my device, but I think it's acceptable.

[2020-10-05 19:45] #380 closed

[2020-10-05 21:11] KatieWoe commented on #387
I did a quick check on on Mac 10.15 Firefox to see if it happens on other devices and I did see the flashing behavior there.

[2020-10-05 22:40] jbphet commented on #387
I just tried this on my Win 10 development machine and on a MacBook Air.  I didn't notice flashing during the initial peddling, as shown in the GIF above, but I _did_ see it as PhET Girl started to slouch as she ran out of energy.  On both devices, I saw a fairly noticeable flash when the image changed to a more "slouchy" one.  When I did it a 2nd time, I didn't see the same flashes.

I would clas

[2020-10-05 22:48] KatieWoe opened #388 "Bottom screen in state wrapper picks up thermometers"
For https://github.com/phetsims/QA/issues/560. Occurs in previous RCs. (Sorry)
It is possible to drag an object over a thermometer on the first screen and have it behave properly in the top screen (thermometer left behind) and improperly on the bottom screen (thermometer picked up and carried with object). This can happen even if thermometers are in their box. Can be done with a mouse, does not re

[2020-10-05 23:15] KatieWoe opened #389 "Object can float if sim is launched while it is in the air"
For https://github.com/phetsims/QA/issues/560. Found with @zepumph. Win 10 Chrome. Easiest to reproduce in Chrome due to oddity in how they handle iframes.
If you are holding an object in the air and launch the sim. The object will not fall in the launched sim. If you pause, play, or click other objects it will stay up. However, if you click the floating object itself it will fall.
Steps:
1. Go to

[2020-10-06 16:15] kathy-phet commented on #389
Good find, but I don't think I would worry about fixing this issue. It's pretty obscure.

[2020-10-06 16:18] kathy-phet commented on #388
This seems odd to find in the state wrapper. It's pretty obscure, but I'm also surprised that it happens at all.

[2020-10-06 16:23] kathy-phet commented on #387
I took a look. I agree its minor and should not block publication. I could be a learning opportunity though if JO sees what might be causing this.

[2020-10-06 19:24] jbphet commented on #388
I've examined the code and set some breakpoints, and I can see why this is happening.  Code was added to `StickyTemperatureAndColorSensor` to make it stick to any object that it is over when state setting completes.  That's because the actual state of `ElementFollower` instance, which is the thing that makes the temperature sensor 'stick' to an object, isn't actually being included in the state.

[2020-10-06 19:25] DevonQui opened #390 "FrameRate Issues for Beakers in EFAC on Safari"
**Test device**
MacBook Pro

**Operating System**
macOS Catalina 10.15.1

**Browser**
Safari 13.0.3

**Problem description**
This is for https://github.com/phetsims/QA/issues/560
The Intro simulation of EFAC lags when you are dragging the beakers around the screen while the other objects have no lag whatsoever. However, when I tried it out in IFrame and XHTML the lagging was no longer an issue.

*

[2020-10-06 19:38] jbphet commented on #388
This code causes or is related to another problem, one in which once a thermometer is stuck to a model element in the downstream sim, it can't get un-stuck.  Here's a screen capture, observe how the thermometer in the lower frame stays on the block once it's there, even though the color indicator associated with it changes.

![efac-sticky-thermometerors](https://user-images.githubusercontent.com/3

[2020-10-06 19:40] jbphet commented on #388
Here is another problematic sequence of events - notice how the thermometer doesn't stick in the top frame but does in the bottom:

![efac-sticky-2](https://user-images.githubusercontent.com/3082831/95251829-54fb8700-07d9-11eb-9c2a-a1d94f6acf42.gif)

[2020-10-06 21:42] loganbraywork opened #391 "Launched Sim from Studio permanently freezes if falling energy is present"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 v.1903

<b>Browser</b>

Chrome Version 85.0.4183.121

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/560

In studio, when a falling energy is present on screen and the sim is launched, freezes and weird particle behavior occurs. A single particle causes massive slowdown, freezes, strange particle beha

[2020-10-06 22:20] KatieWoe commented on #391
Reproduced on Mac 10.15. Opened a downloaded version in Safari and it occurred there as well. Interesting to note that I only reproduced if beaker was sitting on the ground rather than on the burner.

[2020-10-06 22:44] loganbraywork commented on #391
After some further study, I am amending the issue. It seems that when I tested pausing the energy particles, the beakers were on the burners. It seems that on the burners, the beakers are fine, paused or not paused, and that off the burners, the issue occurs, paused or not paused.

[2020-10-06 23:35] jbphet commented on #388
The problem here, in a nutshell, is that the code that implements the "sticking" of the thermometers to the blocks and beakers has not been instrumented, so its state is not always being correctly set in the downstream sim, which leads to some incorrect "sticking" behavior.  I added some code to turn off the element follower (i.e. the thing that makes the thermometer stick to - aka follow - a bloc

[2020-10-06 23:41] jbphet opened #392 "Instrument ElementFollower for phet-io"
https://github.com/phetsims/energy-forms-and-changes/issues/388 describes some problems, as well as a "workaround-ish" solution to problems where the thermometers don't always manifest the correct element-following behavior in the state wrapper.  The solution that was used to solve the problem involved monitoring the `isSettingPhetioStateProperty` property and doing some very specific state update

[2020-10-06 23:47] jbphet commented on #390
We did some work on laggy dragging on the first screen a while back.  This may or may not be related.  For reference, here's the original issue: https://github.com/phetsims/energy-forms-and-changes/issues/99.

[2020-10-06 23:52] jbphet commented on #390
I tried this out on an older Mac Air, OS 10.12.6, Safari 12.1.2, and I could tell that the beakers were a little laggy compared to the blocks, I didn't think it was detrimental at all to sim use.

@arouinfar - I think you generally use a Mac.  Please give it a try and, if you don't see significant problems, let's just close this one.

[2020-10-06 23:58] jbphet commented on #389
Here is what I think is going on with this: The beaker stays there is because its `userControlledProperty` is set to true, because as far as it knows in a scenario like this, the user hasn't released it.  When the "Launch" button is pressed and a second sim is created, the beaker would have the `userControlledProperty` also set to true.  If the user is controlling it, the code doesn't cause it to

[2020-10-06 23:58] #389 closed

[2020-10-07 15:14] KatieWoe commented on #388
This issue looks fixed, but energy chunks being added was buggy when they were being added to an object on master. I don't know if/how this may be related. Haven't seen in the RC so far.
![energychunktwitch](https://user-images.githubusercontent.com/41024075/95350479-6dbd7880-087d-11eb-8aba-6206b0975a40.gif)
![Screen Shot 2020-10-07 at 9 12 40 AM](https://user-images.githubusercontent.com/41024075

[2020-10-07 18:28] KatieWoe commented on #391
In the state wrapper, the falling energy chunks don't show up in the bottom state sim. I think this might be connected. @jbphet if I'm wrong let me know and I will make a separate issue.
![Screen Shot 2020-10-07 at 12 25 58 PM](https://user-images.githubusercontent.com/41024075/95372312-a0289f00-0898-11eb-87de-8bc7c1510285.png)

[2020-10-07 18:47] jbphet commented on #391
Nice catch @loganbraywork.  There are two problems in the code that are at play here.  One is that the observable array `approachingEnergyChunks` in `RectangularThermalMovableModelElement` was not instrumented, so approaching energy chunks were never getting set up in the launched simulation.  This was causing the crash because the energy existed on another list, and when the energy chunk mover th

[2020-10-07 19:52] KatieWoe commented on #391
There still seems to be significant issues. When loaded up the energy chunk seems to teleport around and looks glitchy. If you hit reset all the sim resets to the default minus the thermometer positions, and completely freezes.
![buggyfix](https://user-images.githubusercontent.com/41024075/95380631-3f06c880-08a4-11eb-92e7-c3115404cc16.gif)

[2020-10-07 23:01] KatieWoe commented on #391
Ok, it does look ok on master now. Not sure what caused earlier. I must not have had a good copy of master.

[2020-10-07 23:01] KatieWoe commented on #388
Ok, it does look ok on master now. Not sure what caused earlier. I must not have had a good copy of master.

[2020-10-07 23:05] jbphet commented on #391
Glad to hear it.  I'll mark this as fixed and will set it up to test on the next RC.

[2020-10-07 23:07] jbphet commented on #388
It may be that some of the work done in #391 improved things, since it was all about energy chunks that were on their way to something but not there yet.

It's good to hear that it's working now.  I'll mark it as fixed and will have it tested in the next RC.

[2020-10-07 23:19] jbphet commented on #378
This appears to be essentially the same as https://github.com/phetsims/energy-forms-and-changes/issues/387, so I'm going to close this as a duplicate, even though this one came first.  I'm closing this one rather than #387 because the other one is already assigned to @jonathanolson for investigation.

[2020-10-07 23:19] #378 closed

[2020-10-07 23:31] arouinfar commented on #390
I tested this on macOS 10.15.7 and Safari 14.0. The beaker lag is slightly worse than the blocks, but it's not nearly as noticeable as @DevonQui's video. The lag in the video isn't ideal, but I think it's tolerable. Let's close @jbphet.

[2020-10-07 23:31] #390 closed

[2020-10-08 01:11] zepumph commented on #380
This patch would reduce the lag slightly, because less events would be populated to the text area, but I don't think it is worth designing the data stream wrapper so heavily like this:

[code]

No further action here recommended.

[2020-10-08 21:00] jbphet commented on #379
In https://github.com/phetsims/phet-io-wrappers/issues/385#issuecomment-705260593, @zepumph said that he'd be willing to be assigned to this one so that once there is a solution to the parent issue we can make an informed decision about whether to do a maintenance release on the 1.4 branch.

[2020-10-09 00:25] phet-steele commented on #388
Looks fixed to me. 👍

[2020-10-09 00:25] #388 closed

[2020-10-09 00:38] phet-steele commented on #391
This looked great on my Win 10 Chrome!

[2020-10-09 00:38] #391 closed

[2020-10-09 01:36] zepumph commented on #379
After investigation in the general issue, the cause is only in rc.2, where the simStarted event is >40MB. Please see https://github.com/phetsims/phet-io-wrappers/issues/385#issuecomment-705912751 and previous comments on the investigation. There will be no need to MR for this underlying cause, since it is no longer in the branch (fixed by https://github.com/phetsims/energy-forms-and-changes/commit

[2020-10-09 01:36] #379 closed

[2020-10-09 15:41] brooklynlash opened #393 "Thermometer connecting to block and disconnecting from beaker when putting in (not dropping into) beaker"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Chrome

**Problem description**
This is for https://github.com/phetsims/QA/issues/564
When a thermometer is on a block and in a beaker (does not depend on which one), if you place a block in a beaker, it can attach itself to the block and detach from the beaker. Does not work if dropping block into beaker, just placing i

[2020-10-09 15:42] KatieWoe commented on #393
Specifically, you must place it on the right side of the beaker, so that the block is covering where the thermometer makes its default jump to.

[2020-10-09 16:32] brooklynlash commented on #393
Just reproduced on Chrome Phet.io and Firefox as well.

[2020-10-09 20:39] loganbraywork commented on #325
I've recently upgraded laptops and haven't seen this issue on the new one at all

[2020-10-09 20:44] KatieWoe commented on #387
Looking quickly a Mac Firefox, and while the frames aren't necessarily slow there, the flashing is still present.

[2020-10-09 20:46] KatieWoe commented on #387
It does seem to happen in published though.

[2020-10-09 21:52] KatieWoe opened #394 "Convoluted way to pick up thermometers"
**Test device**
MacBook Air
**Operating System**
Mac 10.15.7
**Browser**
Chrome
**Problem description**
Found during https://github.com/phetsims/QA/issues/564. Occurs in published. Very minor.
It is possible, under unusual circumstances, to pick up a thermometer by dragging an object over it, which shouldn't be possible. To do this, you need two blocks and one beaker. If one block is in the beaker

[2020-10-09 22:34] jbphet commented on #394
This is an interaction between the code that decides whether a thermometer should adhere to a beaker and the code that prevents a thermometer that is stuck to the beaker from getting stuck to an object inside of it.  It's not immediately obvious to me how to fix it, and it doesn't strike me as being worth much time to investigate and resolve.

@arouinfar - all right with you if we just close this

[2020-10-09 22:36] arouinfar commented on #394
Sounds reasonable to me @jbphet.

[2020-10-09 22:36] #394 closed

[2020-10-09 22:36] arouinfar commented on #394
By the way, really nice find @KatieWoe!

[2020-10-09 22:51] jbphet commented on #393
This exists on the currently published version, which is 1.0.11, so it's been out in the world for several years without anyone being bothered by it (that I know of).  Note that as @KatieWoe points out above, the block has to be pretty far over to the right for this behavior to occur, otherwise the thermometer jumps out of the way of the block pretty easily.

I could probably add something to the

[2020-10-09 23:55] phet-steele opened #395 "Objects can be left hovering in the air after a Reset All"
1. In the first screen, use finger A to drag a block way up over the burners (this location isn't important, but it helps you see the bug easier)
2. While keeping finger A held, use finger B to press Reset All
3. Wiggle finger A a bit until the block jumps back up and _stays_ under your finger.

Releasing finger A now should see the block remain hovering in place wherever you left it. This bug is

[2020-10-12 17:57] jbphet commented on #395
Ah, @phet-steele, back to your old multi-touch tricks are you?

I added a call to `this.interruptSubtreeInput()` in the reset handling for the view, and that seems to resolve this issue.  I've put the fix on both the 1.4 branch (which has an impending release) and master.  I'll mark the issue as fixed and we can test it on the next RC from 1.4.

[2020-10-12 19:46] arouinfar commented on #393
This was a good find @brooklynlash, but given @jbphet's assessment, I'm inclined to do nothing.

[2020-10-12 19:46] #393 closed

[2020-10-12 21:47] KatieWoe commented on #395
Similar thing seems to happen with the sliders on the systems screen. Video shows it with the cloud controls on the sun scene.
https://drive.google.com/file/d/1GFgKZMb9hz2eTmDkbTmDWkrvmvqP6Ujl/view?usp=sharing

[2020-10-13 18:05] jbphet commented on #395
I added the call to `this.interruptSubtreeInput()` to the 2nd screen and it seems to have solved the problem that @KatieWoe is describing.

[2020-10-14 20:49] jbphet commented on #395
This is fixed and was published in the 1.4.0 release.  Closing.

[2020-10-14 20:49] #395 closed

[2020-10-14 20:51] jbphet commented on #216
EFAC with phet-io was published in 1.4.0.  I think a lot of things can probably be checked off in this issue now, and we should consider just closing it once it has been updated.

[2020-10-14 21:06] jbphet commented on #95
I added new QA testers in cc134c1aeb33cd456ac1ba3a22cc4a05920fe10a.  I think it's safe to close this, and we can open a new one the next time it comes up.

[2020-10-14 21:06] #95 closed

[2020-10-14 22:45] jbphet commented on #367
While reviewing this code, I noticed that there are phet-io groups for beakers, blocks, block nodes, and a handful of other things in addition to the groups associated with energy chunks and their motion.  My (possibly naïve) understanding of phet-io groups is that they are used primarily in support of elements that come and go dynamically in a simulation, which beakers and blocks don't do.

@zepu

[2020-10-14 22:47] jbphet commented on #367
I've spent as much time as I reasonably can on this review, and what I've seen looks pretty good.  I've done some minor cleanup of comments and formatting, and added a handful of `REVIEW-phetio` comments.  @zepumph - back to you to address the comments and the question above.

[2020-10-15 01:32] arouinfar opened #396 "Update Screenshots"
In #311 we made several visual changes to the sim. We should have updated the screenshots before the 1.4.0 release, but it slipped my mind. Self-assigning to take new screenshots.

@ariel-phet do you think it's worth a maintenance release?

[2020-10-15 01:34] arouinfar opened #397 "Update Teacher Tips"
The 1.4.0 release includes several visual changes (see #311) as well as support for new query parameters. Self-assigning to update the Teacher Tips.

[2020-10-15 02:55] ariel-phet commented on #396
@arouinfar no definitely not worth a maintenance release -- the current main screenshot is definitely close enough

[2020-10-16 23:33] jbphet commented on #216
Oops, I didn't mean to actually close it.  It should probably be updated a bit before we do.

[2020-10-16 23:34] jbphet commented on #244
Since I've recently spent a bunch of time with this sim working on adding phet-io (see https://github.com/phetsims/energy-forms-and-changes/issues/216), I updated the documentation while the sim design was still fresh in my mind.  I think it's in reasonable shape now.  Closing.

[2020-10-16 23:34] #244 closed

[2020-10-23 19:38] KatieWoe opened #398 "CT tests not being done"
The `energy-forms-and-changes : fuzz : unbuilt : query-parameters` test isn't being done in CT. It was hard to spot, so I'm not sure how long this has been the case.
![Screen Shot 2020-10-23 at 1 18 19 PM](https://user-images.githubusercontent.com/41024075/97046474-ad01ef80-1534-11eb-96ee-7cefc4c5b82d.png)

[2020-10-28 22:06] zepumph opened #399 "Uncaught Error: Assertion failed: should not be called if disposed"
Steps to reproduce:
1. Systems screen
2. sun energy source
3. toggle energy chunks to be visible.

Over in https://github.com/phetsims/scenery/issues/1097, @samreid and I added disposal of the underlying visibleProperty in Node upon `Node.dispose()`. This triggered an error unrelated to work in that issue based on how SystemsModel.energyChunksVisibleProperty is wired up.

We have a case here where

[2020-10-28 22:09] zepumph commented on #399
To solve this, @samreid and I decided the best way forward is to add a guard checking disposal before setting the visibility of a Node.

This seems like a workaround, but the alternative seems to be to change the whole energy chunk visibility pattern where a single Property changes the model (by causing `preloadEnergyChunks` to be called), and all energyChunks too.

I think it would be best if the

[2020-10-28 22:12] zepumph commented on #399
I want to note that nothing we did caused this error, but instead, this bugginess had been happening up until this point, but since Node's visibleProperty wasn't being disposed, it wasn't getting caught.

[2020-10-29 07:04] arouinfar commented on #396
Screenshots committed to master and 1.4 branch in the above commits.

[2020-10-29 07:26] arouinfar commented on #397
I've updated the tips on the website and uploaded them to Drive.

[2020-10-29 07:26] #397 closed

[2020-10-30 15:35] thebioguy opened #400 "Option to turn off energy loss."
I want to model energy transfers without loss, before I introduce the concept.
Is there anyway to build in this option?

[2020-11-02 18:40] zepumph opened #401 "Fix fragile stateSetEmitter listener in EnergySystemElementCarousel.js"
From review comments created around https://github.com/phetsims/energy-forms-and-changes/issues/367#issuecomment-708699750, one looks like:

[code]

I didn't write this code, and know nothing about the carousel, so I think it would be best to pass this over to responsible dev/phet-io instrumenter.

I'll update this as a TODO to this issue.

[2020-11-02 18:43] zepumph commented on #367
That is accurate. But we need to define what "dynamically" means. To maintain a consistent API, we have sometimes elected to use PhetioGroup when it is possible to change the number of startup elements, like with a query parameter. This is "dynamic" to the PhET-iO API of a simulation, but not dynamic to that particular runtime (i.e. once you start the sim with 2 blocks, they exist for the lifetime

[2020-11-02 19:45] KatieWoe commented on #398
Noticed again 11/2/2020

[2020-11-05 00:48] zepumph commented on #386
This sim has been published and made it through QA testing.. I don't feel like it is worth going down this road. Closing

[2020-11-05 00:48] #386 closed

[2020-11-22 20:57] samreid opened #402 "Eliminate usages of getArrayCopy()"
From https://github.com/phetsims/axon/issues/334, Energy Forms and Changes has 30 occurrences of `getArrayCopy`.  I'm not sure whether it's important that those are (a) shallow copies or (b) something with the Array interface or (c) both.  Since we started using Proxy, observable arrays now satisfy the Array interface.  If a shallow copy is needed, perhaps we should use `slice`.  Can you please ta

[2020-12-02 18:26] jbphet commented on #367
Changes look good and we can follow up on the related question in the issue that was created.  Closing.

[2020-12-02 18:26] #367 closed

[2020-12-06 14:12] samreid opened #403 "Document why removal must be guarded, or remove the guard"
In https://github.com/phetsims/axon/issues/332 we removed the guard from createObservableArray removal methods.  I added a sim-specific guard in the following commit, but I'm not sure if it should be documented or eliminated.  Assigning to responsible dev to take a look:

https://github.com/phetsims/energy-forms-and-changes/commit/5cae5efcae680c26095b7726e5a270913791844d

[2020-12-07 16:17] samreid commented on #403
Another problem of this type appeared on CT.

[code]

[2020-12-07 16:18] KatieWoe commented on #402
In CT:
[code]

[2020-12-07 16:23] samreid commented on #402
The preceding comment is being tracked in https://github.com/phetsims/energy-forms-and-changes/issues/403#issuecomment-740020196

[2020-12-11 20:52] oliver-phet opened #404 "User reported issue: heat capacity values"
Forwarded from Carl:

[2020-12-12 01:17] arouinfar commented on #404
This method makes the assumptions that the blocks have the same mass, which is incorrect. Brick and iron have the same volume, but the iron block is several times heavier than the brick. If they adjust for the differences in mass (by using the densities), this method will work. I tested it using the values currently in the model, and everything checks out.

However, I think that the [brick density

[2021-01-04 23:40] jbphet commented on #325
I've got a PC that is several years old, and I can't duplicate this with Firefox.  Since it doesn't happen on @loganbraywork's newer computer, and it isn't a very likely use case, I'm going to go ahead and close this.

[2021-01-04 23:40] #325 closed

[2021-01-28 21:57] jonathanolson commented on #398
@chrisklus any idea what's going on here? In listContinuousTests, I see two tests with the same name somehow:

[code]

They presumably should have different names (e.g. `query-parameters1` and `query-parameters2`)

[2021-02-23 17:25] pixelzoom opened #405 "Use scenery-phet.SkyNode"
While working on https://github.com/phetsims/scenery-phet/issues/79 and related to phetsims/balancing-act#128... I noticed that EFAC does not use scenery-phet/SkyNode, and has its own implementation of SkyNode.  Should it be using scenery-phet/SkyNode?

[2021-03-17 22:49] zepumph opened #406 "Remove unneeded pickableProperty and opacityProperty"
This seems like pretty outdated code. opacityProperty is no longer instrumented at all. pickableProperty is being converted to inputEnabledProperty (I ran into this issue while working on https://github.com/phetsims/scenery/issues/1158). And it has also been converted to an opt-in approach. But since neither the opacityProperty or pickableProperty for BeakerView are in the overrides, or specify ph

[2021-03-17 22:50] zepumph commented on #406
@arouinfar does this seem acceptable? Now each BeakerView only has a `visibleProperty` which controls the visibility of its children.

[2021-03-25 04:13] chrisklus commented on #399
This change looks great, thank you for investigating. I've poked around and can't think of an easy way around this workaround. Closing.

[2021-03-25 04:13] #399 closed

[2021-04-06 16:17] pixelzoom opened #407 "CT: value failed isValidValue"
[code]

[2021-04-16 18:19] chrisklus commented on #404
@arouinfar looked into this a little bit and ran into an assertion for expected preset values when we changed the brick density to a more accurate number mentioned in https://github.com/phetsims/energy-forms-and-changes/issues/404#issuecomment-743576192. I'll have to investigate more or talk to @jbphet about how these preset values work - I know they were added to speed up start time / reset time.

[2021-04-16 18:22] arouinfar commented on #406
That seems reasonable @zepumph.

I will review the tree and see if there are any other elements that need an inputEnabledProperty, but that can go into another issue.

[2021-04-16 18:22] #406 closed

[2021-04-28 17:55] chrisklus opened #408 "Maintenance issues to complete before next republication"
EFAC needs to republished to include Studio's save and load features. The following issues should be completed before doing so:

- [ ] https://github.com/phetsims/energy-forms-and-changes/issues/401
- [ ] https://github.com/phetsims/energy-forms-and-changes/issues/402
- [ ] https://github.com/phetsims/energy-forms-and-changes/issues/403
- [ ] https://github.com/phetsims/energy-forms-and-changes/is

[2021-05-05 23:29] chrisklus commented on #398
@jonathanolson committed a fix for this during a dev meeting, thanks! see https://github.com/phetsims/perennial/commit/992a7e68491f4ab484549d0e6c54fd59228374dd.

[2021-05-05 23:29] #398 closed

[2021-05-06 00:46] chrisklus commented on #401
Thanks for the suggestion - I factored out some of the code that ensured the animation is finished and called it from where it came from in `step` as well as the setStateEmitter. Tested with phet-brand, phet-brand fuzz, Studio "Preview Sim", and the state wrapper. Closing.

[2021-05-06 00:46] #401 closed

[2021-05-06 15:55] chrisklus commented on #402
I went through usages and converted most to use `slice()` - i found two usages that were safe to just directly iterate over. There were also two usages from PhetioGroups, so I left those as `getArrayCopy`. Tested with phet brand and Studio/preview sim. Closing.

[2021-05-06 15:55] #402 closed

[2021-05-10 22:25] chrisklus commented on #351
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 22:25] chrisklus commented on #295
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 22:25] chrisklus commented on #213
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 23:08] chrisklus commented on #351
branch re-deleted, closing

[2021-05-10 23:08] #351 closed

[2021-05-10 23:09] chrisklus commented on #295
branch re-deleted, closing

[2021-05-10 23:09] #295 closed

[2021-05-10 23:10] chrisklus commented on #289
this branch was already deleted, closing

[2021-05-10 23:10] #289 closed

[2021-05-10 23:11] chrisklus commented on #144
branch re-deleted, closing

[2021-05-10 23:11] #144 closed

[2021-05-18 19:32] samreid opened #409 "Difficult to see the sun's rays"
While reviewing a customized PhET-iO simulation of Energy Forms and Changes, I saw that the sun's rays are difficult to distinguish against the yellow background:

![image](https://user-images.githubusercontent.com/679486/118711437-d5a54b80-b7dc-11eb-9c68-7ddba813d3e9.png)

Using a color sampler, I saw that the shades are very similar:

sun's ray: (253,252,124)
background: (248,244,209)

This feel

[2021-05-26 22:27] phet-steele opened #410 "Query String Machine Assertion failed: query parameter cannot occur multiple times"
Not sure if this is a general issue or even a known one. Testing this sim on master, running phet-io studio and trying to Preview Sim in any way fails with:

[code]

Seen on Win 10 Chrome. For phetsims/QA/issues/651.

[2021-06-01 19:57] samreid commented on #410
I wasn't able to see this problem when testing unbuilt on phettest, but I did see a Natural Selection problem.  @phet-steele was the problem you detected for built or unbuilt?

[2021-06-01 21:58] phet-steele commented on #410
It was unbuilt, but I am no longer seeing the problem myself. There may be more to it, or it could be resolved!

[2021-06-01 22:03] samreid commented on #410
OK, I opened https://github.com/phetsims/natural-selection/issues/280 for the NS problem, and let's close this issue until we see it again.

[2021-06-03 22:56] arouinfar commented on #404
Another user wrote to phethelp about the heat capacity of the bricks. The values they cite match the specific heat in the model, but because we have an unrealistic brick density, the user does not observe the behavior they would expect.

If the blocs are the same mass, the Iron should heat much faster than the brick. According to my tables iron has a specific heat of **449 J/(kgK)** and solid bric

[2021-06-09 19:59] jbphet commented on #404
Self-assigned to get this on my radar.

[2021-06-29 15:54] samreid opened #411 "Issues with removeEnergyChunk"
Identified in https://github.com/phetsims/chipper/issues/1033, there are some problems with removeEnergyChunk:

- [ ] The return value is never used
- [ ] Returning true from the arrow function doesn't stop iteration--could be removed from multiple groups

I was going to fix it, but not sure if the sim is relying on the buggy implementation of removal from multiple groups.

[2021-09-15 13:58] liammulh opened #412 "Energy symbols missing when using duplicate query parameters"
Got an email into phethelp:

If you have duplicate query params, e.g.

https://phet.colorado.edu/sims/html/energy-forms-and-changes/latest/energy-forms-and-changes_en.html?screens=1&elements=iron,iron,water,water

(a) the energy symbols disappear:
![missing-e](https://user-images.githubusercontent.com/60749003/133446089-6a687ecb-b4d7-4c1b-9a88-2f474ebfd747.png)

and (b) you begin to see buggy beha

[2021-10-11 19:42] KatieWoe opened #413 "Water chunks start at lowest temp, even if water is boiling"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
Found during https://github.com/phetsims/qa/issues/718, but happens in published as well.
When the water on the second screen has chunks off, if you turn chunks on as it starts to boil, the chunks look like they would if the temp was at it's minimum.
**Steps to reproduce**
1. Go to second screen
2. Turn on

[2021-12-20 21:11] chrisklus opened #414 "Clouds slider looks wrong"
Noticed when checking my work in https://github.com/phetsims/chipper/issues/1177.

The cloud slider currently looks like this:

![image](https://user-images.githubusercontent.com/5618316/146832965-ed7cf8d8-34b1-4208-88ef-82f549220d7d.png)

It should look like this:

![image](https://user-images.githubusercontent.com/5618316/146833180-c108217f-b38b-47c8-a9d9-b14892d980c4.png)

Guessing the width an

[2021-12-20 21:58] chrisklus commented on #414
After some investigation, I figured out changes in https://github.com/phetsims/sun/issues/717 were the cause. I'll comment why over there.

[2022-02-04 16:31] KatieWoe opened #415 "CT designed api changes detected"
[code]

[2022-07-14 23:30] zepumph commented on #415
This has been fixed, closing

[2022-07-14 23:30] #415 closed

[2022-08-04 20:54] KatieWoe opened #416 "CT Designed API changes detected, please roll them back or revise the reference API"
[code]

[2022-08-29 13:24] samreid commented on #416
Fixed, closing.

[2022-08-29 13:24] #416 closed

[2022-09-19 22:18] KatieWoe opened #417 "CT Designed API changes detected"
[code]

[2022-10-05 21:46] marlitas opened #418 "Intro Screen Gradient Background on narrow displays"
While investigating https://github.com/phetsims/mean-share-and-balance/issues/114, I noticed that the background for the Intro Screen turns into a white and yellow gradient when the display narrows. It looked strange to me so wanted to ask if this is expected?

<img width="216" alt="image" src="https://user-images.githubusercontent.com/42476338/194186835-e9f8829d-3377-4b32-a161-20c689fa560e.png">

[2022-10-08 01:27] chrisklus commented on #418
@marlitas thanks for asking - yes, it is intentional. The yellow is the sim background, and the white gradient is clouds or fog that the energy chunks can fade into as they rise up. Once they're behind the full opacity, we can remove them instead of having to animate them up to a huge height or have them randomly disappear. And we also didn't see the need to create a super tall cloud node either -

[2022-10-10 18:58] marlitas commented on #418
Thanks for the response @chrisklus. sounds good to me!

[2022-10-10 18:58] #418 closed