[2014-09-02 21:17] bryo5363 opened #1 "Selected tool should move to foreground."
When layering multiple thermometers, the selected thermometer will not move to the foreground.

Tested on 10.9.4

![screen shot 2014-09-02 at 3 16 31 pm](https://cloud.githubusercontent.com/assets/7717368/4125936/806ecc90-32e6-11e4-91f6-3737d83b43cc.png)

[2014-09-02 21:21] bryo5363 opened #2 "Should water lose volume when boiling?"
I notice that when the heat is held down for a long duration of time, the volume of the water remains constant. Should the water lose volume when converted to steam?

[2014-09-02 21:32] bryo5363 opened #3 "Border should be raised for third object to enter water"
Steps to reproduce:
-Place Iron or Brick on stand
-Place water above object on stand
-Try to place the third object in the water. The boundaries are slightly too small

The only way to get the third object into the water is to place it next to the bottom item, which is not very obvious when using the sim. It took me a few minutes to figure it out.
![screen shot 2014-09-02 at 3 28 53 pm](https://cl

[2014-09-02 21:40] bryo5363 opened #4 "Is it possible to slide an object through a burner"
It is possible to slide an object through the heating/cooling element.

Steps to reproduce
-Open the intro mode
-Place the water on top of the iron. Place both on the stand. This will create a boundary for the brick which I addressed in #3
-Try to slide the brick through the bottom of the stand. Notice it will not go through.
-Try to drop it in the water; the brick will fall to the ground
-slide t

[2014-09-02 22:41] bryo5363 opened #5 "Choppy behavior when using tea kettle"
I noticed that when using the tea kettle in Energy systems, the gear has choppy motion and the simulation runs slower. I think this is due to the fact that when using other systems, the gear rotates counterclockwise while the tea kettle causes the gear to rotate clockwise.

[2014-09-18 02:16] #2 closed, assigned to nobody

[2014-09-23 04:27] kmsravindra opened #6 "Intro screen - When clicked on thermometer, it gets positioned to its center"
In Intro screen, when a thermometer is clicked for initiating the drag, it gets positioned to its center rather than getting picked up from the point of drag. Not sure if this is the intended behavior. Please let us know.

[2014-09-29 19:12] veillette opened #7 "User suggestions that energy should flow through the top of the chain"
A user reports that when the girl rides the bike, the energy flows from the bike wheel to the generator wheel on the bottom of the belt, rather than the top. The user states that it  would be more physically correct for the energy to flow to the top of the belt instead.

[2015-03-02 17:01] jonathanolson opened #8 "Many linting issues"
Please see the output for "grunt lint".

[2015-03-06 19:24] pixelzoom opened #9 "sim does not start"
console log below.  I ran into this while trying to test https://github.com/phetsims/scenery-phet/issues/140.

Here are the problem lines of code.

These are constants, not functions:

Then you're trying to use them like functions:

![screenshot_478](https://cloud.githubusercontent.com/assets/3046552/6532145/9b011efe-c3fb-11e4-99da-39a1a2a4ba23.png)

[2015-03-08 17:51] pixelzoom opened #10 "Properties should have `Property` suffix"
Examples of anti pattern:

Burner: this.topSurface = new Property(...
Burner: bounds = new Property( new DoubleRange( minValue, maxValue ) );

[2015-03-12 19:41] pixelzoom commented on #8
This is still an issues as of 3/12/15.

[2015-03-14 19:45] bereaphysics commented on #9
Util.linear has been replaced by LinearFunction. The sim is starting.

[2015-03-14 19:45] #9 closed

[2015-03-25 20:28] pixelzoom commented on #10
This has become more important because of together instrumentation.

[2015-03-30 17:25] jbphet commented on #10
@jessegreenberg has taken over this sim, assigning to him.

[2015-04-28 16:24] pixelzoom opened #11 "energy-forms-and-changes fails lint"
There are hundreds of lint errors in master.

[2015-04-28 16:37] pixelzoom opened #12 "energy-forms-and-changes fails to build"
[code]

[2015-04-28 16:37] pixelzoom commented on #12
Similar to error messages in https://github.com/phetsims/energy-skate-park-basics/issues/322.

[2015-04-28 17:01] jbphet commented on #11
Assigning to @jessegreenberg.  A lot of this is probably leftover from the code ported by @bereaphysics when he started on the port of this sim, so it's understood that it may be a while before this is cleaned up.

[2015-04-28 20:37] pixelzoom commented on #12
Builds, I must have had a stale working copy.  Closing.

[2015-04-28 20:37] #12 closed

[2015-05-15 22:16] pixelzoom commented on #11
This is getting to be a problem. For example, after doing https://github.com/phetsims/sherpa/issues/17 (which affects all sims), I can't regression test, and grunt-all.sh fails when it gets to energy-forms-and-changes.  Could we either clean this up, or remove this sim from active-repos and active-sims?

[2015-05-16 02:28] samreid commented on #11
I'd like to see this fixed too but have no idea about its timeline.  Should we update grunt-all.sh so it won't halt when a single sim fails lint?

[2015-05-16 02:38] jessegreenberg commented on #11
I can take care of these by tonight.  Sorry for the delay, I didn't realize there was some urgency to this.  My priority has been to port new content and tidy as I go along, but I can get this lint free quickly.

[2015-05-16 09:52] jessegreenberg commented on #8
The sim builds cleanly now.  Closing.

[2015-05-16 09:52] #8 closed

[2015-05-16 10:00] jessegreenberg commented on #11
Issues caught by linting program have been resolved.  This sim builds cleanly again.

[2015-05-20 02:33] ariel-phet opened #13 "Energy Forms and Changes Master Checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 10/02/2014)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Legacy sim docs/info gathered**
  - [x] Sim suggestions doc reviewed
  - [x] Unfuddle tickets reviewed
- [x] **Learning goals and

[2015-06-10 20:00] jonathanolson opened #14 "Assertion failure noticed by automated testing"
[code]

Basically globalToParentPoint needs to return a single point, but since Nodes can have multiple parents, it's possible to have two different transforms from a Node to the global coordinate frame (if it is being used in multiple places).

Let me know if I can help resolve the issue.

[2015-12-10 19:24] jessegreenberg commented on #14
Unable to reproduce with extended muzzMouse and test-server.  Likely fixed in ff3c3c4f2977338c56b6d1e05ec6a00a60e15666.  Closing.

[2015-12-10 19:24] #14 closed

[2016-03-03 23:05] andrewadare opened #15 "Error on attempt to remove nonexistent element of observableArray"
In `RectangularThermalMovableModelElement.moveEnergyChunkToSlices`, an assertion failure is triggered at `self.energyChunkWanderControllers.remove( energyChunkWanderController );`.

This occurs when an energy chunk flows into a Block when placed on the burner.

[2016-03-04 18:35] andrewadare commented on #15
Fixed by 52f62e54db0a4f7d10d93995d73bb528f856bcc5.

[2016-03-04 18:35] #15 closed

[2016-03-11 00:25] pixelzoom opened #16 "rename energy-forms-and-changes.Carousel"
Please rename this component.  It was just added today, but I've already gotten this file by mistake a half-dozen time while I'm working on (or importing) sun.Carousel. In general, do not use a common-code name for a sim-specific component. Thanks!

[2016-03-11 00:47] jessegreenberg commented on #16
@andrewadare if nothing else inherits from energy-forms-and-changes.Carousel, perhaps the best thing would be to collapse energy-forms-and-changes.Carousel and EnergySystemElementCarousel into a single file, keeping the name EnergySystemElementCarousel.

The only thing that EnergySystemElementCarousel does is register an observer on ```animationProgressProperty```

[2016-03-11 00:50] pixelzoom commented on #16
Is this really a carousel? I don't see a carousel in the Java version or the current master of the HTML version. Maybe it's something new that's not visible yet.

[2016-03-11 01:01] andrewadare commented on #16
I see Carousel.java [here](https://phet.unfuddle.com/a#/repositories/23262/file?path=%2Ftrunk%2Fsimulations-java%2Fsimulations%2Fenergy-forms-and-changes%2Fsrc%2Fedu%2Fcolorado%2Fphet%2Fenergyformsandchanges%2Fenergysystems%2Fmodel%2FCarousel.java&commit=74617). But I don't want to collide with common code so I will look into following @jessegreenberg 's suggestion.

[2016-03-11 01:03] jessegreenberg commented on #16
All items in the 'Energy Systems' screen are contained in one of three 'carousels'.  These carousels are not UI components but act as carousels to animate different energy system components on to the screen.

[2016-03-11 01:06] andrewadare commented on #16
I can rename if need be. I was just following the Java naming exactly.

[2016-03-11 01:12] pixelzoom commented on #16
I played with the Java version, so now understand why the term "carousel" is used. (Odd that it's in the model, since a carousel is a view-specific presentation of some collection of item.)  It sounds like you're doing a direct port of the Java version, including trying to maintain type (class) names, so I understand why the name collision occurred.  @jessegreenberg rename suggestion in https://gi

[2016-03-11 01:32] andrewadare commented on #16
@jessegreenberg and I discussed this over Skype. We briefly entertained the idea of trying to use sun/Carousel instead of the bespoke version in the java EFAC code. We agreed it would not be a good idea, at least not right now. The EFAC and Sun versions are too different.

So the plan is to follow the suggestion outlined above. The name EnergySystemElementCarousel will then be a touch misleading s

[2016-03-11 01:37] pixelzoom commented on #16
Thanks. Sorry if this turned out to be a big deal.  I just didn't want to keep accidentally opening this file, since I'm in sun.Carousel quite a bit.

[2016-03-11 15:17] andrewadare commented on #16
No worries, this should now be addressed. I'm about to face this same problem with the other generically-named Java files (e.g. Sun.java) so it's fortunate that you caught this before I ported all those names over. They will get more specific names.

[2016-03-14 23:39] jessegreenberg commented on #11
This issue can be closed, sim no longer fails lint.

[2016-03-14 23:39] #11 closed

[2016-03-15 14:07] #16 closed

[2016-03-17 19:21] andrewadare opened #17 "Check for unused strings"
Will consult @jbphet about this.

[2016-04-14 16:45] samreid opened #18 "Investigate memory issues"
Today @andrewadare mentioned that Energy Forms and Changes is using something like 75MB.  I wanted to test this, and I observed on my OS X that the sim uses about 33MB on startup:

![image](https://cloud.githubusercontent.com/assets/679486/14536087/edd33ce0-022d-11e6-8f90-d41142dbbcd9.png)

This seemed like a big discrepancy from what @andrewadare reported (75MB vs 33MB), so I wanted to bring it u

[2016-04-14 16:47] samreid commented on #18
Compare to Hooke's Law which uses 44MB of heap on startup:

![image](https://cloud.githubusercontent.com/assets/679486/14536150/37d14ddc-022e-11e6-8b66-83a0bab533e7.png)

[2016-04-14 17:17] andrewadare commented on #18
I am able to reproduce the ~33MB allocation on startup. When running with the steaming teapot and beaker, snapshots are ~45MB.

My verbal report mentioning a ~84MB snapshot was based on week-old tests. I believe the memory allocation is still too high right now, but investigating that should be a separate issue.

[2016-04-14 17:35] #18 closed

[2016-04-27 16:31] andrewadare commented on #10
I fixed these about 6 weeks ago, and didn't see this old issue. Will be on the lookout for any other occurrences.

[2016-04-27 16:31] #10 closed

[2016-05-16 23:20] andrewadare opened #19 "EnergyChunkDistributor needs work"
For one thing, the header comments say it's a class, but it just returns an object of functions.

For another, updatePositions is very long (despite my earlier cleanup and bug-fixing efforts)---see if the function can be split into smaller private components.

[2016-05-18 20:32] andrewadare opened #20 "This sim needs some restructuring"
There are several modules in intro/ that ought to be in common/, because they are (or will be) used in the Energy Systems screen.

Model components:
 - [x] ModelElement
 - [x] HeatTransferConstants
 - [x] EnergyChunkWanderController
 - [x] Burner

View components:
 - [x] ThermometerNode

I may have missed some or failed to account for dependencies; the only sure way to find out is to proceed.

[2016-05-23 19:40] andrewadare opened #21 "Bug in Biker.moveEnergyChunks"
This one is stumping me. Mechanical energy chunks stop short of their intended destination, never making it to the next energy system (e.g. Generator).

It doesn't happen if only one chunk is let through at a time (if pedaling is turned off right when a chunk is produced). This suggests that the problem is not with the travel path or the energyChunkMover, but possibly with the accounting of chunks

[2016-06-02 16:06] #21 closed

[2016-06-15 21:43] #20 closed

[2016-06-15 21:52] andrewadare opened #22 "Porting PClip"
I just spent at least a full day's worth of time tracking down a bug that originated because I implemented a temporary stand-in for a clipping node (because frankly, I don't even know what a clip node is).

I wish to port this code from BeakerView.java:

[code]

@jbphet , can I sit briefly with you tomorrow and get some advice on how to port this?

[2016-06-22 16:04] andrewadare opened #23 "Energy chunk deletion issues"
There is a problem in both screens of this sim where radiated/evaporated energy chunks fail to be deleted properly. This bug has cost an enormous amount of time to track down (in total, several full days) without direct resolution.

Description:

Chunks that are added to a RectangularThermalMovableModelElement (RTMME) at startup or reset via `addInitialEnergyChunks()`, then subsequently transferre

[2016-06-22 16:20] andrewadare commented on #23
There's also this:

![energy forms and changes screenshot](https://cloud.githubusercontent.com/assets/154163/16274378/9c725532-3862-11e6-951e-7f583acce276.png)

If the blocks are placed on the burner, then removed, they leave some chunks. This is definitely a symptom of the same problem.

[2016-06-22 17:17] andrewadare commented on #23
'addInitialEnergyChunks' in EnergyChunkContainerSliceNode is starting to look very suspicious. It adds nodes without adding listeners, and this function does not appear at all in the Java source.

[2016-06-22 17:48] andrewadare commented on #23
More findings:

 - Calling addInitialEnergyChunks in RTMME correctly adds energy chunks to the slices.
 - But EC nodes and listeners (defined in the ECCSN ctor) are not being attached to the new chunks. Why not?
 - A global reset() fixes the problem. An immediate (but inefficient?) fix would be to just call reset() in the main model.

[2016-06-22 18:30] andrewadare commented on #23
Functionally, this bug is resolved, but the solution in c2311ad is hardly satisfactory. Calling reset() on the model from the screen view is not intended to be a permanent solution.

[2016-06-22 18:51] andrewadare commented on #23
Just to summarize the unresolved core problem for posterity:

At startup, RTMME adds chunks to the slices of the model element. However the listeners and nodes in ECCSN are not being attached to these initial chunks, and they absolutely should be.

After a model reset, things work as intended, but forcing a reset is obviously a patch, not a real fix.

[2016-07-24 05:18] samreid opened #24 "Should this repo be in active-runnables?"
I was surprised to discover that this simulation wasn't listed in active-runnables.  Is it ready for that?

[2016-07-25 15:26] andrewadare commented on #24
@samreid for quite a while, it wasn't. At this point, however, it should be tried again (and I will brace for problems when the tests are run).

If I understand correctly @phet-steele runs a test suite on Tuesdays, so I'll put this on board for that and see what happens.

[2016-07-25 16:33] phet-steele commented on #24
Thanks @andrewadare! I look forward to the next round of automated testing.

[2016-07-25 16:33] #24 closed

[2016-08-02 18:22] phet-steele opened #25 "Automated Testing Sim Error (8/2/2016 10:13 AM)"
Had to replicate it before reporting, doesn't always happen though:
1. Intro screen, put an element into the beaker.
2. Reset all.
3. Try to put the same element back into the beaker.

[code]

[2016-08-25 23:08] pixelzoom opened #26 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:27] pixelzoom commented on #26
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:27] #26 closed

[2016-08-29 19:26] pixelzoom opened #27 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-30 17:54] jbphet commented on #27
Assigning to @andrewadare, since he is currently working on this sim.

[2016-09-14 17:21] #27 closed

[2016-09-28 17:28] phet-steele opened #28 "Automated Testing Build Error (9/28/2016 9:30 AM)"
[code]

[2016-09-28 20:40] andrewadare commented on #28
There are some weird things going on in my working copies. I didn't have this lint error, but then re-installed npm.

The linter then threw the error shown above. Once I fixed it, the sim now fails to load with:

Path.js?bust=1475094932461:95 Uncaught TypeError: this._shape.isImmutable is not a function

More investigation needed...

[2016-09-29 20:19] andrewadare commented on #28
This is fixed now.

[2016-09-29 20:19] #28 closed

[2016-10-12 21:15] andrewadare commented on #25
@phet-steele thanks for reporting, EFAC is still under heavy development and has many issues. Leaving open but removing my assignment until I turn my attention back over to this sim.

[2016-11-02 15:06] andrewadare commented on #17
Grunt catches this, no need for this issue.

[2016-11-02 15:06] #17 closed

[2016-11-14 22:57] andrewadare commented on #23
The original issue is now properly straightened out. The temporary reset() patch has been replaced with a proper fix in 18aa98a.

[2016-11-14 22:57] #23 closed

[2016-11-21 21:08] andrewadare opened #29 "Regression with energy chunks in beaker"
Bisected to 4bda62b21a01536615c953fe19caf5dd6c76f627.
Dropping a block in the beaker causes the chunks to fly out, and velocities explode to infinity.

[2016-11-21 21:21] #29 closed

[2016-11-21 21:48] #19 closed

[2016-11-29 17:16] andrewadare commented on #25
I made several attempts to reproduce this, but have been unsuccessful so far.

[2016-11-29 20:03] andrewadare opened #30 "Remove ThermalItemMotionConstraint"
The file has this note:
[code]

There are three places where it is being used:
 - BeakerContainerView
 - BlockNode
 - ThermalElementDragHandler

[2016-11-29 20:29] #30 closed

[2016-11-29 21:37] andrewadare opened #31 "Multi-parent topology for BeakerContainerView nodes"
BeakerView calls
[code]
And BeakerContainerView extends it. EnergyFormsAndChangesIntroScreenView, following the Java, calls
[code]
Thus, each of the three nodes has two parents. This drag handler in BCV,
[code]
calls globalToParentPoint, which fails with this error:
[code]

[2016-11-29 23:03] andrewadare opened #32 "Apply EFACIntroModel.validatePosition in drag handler"
ThermalItemMotionConstraint was recently removed (see #30) because most of its functionality is accomplished by MovableDragHandler.

However, the Java version of that class contains this,
[code]
which is the only call to validatePosition in the sim.

Right now objects can be dragged through each other, and validatePosition must be added to ThermalElementDragHandler or somewhere equivalent.

[2016-12-14 04:52] jonathanolson commented on #25
New one:
[code]

[2016-12-16 18:30] andrewadare commented on #31
This was fixed thanks to improvements in scenery-phet by @jonathanolson.

[2016-12-16 18:30] #31 closed

[2016-12-16 18:30] #22 closed

[2016-12-16 18:32] andrewadare commented on #6
This issue is extremely old and I assume it is no longer relevant. @ariel-phet, please re-open if you disagree.

[2016-12-16 18:32] #6 closed

[2016-12-16 18:39] andrewadare opened #33 "Thermometers are inconsistent between screens"
When porting the Energy Systems screen, I used the ThermometerNode from scenery-phet in BeakerHeaterNode because the custom EFAC thermometer was incomplete at the time. I intended to go back and replace it with the custom EFAC ThermometerNode, but never got to it.

[2016-12-19 20:05] andrewadare opened #34 "Energy chunks in beaker (second screen)"
When energy chunks flow into the beaker heater element, they immediately cause the chunks in the water to move violently. The sim also starts to slow down, and my CPU fan kicks on.

[2017-01-05 21:29] jonathanolson commented on #25
Also saw:

[code]

[2017-02-03 01:12] jonathanolson commented on #25
Another report:
[code]

[2017-03-17 00:01] jbphet commented on #25
In today's developer meeting I was assigned to take a look at the failures of automated test to see if I can get EFAC to pass with minimal time investment.  If it's too big of a rathole, and should look at short term workarounds or just bail until we have more time to invest in it.

[2017-03-17 20:06] jbphet commented on #25
I've improved this by adding a workaround, but the root problems are not addressed and the simulation still will hit an assertion when fuzz tested for long periods.

In the course of investigating this, I found that reset is not working properly for EnergyFormsAndChangesIntroModel.  It is leaving some of the surfaces of the model elements uncleared, and as a result the sim runs into problems when

[2017-03-17 22:50] jbphet commented on #25
Here is the output from the automated test when the less frequent assertion (mentioned in the comment immediately above) occurs:

[code]

[2017-04-04 19:44] phet-steele opened #35 "TypeError: label.setScale is not a function"
Run the sim with `?stringTest=xss` to get this error.

[code]

[2017-05-04 05:49] samreid commented on #35
Proposed fix is above, @jbphet can you please see if it seems correct?

[2017-05-04 15:36] jbphet commented on #35
Looks reasonable to me, closing.

[2017-05-04 15:36] #35 closed

[2017-05-04 15:54] phet-steele commented on #35
Thank you @samreid!

[2017-09-12 20:26] pixelzoom opened #36 "attempt to unlink listeners that are not linked"
Related to https://github.com/phetsims/axon/issues/132.  This sim is attempting to unlink listeners that are not linked.

[2017-09-12 20:32] pixelzoom commented on #36
Fixed in the above commit.  But I suspect that the `unlink` assertion failure may be indicative of some more general faulty logic.

`ElementFollower`: I suspect that something is calling `stopFollowing` when it's not actually following.

`UserMovableElement`: It seems like `supportingSurfaceProperty` is not always linked to when it should be.

@jbphet should review.

[2017-10-24 20:07] jbphet commented on #36
This is good enough for now in order to keep it from failing in the automated test.  I agree with @pixelzoom that there are some potentially faulty logic paths related to this code, so I'm going to leave this issue open but unassigned, and I'll assign it back to myself when work on this simulation resumes.

[2018-02-14 19:47] jbphet opened #37 "Update usages of Math.random"
This sim is using Math.random, should be updated to use phet.joist.random.

[2018-02-14 19:54] jbphet commented on #37
Fixed, closing.

[2018-02-14 19:54] #37 closed

[2018-02-21 20:01] jbphet commented on #25
I've been keeping an eye on continuous testing for several days, and EFAC has been showing all green with 100% of tests passing.  I'll close this issue and will open new ones if and when other CT problems appear.

[2018-02-21 20:01] #25 closed

[2018-02-21 20:09] jbphet opened #38 "Fix major memory leak"
While working on #25, which was related to fuzz test errors, I noticed that fuzz testing wouldn't run overnight - by the morning the browser tab always showed some kind of error.  I suspected that the sim was leaking memory and eventually hitting some upper bound for memory allocation in Chrome.  I just did a memory test and confirmed that yes, it has a significant memory leak.  This should be fix

[2018-04-23 16:10] ariel-phet opened #39 "Add olive oil as an option for 1st screen"
As part of a collaboration with GoLab we would like to add olive oil as an option for the first screen. To begin with probably simply having a radio button option under the "Energy Symbols" checkbox would be easiest.

This will require some design work, but mainly a code change.

[2018-04-23 16:15] ariel-phet opened #40 "Add mechanical output to second screen"
As part of the GoLab collaboration it was suggested to have a mechanical output (like a fan or other electric motor. Such a change would require both development and design work. Let begin with design.

@arouinfar do you want to think about what might be the best mechanical output? I feel like a Fan is reasonable...mechanical energy going to the blades and then leaving as "wind" perhaps offscreen

[2018-04-25 17:33] jbphet opened #41 "Consolidate Brick and IronBlock"
The division of labor between the model and view aren't very good when it comes to the blocks.  The texture and color are currently handled by the model, which isn't a very good approach.  I think I should add a "BlockComposition" enum that allows different types, and use that to figure out how to portray the block in the view instead.

[2018-04-26 19:46] jbphet opened #42 "Major performance problem in EFACIntroModel"
While doing some code cleanup, I noticed the following code in `EFACIntroModel`:

[code]

It seemed odd to me that the tick is being limited to a fixed amount rather than using the dt value, since the value for this.timePerTick was the nominal frame time of 1/60.  I modified it to this:

[code]

Unfortunately, this caused the sim to get very slow.  The reason is that it takes longer than 1/60 of a

[2018-04-30 22:31] arouinfar commented on #40
@ariel-phet I think a fan would be the best mechanical output. I'll play with it in mockups, and see what I come up with, but your general fan/wind idea sounds good.

[2018-05-02 13:04] jbphet opened #43 "Convert debug constants into query parameters"
There are a handful of places in the code where there are constants that can be set to ```true``` in order to turn on some debug feature.  There were ported directly from the Java code.  In HTML5, these should be converted to query parameters.  I've marked these with TODO and/or a comment that says something like `useful for debugging`, so it should be fairly easy to search through the code and fi

[2018-05-02 15:55] jbphet opened #44 "Split the burner stand for better layering"
The `HeaterCoolerNode` supports being added to two layers so that things like flames, ice, and energy chunks can appear to come out of it, as shown here.

![image](https://user-images.githubusercontent.com/3082831/39534411-c024f392-4dee-11e8-9d6d-ef1805aca6f0.png)

The burner stand doesn't support this approach, so energy chunks that come out of the burner and float upwards appear to cross in fron

[2018-05-08 16:16] jbphet opened #45 "a11y sprint"
Run, Forest, run!

[2018-05-10 22:35] jbphet opened #46 "Change terminology to tea kettle instead of tea pot"
The EFAC code internally uses the term "tea pot" for the red thing that sits on a burner and produces steam when heated.  While working on accessibility, @arouinfar pointed out that tea kettles go on burners, tea pots are the things that are used to brew the tea.  The terminology in the code should be updated.

[2018-05-15 22:37] jbphet opened #47 "Investigate moving images from model to view"
As I work through the code cleanup, I notice that there are a lot of images used in the model instead of the view.  I think this may be because the energy chunks appear to move through various portions of the images in specific ways, but I'm not certain.  As I review it, it strikes me as strange, so other developers that may have to maintain this in the future will likely feel the same way.  I sho

[2018-05-15 23:04] jbphet commented on #46
done, closing

[2018-05-15 23:04] #46 closed

[2018-05-16 17:52] jbphet commented on #45
The accessibility sprint has ended, closing.

[2018-05-16 17:52] #45 closed

[2018-05-16 20:28] jbphet opened #48 "Consolidate code for light bulb nodes"
While making a pass through the code to clean it up, I noticed that there seems to be a lot of code duplication between `IncandescentBulbNode.js` and `FluorescentBulbNode.js`.  These should be consolidated if possible.

[2018-05-22 19:11] arouinfar commented on #39
Here's a mockup with the added beaker of olive oil. I used `rgb( 245, 209, 0 )` for the color of the olive oil. Since it's layered below the semi-transparent beaker, the color is a bit subdued, and appears to be `rgb( 227, 207, 88 )`.

@ariel-phet can you review?

![image](https://user-images.githubusercontent.com/8419308/40384400-aac65f22-5dc0-11e8-8252-f6cd48df06e8.png)

[2018-05-22 20:20] arouinfar commented on #40
@ariel-phet here's a rough wireframe of the fan. In general, I think it would have a slightly-skewed profile view so users can better see the blades rotate. Ideally the artwork would be a bit less skewed than the mockup.

With the perspective, it would probably be hard to rotate a single image (like the water wheel) without things looking strange, so we would likely need a series of images (like P

[2018-05-23 05:30] ariel-phet commented on #39
@arouinfar that mockup looks pretty good. A couple of questions/suggestions

1. It seems we probably want to tweak the background color (maybe something more towards just plain white?)

2. Do we feel the olive Oil requires any scaffolding? Everything seems to fit, which is nice. But do we foresee any reason why we might not want all 4 items out at once?

3. If we have all 4 items available, we pro

[2018-05-23 16:51] arouinfar commented on #39
Great questions @ariel-phet. Here are my thoughts.

Plain white looks a bit stark, but I think pale yellow `rgb( 255, 255, 225 )` works nicely.
![image](https://user-images.githubusercontent.com/8419308/40438552-99f0d00a-5e75-11e8-8612-b73d22c1aa3a.png)
![image](https://user-images.githubusercontent.com/8419308/40438575-a39e3e58-5e75-11e8-93a5-e9c59205298a.png)

Great question, but I'm not sure. I

[2018-05-23 18:59] ariel-phet commented on #39
@arouinfar I like mockup 3 (two thermometers, pale yellow). and also agree, stacking of beakers should probably be disallowed on both the lab bench and the heating stand. Nice work!

[2018-05-23 19:28] ariel-phet commented on #40
@arouinfar a few comments

1. I agree some perspective will be needed, that will cause a few interesting complications

2. We probably need to choose a "reasonable" fan speed. Not so fast that it is a blur, but I think it should be 3 or 4 times the speed of the generator wheel (my instinct being that the generator wheel is sort of big and massive and the fan has a relatively low moment of inertia)

[2018-05-24 17:08] arouinfar commented on #40
Thanks @ariel-phet.

I think using a series of images to animate the blades rotating will work out. Good thing we have a graphic artist. :)

Very good point! The max fan speed will probably need to be just below the point of blur.

Bumping up the fan size by 50% looks pretty good to me

![image](https://user-images.githubusercontent.com/8419308/40500117-7b203178-5f49-11e8-9d19-402e63ef4dba.png)

I

[2018-05-25 17:44] ariel-phet commented on #40
@arouinfar that all looks good. I think deciding on the exact energy chunk behavior is probably best left to a design meeting.

[2018-05-30 19:52] arouinfar commented on #40
Artwork is being tracked in the issue above, so unassinging myself for now.

[2018-05-31 21:34] jbphet opened #49 "Consider a refactoring that adds emitters to HorizontalSurface"
In the original Java sim, model elements that can support other model objects - like blocks that can be stacked on one another - have properties that represent their top, button, and supporting surfaces.  When an element like a block is moved, its topSurfaceProperty is updated by creating a new HorizontalSurface and replacing the old value.  The code looks something like this:

[code]

This works

[2018-05-31 21:34] jbphet commented on #49
Leaving unassigned for now, will tackle later in the development cycle if there's time.

[2018-05-31 22:23] jbphet commented on #49
I think this would also make the code easier to understand.  As it is now, the code sometimes uses the term "surface" because it is easier to understand, but the underlying reference is actually a property that wraps an immutable HorizontalSurface, and that can be somewhat hard to understand.

[2018-06-13 14:10] jbphet opened #50 "Incorporate Next-Lab into credits"
@ariel-phet has been working with Next-Lab to make some improvements to the simulation.  Next-Lab has requested being incorporated into the credits, so we have prototyped that and provided it to them, see https://bayes.colorado.edu/dev/html/energy-forms-and-changes/1.0.0-dev.4/phet/energy-forms-and-changes_en_phet.html.  The commit for this change to the credits was https://github.com/phetsims/ene

[2018-06-13 16:29] ariel-phet commented on #50
They responded that things looked good. I will leave this open, but unassign myself. Likely we will double check with them when near publication

[2018-06-19 18:54] jbphet opened #51 "Reset on the first screen takes too long"
I've just gotten reset working on the first screen (it was bypassed for a while to prevent continuous test failures, see #25), but it takes about 2 seconds on Chrome on my Win 10 machine, which is long enough that it feels like something is wrong.  I'm fairly certain that it takes this long because the energy chunks are placed in preset positions and then the redistribution algorithm is run severa

[2018-06-19 22:41] jbphet opened #52 "Outline of blocks is somewhat inconsistent in opacity when transparent"
When the energy chunks are visible and the blocks are transparent, the outline is a bit inconsistent in darkness because of the overlap between the edges of the front, top, and side shapes.  This isn't bad, but could be improved if we have the time.  One way to tackle this would be to create the textures without outlines and add the outline separately as one shape.

Here's a screenshot that shows

[2018-06-20 16:51] jbphet commented on #32
The drag handler code has been rewritten to take model constraints into account and the objects can no longer be dragged through one another.  Closing.

[2018-06-20 16:51] #32 closed

[2018-06-20 16:54] jbphet commented on #33
The thermometers have been revamped and the same one is now used on both screens.  Closing.

[2018-06-20 16:54] #33 closed

[2018-06-21 22:01] jbphet opened #53 "Modify how enable/disable affects one-shot sound clips"
The behavior of one-shot sound clips was discussed in the sonification framework design meeting on 6/14/2018, and here are some things that need to be done:

+ Sound generators should have an option that determines whether sound generation can be initiated when the sound generator is enabled.  This makes it so that if a sound that is long is initiated when sound is disabled, then sound is enabled,

[2018-06-21 23:19] jbphet commented on #53
Oops - I created this in the wrong repo, will move to tambo.

[2018-06-21 23:19] #53 closed

[2018-06-27 21:37] jbphet opened #54 "Use event forwarding instead of layering to allow blocks to be removed from beaker"
As of this writing, when the beaker is sitting on top of a block, if the user tries to grab the bottom portion of the beaker a lift it off the block, they end up grabbing the block.  This is because of the way layering is set up in `EFACIntroScreenView.js`.  This works reasonably well in most cases, but this particular use case is where this approach breaks down.  I could probably use event forwar

[2018-07-06 00:05] chrisklus commented on #43
@jbphet and I went through and fixed all of these cases. There were a couple cases where the purpose of the constant was redundant, so we removed them.

[2018-07-06 00:05] #43 closed

[2018-07-09 18:45] jbphet opened #55 "Convert to MIT license"
The grant that is supporting this sim development requires MIT licensing, so we need to make sure that this is the license by the time we publish.  See https://github.com/phetsims/chipper/issues/689.

[2018-07-09 18:45] jbphet commented on #55
Leaving unassigned until we are getting closer to publication.

[2018-07-10 15:42] chrisklus commented on #48
I consolidated these into `LightBulbNode`

[2018-07-10 15:42] #48 closed

[2018-07-10 19:08] chrisklus commented on #41
Consolidated Brick and IronBlock, label is now in the view instead of the model

[2018-07-10 20:04] chrisklus commented on #41
The above commit does not actually relate to this issue, I forgot to change the commit message from my previous commit. It should instead say 'Refactored some getters to ES5 getters'

[2018-07-11 16:52] arouinfar opened #56 "Water wheel starts turning before any water hits it"
Unfuddle Ticket [#3615](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3615).

@samreid reported:

@jbphet replied:

I agree with @samreid, this behavior is a bit weird. Not sure if this has already been taken care of in HTML5 (the wheel doesn't turn at all for me in dev.3 or dev.4), but it seems like something that warrants further discussion.

@jbphet can you comment on the workaro

[2018-07-11 17:15] jbphet commented on #41
Looks like these changes removed the texture from the brick.  Reopening.

[2018-07-11 17:22] jbphet opened #57 "Steam not appearing on first screen"
When the beaker is heated way up, it should show steam.  Here's what this looks like in the Java sim:

![image](https://user-images.githubusercontent.com/3082831/42588937-8bbe573e-84fc-11e8-8fc6-327e5ba4aed5.png)

The steam shows up on the 2nd screen, but never appears on the first, in the current master version of the HTML5 sim.  Here is a screenshot (notice that the thermometer is maxed out):

!

[2018-07-11 17:28] jbphet opened #58 "Assertion occurs if the beaker is heated for a long time"
While testing, I noticed that heating the beaker for a long time generally results in hitting an assertion.  Here is the stack trace (not sure why it contains so many runAnimationLoop and requestAnimationFrame calls):

[code]

[2018-07-11 18:20] arouinfar opened #59 "Energy chunks fail colorblind testing; assets should be updated"
Colorblind testing was reported in Unfuddle Tickets [#3480](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3480) and [#3530](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3530) and found:

I imported the .png files for the energy chunks (from the [images](https://github.com/phetsims/energy-forms-and-changes/tree/master/images) directory) to Illustrator and found the co

[2018-07-11 18:26] arouinfar opened #60 "Add Link Heaters feature to Intro Screen"
In Unfuddle Ticket [#3666](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3666), a user reported:

[2018-07-11 18:32] arouinfar commented on #60
I think the user makes a good point. The current implementation does not allow for simultaneous comparisons (except in the case of multitouch). I'm not sure if there's any pedagogical benefit snapping the slider thumb back to zero in this particular sim. @ariel-phet do you have any thoughts here?

[2018-07-11 20:03] KatieWoe opened #61 "Possible Legacy Bug With Energy Chunks"
Test device:
Dell Laptop
Operating System:
Windows 10
Browser:
Chrome 67.0.3396.99
Problem description:
For phetsims/QA/issues/141
On Java
When on the energy systems screen using the tea kettle to produce steam to move the wheel, Most of the energy chunks will be mechanical but some will remain thermal.  Unsure if this is a bug or intentional.
Steps to reproduce:
1. Go to the energy systems screen

[2018-07-11 20:59] KatieWoe opened #62 "Inconsistent Time to Light Lightbulb"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome 67.0.3396.99
**Problem description:**
For phetsims/QA#141
On Java
When on the energy systems screen the time it takes to see a change in the light bulbs or pot of water depends on if the Energy Symbols checkbox is marked.  Unsure if this is a bug or intentional
**Steps to reproduce:**
1. Go to the energy systems scre

[2018-07-11 22:21] chrisklus commented on #41
Added the textures back in for brick and iron.

[2018-07-11 22:21] #41 closed

[2018-07-11 22:31] chrisklus opened #63 "Create texture art for iron block"
I just added texture to the iron block from an image that is not open source, so we will have to create the artwork. Didn't see an open source image that looked nice enough. Just to be clear, we need art for just the texture, not a drawing of the whole block.

![image](https://user-images.githubusercontent.com/5618316/42602568-4fb5c0e4-8527-11e8-93c2-df1389a6eac0.png)

[2018-07-12 01:21] ariel-phet commented on #63
@arouinfar this seems pretty straightforward, but you might want to get some parameters from @chrisklus such as dimensions of the image needed.

[2018-07-12 14:55] chrisklus commented on #63
@arouinfar here are the dimensions of the brick textures, which i copied when testing iron.
front: 123 x 123
top: 160 x 48
right: 49 x 163

[2018-07-12 15:36] oliver-phet commented on #60
Another user just emailed phethelp:

[2018-07-12 19:51] JRomero0613 opened #64 "Right Side of Wheel Animation needs cleaning"
**Test Device:**
PC Laptop
**OS**
Windows 10 v. 1803
**Browser:**
Firefox v. 61.0.1
**Problem Description:**
For https://github.com/phetsims/QA/issues/141 on Java. The animation on the right side of the wheel when it is spinning is jumpy, this does not occur on the left side of the wheel. In order to see this the wheel must be spinning fairly quickly. @ariel-phet assigning you to delegate to prope

[2018-07-12 21:45] JRomero0613 commented on #62
While doing some testing I have noticed this same behavior. It is very noticeable when using the biker as well as the wheel to heat the water. When the energy symbols are not selected the water will steam before the rider runs out of energy, whereas heating the water with the energy symbols on will not steam before the rider needs to be fed.

[2018-07-12 22:40] arouinfar commented on #63
Thanks @chrisklus!

I experimented with some textures in Illustrator, and was able to come up with a reasonable brushed metal look, but it doesn't really fit in with the EFAC style.

![image](https://user-images.githubusercontent.com/8419308/42663111-74acd822-85f1-11e8-904d-ab5de32a1c54.png)

Here were some other iterations:
![image](https://user-images.githubusercontent.com/8419308/42663127-840b6

[2018-07-12 23:33] chrisklus commented on #57
Steam now shows on the first screen as well.

[2018-07-12 23:33] #57 closed

[2018-07-13 15:14] lmulhall-phet commented on #64
@JRomero0613, I'm guessing the wheel spinning animation is a code thing, not strictly a design thing, so I think I'm going to change the labels...

[2018-07-13 16:28] chrisklus commented on #58
A condition that was keeping energy chunks from wandering outside of an X-range was incorrectly setting a new position.

[2018-07-13 16:28] #58 closed

[2018-07-13 16:51] jbphet commented on #56
The issue is that there are three "classes" of energy system elements, producers, converters, and consumers, and the model doesn't know much about the details of each, so when water starts falling from the faucet (an energy producer), the wheel on the generator (an energy converter) gets the signal that energy is coming in, and it starts turning.

Two workarounds that come immediately to mind are

[2018-07-13 16:58] samreid commented on #56
I'll be facing the same problem in Wave Interference for the faucet.

[2018-07-13 17:00] chrisklus opened #65 "Floating energy chunks disappear before the top of screen"
When DevTools is open so that the sim has more of a vertical aspect ratio, the energy chunks that float away with the steam disappear before the top of the screen. This might look strange on something like the vertical sims demo screen that's being installed in the physics building.

[2018-07-13 17:38] jbphet commented on #59
They are currently images because they were in the Java sim, and this has so far been carried through to the port.  It was done this way originally because the images looked better than anything that could be drawn quickly in Java.

I think we should continue with this approach in JavaScript, because based on the performance we will likely need to create a canvas node that renders the energy chunk

[2018-07-13 17:45] jbphet commented on #59
@arouinfar - I'm not seeing the .ai file in the assets directory for EFAC.  It's probably time to put it there and work from that version on any future changes.  Once that's done, please assign to @chrisklus to update the energy chunks currently being used.  He and I will then check performance and decide whether a canvas is needed.

[2018-07-13 17:46] jbphet commented on #61
This is absolutely intentional, since the steam contains both thermal and mechanical energy.  Closing.

[2018-07-13 17:46] #61 closed

[2018-07-13 17:47] jbphet commented on #62
Unassigning for now.  We'll look into it on the HTML5 version when it is further along.

[2018-07-13 17:56] arouinfar commented on #59
Thanks for the clarification @jbphet, sounds like images are the way to go! My previous comment contains a link to the .ai file on Google Drive. There doesn't appear to be an assets directory for this sim yet.

[2018-07-13 18:19] jbphet commented on #64
Unassigning for now, will evaluate on HTML5 version when the port is further along.

[2018-07-13 18:33] jbphet commented on #59
I can create the directory and put the .ai file if needed, just say the word.  I haven't done it yet because I didn't want to end up in a situation where the one in Google Drive was being used *after* we'd added one to GitHub.

[2018-07-13 19:15] chrisklus commented on #56
@jbphet and I discussed the options he proposed and decided to delay the energy that comes from the faucet. The faucet energy is added to a queue and doesn't pop until the time delay has passed.

[2018-07-13 19:15] #56 closed

[2018-07-13 19:56] ariel-phet commented on #60
@arouinfar from the original design document interviews:

[2018-07-13 20:00] ariel-phet commented on #60
@arouinfar, we should discuss behavior...not sure what to do about the zeroing issue

[2018-07-13 20:23] chrisklus opened #66 "Exception is thrown when beaker is heated with block inside it"
There is a `.contains(` call throwing an exception when the beaker is heated with a block inside it. It was likely not changed when it was ported from Java.

[2018-07-13 20:35] chrisklus commented on #66
Replaced `contains()` with `containsPoint()`

[2018-07-13 20:35] #66 closed

[2018-07-16 16:57] arouinfar commented on #59
@jbphet can you create the assets directory? I can upload the .ai through the web interface, but it doesn't look I can create the directory.

Illustrator files can't be attached to GitHub comments, so I put the asset up on Drive to avoid an email. I can remove it once committed.

[2018-07-16 18:00] arouinfar commented on #60
@ariel-phet thanks for digging into the original design doc! I suppose I should have looked there first, but I'm not used to working on sims with much legacy documentation. :)

Sounds like this would be something good to talk about in design meeting. We have the original interviews up on Drive, so I may do a quick review and see how the interaction myself.

[2018-07-16 18:08] arouinfar commented on #56
That also sounds reasonable to me @jbphet @chrisklus!

[2018-07-17 19:47] jbphet commented on #59
I added the .ai file in 7838a39eea6a993916cdca050c0583121bd8ed0a, so the Google Drive version can now be safely deleted.

[2018-07-17 21:55] KatieWoe opened #67 "Thermometers Will Attach to Water"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome 67.0.3396.99
**Problem description:**
For phetsims/QA#141
On Java
The water can unintentionally pick up thermometers in the Intro Screen.  The thermometers can easily be removed.  This does not seem to occur with the Steel or the Brick.
**Steps to reproduce:**

1. Go to the intro screen
2. Remove a thermometer and pl

[2018-07-17 21:55] KatieWoe commented on #67
Sorry about any earlier confusion.  I was trying to post while github was down.

[2018-07-18 15:37] jbphet commented on #67
Since this is a legacy bug, I'm going to unassign it and will test on the HTML5 version when it is a bit further along.

[2018-07-18 16:00] chrisklus commented on #59
Provided .pngs have been committed.

[2018-07-18 16:00] #59 closed

[2018-07-18 16:16] JRomero0613 commented on #64
I know that we have unassigned until the HTML5 version is ready for testing, but in testing I have noticed that the left side of the wheel animation is also jumpy when using the wheel with the water pump.

[2018-07-18 22:35] KatieWoe opened #68 "Overlapping Water and Blocks"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome 67.0.3396.99
**Problem description:**
For phetsims/QA#141
On Java
May be related to energy-forms-and-changes/issues/4
The water container can overlap with the iron or the brick blocks in the intro screen.  This can be difficult to reproduce.  Most of the time the water teleports to be on top of the blocks, instead of

[2018-07-20 00:13] chrisklus commented on #38
The above commit fixed the leaking energy chunk nodes so that their number matches the number of energy chunks in the model. And, after reseting the sim, there is no difference between the number of these nodes from when the sim initially loads. Currently, after one minute of fuzz testing, the memory usage increases by ~3 MB compared to the ~14 in @jbphet's initial test.

[2018-07-20 19:44] JRomero0613 opened #69 "Blocks can be dragged under burner/cooler"
**Platforms:**
PC Laptop and MacBook Pro
**Operating Systems:**
Win 10 v. 1803.17134.165 and MacOS X El Capitan v. 10.11.6
**Browsers:**
Chrome, Edge, Firefox, Safari, Explorer
**Problem Description:**
As the title says blocks can be dragged under the burner/cooler. <s>I have yet to find the exact conditions required to have this bug occur but is</s> occurs more often when multiple other objects a

[2018-07-20 20:40] lmulhall-phet commented on #69
I have also seen this. Not sure how to reproduce, so let's work on figuring that out.

[2018-07-20 21:29] JRomero0613 opened #70 "Placing block under beaker makes it go into beaker"
**Platforms:**
PC Laptop and MacBook Pro
**Operating Systems:**
Win 10 v. 1803.17134.165 and MacOS X El Capitan v. 10.11.6
**Browsers:**
Chrome, Edge, Firefox, Safari, Explorer
**Problem Description:**
Sorry for the vague title but this issue is quite hard to put into words. When on the intro screen when the water beaker has been placed on top of one block and that stack has been placed on a burne

[2018-07-20 22:50] chrisklus commented on #44
@jbphet and I investigated this and decided to close without a fix. With the current nature of the layering, it would not be possible to have the energy chunks go behind the front of the burner stand and also have the beaker and blocks look right when sitting on the burner stand. The air node would have to be split up and energy chunks would need to transfer between layers.

[2018-07-20 22:50] #44 closed

[2018-07-20 23:27] chrisklus commented on #38
I ran another test in the same way that the first test was run. The results are listed below and are promising. It seems likely that the major memory leak is fixed, but I am going to look carefully through the heap for any other problems that would be possible to solve before closing.

| Test | Memory Usage (MB) |
| --- | --- |
| Immediately after load | 35.2 |
| After visiting each page | 36.6 |

[2018-07-23 15:36] KatieWoe commented on #68
Update:
After playing around with this bug I have a few corrections to the steps to reproduce.
1. Go to the intro screen
2. Stack the brick on top of the iron (or the other way around)
3. Place the stacked blocks on the burner to the left.
4. Try to drag the water to the other side of the stack.  You will not be able to
5. While still trying to drag the water, let go.  The water should overlap wit

[2018-07-23 23:35] chrisklus opened #71 "Changing energy user type disable energy chunks toggle"
@jbphet and I were testing memory usage and noticed that if the energy chunks toggle is turned on for the second screen, when the energy user type is changed, the toggle is disabled.

[2018-07-24 16:42] chrisklus commented on #38
Here is the current test results after making a few more fixes to memory leaks. It looks like the major memory leak has been fixed, so @jbphet and I have decided to close.

| Test | Memory Usage (MB) |
| --- | --- |
| Immediately after load | 35.2 |
| After visiting each page | 36.2 |
| After 1 min of fuzz | 40.2 |
| After 2 min of fuzz | 42.0 |
| After 3 min of fuzz | 41.9 |
| After 4 min of fuzz

[2018-07-24 16:42] #38 closed

[2018-07-26 00:53] ariel-phet commented on #70
@jbphet since EFAC is a port, it would be good to watch out for this bug

[2018-07-26 00:58] ariel-phet commented on #69
@lmulhall-phet @JRomero0613 ( @phet-steele if up to the challenge) please see if you can find reproducible steps. If some reproducible steps are found, please assign the issue to @jbphet to be aware of as he works on the HTML5 port

[2018-07-26 01:35] phet-steele commented on #69
@ariel-phet @lmulhall-phet @JRomero0613 @jbphet I went ahead and put the steps in the original post. I couldn't repro this in the current iteration of the HTML5 port by following these steps, but I would hedge and say some set of other steps could cause it.

[2018-07-26 01:57] ariel-phet commented on #69
Nice work @phet-steele !

@jbphet would be good to be on the lookout for this bug in the port.

[2018-07-26 23:09] chrisklus commented on #71
`RectangularThermalMovableModelElement` was resetting the energy chunks visibility property in its own reset function, so I removed it with @jbphet

[2018-07-26 23:09] #71 closed

[2018-07-26 23:45] chrisklus commented on #65
@jbphet and I extended the range of the air for the energy chunks.

[2018-07-26 23:45] #65 closed

[2018-07-27 16:32] jbphet commented on #70
Yes, that does look like problematic behavior.  I just tried it on the current master version of the sim, and I don't see the issue, but we will keep an eye out for it as the port progresses.  I'm going to unassign for now, and will assign once the port is closer to needed a dev or RC test.

[2018-07-27 16:49] jbphet commented on #69
Will do.  I just tested on the master version and the problem is not occurring.  Also, we've been discussing having set places where the blocks and beakers can be put down for other, unrelated reasons, but that would likely prevent this issue.  Unassigning for now, will test when the sim is closer to dev or RC testing.

[2018-07-27 17:31] jbphet opened #72 "Add snap-to locations for the table"
In #39 we have been requested to add a 2nd beaker.  However, we decided that we can't allow stacking of beakers on top of each other.  In support of this, we have decided to add a set of four snap-to locations where the blocks and beakers can go that will guarantee that there is always a place where a beaker can land if the user tries to stack them.  The behavior will look much like dropping objec

[2018-07-27 22:23] chrisklus commented on #72
@jbphet and I have added snap-to spots on the ground.

[2018-07-30 18:51] jbphet opened #73 "Move thermometers back in the z-order when in the holding area"
On the current master version, it's possible to do this:

![image](https://user-images.githubusercontent.com/3082831/43416830-98d4a62c-93f6-11e8-83df-c08ee1a946f2.png)

The thermometers need to be on a high-z plane when outside of the toolbox so that they are in front of the blocks and the beaker(s).  However, when in the toolbox, the thermometers should be behind the blocks and beaker(s) in the z

[2018-07-31 17:45] chrisklus commented on #73
@jbphet and I fixed this together, closing.

[2018-07-31 17:45] #73 closed

[2018-07-31 19:04] jbphet commented on #47
Because of the usage of images in the model, the built versions are not working correctly.  That's because the model code is trying to derive information from the images before they are in a condition where this is possible.  This increases the priority of addressing this issue.

Some of the problems that we are seeing in dev versions, such as https://phet-dev.colorado.edu/html/energy-forms-and-ch

[2018-08-03 18:19] jbphet commented on #63
@arouinfar - it sounds like the fan blades are close.  Time to assign this one the to graphic artist?

[2018-08-06 18:03] arouinfar commented on #63
@jbphet I'd like to hold off on this task until the artwork for Wave Interference has been completed, since that artwork has a greater impact on implementation. If you'd like to experiment with the brushed metal look, I've exported the images at the dimensions specified by @chrisklus. However, I didn't adjust the gradients for the top/side, so it'll likely look a bit funky.

![iron_block_front](ht

[2018-08-06 18:34] jbphet commented on #42
Here's a screenshot of a Chrome "flame chart" that shows an animation frame taking 56ms, or roughly 3.5x too long:

![image](https://user-images.githubusercontent.com/3082831/43734469-17ce0382-9975-11e8-8c5e-d70f92a117f0.png)

[2018-08-07 20:56] chrisklus commented on #47
All images have been moved from the model to the view, and `EFACModelImage` and `EFACModelImageNode` are no longer used, so they've been deleted.

The problems mentioned above https://github.com/phetsims/energy-forms-and-changes/issues/47#issuecomment-409332818 have been fixed in the sim's built version. There was also another problem where the energy chunks disappeared when arriving to the beaker

[2018-08-09 02:03] chrisklus commented on #42
I changed two `containsPoint` to `containsCoordinates` and saw a pretty significant performance increase. The first occurrence was in `updatePositions`, which did not show much improvement (maybe 1-3 fps), but second was in `computeForces` and helped a lot. I ran a few tests and found that on my machine (same as listed in https://github.com/phetsims/energy-forms-and-changes/issues/42#issuecomment-

[2018-08-11 00:17] chrisklus commented on #42
With the refactoring of computeEdgeForces and pooling of Vector2's throughout `EnergyChunkDistributor`, the sim now runs at 60 fps while the energy chunks are being heated in the beaker (until the steam comes on, then it drops to ~46 fps). @jbphet and I are going to look at migrating the steam to a canvas drawing next.

[2018-08-13 05:10] chrisklus commented on #72
I fixed a bug for this change where elements could be dragged to any x-coordinate without snapping to one of the designated spots if they weren't lifted off the ground. @jbphet please review at your convenience.

[2018-08-13 16:10] chrisklus commented on #63
I tested them out, looking good @arouinfar!

![image](https://user-images.githubusercontent.com/5618316/44043827-08d9a00e-9ee1-11e8-9b77-9f56c127d831.png)

[2018-08-13 17:40] arouinfar commented on #63
Thanks @chrisklus, it's looking pretty good!

@ariel-phet what do you think? Cheryl has a bit of a backlog between the fan and Wave Interference work, so it might be awhile before she gets to the iron texture. So in the meantime @chrisklus implemented the  brushed texture I experimented with. It looks reasonable to to me, but if we want a more cast iron type of texture, we can still have Cheryl wo

[2018-08-13 18:58] ariel-phet commented on #63
@arouinfar I think that looks pretty good. I would say lets roll with that for the moment. Closing.

[2018-08-13 19:01] arouinfar commented on #63
Thanks @ariel-phet. I don't think @chrisklus committed the changes, so I'm going to reopen and assign to him.

[2018-08-13 19:15] chrisklus commented on #63
I committed the images and updated the license, closing.

[2018-08-13 19:15] #63 closed

[2018-08-13 19:33] chrisklus commented on #51
@jbphet I just ran a few tests and this seems to be down to about half a second on Chrome on my MBP. I would expect it to be the same or faster on your machine.

[2018-08-16 22:18] chrisklus commented on #7
@ariel-phet I'm looking at making this change, but just wanted to make sure your comment is still accurate since this was four years ago.

For clarification:

![image](https://user-images.githubusercontent.com/5618316/44237916-aebf1400-a16f-11e8-9cc4-c15458df554e.png)

The red line is the current energy chunk path and yellow is my interpretation of your decision.

[2018-08-17 20:35] chrisklus commented on #7
The path now follows the above description, closing.

[2018-08-17 20:35] #7 closed

[2018-08-22 02:54] chrisklus opened #74 "Falling water on second screen slows performance"
@jbphet and I notice that the falling water on the second screen slows down the sim significantly. On my 2014 Macbook Pro OS 10.12.5, the sim idles at 60 fps and then drops to about 33 fps when the faucet is turned on. Our plan is to migrate the water drops from nodes to canvas drawings.

[2018-08-22 23:15] arouinfar commented on #40
@jbphet @chrisklus the graphic artist has created 10 frames which can be looped to animate the fan's rotation. Here are the assets for each frame.

The corresponding .ai file can be found in the commit above. Please let me know if you would also like me to commit these images.

[fan-1.png](https://user-images.githubusercontent.com/8419308/44495718-5afc7100-a62e-11e8-80a7-526d32e6ca10.png)
[fan-2.p

[2018-08-23 18:10] chrisklus commented on #74
I've updated the water drops to be canvas drawings. While performance testing on my machine is not consistent, I'm now seeing about 44 fps when the faucet is running. I will do some profiling on iPads to check their improvements as well.

@jbphet please review at your convenience. It might be beneficial to hear about this performance on your machine as well.

[2018-08-23 21:18] jbphet commented on #74
I profiled on my Dell XPS Win 10 machine, and configured the sim maximum flow, wheel generator turning, and incandescent light bulb, as shown here:

https://github.com/phetsims/energy-forms-and-changes/issues/74
![image](https://user-images.githubusercontent.com/3082831/44552306-1aacf980-a6e7-11e8-9623-4f3229fcf459.png)

I used the primary screen of my laptop and set the browser to take up the ful

[2018-08-23 21:32] jbphet commented on #74
For the most part, this looks great.  Here is some minor feedback:

+ The header comment for `FallingWaterCanvasNode` should mention that this type exists in order to improve rendering performance over regular Scenery nodes
+ There is a line where the height is set using a width value and an X transform that looks suspicious (if it's correct, it should be explained in the comments):
[code]
+ The `

[2018-08-23 21:47] jbphet commented on #72
My only input is that the two constants that define the edges for the left and right edges look like "magic numbers" and should be explained in the comments.

[2018-08-24 22:31] chrisklus commented on #74
@jbphet thanks for reviewing. I've made your suggested changes. Assigning back for review.

[2018-08-24 22:32] chrisklus commented on #74
Just kidding, closing.

[2018-08-24 22:32] #74 closed

[2018-08-27 16:42] jbphet opened #75 "Optimize energy chunk performance"
Profiling has shown that positioning and rendering of the energy chunks is pretty expensive, we need to investigate how to improve the performance of this portion of the sim.  One possibility is to use a canvas, but that may prove problematic due to the use of layering.

[2018-08-27 17:18] jbphet commented on #75
So that we have a baseline against which to compare, I'm gathering some data on performance on my Dell XPS running Windows 10.  When I do this at full screen on the main display, I'm currently seeing around 38 FPS when showing the sun (which creates a lot of energy chunks) and the beaker (which contains a lot of energy chunks).  Note that the conversion from light to electrical energy on the solar

[2018-08-27 19:06] arouinfar commented on #40
@chrisklus @jbphet The artist has also created a front-view of the fan to be used in the scene-selection button.

[fan-icon.png](https://user-images.githubusercontent.com/8419308/44678543-d88cfc00-a9f5-11e8-860b-97192e3674eb.png)
![fan-icon.png](https://user-images.githubusercontent.com/8419308/44678543-d88cfc00-a9f5-11e8-860b-97192e3674eb.png)

The front-view of the fan should live in the same .a

[2018-08-28 19:32] jbphet opened #76 "Add a fan/propeller as an energy user on the "Energy Systems" screen"
We've been asked to add a fan or propeller to the Energy Systems screen to demonstrate mechanical energy.  The artwork for this has been created, see https://github.com/phetsims/tasks/issues/938.

[2018-08-29 23:40] chrisklus commented on #75
The clouds' ellipses are now only drawn when their position changes, and the energy chunk image nodes are only created on initialization, instead of every time a new chunk is needed.

Before these changes, on the iPad Air 2, the sim was running at 18 fps when the sun was showing with energy chunks coming out of it. After making the cloud change, it ran at 29-33 fps, and after the image node change

[2018-08-30 20:01] chrisklus commented on #34
I'm investigating weird energy chunk behavior on the second screen, so I'll use this issue as a starting point. To clarify, it looks like the transfer of energy chunks from the beaker heater to the beaker happens normally, but violent movements are being caused by external chunks appearing to the right of the beaker and then snapping in at a high velocity. If we figure out how to stop those extra

[2018-08-30 20:14] chrisklus commented on #34
On further investigation, it looks like the chunks that are coming into the beaker from the heater are stable for a short while, but before settling out in the fluid, they are teleported a ways to the right of the the beaker, then fly back towards the beaker, and then when they get close, they are teleported right outside the bottom right corner of the beaker, and then float up and away. It is a v

[2018-09-06 14:38] KatieWoe opened #77 "CT: unacceptable license entry"
[code]

[2018-09-06 16:26] chrisklus commented on #77
Thanks @KatieWoe, I added the fan energy user last night and haven't updated the license for those images yet so I'll do that today.

[2018-09-06 16:28] arouinfar commented on #77
@chrisklus the artist you should credit for those is Cheryl McCutchan.

[2018-09-06 16:30] chrisklus commented on #77
Gotcha, thanks much @arouinfar

[2018-09-06 17:02] samreid opened #78 "Image compression/reduction"
This simulation has more data in images/ than most simulations, currently weighing in at 1.2MB.  This will lead to longer download times and longer startup times.  Should we investigate smaller images, or a tool like https://github.com/chrissimpkins/Crunch/ to perform PNG compression?

[2018-09-06 17:31] chrisklus commented on #77
License entries have been pushed - I'll close this issue once I see that CT is happy again.

[2018-09-06 17:36] chrisklus commented on #77
I missed one and it looks like there might be other issues too. I'll investigate.

[2018-09-06 18:54] chrisklus commented on #77
CT's green, closing.

[2018-09-06 18:54] #77 closed

[2018-09-06 21:20] chrisklus commented on #40
@arouinfar I've committed the new fan.ai file with the fan icon to the assets folder for this sim.

Also, @jbphet and I realized we accidentally created a duplicate issue for the fan, https://github.com/phetsims/energy-forms-and-changes/issues/76, so we are going to close this one and link it to that, since the code commits have been started there.

[2018-09-06 21:20] #40 closed

[2018-09-07 20:44] arouinfar commented on #76
@chrisklus and I met today to review/discuss the fan implementation.

The fan is in place and is functional, but there is some pixel-polishing to do.
* Fan is too far to the right, so remove the extra horizontal wire leaving from the energy converter.
* Update elbow wire asset so gradient matches up
* Fan hub has a slight wobble due to misaligned assets, so I will track down the problematic frame(

[2018-09-08 00:03] chrisklus commented on #76
Thanks for the notes, @arouinfar. I've implemented the details we discussed above. The only other thing i added was to make sure that the fan is running at half speed or higher in order for the 10% chance for thermal instead of mechanical to occur. So currently, given a steady stream of chunks coming into the motor, the first two won't have a chance of becoming thermal.

[2018-09-11 16:07] arouinfar opened #79 "Energy System Element Selector Pixel Polishing"
It's time to think about how to clean up the energy source/converter/consumer selection buttons. Here's what they currently look like:

![image](https://user-images.githubusercontent.com/8419308/45328212-276b8300-b518-11e8-9943-268a2e79ecaf.png)

General polishes
* All selection options 50x50 px.
* Within each group, equal padding between options (mockups below show 15 px padding).
* Converter but

[2018-09-11 17:27] chrisklus opened #80 "Released energy chunks from biker are too far apart"
The water faucet, tea kettle, and sun all put out energy chunks that are similarly close together, which allow them to consistently power the energy users (since when energy chunks are on, the users are powered by energy chunks in close proximity to the user).

![image](https://user-images.githubusercontent.com/5618316/45374925-bf1cb000-b5b0-11e8-8775-ee85a18a40b0.png)

But, the energy chunks from

[2018-09-11 17:37] chrisklus opened #81 "Add new artwork for biker"
@arouinfar we can add and commit new images for the biker here.

[2018-09-11 19:50] chrisklus commented on #80
This appears to have been a porting issue and has been fixed, closing.

[2018-09-11 19:50] #80 closed

[2018-09-11 20:02] chrisklus opened #82 "Emitted energy chunks on second screen are not removed"
Energy chunks that are emitted from energy users like the lightbulbs and fan are not removed when their path is complete. As a result, a pretty cool energy barrier is created up in the sky, shown below. I will investigate.

![image](https://user-images.githubusercontent.com/5618316/45384378-1af43280-b5cb-11e8-8c4e-aeb762d4f321.png)

[2018-09-11 21:48] chrisklus commented on #82
Fixed port issue, closing.

[2018-09-11 21:48] #82 closed

[2018-09-11 21:51] #72 closed

[2018-09-12 02:42] ariel-phet commented on #79
@arouinfar seeing things in context, agreed the panel is nice. I personally like option (4) the best.

[2018-09-12 17:41] arouinfar commented on #79
Thanks @ariel-phet, option (4) it is!
![image](https://user-images.githubusercontent.com/8419308/45440190-e2129700-b678-11e8-9088-823de7952c19.png)

@chrisklus here are the tweaks we'd like to make. All px values are specified with respect to the standard sim resolution on an iPad (1024 x 762).

- [ ] All selection options 50x50 px
- [ ] Within each group, equal padding between options (let's try

[2018-09-13 17:16] chrisklus commented on #79
Sorry i missed this notification yesterday, looks really nice @arouinfar! I'll implement these changes this afternoon.

[2018-09-14 00:50] chrisklus commented on #79
@arouinfar I think pixels and screen coordinates are close but not quite the same, so I did my best to match the spacing and margins of your mockup. Note the panel below the generator is the same overall width (~width of the generator window), so that was my baseline.

There was a little funkiness with the buttons (whole button images were being created and then passed into RadioButtonGroup) which

[2018-09-14 18:43] chrisklus commented on #39
The internet is telling @jbphet and I that olive oil starts to smoke around 200 degrees C and boils at 300 degrees C. Currently, the thermometers go up to 100 C so that when they max out, the water starts to steam. @ariel-phet do you think we would want to let the olive oil to get hot enough steam given the current temperature range?

[2018-09-15 02:30] chrisklus commented on #39
@jbphet please review my implementation so far. Besides the collision logic that we talked about (which I haven't started on yet), things went pretty smoothly.

[2018-09-17 16:55] KatieWoe opened #83 "CT: New beaker problems"
[code]

[2018-09-17 17:05] chrisklus commented on #83
Thanks @KatieWoe. I suspect this has to do with the lack of collision rules for the new olive oil beaker, so I'm going to keep working on those and then will try some more fuzz testing afterwards.

[2018-09-18 04:27] ariel-phet commented on #39
@chrisklus please work with @arouinfar on the thermometer question. My personal opinion would be to now have the thermometers "max out" at 300 degrees.

However, if you put water and leave the heat on, I would just have things stay at 100 degrees. Since you are boiling the water, it is reasonable for it to just sit at 100 degrees even with the heater full on and not get higher.

Heat capacity of w

[2018-09-19 00:40] chrisklus commented on #83
Despite being in better shape than before, fuzz testing is revealing this error on the first screen:

[code]

I expect this will continue to break CT, so I will continue trying to fix this as soon as possible. I'm unable to reproduce the problem without fuzz testing yet, so that makes things tricky. I'll keep tracking my progress here.

[2018-09-19 01:03] chrisklus opened #84 "Major problem with built version of both screens"
When attempting to run a built version of the sim, almost nothing loads on either screen and the following error occurs:

[code]

After a little investigation, it's not obvious to me what's happening, so @jbphet and I should further investigate soon.

![image](https://user-images.githubusercontent.com/5618316/45724917-84e57c80-bb75-11e8-9233-39faf256e7e1.png)

[2018-09-19 21:09] chrisklus commented on #84
A while ago, @jbphet and I moved the creation of energy chunk image nodes before the constructor in `EnergyChunkNode.js` so that a they weren't being created every time a new `EnergyChunkNode` is needed, which happens often in the case of the sun on the second screen.

We discovered that the cause of this Github issue was because of this modification, as it looks like the images were not being dec

[2018-09-20 00:03] arouinfar commented on #76
@chrisklus I know I still owe you a few assets, and I'm hoping to get those to you by the end of the week.

The energy chunk animation is looking great! The only thing I've noticed is that occasionally I'll end up 2 thermal chunks closely spaced followed by a longish gap until the next one. For example, I might see something like:

8 Mechanical - 1 Thermal - 2 Mechanical - 1 Thermal - 24 Mechanica

[2018-09-20 00:08] arouinfar commented on #39
@ariel-phet has made some great suggestions, which all sound very reasonable. Let's give that a try.

@chrisklus I took a look at master today, and the heating/cooling behavior of the olive oil is looking good! I'd like to review again once you finish implementation.

[2018-09-20 05:51] jonathanolson commented on #84
Yes, that seems accurate.

As a potential alternative, it's possible to specify the initialWidth and initialHeight (on a Scenery Image) so that it can have the correct bounds BEFORE the image has loaded. This way the layout code probably would work.

[2018-09-20 17:12] chrisklus commented on #83
The first assertion no longer shows up, and @jbphet and I got the first screen to a state where the second assertion doesn't occur in the wild (and if it does, the sim doesn't crash), so we removed it since fuzz testing was still able to hit it sometimes. As noted in the code, if `modelElement` interaction development is revisited, the assertion should be turned back on. CT is green, closing.

[2018-09-20 17:12] #83 closed

[2018-09-25 20:40] chrisklus opened #85 "Used thermometers return to beakers after reset"
If a thermometer is used on either of the beakers and then the sim is reset, the thermometer will jump back to its respective beaker after the beaker has been grabbed again.

[2018-09-26 00:00] chrisklus commented on #85
@jbphet and I figured out that detection for the special case where a block falls into a beaker and bumps out the thermometer was firing when `reset()` was being called on the sensors. We did not fully understand why that was causing the sensors to jump back to that spot on the beaker when the beaker was grabbed, but adding to the guard for that special case fixed the problem.

[2018-09-26 00:00] #85 closed

[2018-09-28 17:10] chrisklus commented on #39
Ready for review @arouinfar.

The performance is a little slower on now because of the extra collision/falling to surface logic from adding another movable element, so @jbphet and I will address that at some point. Also, the positioning of the energy chunks in their containers is still a little off.

[2018-09-28 17:31] chrisklus commented on #76
@arouinfar yes that is a result of the randomness, and I agree that it looks a little odd. Should i make it a more consistent 9 Mechanical - 1 Thermal - 9 Mechanical - 1 Thermal?

I'm also going to transition to a better system for giving the fan inertia. Currently, when chunks are turned on, it loses speed in a nice way, but there are only two speeds (half -> full) when it accelerates from chunks

[2018-10-03 21:38] chrisklus commented on #49
HorizontalSurface is now mutable. Each model element creates its surfaces once on initialization, and then the position of those surfaces changes along with the position of the model element as its dragged or dropped. @jbphet please review.

[2018-10-03 22:31] chrisklus commented on #51
Reset is still quite fast, closing.

[2018-10-03 22:31] #51 closed

[2018-10-03 22:42] chrisklus commented on #70
This does not happen in the HTML5 sim and the refactor to fallToSurface() in https://github.com/phetsims/energy-forms-and-changes/issues/39 made the first screen more robust to issues like these, closing.

[2018-10-03 22:42] #70 closed

[2018-10-03 22:48] chrisklus commented on #69
This does not currently happen on the master version and the refactor to fallToSurface() in https://github.com/phetsims/energy-forms-and-changes/issues/39 made the first screen more robust to issues like these, closing.

[2018-10-03 22:48] #69 closed

[2018-10-03 22:59] chrisklus commented on #68
This does not currently happen on the master version and the refactor to fallToSurface() in #39 made the first screen more robust to issues like these, closing.

[2018-10-03 22:59] #68 closed

[2018-10-03 23:02] chrisklus commented on #67
This still happens on the master version. Note that the thermometers don't have to be out in the open to be picked up - they can be collected by a beaker from the thermometer bank as well.

[2018-10-03 23:11] chrisklus opened #86 "Water faucet is broken after carousel change"
After switching from the water faucet to another energy source and then back, the faucet energy transfer works correctly, but the falling water animation no longer appears and the water falling from the first use still remains.

![image](https://user-images.githubusercontent.com/5618316/46444353-cf96f500-c72e-11e8-91a3-faa4e626458a.png)

[2018-10-04 00:30] chrisklus opened #87 "Second screen has one significant stall"
The second screen consistently stalls between 3-15 seconds into interacting with the sim for about a second, and then runs smoothly for the rest of use. I've done some profiling to capture the moment and it's pretty strange compared to other performance issues I've seen. There is nothing being reported by the profiler that would be causing lag - it's just whitespace.

The first screenshot shows th

[2018-10-04 00:37] chrisklus commented on #64
This wheel animation is very smooth on master, aside from a big stall of the whole screen that's being addressed in https://github.com/phetsims/energy-forms-and-changes/issues/87. Closing.

[2018-10-04 00:37] #64 closed

[2018-10-04 01:11] jonathanolson commented on #87
I haven't seen anything particularly like this, could be caused by a lot of things. Have you tried profiling in Firefox to see if its tools give more insight?

[2018-10-04 20:37] chrisklus commented on #1
Currently on master, a grabbed thermometer does not jump in front of the other thermometers, but they all move in front of any element they're sensing, which @jbphet and I are happy with. So, in contrast to the example above, all of the thermometers move to the outside of the beaker when dragged with a block into the beaker. Closing.

[2018-10-04 20:37] #1 closed, assigned to chrisklus

[2018-10-04 21:05] chrisklus commented on #3
Currently on master, there is plenty of room to drag a block into a beaker when the beaker is on another block on the burner.

@jbphet and I discussed the issue shown in the second comment because it is still present in the HTML5 sim. We've decided to leave it for now and address later if we feel the need. There would be more loops needed in `constrainPositions()` to check the bounds of each model

[2018-10-04 21:11] chrisklus commented on #4
This is the same as https://github.com/phetsims/energy-forms-and-changes/issues/69 and has been resolved, closing.

[2018-10-04 21:11] #4 closed

[2018-10-04 21:22] #5 closed, assigned to chrisklus

[2018-10-04 21:40] chrisklus commented on #62
@KatieWoe this is intentional, and the HTML5 sim works the same way. When energy chunks are off, the system works as we might expect it to in real life (as soon as the generator wheel starts turning, the lightbulb receives electricity immediately and is illuminated). But when chunks are on, we want to watch the energy move through the system and change forms at a pace that's much easier to follow,

[2018-10-04 21:40] #62 closed

[2018-10-04 21:51] chrisklus opened #88 "Energy chunks expand out of their containers"
When fuzz testing the first screen, energy chunks tend to expand out of their containers into a tall column after a little while. I will investigate.

![image](https://user-images.githubusercontent.com/5618316/46505130-54e0df00-c7ed-11e8-9f25-01e8931cb618.png)

[2018-10-04 22:28] chrisklus opened #89 "Beaker fluid level calculation can be optimized"
Discovered while investigating https://github.com/phetsims/energy-forms-and-changes/issues/88.

In EFACIntroModel, the bounds of both blocks are passed into `updateFluidLevel()` for both beakers every step to detect if they are somewhere inside the beaker. `updateFluidLevel()` recalculates the fluid level and the shape of every slice in the beaker, so this should probably be optimized so that it's

[2018-10-09 16:28] chrisklus commented on #88
Fixed, closing.

[2018-10-09 16:28] #88 closed

[2018-10-09 17:40] chrisklus commented on #87
@jonathanolson had me do some more in-depth profiling with the chrome tracer, and it revealed that some GPU stuff is happening.

![image](https://user-images.githubusercontent.com/5618316/46686294-12d0e800-cbb5-11e8-9f50-30a9fe03ddb4.png)

@jonathanolson hypothesizes that the sim is using onboard graphics for a few seconds before realizing that it needs the dedicated graphics card, and the stall i

[2018-10-09 18:02] samreid commented on #87
The symptom I saw was when starting a webgl sim, I saw a 500-1000ms flicker, where the entire computer screen goes black.  The same happens when ending the webgl sim.

[2018-10-12 17:56] chrisklus commented on #81
^ Unrelated to artwork but there aren't really any issues for the biker and this fix was very small.

[2018-10-12 18:43] chrisklus commented on #86
Fixed. The deactivate method in FaucetAndWater was creating a new array for `waterDrops` instead of clearing it, so FallingWaterCanvasNode no longer had a reference to the real `waterDrops`. Closing.

[2018-10-12 18:43] #86 closed

[2018-10-15 23:42] chrisklus opened #90 "Fix solar panel implementation with chunks on"
The solar panel doesn't work when energy chunks are turned on (no energy is received by the converter to power a user and chunks pass over the panel without converting to electrical). I'm going to investigate what else needs to be done to get it working.

[2018-10-15 23:56] chrisklus commented on #90
So far I've put the solar panel absorption shape in approximately the right place, fixed a bug that determines the speed of a chunk when it starts moving on the solar panel (so the chunks arrive to the energy user wire in a nicely spaced way), and fixed a few other things to get this working.

However, I haven't figured out how to get the absorption shape to show up in the right place in the view

[2018-10-16 16:50] chrisklus commented on #76
I gave the fan inertia so it's pretty smooth now. Every chunk gives it a little boost of energy instead of the set speed increments from before, and it slows to a stop when switching out the energy source or converter.

I also went ahead and implemented the thermal chunk pattern from https://github.com/phetsims/energy-forms-and-changes/issues/76#issuecomment-425509713. I also addressed the case wh

[2018-10-16 17:55] arouinfar commented on #76
@chrisklus I've redrawn the wires in Illustrator and have fixed the mismatched gradient. I've also fixed the wobble in the fan, and re-exported the artwork. The new assets are temporarily housed on Drive:
https://drive.google.com/drive/folders/0B6CMwxdP0NGYVDFaVURCMUREd28

@chrisklus and I spoke a bit about the efficiency, and we'll go ahead and move that discussion to a separate issue.

[2018-10-16 19:19] arouinfar commented on #79
@chrisklus the panel color and layout is looking good! I would like to see a consistent  panel border across the sim. Let's try a thin, dark gray stroke.

[2018-10-16 19:59] arouinfar commented on #39
@chrisklus the behavior is looking great! Compared to water, olive oil takes about half as long to heat up, and loses its heat about twice as fast. This makes sense, given its specific heat is half of water's.

The one thing I'm not quite sure about is the initial distribution of energy chunks. I would expect olive oil to have about half as many chunks, but it appears to have maybe 60-70% fewer ch

[2018-10-16 20:41] chrisklus commented on #39
@arouinfar thanks for reviewing.

Haha yes, my apologies for not mentioning this before. This is a known issue that @jbphet and I have not investigated yet. We think something is wrong with the water beaker on the first screen, because on the second screen, the water beaker has 14 chunks in it, which is a correct ratio to the olive oil beaker with 8 chunks. So we don't think the issue is related t

[2018-10-16 20:46] arouinfar commented on #39
Thanks for the clarification @chrisklus! I don't think there's anything else we need to do for this issue, then.

[2018-10-16 20:46] #39 closed

[2018-10-16 21:05] chrisklus commented on #79
The borders are a darker gray and a little thinner. Feel free to close if all looks good.

[2018-10-16 21:09] arouinfar commented on #79
Looking good @chrisklus. Can you update the clouds and cyclist slider panel borders to match?

![image](https://user-images.githubusercontent.com/8419308/47047678-70d17280-d155-11e8-811b-60cb34b1f956.png)

![image](https://user-images.githubusercontent.com/8419308/47047665-67480a80-d155-11e8-9773-5049c8ef5cff.png)

[2018-10-16 21:41] arouinfar commented on #79
Nice catch @chrisklus!

The corner radii on the 2nd screen generally look great, especially in the radio groups.
![image](https://user-images.githubusercontent.com/8419308/47048896-f9054700-d158-11e8-8fc5-36fe8a119bb1.png)

However, it feels kinda tight on Energy Symbols, though I realize these corner radii are probably the same.
![image](https://user-images.githubusercontent.com/8419308/47048914-

[2018-10-17 02:34] chrisklus commented on #79
@arouinfar excellent thought, I completely agree! I've added a second constant for the energy symbols panel corner radius, and set everything else to the more rounded constant.

[2018-10-17 04:20] chrisklus opened #91 "Add new wire artwork"
@arouinfar has created some nice new wires for the different energy users, so i'll add and integrate them here. The reason for this was to fix the mismatching gradient that came from flipping one of the original wire images for the fan, see https://github.com/phetsims/energy-forms-and-changes/issues/76

[2018-10-17 05:49] chrisklus commented on #76
Thanks @arouinfar! The fan animation is looking really smooth, nice work. I added and integrated the new wires over in #91.

[2018-10-17 05:53] chrisklus commented on #91
@arouinfar the wires are looking quite slick!

Since I had to tweak the positions of the wires and energy users attached to them, I'll need to slightly adjust the paths of the flowing energy chunks to match before closing.

[2018-10-17 13:49] arouinfar commented on #91
The wires look great @chrisklus!

[2018-10-17 13:52] arouinfar commented on #79
Looks awesome, thanks!

[2018-10-17 13:52] #79 closed

[2018-10-18 20:41] chrisklus commented on #91
The energy chunk paths have been updated to match the new wires. Closing.

[2018-10-18 20:41] #91 closed

[2018-10-18 21:34] chrisklus opened #92 "Discuss efficiency of energy converters/users"
@arouinfar and I have had some questions regarding the efficiency of various energy converters and users. @arouinfar has clarified for me that our goal is not necessarily to match the exact efficiency of each element, but to get within a ballpark range and show that nothing is perfectly efficient.

As I was giving the solar panel some attention, I was wondering if we should make it reflect some of

[2018-10-19 16:28] chrisklus opened #93 "Strange positioning of water beaker on second screen"
The water beaker appears to rise above its coils when the carousel changes, and it slides far to the left when reset is pressed.

[2018-10-19 16:31] chrisklus opened #94 "reset() is not called on the second screen"
I think this part of the problem in https://github.com/phetsims/energy-forms-and-changes/issues/93. Additionally, the fan keeps spinning after reset, etc.

[2018-10-19 18:47] chrisklus commented on #76
Leaving the thermal chunk pattern implemented as described in https://github.com/phetsims/energy-forms-and-changes/issues/76#issuecomment-430312378 until we discuss in an efac design meeting.

[2018-10-19 22:16] chrisklus commented on #94
`deactivate()` is being called instead of `reset()`. It looks like this is the case for all of the carousels, not just energy users.

In `reset()` for EnergySystemsModel.js:
[code]

This seems problematic because both `reset()` and `deactivate()` functions exist all over the sim and contain very similar code within each respective element. With the assumption that `reset()` is a standard mandatory

[2018-10-20 06:06] arouinfar commented on #81
@chrisklus the new cyclist assets are ready for implementation! You can find them (temporarily) in the EFAC folder on Drive:
https://drive.google.com/drive/folders/0B6CMwxdP0NGYVDFaVURCMUREd28

With the exception of the spokes, the images are all the same dimension so they can be layered directly over one another. Since the spoke image is rotated to animate the spinning of the back tire, that asse

[2018-10-22 14:44] arouinfar commented on #81
@chrisklus please add this to the notes of the image license: created by Mariah Hermsmeyer and Megan Lai

These artists should also be listed under the Graphic Arts sections of the sim credits.

[2018-10-22 23:31] chrisklus opened #95 "Update credits"
@arouinfar asked me to add two artists to the sim credits in https://github.com/phetsims/energy-forms-and-changes/issues/81#issuecomment-431856347, but it looks like the credits currently reference the java sim instead of the js port, so we can make those changes in this issue.

[2018-10-22 23:34] chrisklus commented on #81
@arouinfar the cyclist is looking great! I used the z-order you specified except I moved the torso between the bike and front leg, as that seemed to look the most natural. Let me know if you think otherwise.

A few things to note:
* The top border of the front leg is missing in `cyclist_leg_front_18.png`, `cyclist_leg_front_17.png`, and `cyclist_leg_front_12.png`. This can be seen in context if yo

[2018-10-22 23:36] chrisklus commented on #81
@arouinfar the cyclist is looking great! I used the z-order you specified except I moved the torso between the bike and front leg, as that seemed to look the most natural. Let me know if you think otherwise.

A few things to note:
* The top border of the front leg is missing in `cyclist_leg_front_18.png`, `cyclist_leg_front_17.png`, and `cyclist_leg_front_12.png`. This can be seen in context if yo

[2018-10-23 00:11] chrisklus commented on #47
I factored out repeated offsets found within view files. There are still a few repeated offsets between Lightbulb.js and BeakerHeater.js, but I don't think it would be helpful to factor those out to EFACConstants.js. @jbphet said to go ahead and close once this is looking pretty good.

[2018-10-23 00:11] #47 closed

[2018-10-24 15:46] arouinfar commented on #95
Lead Design: Noah Podolefsky, Amy Rouinfar
Software Development: Andrew Adare, John Blanco, Chris Klusendorf
Team: Trish Loeblein, Emily Moore, Ariel Paul, Kathy Perkins, and in cooperation with the Next-Lab project
Graphic Arts: Mariah Hermsmeyer, Megan Lai
QA (so far): Steele Dalton, Jacob Romero, Kathryn Woessner, Bryan Yoelin

[2018-10-24 16:51] chrisklus opened #96 "Icons needed for home screen and nav bar"
The sim is getting closer to publication so we should make some icons for the home screen and nav bar. I'm not sure who should do this so I'm assigning to @arouinfar and mentioning @ariel-phet.

[2018-10-24 19:45] ariel-phet commented on #96
@arouinfar can you put these in context or at least icon size? Generally I like the direction, but the detail might be too fine when small.

[2018-10-24 20:05] arouinfar commented on #96
@ariel-phet it's a bit hard to judge the quality because these are clipping masks of screenshots, but I think it'd be fine if code-generated.

These images are sized for an iPad.

![screen_icons-home-1](https://user-images.githubusercontent.com/8419308/47457864-79e5c380-d795-11e8-9061-630c59bbfe88.png)  ![screen_icons1](https://user-images.githubusercontent.com/8419308/47457861-79e5c380-d795-11e8-

[2018-10-24 20:13] arouinfar opened #97 "Update solar panel asset"
The current asset doesn't have a corresponding .ai file and looks a bit wonky.
![image](https://user-images.githubusercontent.com/8419308/47458370-9fbf9800-d796-11e8-9f4f-6d757372aa49.png)

The padding between the lines doesn't appear uniform, and @chrisklus noticed that the center point appears to be off.
![image](https://user-images.githubusercontent.com/8419308/47458477-dac1cb80-d796-11e8-9280-

[2018-10-24 21:06] arouinfar commented on #97
I've redrawn the solar panel, and the assets are temporarily up on Drive @chrisklus.
https://drive.google.com/drive/u/0/folders/0B6CMwxdP0NGYVDFaVURCMUREd28

![solar_panel](https://user-images.githubusercontent.com/8419308/47461602-62f79f00-d79e-11e8-9da7-75b7439d0a8c.png)

[2018-10-24 22:55] chrisklus commented on #97
Looks great @arouinfar, thanks! The solar panel absorption has been fixed over in #90. Closing.

[2018-10-24 22:56] #97 closed

[2018-10-24 22:58] arouinfar commented on #97
Looks awesome! I've deleted the asset from Drive.

[2018-10-24 23:02] chrisklus commented on #90
The solar panel is now working as it did in the Java version. I'd like @jbphet to review my implementation, and then we can close this issue. If we decide to add functionality for reflecting or losing energy chunks to heat, we can commit those changes in the issue where that is being proposed, #92.

[2018-10-24 23:50] chrisklus commented on #95
@arouinfar thanks! Changes have been pushed. Do you think we should leave this open until we are near publishing?

[2018-10-25 00:03] arouinfar commented on #95
@chrisklus yes, let's keep this issue open. @KatieWoe should be assigned to finalize the QA credits once the sim is in RC.

[2018-10-26 22:54] jbphet commented on #94
@chrisklus and I went through this and decided to remove the unused reset methods.  Closing.

[2018-10-26 22:54] #94 closed

[2018-10-29 16:13] chrisklus commented on #87
@KatieWoe could you investigate this issue and find out what machines exhibit this behavior?

[2018-10-29 16:21] chrisklus opened #98 "Adjust generator belt tangent point"
@jbphet and I have noticed that the tangent points from the biker to the generator wheel could be moved a little more around the wheel towards the biker, since her back wheel has a smaller diameter than the generator wheel.

![image](https://user-images.githubusercontent.com/5618316/47664310-66a37100-db64-11e8-93a3-5d4bfc02adf2.png)

[2018-10-29 16:37] chrisklus commented on #75
@jbphet and I are going to do a bunch of profiling on different devices before making this decision.

[2018-10-29 16:43] chrisklus commented on #81
@jbphet and I are fans of making the gear image separate and rotating in sync with the back wheel. Marked for design meeting.

[2018-10-29 16:56] KatieWoe commented on #87
Did See:
Win 10 Firfox saw some jumpiness that may be related but very slight
Win 10 Edge significant but starts right away and does not stop, so possibly unrelated

Didn't See:
Win 10 chrome
Win 10 IE
Mac 10.14 chrome
Mac 10.14 firefox
Mac 10.14 safari

[2018-10-29 17:04] chrisklus opened #99 "Laggy dragging on first screen"
When the olive oil beaker was added to the first screen, we had to introduce a bunch of new rules in `constrainPositions()` for collision logic. This has made the drag performance much slower, and should be optimized.

[2018-10-29 17:05] chrisklus commented on #42
@jbphet and I feel that the major performance problem has been fixed, so we're going to close this issue. However, we introduced some additional lag on the first screen when the olive oil beaker was added, so we've created https://github.com/phetsims/energy-forms-and-changes/issues/99 to work on that performance problem.

[2018-10-29 17:05] #42 closed

[2018-10-29 17:15] jbphet opened #100 "The "helper shapes" that indicate the slices don't move with the model element"
There is a query parameter `showHelperShapes` that, among other things, allows developers to see the "energy chunk slices", which are the 2D shapes that hold the energy chunks.  These slice shapes don't move with the model element, and they should.  Below are screenshots of before and after dragging one of the blocks.

![image](https://user-images.githubusercontent.com/3082831/47667399-7a9ea100-db

[2018-10-29 17:16] chrisklus opened #101 "Fix EC and EC slices alignment"
Currently, energy chunks appear in the approximate correct locations within a container, but there is actually a double translation happening that is problematic. The energy chunk slices are slightly to the right in their container, and the chunks are positioned slightly to the left in their slices. The leftward positioning of chunks within the slices is a larger offset that the slices from the co

[2018-10-29 17:18] chrisklus commented on #34
The above commit fixed this problem, so I'm going to close this issue. The problem can still occur in rare cases because of https://github.com/phetsims/energy-forms-and-changes/issues/101, but will go away completely once that is fixed.

[2018-10-29 17:18] #34 closed

[2018-10-29 20:08] KatieWoe commented on #87
@chrisklus I tested this on all three browsers of a Mac 10.13 device and didn't see it.  I'll wait until we can go over the issue in person so I can be sure of what I'm looking for.

[2018-10-30 22:04] chrisklus commented on #93
The beaker was being double transformed off of its coils, so @jbphet and I figured out a way to eliminate the redundant transformation. Closing.

[2018-10-30 22:04] #93 closed

[2018-10-31 00:38] chrisklus commented on #100
Fixed, closing.

[2018-10-31 00:38] #100 closed

[2018-10-31 19:55] chrisklus commented on #101
@jbphet and I have fixed this and are very excited! We've added "helper circles" to the `showHelperShapes` query param to make sure that the chunks are positioned correctly. Closing.

![image](https://user-images.githubusercontent.com/5618316/47814879-7cf02f00-dd14-11e8-93aa-0b0edb1d7082.png)

[2018-11-02 19:17] jbphet commented on #98
Ran into professor Mike Dubson in the office, described this problem, and he decided he'd like to figure out the math.  Attached is his solution.
[fan-belt-problem-solution-from-mike-dubson.pdf](https://github.com/phetsims/energy-forms-and-changes/files/2543836/fan-belt-problem-solution-from-mike-dubson.pdf)

[2018-11-02 20:03] #98 closed

[2018-11-02 20:32] jbphet commented on #36
These have now all been addressed, closing.

[2018-11-02 20:32] #36 closed

[2018-11-02 21:05] chrisklus commented on #67
@jbphet and I have fixed this, closing.

[2018-11-02 21:05] #67 closed

[2018-11-02 21:18] chrisklus commented on #98
mmm that is so nice

[2018-11-02 22:07] chrisklus commented on #76
@jbphet had a good idea for how to handle the thermal chunk pattern, so we went ahead and implemented it. Marking for design meeting to make sure everyone's on board.

[2018-11-02 22:13] chrisklus commented on #101
Reopening because correcting the chunk positions messed up the alignment of the energy chunk paths on the second screen, so I need to reposition those.

![image](https://user-images.githubusercontent.com/5618316/47943108-2de3fe80-deba-11e8-8a5d-fabb82ffb53b.png)

[2018-11-05 06:14] chrisklus commented on #101
The offsets have been updated to accommodate for the adjusted energy chunk positions. However, there are now some issues with the belt and solar panel. I think I know the cause of this, and will discuss with @jbphet to come up with a solution.

The water faucet chunks are out of place (they already were, just more so now), but I have a fix in mind for this, so will ask @jbphet if I should proceed

[2018-11-06 17:51] ariel-phet commented on #96
@arouinfar I think I would consider the following tweaks

1. As you said, removing the Water string, but perhaps on the "intro" having the Energy symbols in the water? It might be a nice "encouraging" cue. I guess it depends if it would feel too busy

2. I think we might want to consider changing the background color of the first screen to white, which might offer another nice contrast between the

[2018-11-06 18:05] ariel-phet commented on #92
@chrisklus we will certainly discuss at design meeting more...but a few things to consider:

1. Yes, solar panels are "low-efficiency" in the sense of for the amount of light hitting them, they only produce a certain amount of electricity, but once the photons are actually inducing a voltage, I am pretty sure they are not very "lossy" - as in, it would be incorrect to represent loss in terms of he

[2018-11-06 21:52] arouinfar commented on #96
Thanks for the feedback @ariel-phet! I'll try out some alternative icons with the energy chunks showing on Intro. I like suggestions (2) and (3) so I'll move those to separate issues.

[2018-11-06 21:54] arouinfar opened #102 "Change Intro Screen background to white"
In https://github.com/phetsims/energy-forms-and-changes/issues/96#issuecomment-436345476 @ariel-phet suggested:

I like this suggestion and would like to see it. @chrisklus can you make this change and publish a new dev version so the team can review in design meeting?

[2018-11-06 21:56] arouinfar opened #103 "Change "Energy Systems" screen name to "Systems""
In https://github.com/phetsims/energy-forms-and-changes/issues/96#issuecomment-436345476 @ariel-phet suggested:

I think "Energy" is somewhat implied in this sim, so I like the sound of the more-succinct "Systems". @chrisklus can you make this change?

[2018-11-07 19:54] chrisklus opened #104 "Extra energy chunks in first screen water beaker"
@jbphet and i need to investigate why there are so many more energy chunks in the first screen water beaker than the second. Based on the ratio of energy chunks in the olive oil beaker to the second screen water beaker, we think the first screen water beaker is incorrect.

![image](https://user-images.githubusercontent.com/5618316/48157206-48d4bb00-e28c-11e8-98f4-2be72dacc0d0.png)

[2018-11-07 21:22] jbphet commented on #104
@chrisklus and I looked at this for a bit, and one portion of the answer to this is that the beaker on the 2nd screen is substantially smaller than the one on the 1st.  The initial number of energy chunks in the beakers are similar between the two sims.  In the Java sim, the beaker on the 1st screen has 32 energy chunks and the one on the 2nd has 14.  In the HTML version, there are 34 in the beake

[2018-11-07 21:30] jbphet commented on #104
The way the code works, energy chunks are the same size on both screens even though the scale is somewhat different.  The first screen was recently "zoomed out" a bit in order to make room for the olive oil beaker.  Perhaps we should consider scaling the energy chunks with the other model elements in order to make the scaling more obvious.

Marking for discussion in design meeting.

[2018-11-08 23:57] jbphet commented on #90
I was just reviewing this, and I feel like the constants that are in it and the usage thereof should change a bit for better maintainability.  For example, right now, there is a constant in `SoloarPanel.js` called 'CONVERTER_IMAGE_OFFSET` which is used as the reference point for a lot of other things.  Since `SoloarPanel.js` is the model, I'm thinking that the image shouldn't really be referenced

[2018-11-09 00:13] chrisklus commented on #89
I did a performance profile on the first screen to find out how expensive `updateFluidLevel()` currently is. On my machine, for a `stepSimulation` of 2.67 ms, `updateFluidLevel()` took 0.25 ms.

For scale, here's what that looks like. `updateFluidLevel()` is the little green section that starts with 'up..'

<img width="562" alt="screen shot 2018-11-08 at 5 09 48 pm" src="https://user-images.github

[2018-11-09 01:13] chrisklus commented on #103
@jbphet and I would like to discuss this more at a design meeting before implementing.

[2018-11-09 16:55] jbphet commented on #89
I think we should prioritize other optimizations above this one, focus on them, and then decide whether to pursue this based on the performance we're seeing.

[2018-11-09 22:12] jbphet commented on #90
@chrisklus and I worked through a number of changes today, this is now looking good, closing.

[2018-11-09 22:12] #90 closed

[2018-11-09 23:56] chrisklus opened #105 "Fix energy chunk offsets"
This issue is for fixing any extra energy chunk offsets or incorrect chunk path offsets. See https://github.com/phetsims/energy-forms-and-changes/issues/101#issuecomment-437532423 for an explanation.

[2018-11-10 00:00] chrisklus commented on #101
The energy chunks positions within their slices and the positioning of the slices and layers have been fixed, so I'm going to explain what happened since it seems important to document, and then close this issue.

The energy chunk nodes were, at some point, positioned so that their lower right corner was their position value in the model, instead of their center. Since that caused the chunks to ap

[2018-11-10 00:02] #101 closed

[2018-11-10 03:08] chrisklus commented on #105
Energy chunk path offsets have been restored.

[2018-11-10 03:14] chrisklus opened #106 "Second screen small fixes"
When working through #105, I found some small things that should be fixed on the second screen:

- [x] One of the sun's rays goes directly through the energy symbols checkbox. The rays should be rotated slightly or pushed behind the checkbox z-order-wise to avoid this.

  UPDATE: The light rays from the light bulbs also go over the checkbox, so I decided to move the checkbox to the front. I checke

[2018-11-12 18:18] chrisklus opened #107 "Water faucet layering behavior"
So far in the HTML5 port, we've layered the falling water on top of the generator wheel so that it looks like the wheel is in the water. This is nice, except that when the chunks change course towards the wheel, they are switched to the generator's layer and appear behind the falling water for brief moment.

![waterandwheel](https://user-images.githubusercontent.com/5618316/48366573-88741c00-e66b-

[2018-11-12 19:41] jbphet opened #108 "Energy chunks jumping when emitted from beaker on 2nd screen"
On the current master version, when the beaker on the 2nd screen gets hot enough to start emitting energy chunks, those chunks seem to jump down a ways before starting to rise up above the beaker.  Sometimes they actually appear *below* the beaker.

[2018-11-12 19:45] jbphet commented on #108
The primary issue here was that the energy chunk layer where the radiated energy chunks were being placed was having its position set relative to the beaker and the not the beaker-heater.  This may be a little hard to find in the commit above because I did a lot of code cleanup as I worked to track this down.  In case you need to find it, the corrected code was on line 103 of `BeakerHeaterNode.js`

[2018-11-12 19:45] jbphet commented on #108
Fixed, closing.

[2018-11-12 19:45] #108 closed

[2018-11-12 22:54] ariel-phet commented on #107
@chrisklus @arouinfar I am fairly agnostic here. Personally, the water behind the wheel is fine to me, and I am usually in favor of simpler code (I worry about potential performance implications with more complex layering). But I will let you two make the call if there is a strong preference for in front for the wheel.

[2018-11-13 15:42] jbphet opened #109 "Energy chunks not getting evenly moved into beaker on 2nd screen"
If the beaker on the 2nd screen is heated for a few minutes, the energy chunks all seem to get concentrated in the center as shown in the screenshot below.  Also, it doesn't seem like the energy chunks that are being radiated are leaving from the top, which is what they are supposed to be doing.

![image](https://user-images.githubusercontent.com/3082831/48424469-f417c100-e71f-11e8-8e9a-6b62ab15b0

[2018-11-13 19:47] samreid commented on #78
Google released a product called squoosh which leverages OptiPNG and was very easy to use.  For instance, I used it to reduce bicycle_frame from 51KB to 16KB.  https://github.com/GoogleChromeLabs/squoosh .

[2018-11-13 21:31] arouinfar commented on #107
@chrisklus @ariel-phet while I did like the look of the water being layered on top, I'm not sure it's worth complicated layering. I'd be fine with moving the water to the back.

Back to @chrisklus to adjust the layering and timing on the energy chunks.

[2018-11-13 21:42] jbphet commented on #107
I prefer the look of the water on top, and there shouldn't be any performance implications.  In my opinion, the improved look is worth the added complexity assuming it doesn't get **too** complex.  @chrisklus and I discussed some approaches that might work well and be minimally complicated, such as having an option for the energy chunk layer's parent in the generator so that wheel can be behind th

[2018-11-14 17:53] jbphet commented on #109
This was actually due to a problem with the extraction of the chunks from the beaker, not the addition of them.  The chunks were being extracted by an algorithm that was using a point that was behind the beaker, so the chunks at the front of the beaker were never being chosen.  I moved the extraction point to instead be above the water surface (at the top of the beaker), and it seems to work much

[2018-11-14 18:39] jbphet commented on #109
I just tested on the first screen and this happens there too.  Reopening.

[2018-11-14 18:50] jbphet commented on #109
On the first screen, this problem was due to a method that should have been an override instead getting called in the base class.  My guess is that in the Java version there were overrides for the methods for extracting energy chunks, one that took a provided point and one that took a provided shape.  These weren't ported in a clear way, so the hierarchy wasn't quite correct.  I've attempted to cl

[2018-11-14 18:50] jbphet commented on #109
Should be good now.  Closing.

[2018-11-14 18:50] #109 closed

[2018-11-14 18:58] jbphet opened #110 "Energy chunks not repositioned in beakers when reset"
The screenshot below illustrates the problem - note that some of the energy chunks are above the level of the water in the two beakers.

Here are the steps to recreate:
1. Load the sim, go to the first screen
2. Put a block in each beaker
3. Hit the reset button
4. Turn on energy chunk visibility (check "Energy Symbols")

![image](https://user-images.githubusercontent.com/3082831/48505565-94471600

[2018-11-14 19:11] jbphet opened #111 "Energy chunks not transferring between blocks and beakers"
On the current master version, Energy chunks are not moving between the blocks and the beaker the way they should.  There are several scenarios in which this can be seen, here is one example:

1. Load the sim, go to the first screen
2. Enabled "Energy Symbols"
3. Put the iron block on the burner and heat it up for several seconds
4. Pick up the iron block and drop it in the water beaker.  Note tha

[2018-11-14 20:09] jbphet commented on #110
It turns out that the shape of the `EnergyChunkContainerSlice` instances owned by the beaker where only being updated in a method that calculated the fluid level based on whether any of the blocks were in the beaker.  This worked in most cases, but is not really the way is should work.  What **should** happen is that the energy chunk container slice shapes are simply updated whenever the fluid lev

[2018-11-14 20:14] jbphet commented on #110
Seems to be working correctly now.  Closing.

[2018-11-14 20:14] #110 closed

[2018-11-14 20:35] jbphet opened #112 "Clean up stepping code in EFACIntroModel"
The model stepping function in EFACIntroModel currently looks like this:

[code]

I think that the work done for #42 fixed the performance issue that this was in place to address, but I think there was some final cleanup that didn't get finished.  We should see if this can be changed at this point to just use the `dt` value.

[2018-11-14 22:27] jbphet opened #113 "Energy chunks don't behave correctly when objects are cooled"
In the Java version of this sim, when energy symbols are visible and an object is cooled using the heater-cooler, the energy chunks move from the object down into the heater-cooler.  In the current master version of the HTML5 sim, the energy chunks simply disappear.

[2018-11-14 22:39] jbphet opened #114 "Backs of blocks shouldn't be transparent"
In the Java version of the sim, when a block is in the beaker, the energy chunks that overlap with it are occluded.  Here's a screenshot:

![image](https://user-images.githubusercontent.com/3082831/48517240-e6972f80-e822-11e8-8e44-97da57a71b44.png)

In the current HTML version, the energy chunks are visible through the block.  This looks much messier, and it is hard to see energy chunks that move

[2018-11-14 23:07] jbphet opened #115 "Thermal objects cool very slowly when stacked"
If blocks and/or beakers are stacked on the burner, then heated up, they cool very slowly.  If they are subsequently separated, they cool much more quickly.

Steps to duplicate:
1. Load the sim, go to the first screen
2. Stack the two blocks on a burner
3. Turn on Energy Symbols
4. Attach a thermometer to each block
5. Heat the block stack until both are pretty full of energy chunks (about 15 seco

[2018-11-14 23:08] jbphet commented on #115
I just tested this on the Java sim, and it appears to exhibit the same behavior.

[2018-11-15 01:22] chrisklus opened #116 "1.0.0-dev.8 performance tests"
@jbphet and I just released a new dev version, https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.0.0-dev.8/phet/energy-forms-and-changes_en_phet.html, so I'm going to record the FPS of the sim in a few different states for various devices.

[2018-11-15 18:16] samreid commented on #78
SR: Google released a product called squoosh which leverages OptiPNG and was very easy to use. For instance, I used it to reduce bicycle_frame.png from 51KB to 16KB. https://github.com/GoogleChromeLabs/squoosh .  There is a broad spectrum of how we could apply this: on large images/on sims with lots of images/on common code images that are used in many sims.  Likewise, we could leverage it for new

[2018-11-15 22:06] jbphet opened #117 "Energy chunks don't come out of heater/cooler node at an even rate"
When heating something up on the burner, the energy chunks often come out in groups rather than being evenly spaced.  I would be better if they came out evenly.

Here's a screen capture from the current master version:

![autoplay-chrome-regular-window](https://user-images.githubusercontent.com/3082831/48584782-f3ca2200-e8e7-11e8-94aa-22c713c66e6b.gif)

[2018-11-15 22:07] jbphet commented on #117
Full disclosure: I vaguely recall looking at this when working on the Java version of this sim, and I seem to remember that for some reason it wasn't easy to change this behavior.

[2018-11-15 23:12] jbphet opened #118 "Some of the sun's energy chunks make it through the clouds"
On the 2nd screen, when the sun is selected as the energy source and the solar panel is the converter, with the clouds are turned all the way up some of the energy chunks go through the top clouds and make it to the solar panel.  In the Java version, this doesn't happen.

This can be seen in the current master version and in the [latest dev version](https://phet-dev.colorado.edu/html/energy-forms-

[2018-11-15 23:37] jbphet commented on #112
I tried modifying to code to just directly use the `dt` value, so it looked like this:

[code]

This seems to work fine on my Windows 10 machine in Chrome, but on Tycho, which is an iPad 2 with iOS 9, the energy chunks in the water beaker would start jumping outside of the beaker once it was heated.  After this, even after a reset, it never recovered and the energy chunks would continue to jump ar

[2018-11-16 00:14] chrisklus commented on #118
From https://github.com/phetsims/energy-forms-and-changes/issues/106

[2018-11-16 18:17] arouinfar commented on #106
In the 11/15/18 design meeting, we discussed this issue

The team was fine with the chunks going behind the checkbox, but on top of the legend. However, it was suggested that we tweak the fan's wiring a bit so that there's more space between the fan and the legend. I'll open a separate issue for that.

[2018-11-16 18:23] #111 closed, assigned to jbphet

[2018-11-16 18:26] arouinfar opened #119 "Remove S-curve from fan wiring"
In #106 part of the motivation for layering the energy chunks above the legends was the fan's proximity to the legend.  In the 11/15/18 design meeting, we decided to change the fan's wiring a bit. Instead of the S-curve, let's try attaching the wire directly to the bottom of the fan's hub. This will open up the space to the right of the fan a bit more. Here's a rough mockup:

![image](https://user

[2018-11-16 18:39] arouinfar commented on #104
Discussed in the 11/15/18 design meeting.

It's imperative that the energy chunks are the same size across both screens. However, @kathy-phet noted that the Java chunks were ~78% the size of the HTML5 chunks, so we could scale them down a bit.

We would prefer not to change the number of chunks in the model, because other substances would end up with too few chunks.

One way to indicate that the z

[2018-11-16 18:43] arouinfar opened #120 "Add tick marks to the beakers"
In #104, we decided to add tick marks to the beakers so that the differences in volumes between the two screens would be clearer. The tick marks should be curved, similar to Molarity.

<img src="https://user-images.githubusercontent.com/8419308/48640482-1ca7f100-e994-11e8-9d88-1812b018b728.png" width=150>

The volume of the beakers on screen 1 is about 250% larger than screen 2.

Self-assigning to

[2018-11-16 18:46] arouinfar commented on #103
Discussed in the 11/15/18 design meeting. HTML5 sims generally have one-word screen names, and "Energy Systems" is a bit long for i18n, so we decided to proceed with this change.

Many file names use "Energy Systems" which will need to be updated to "Systems" so re-assigning to @chrisklus.

[2018-11-16 18:48] arouinfar commented on #102
An issue with the lighter colored screen backgrounds is that the steam isn't very visible. In the 11/15/18 design meeting, we decided to try changing the color of the steam to a light blue/gray.

The steam color is defined here:
https://github.com/phetsims/energy-forms-and-changes/blob/master/js/common/view/SteamCanvasNode.js#L27

Self-assigning to find a suitable color.

[2018-11-16 18:54] arouinfar commented on #60
Discussed in the 11/15/18 design meeting.

The snappy behavior reinforces the idea that adding/removing heat takes effort. In the Java interviews, some students left heaters on without realizing it.

We could consider a lock feature similar to EqEx.
“Synchronize Heaters”
“Sync Heaters”
“Lock Heaters”

The slider thumbs on the HeaterCoolerNodes will be synced. This will keep the heat level the same

[2018-11-16 18:56] arouinfar commented on #81
Discussed briefly in the 11/15/18 design meeting.

We decided that the gear should also rotate, so in addition to the tweaks to address https://github.com/phetsims/energy-forms-and-changes/issues/81#issuecomment-432028777, I will separate the bike and gear images.

[2018-11-16 19:00] arouinfar commented on #92
In the 11/15/18 design meeting, we decided that light energy chunks should occasionally bounce off of the solar panel, rather than being absorbed/converted into electrical. The light energy chunks that bounce off of the panel would not be converted into thermal.

[2018-11-16 19:12] arouinfar commented on #76
Unfortunately, we didn't get to this issue in yesterday's design meeting. I reviewed dev.8, and it looks pretty awesome!

At the max rate, the pattern of thermal energy looks pretty regular (every 9 chunks or so), but it feels about right. At low speeds, the thermal energy is released less often, which makes sense. If there's a long gap between energy chunks (perhaps generators were swapped out),

[2018-11-16 19:12] #76 closed

[2018-11-16 19:14] arouinfar commented on #96
We didn't get to this issue in yesterday's design meeting, but we can continue iterating over GitHub. I think I'll hold off on this until background colors are finalized in #102, so marking as `status:on-hold` for now.

[2018-11-17 00:37] jbphet commented on #112
When I got into this, I found that the steps were already being broken up where appropriate, but there was a bug in EnergyChunkDistributor that was causing the particles to move too far per step.  I fixed this, and tested it on a number of platforms, and it ran correctly and at the previously tested frame rate or better on everything I tested **except** on our iPad 2 (Tycho).  For some reason, it'

[2018-11-19 19:05] chrisklus commented on #104
I reduced the size of the energy chunks and @jbphet and I think that they look very nice this way.

@jbphet and I fiddled with the beaker sizes and decided that matching the aspect ratio of the second screen beaker to the first screen beaker in this way is probably best. We tried actually shrinking the second screen beaker to help with the size difference effect, but then there were too few chunks

[2018-11-19 19:06] chrisklus commented on #104
I'd love to hear @arouinfar's thought's as well.

[2018-11-19 20:10] arouinfar commented on #104
@chrisklus the smaller energy chunks and updated beaker widths are looking nice!

Not sure if there's any outstanding work left for this issue, so back to you @chrisklus.

[2018-11-19 21:34] arouinfar commented on #102
@ariel-phet I've been experimenting with steam colors, and I haven't found anything that looks correct. In general, steam contrast against a white background is pretty poor (or looks a bit like smoke), especially when compared to Java. I've included several examples below.

I decided to go back to experimenting with a yellow background. I muted the original Java yellow a bit, and white steam still

[2018-11-19 22:44] ariel-phet commented on #119
@arouinfar although I liked the "S curve" in the sense that it felt very smooth, I think the approach above is better for the space considerations of the simulation (especially giving more room to the right, and allowing each of the energy users to be in approximately the same place). In addition, I think it is actually a bit more realistic to the way a fan is often wired. For example:

![fan](htt

[2018-11-19 22:55] ariel-phet commented on #102
@arouinfar I definitely like the more saturated Olive Oil (hopefully the energy chunks will still be plenty visible despite the increased saturation). Seems like the pale yellow background might be the way to go due to the steam constraint.

[2018-11-19 23:58] arouinfar commented on #102
@ariel-phet I'm not noticing a huge difference in the visibility of the energy chunks.
<img width="300" alt="screen shot 2018-11-19 at 4 55 30 pm" src="https://user-images.githubusercontent.com/8419308/48742386-f85e4580-ec1b-11e8-962f-45245dff5d4f.png"> <img width="300" alt="screen shot 2018-11-19 at 4 54 31 pm" src="https://user-images.githubusercontent.com/8419308/48742387-f85e4580-ec1b-11e8-9a9

[2018-11-20 00:04] arouinfar commented on #119
Thanks @ariel-phet!

@chrisklus for the mockup above, I removed the wire_top asset, and then shifted the fan to the left so that the socket was centered over the wire.

[2018-11-20 00:17] arouinfar commented on #120
@ariel-phet @chrisklus I've mocked up a draft of the tick marks for the beakers. Water has 34 energy chunks on Intro, and 20 energy chunks on Systems. This means the volume on Intro should technically be 1.7x larger. I decided to Hollywood things a bit, and go with 1.5x difference because it better mapped to major tick marks appearing in intervals of 5.

@ariel-phet can you take a look? Any sugges

[2018-11-20 17:30] chrisklus commented on #102
@arouinfar all set, looks nice! Ready to close if you are.

[2018-11-20 17:37] arouinfar commented on #102
👍

[2018-11-20 17:37] #102 closed

[2018-11-20 18:07] chrisklus commented on #92
@arouinfar ready for review. I started off by reflecting every fifth chunk so we wouldn't take too many from the converter.

[2018-11-20 19:06] chrisklus commented on #119
@arouinfar ready for review 🙂

[2018-11-20 19:09] #104 closed

[2018-11-20 19:17] ariel-phet commented on #120
This all looks pretty good to me...I think getting the "exact" factor correct is not so important as suggesting the qualitative difference in volume.

[2018-11-20 19:20] arouinfar commented on #119
Looks just like the mockup, thanks @chrisklus!

[2018-11-20 19:20] #119 closed

[2018-11-20 19:38] arouinfar commented on #92
Looks good to me @chrisklus! Are there any other efficiencies we need to discuss?

[2018-11-26 02:54] jonathanolson commented on #120
It's possible to call `shape.newSubpath()` before the ellipse calls so that it won't have any connecting line segments.

Also should the appearance of beakers across sims use the same code/appearance? The current fractions-intro beaker seems fairly similar in purpose, although with different proportions:
<img width="141" alt="screen shot 2018-11-25 at 7 52 37 pm" src="https://user-images.githubuse

[2018-11-26 19:57] arouinfar commented on #120
The goal is for the curvature of the ticks to match the curvature of the beaker. Depending on the other needs/design constraints in a sim, the perspective on the beaker itself may vary somewhat, and I think that's okay.

I modeled my mockups on Molarity, which had a bit of a gap, but I don't have a strong option about the tick marks extending to the edge or not.

[2018-11-26 20:58] chrisklus commented on #92
@arouinfar since https://github.com/phetsims/energy-forms-and-changes/issues/76 is also resolved, I think we're set! Closing.

[2018-11-26 20:58] #92 closed

[2018-11-26 23:39] chrisklus commented on #118
I fixed the positioning offsets of the clouds, made the height and width respect the model instead of the image, changed the absorption shape to the intended ellipse instead of a rectangle, and added an absorption helper shape.

I also corrected the fade-in behavior to match the Java version, where one cloud reaches full opacity before the next one starts to fade in, instead of them all changing o

[2018-11-27 21:51] amanda-phet commented on #120
I would be fine trying to match the style of these beakers' tick marks, although I'm not a huge fan of the thick stroke on those beakers compared to the one in Fractions Intro. But still happy to play around with the appearance.

[2018-11-27 22:49] chrisklus commented on #103
Assigning to @jbphet for review to see if you agree with my level of depth for this change and/or if I  missed anything.

[2018-11-28 15:32] jbphet commented on #114
I've started working on this issue, and I realized that the way this was done in the Java sim was to have a clipping region on the node that contains the energy chunks, **not** by having the back of the blocks be opaque.  In the ported HTML5 code, there are several comments from the individual who originally ported this portion of the code that basically said that they didn't understand what the c

[2018-11-28 21:05] chrisklus commented on #105
I don't think there is any work left for this issue, closing.

[2018-11-28 21:05] #105 closed

[2018-11-28 22:30] jbphet commented on #114
I've added the code to implement the clipping regions, and it looks much better.  Here's a screenshot of how it looks on master (tick marks were added since this issue was logged):

![image](https://user-images.githubusercontent.com/3082831/49186648-75777200-f322-11e8-8e1a-481a08af5a2b.png)

[2018-11-28 22:30] jbphet commented on #114
I think my work here is done.  Closing.

[2018-11-28 22:30] #114 closed

[2018-11-29 17:57] jbphet commented on #113
This is essentially fixed, and the current behavior on master matches that of the original Java sim.  However, in both cases, energy chunks are moving from the top of the beaker to the burner, which seems odd.  I'll take a little time and see if I can make them come out of the bottom instead.

[2018-11-29 23:04] jbphet commented on #55
I'm taking a few moments to look at this to get the ball rolling on this.  I did a search through our sims, and the "license" field in most if not all of the `package.json` files are currently set to "GPL-3.0".  This is certainly the case for energy-forms-and-changes.  The "license" field in the `package.json` file for most if not all of the common code sims is set to "MIT".

I built energy-forms-

[2018-11-30 04:12] samreid commented on #55
On the simulation side, changing the LICENSE file contents to be the MIT file contents, and changing package.json to refer to MIT seem essential.  I'm not sure what has to happen in chipper, or website or database.  I'll leave it up to @jonathanolson and @mattpen to comment on those parts.

[2018-11-30 16:37] jbphet opened #121 "Play/pause missing from 2nd screen"
The Java version has play/pause buttons on the 2nd screen, but so far the HTML5 sim doesn't.  These should be added.

[2018-11-30 20:16] jbphet opened #122 "Dotted lines around energy chunks not being removed at quite the right time"
The dotted lines that depict the electrical energy chunks that are hidden from view are being removed a little later than they should be.  The screenshot below illustrates, but it's easier to see when working with the sim.

![ec-dotted](https://user-images.githubusercontent.com/3082831/49312674-1476a800-f4a2-11e8-9196-12b57e152b9c.png)

[2018-11-30 20:19] jbphet commented on #113
I've made the chunks come out from the bottom of the beaker and travel in a constrained way into the heater/cooler.  I compared this to the Java version, and this new HTML5 one looks way better.  Closing.

[2018-11-30 20:19] #113 closed

[2018-11-30 20:22] jbphet opened #123 "Steam node from tea kettle looks fairly lame"
The steam node's appearance could be improved with some better drawing code.  Here's what it looks like now:

![image](https://user-images.githubusercontent.com/3082831/49312913-f1002d00-f4a2-11e8-8208-c0f1a6e8375c.png)

[2018-11-30 20:27] jbphet opened #124 "Energy chunks are moving in the beakers when turned on quickly"
To duplicate, do the following, and steps 2 & 3 need to be done in rapid succession:
1. Load the sim
2. Go to the first screen
3. Turn on energy chunks

The energy chunks in the water beaker and, to a lesser degree the olive oil beaker, continue to jostle around a bit before becoming still.

This is a problem on the current master version, but not on the most recent dev release, which is https://p

[2018-11-30 20:45] mattpen commented on #55
Chipper side will be addressed in https://github.com/phetsims/chipper/issues/689

[2018-11-30 23:42] jbphet opened #125 "Steam visible from beaker after reset"
On the first screen, if the beaker is heated up to the point where it is steaming and the reset button is then pressed, the beaker goes back to its initial position but the steam is still visible, and it animates for a bit until it disappears from view.  It should just go completely away.

[2018-11-30 23:57] chrisklus commented on #121
All set. The second screen now has the same behavior as in the Java version where, when paused, everything that moves on its own is frozen, but the user can still switch between energy system elements. Closing.

[2018-11-30 23:57] #121 closed

[2018-12-01 00:33] jbphet commented on #115
In the situation shown in the screenshot below, the objects on the burner never cool down.  I'm guessing that this is the same issue, but the Java sim doesn't behave this way, so I'm not sure.  I'll try to address all of this at once, but if they turn out to have separate root causes, I'll log a new GitHub issue.

![image](https://user-images.githubusercontent.com/3082831/49321658-0044a200-f4c6-11

[2018-12-01 00:49] chrisklus opened #126 "The steam keeps on steamin' when either screen is paused"
The steam might not be called by the usual `step()` because it doesn't stop when the sim is paused.

[2018-12-02 19:56] chrisklus commented on #126
The elements in the view that are stepped were not being guarded by `model.isActiveProperty.` This issue was originally referring to steam from just the beaker, but now I see that the tea kettle steam was not pausing either. It looks like the water drops form the faucet are stepped like the steams, so I'm not sure why the faucet was already pausing correctly. Fixed, closing.

[2018-12-02 19:56] #126 closed

[2018-12-03 19:23] chrisklus commented on #125
There was a `reset()` method in PerspectiveWaterNode that was attempting to clear the steam, but it was not being called by anything. So, per @jbphet's suggestion, I added an Emitter to Beaker that notifies BeakerView about reset, which get passed on through the view until SteamCanvasNode knows to remove its bubbles. Closing.

[2018-12-03 19:23] #125 closed

[2018-12-04 19:31] jbphet commented on #55
I just spoke with @kathy-phet, and according to her the only thing we need to do is update the license file in the sim repo (in this case, https://github.com/phetsims/energy-forms-and-changes/blob/master/LICENSE).  There are no changes needed for the built sim and thus the build process, nor to the web site.  Even the "license" field in `package.json` doesn't need to change (it's currently set to

[2018-12-04 19:40] jbphet commented on #55
Here are the comments from @kathy-phet in the related chipper issue that provide more detail:
+ https://github.com/phetsims/chipper/issues/689#issuecomment-444177483
+ https://github.com/phetsims/chipper/issues/689#issuecomment-444179162.

[2018-12-04 19:40] jbphet commented on #55
License file updated, closing.

[2018-12-04 19:40] #55 closed

[2018-12-04 23:02] chrisklus commented on #123
I made a small change to improve the steam visual. If we have time, or after version 1.0, we can go back and construct the stem and cloud a little differently.

![image](https://user-images.githubusercontent.com/5618316/49478160-478ba500-f7dc-11e8-987e-71869a9a0526.png)

I also added a TODO for using dt in the `step()` method so that the steam looks consistent across all platforms.

[2018-12-05 18:12] chrisklus commented on #122
Fixed, closing.

[2018-12-05 18:12] #122 closed

[2018-12-06 00:15] arouinfar opened #127 "Add 4th thermometer to Intro"
With the introduction of olive oil in https://github.com/phetsims/energy-forms-and-changes/issues/39,  a fourth thermometer is necessary.

@ariel-phet and I had [originally](https://github.com/phetsims/energy-forms-and-changes/issues/39#issuecomment-391420921) liked the idea of a toolbox showing two thermometer icons (but containing 4 thermometers). Here's the original mockup (many colors have sin

[2018-12-06 00:55] arouinfar opened #128 "Use standard playback controls"
The playback speed options are usually a verticalAquaRadioButtonGroup, but the HTML5 version of EFAC has been using scene-selection style radio buttons. This is a deviation from Java, as well as HTML5 sim design norms.
![image](https://user-images.githubusercontent.com/8419308/49553666-0ff12b80-f8b6-11e8-9bcd-7c0920bdd460.png)

Typically, the playback controls in sims look more like this:
![image]

[2018-12-06 01:06] arouinfar commented on #128
@chrisklus mentioned there was a bit of custom code for the playback speed controls, so we decided to double check with the design team first.

[2018-12-06 01:56] chrisklus commented on #99
@jbphet and I are seeing huge drag events in the flame chart while dragging a beaker. This does not happen on any blocks or thermometers.

![image](https://user-images.githubusercontent.com/5618316/49555827-914cbc00-f8be-11e8-8869-5fd8ffa3ede9.png)

The only way I've been able to eliminate these (so far) is by commenting out the translation lines from the following code:

[code]
I think it's havin

[2018-12-07 02:12] chrisklus commented on #128
In 12/6/18 design meeting, we decided to revert to the usual aqua radio buttons.

<img width="894" alt="screen shot 2018-12-06 at 7 03 14 pm" src="https://user-images.githubusercontent.com/5618316/49623154-b1957d00-f989-11e8-84eb-9fcb22279a96.png">

I've made the change, but I actually think I like the scene-selection style radio buttons better because the blue background makes the text more reada

[2018-12-07 20:13] chrisklus opened #129 "Remove unused images"
On build:

[code]

[2018-12-08 00:47] arouinfar commented on #128
@chrisklus I prefer the look of the radio buttons to the right of the play/pause/step. I think we could also lighten the gray up a bit to improve the contrast of the text. Let's try `rgb(160, 160, 160)`.

[2018-12-08 01:07] arouinfar commented on #127
We decided to go with the approach taken with the pressure gauges in Under Pressure, and show a single thermometer in the toolbox. Here's a mockup @chrisklus.

![screen shot 2018-12-07 at 6 06 16 pm](https://user-images.githubusercontent.com/8419308/49679736-d4d43100-fa4a-11e8-8c68-0238314dcf4d.png)

[2018-12-08 01:09] arouinfar commented on #120
We reviewed the tick marks in the 12/6 design meeting, and the team likes the look, so closing.

[2018-12-08 01:09] #120 closed

[2018-12-08 01:14] chrisklus commented on #128
![image](https://user-images.githubusercontent.com/5618316/49679796-414f3000-fa4b-11e8-8aba-17654aae988c.png)

Hey, that looks pretty nice!

Anything else to be done here @arouinfar?

[2018-12-08 01:18] arouinfar commented on #96
Discussed in the 12/6 design meeting, and refined the Systems screen icon a bit more:
<img src="https://user-images.githubusercontent.com/8419308/49679888-0699c780-fa4c-11e8-80f7-c903880e3dd9.png" width=273>

Since the icons are a little complicated, we decided to go with screenshots, rather than code-generated icons. For Intro, we liked https://github.com/phetsims/energy-forms-and-changes/issues/

[2018-12-08 01:32] arouinfar commented on #96
@chrisklus removed the tick marks and "Water" label from the beaker and slacked me a screenshot, so I have everything I need to clean up the screen icons.

[2018-12-08 01:36] arouinfar commented on #60
In the 12/6 design meeting we decided to add a checkbox called "Link Heaters" below the Energy Symbols checkbox.

When this checkbox is on, both HeaterCoolerNodes will be controlled by one of the sliders. When one slider slider is grabbed, the other thumb will no longer be pickable.

![screen shot 2018-12-07 at 6 06 16 pm](https://user-images.githubusercontent.com/8419308/49680126-888af000-fa4e-11

[2018-12-08 01:39] arouinfar opened #130 "Rearrange order of objects on Intro"
In the 12/6 design meeting we decided to change the order of the objects on the Intro screen: blocks on the left, stands in the middle, and beakers on the right. This allows for more vertical space when the maximum number of objects are stacked.

![screen shot 2018-12-07 at 6 06 16 pm](https://user-images.githubusercontent.com/8419308/49680220-73629100-fa4f-11e8-8438-e651521b0b18.png)

[2018-12-08 01:43] arouinfar opened #131 "Change color of olive oil "steam""
In the 12/6 design meeting we decided to change the color of the "steam" for olive oil, since it technically smokes.  Let's go with `#f2f2f2` @chrisklus. It looked reasonably smokey in https://github.com/phetsims/energy-forms-and-changes/issues/102#issuecomment-440049550.

[2018-12-08 01:46] chrisklus commented on #130
![image](https://user-images.githubusercontent.com/5618316/49680281-04d20300-fa50-11e8-87a8-84f3f8920f76.png)

All set!

[2018-12-08 01:51] arouinfar opened #132 "Pixel polishes to HeaterCoolerNode"
In the 12/6 design meeting, we decided to increase the size of the HeaterCoolerNode, since it looks a bit small relative to the wire stand. Let's try a 10% increase, but we may have to scale it back a bit if the bucket edges touch the wire stand.

Another tweak we'd like to make is to change the color of the slider thumb from blue to something more neutral. Since blue is on the heat/cool spectrum,

[2018-12-08 01:52] arouinfar commented on #128
👍

[2018-12-08 01:52] #128 closed

[2018-12-08 01:55] arouinfar commented on #130
:+1:

[2018-12-08 01:55] #130 closed

[2018-12-08 02:03] arouinfar commented on #132
Looks like we'll need to handle the slider thumb color in scenery-phet. This would be a global change to all instances of HeaterCoolerNode, which exists in SOM, SOMB, and GasProps. The design concern is the same in those sims, as the blue thumb is not an ideal choice for a red/blue gradient slider.

Gray may not end up being the best choice of neutral color, but I think it's a good start. @chriskl

[2018-12-08 03:06] chrisklus commented on #60
This is complete with the exception of a touch screen bug: A user can slide up one of the heater thumbs and then snag a block or beaker off the top of the burner stand without lifting their finger. However, the multitouch case of only making one of the thumbs pickable seems to be working nicely.

This feature involved a good bit of new code, so assigning to @jbphet for review.

[2018-12-08 04:33] chrisklus opened #133 "CT: one element should be removed before another is added"
EFAC went through a bit of churn today so I'm creating issues for the various CT failures.

[2018-12-08 04:33] chrisklus opened #134 "CT: Cannot read property 'isThumbDraggingProperty' of undefined"
EFAC went through a bit of churn today so I'm creating issues for the various CT failures.

[2018-12-08 04:35] chrisklus opened #135 "CT: v^2 is Infinity"
EFAC went through a bit of churn today so I'm creating issues for the various CT failures.

[2018-12-08 04:39] chrisklus commented on #133
In the code:

[code]

[2018-12-08 04:42] chrisklus commented on #133
I'm assuming this was intended to be commented out, so I went ahead and did so. @jbphet please close if this is all set.

[2018-12-08 04:46] chrisklus commented on #134
This was most definitely caused by https://github.com/phetsims/energy-forms-and-changes/commit/f9818ceaa79390e25cf8ea02c10c19a33b8d9275 in https://github.com/phetsims/energy-forms-and-changes/issues/60. I'm investigating.

[2018-12-08 04:53] chrisklus commented on #134
I'm currently unable to reproduce due to a much more dominant error, https://github.com/phetsims/energy-forms-and-changes/issues/135

[2018-12-08 04:58] chrisklus commented on #135
I'm able to reproduce by simply placing a block in a beaker, and if hasn't happened by then, then pulling the block out of the beaker does it. I'm going to checkout SHAs and find out when this was introduced.

[2018-12-08 05:09] chrisklus commented on #135
Looking like this was caused by https://github.com/phetsims/energy-forms-and-changes/commit/f9f4b52d7ef19f70d98ae00d21a710c82588b531. Tagging @jbphet.

[2018-12-08 05:18] chrisklus commented on #135
That was a pretty big change so I'm going to leave this to @jbphet. Full assertion:

[code]

[2018-12-08 05:38] chrisklus commented on #134
I was able to reproduce on PhET Test, which led me to notice that I missed pushing https://github.com/phetsims/scenery-phet/commit/86fa5798c83e8541c4b810875b47ef44937e1624 to scenery-phet. Fixed, closing.

[2018-12-08 05:38] #134 closed

[2018-12-09 22:43] arouinfar commented on #131
Good call @chrisklus! I think the darker gray looks quite nice.

[2018-12-09 22:43] #131 closed

[2018-12-09 22:48] arouinfar commented on #132
The size of the HeaterCoolerNode looks great @chrisklus, but I think we'll need to find an alternative color for the thumb. I'm not sure it pops enough against the gray bucket. I'll play in Illustrator, and make a recommendation.

[2018-12-10 18:04] #133 closed

[2018-12-10 21:08] jbphet commented on #99
I worked on this for a while today and there seems to be an issue with the creation of identity arrays that is related to the long event handlers.  I discussed my findings with @jonathanolson and logged an issue here: https://github.com/phetsims/dot/issues/81.  Hopefully when that issue is resolved it will get rid of the long event processing issue.  As that one percolates, I'm going to turn my at

[2018-12-10 21:15] jbphet commented on #99
Here is a screenshot of a long animation frame that occurred when dragging the beaker, and which resulted in a noticeable pause while dragging:

![image](https://user-images.githubusercontent.com/3082831/49761780-341d8580-fc85-11e8-8c42-c48f9a049e82.png)

The entire "Animation Frame Fired" processing is reported to have taken 54.42 ms.  There seems to be several calls to `runAnimationFrame`, which

[2018-12-10 21:31] jbphet commented on #135
Fixed, closing.

[2018-12-10 21:31] #135 closed

[2018-12-10 22:48] chrisklus commented on #127
@arouinfar ready for review.

[2018-12-10 23:05] chrisklus opened #136 "CT: position.y = NaN"
I found a pretty weird bug when heating things on the first screen. Somehow a number and the string form of a Vector 2 are being concatenated together...

![image](https://user-images.githubusercontent.com/5618316/49767174-b6fa0c80-fc94-11e8-8036-97d42f119f0d.png)

I've only been able to reproduce (3 times) by heating both beakers with a block inside each of them with energy chunks turned on and t

[2018-12-10 23:16] chrisklus commented on #136
It looks like this is happening because `translate()` is being called on an energy chunk node and a vector is passed in, but `translate()` is supposed to take `( x, y )`, so when x (which actually is the whole position vector) is added to another x value, the result is as seen above:
 `"0.048Vector2(0.0022, 0)"`

[2018-12-10 23:18] arouinfar commented on #136
@chrisklus I think I ran into the same thing when testing #127.

Heat up the brick, then drop it into the water. The temperatures should equalize, but the sim gets stuck like this:
![image](https://user-images.githubusercontent.com/8419308/49767732-f6c1f380-fc96-11e8-96ac-aa2adf8d20ad.png)

I see a ton of errors in the console, and the invalid distance errors keep piling up.
![image](https://user-

[2018-12-10 23:43] chrisklus commented on #136
Thanks @arouinfar!

I think I found the few occurrences of invalid arguments to translate, closing.

[2018-12-10 23:43] #136 closed

[2018-12-11 00:34] chrisklus commented on #129
The warnings are gone, closing.

[2018-12-11 00:34] #129 closed

[2018-12-12 20:41] chrisklus opened #137 "Implement preloadEnergyChunks methods"
On the second screen, each energy system element has a `preLoadEnergyChunks()` method that fills out the element with energy chunks, so if a user turns on energy chunks after playing with the sim, the elements in use already have energy chunks running through them.

The method is necessary because without it, if a user has only been interacting the sim for a short time, then the elements with only

[2018-12-12 20:45] chrisklus opened #138 "Fan has "stuck" energy chunks after switching elements"
If chunks are running through the fan and then you switch away to a different energy user and come back, the chunks that were running through the fan remain stuck where they were left.

[2018-12-12 20:53] chrisklus commented on #138
Fixed, closing.

[2018-12-12 20:53] #138 closed

[2018-12-12 22:14] chrisklus commented on #137
@jbphet and I have turned on the function calls to `preloadEnergyChunks()` and fixed any problems that were causing assertions or errors when turning on the energy chunks. Now the second screen can  run without breaking, but most preloads are not functioning correctly.

The next step is to make them all work as they should.

[2018-12-12 22:36] chrisklus opened #139 "Make water faucet handle sticky"
The handle for the water faucet is sticky in the Java version, so we are going to make this faucet sticky as well.

We noticed that this would be nice to have for turning on energy chunks after the faucet is running, which cannot be done currently since the handle needs to be released, from #137

[2018-12-12 22:49] chrisklus commented on #139
Fixed, closing.

[2018-12-12 22:49] #139 closed

[2018-12-13 23:18] chrisklus commented on #137
All preloading systems have been restored, and per @arouinfar's approval, we also added preloading for the biker, which was not included in the Java version.

The preloading feature is a tricky problem, so our goal was to get this working as least as well as it did in the Java version, and hopefully better. However, @jbphet and I don't think it's plausible to achieve perfection for all cases.

Ass

[2018-12-13 23:24] chrisklus opened #140 "Pixel polishes from 12/13/18"
From 12/13/18 status meeting, @ariel-phet suggested the following pixel polishes:

- [x] Screen 1: shrink slider thumbs, find a nice color for them too
  UPDATE: moved to https://github.com/phetsims/energy-forms-and-changes/issues/132

- [x] Screen 1/2: add space between two checkboxes, more padding around panel edge
  UPDATE: Changed, and reviewed by @arouinfar

- [x] Screen 2: get new element ho

[2018-12-14 00:24] chrisklus opened #141 "stringTest=long is a fail"
Many of the components in EFAC currently don't handle `stringTest=long` very well. We need to set some max widths, as well as maintain checkbox and symbol size regardless of string length.

![image](https://user-images.githubusercontent.com/5618316/49975048-3daf2380-fef9-11e8-8209-581e286aa8f8.png)

Intro screen:
- [x] the beaker label needs a max width

- [x] the "normal" and "fast forward" radio

[2018-12-14 21:22] jbphet commented on #99
Here is another related commit (I mentioned the wrong GitHub issue in the commit): a65bd894343b8acaa265582ee7d73d14251a54c3.

[2018-12-14 21:25] jbphet opened #142 "Clipping of energy chunks incorrect when beaker on block"
A clip area was recently implemented to occlude energy chunks behind blocks in the beaker, see https://github.com/phetsims/energy-forms-and-changes/issues/114.  This is behaving incorrectly when the beaker is on top of the block, here's a screenshot:

![image](https://user-images.githubusercontent.com/3082831/50028317-88d63e80-ffac-11e8-9e59-d907f5c715fb.png)

[2018-12-15 00:59] jbphet commented on #142
Fixed, looks like this now:

![image](https://user-images.githubusercontent.com/3082831/50036916-f6dd2e80-ffc9-11e8-841f-8aa6210a9258.png)

[2018-12-15 00:59] #142 closed

[2018-12-16 04:36] arouinfar commented on #96
@chrisklus I've uploaded the screen icon assets to the sim folder:
https://drive.google.com/drive/folders/0B6CMwxdP0NGYVDFaVURCMUREd28

[2018-12-16 04:37] arouinfar commented on #140
@chrisklus I've created new assets for the element base, and uploaded them to the sim design folder:
https://drive.google.com/drive/folders/0B6CMwxdP0NGYVDFaVURCMUREd28

[2018-12-17 23:36] arouinfar commented on #132
@chrisklus we can move the thumb color discussion to https://github.com/phetsims/scenery-phet/issues/443. As for the thumb size, 30x15 looks about right to me.
![screen shot 2018-12-17 at 4 36 02 pm](https://user-images.githubusercontent.com/8419308/50122477-de635300-0219-11e9-9c61-dcb412abf105.png)

[2018-12-18 17:35] chrisklus commented on #132
@arouinfar 30x15 looked a bit smaller in the sim than your mockup, so I adjusted the numbers slightly to match what you have.

![image](https://user-images.githubusercontent.com/5618316/50171646-38165c80-02b0-11e9-8699-07c31a7220e1.png)

Leaving final review for phetsims/scenery-phet#443, closing.

[2018-12-18 17:35] #132 closed

[2018-12-18 21:17] chrisklus commented on #141
Things are looking good.

![image](https://user-images.githubusercontent.com/5618316/50182860-aa496a00-02cd-11e9-976a-99bddee5b04c.png)

![image](https://user-images.githubusercontent.com/5618316/50182824-969e0380-02cd-11e9-9350-6f5de9f1780b.png)

Note: the beaker is going to be lowered in https://github.com/phetsims/energy-forms-and-changes/issues/140, so the near collision with the energy symbol

[2018-12-18 21:17] #141 closed

[2018-12-19 01:13] chrisklus commented on #96
@arouinfar these look great!

![image](https://user-images.githubusercontent.com/5618316/50187817-90fbea00-02dc-11e9-81fa-84023bb90ca8.png)

![image](https://user-images.githubusercontent.com/5618316/50192027-c9f08a80-02ed-11e9-8d9e-33397f4287d7.png)

Anything left here?

[2018-12-19 17:08] arouinfar commented on #96
Looks great @chrisklus, thanks!

[2018-12-19 19:20] jbphet opened #143 "Energy chunks should never go to zero"
In [v1.0.0-dev.10](https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.0.0-dev.10/phet/energy-forms-and-changes_en_phet.html) and in the current master, it is possible to get the number of energy chunks in the brick (and possibly other thermal containers) to go to zero.  It looks like this:

![image](https://user-images.githubusercontent.com/3082831/50242467-b691fd80-0387-11e9-8f97-70aaa

[2018-12-19 19:34] jbphet opened #144 "branch: simplified-air-cooling"
This branch was created to try out modifications to the way the thermal model elements exchange energy with the air when they are stacked, see #115.

[2018-12-19 20:07] jbphet commented on #144
Merged into master (turns out hyphens can't be used in branch names if you want to create a on-off release).  Closing.

[2018-12-19 20:16] jbphet commented on #115
I have removed the code that restricts energy exchange with the air in non-equalized stacks of objects.  This significantly simplifies this portion of the code, and I feel that it improves the behavior since it is now more consistent and doesn't exhibit some of the quirks that the previous code did.

The main tradeoff here is that stacks of thermal elements now lose energy to the air while they al

[2018-12-19 20:18] jbphet commented on #115
@arouinfar, @ariel-phet, and @chrisklus - please unassign yourselves once you've responded, and the last one to do so should assign the issue back to me.

[2018-12-19 23:41] arouinfar opened #145 "Items for Teacher Tips"
For #13
- [ ] Heating/cooling logic for items in contact - #115
- [ ] Pre-loading for energy chunks - #137
- [x] Blocks have the same volume, but not the same mass, which is why brick heats up ~20% faster. (Iron block ~240% more massive, with a specific heat ~50% smaller than brick).
- [x] Thermometer bounds - #185
- [ ] Nature of energy chunk model - https://github.com/phetsims/energy-forms-and-c

[2018-12-19 23:58] arouinfar commented on #143
@jbphet I was able to do something similar with the Olive Oil and Iron.

1. On startup, stack olive oil on top of iron
2. Remove heat, and eventually, iron will lose all of its energy chunks. Interestingly, the olive oil is warmer than the iron.
<img width="230" alt="screen shot 2018-12-19 at 4 51 16 pm" src="https://user-images.githubusercontent.com/8419308/50255253-68442500-03ae-11e9-8c4d-797dec

[2018-12-20 00:11] arouinfar commented on #115
@jbphet I think dev.11 is looking really nice! I think the changes make the model more physical, while the trade-offs seem pretty subtle.

The energy loss to the air is occasional, and I didn't find that it distracts from equilibrium.

Comparing dev.11 to dev.10, I'm not seeing much of a difference in the cool-off time.

[2018-12-20 00:41] ariel-phet commented on #115
@jbphet I agree dev.11 is looking really nice. I can easily perceive equilibrium being reached, and I very much like the fact that some convective cooling happens simultaneously.

Not sure if related to these changes, but there does appear to be a bug when I fully heat a block and cool it off in water. Steps to reproduce:

1. Heat iron block to max temp with Energy Chunks on
2. Drop in water (it s

[2018-12-20 00:58] chrisklus commented on #106
The light rays now fade out, but the ones that pass though clouds fade a little more quickly, even when the clouds are turned all the way off. It looks pretty nice as is, but @jbphet is going to think a little more on how to fix the extra fading issue, so we will improve the rays if we have time.

[2018-12-20 16:54] chrisklus commented on #115
dev.11 is looking great!

@arouinfar said:

I completely agree. I think the interaction looks smooth and natural.

I was able to reproduce the bug @ariel-phet described in https://github.com/phetsims/energy-forms-and-changes/issues/115#issuecomment-448810473. I noticed that if the block wasn't heated all the way up, then there was no big release of energy chunks when the block is pulled back out.

[2018-12-21 02:20] pixelzoom commented on #60
The above commit has an inherent bug.  `EFACIntroScreenView` is violating the `@protected` visibility of `HeaterCoolerFront`'s slider.  See https://github.com/phetsims/scenery-phet/issues/442#issuecomment-449218028.

[2018-12-21 02:33] pixelzoom commented on #60
The above-mentioned bug was resolved by making HeaterCoolerFront's slider `@public`.  See https://github.com/phetsims/scenery-phet/issues/442#issuecomment-449220242.

[2018-12-21 20:56] jbphet commented on #115
@ariel-phet's comment in https://github.com/phetsims/energy-forms-and-changes/issues/115#issuecomment-448810473 revealed an important problem.  In a nutshell, the issue was that energy chunks could essentially get stuck in a block when that block is immersed in a beaker and it cools to the point where it has one or more excess energy chunks, but the beaker won't take those chunks because it has co

[2018-12-21 20:57] jbphet commented on #115
@ariel-phet - can you please test the revised behavior on master?

[2018-12-22 00:08] ariel-phet commented on #115
@jbphet Yeah, this is pretty awesome. You can "quench" the block, and the second time or so you do it with a hot block (since the water is now hot) you get a nice bunch of energy chunks in the steam, which feels very realistic and satisfying. That sort of "puwwwssshhhh" effect of dunking a hot object into water.

Closing this issue.

[2018-12-22 00:08] #115 closed

[2018-12-22 00:38] jbphet commented on #143
I was able to improve this a bit by added code that prevented the blocks from going below the minimum allowed temperature (this could happen in some situations), and it improved things, but it's not entirely fixed yet.  It seems like there are still cases where energy chunks seem to get kind of stuck moving into an object at low temperature values.  I'll take this up again in the new year.

[2018-12-27 16:58] jbphet commented on #81
Bumping this up to high priority, since some code will need to be added to handle the gear rotation, so integration is non-trivial and we need to get to it.

[2018-12-27 21:37] chrisklus opened #146 "Energy chunks do not come out of air"
In the java sim, when a block is cooled off by the ice bucket and then left to sit, as the block warms up from the air, an energy chunks appears from the air and trickles down into the block.

![kapture 2018-12-27 at 16 28 35](https://user-images.githubusercontent.com/5618316/50495066-d44d0b80-09f4-11e9-837c-db12a870a8ae.gif)

This does not currently happen in HTML, but we would like it to. @jbphe

[2018-12-27 21:48] chrisklus opened #147 "Animate thermometers returning to toolbox"
Currently, when any part of a held thermometer is overlapping with the toolbox and is then released, the thermometer snaps back in. Since there are typically other thermometers already in the destination spot, you can't really tell that's where it went. Instead, it kind of looks like it just disappeared.

![kapture 2018-12-27 at 16 46 36](https://user-images.githubusercontent.com/5618316/50495423-

[2018-12-27 21:54] arouinfar opened #148 "Tweaks to z-ordering of sun rays/chunks"
I've noticed the sun rays and energy chunks will travel above the gray bar at the bottom of the screen. This can result in some occlusion of the play/pause controls. In Java, the gray bar was layered on top, which is preferable.

![image](https://user-images.githubusercontent.com/8419308/50495158-9d6ef980-09e4-11e9-9074-98356becb965.png)
![image](https://user-images.githubusercontent.com/8419308/5

[2018-12-27 22:14] arouinfar commented on #137
@chrisklus everything's looking great! I tested all combinations of the producers/converters/consumers and things were looks really smooth to me.

[2018-12-27 22:14] #137 closed

[2018-12-27 23:03] chrisklus commented on #148
@arouinfar since the fan is now lower and father away from the energy chunk legend, could I also put the legend on top of the energy chunk layers? I think it will be the only remaining panel that is behind energy chunks, and the code organization would be nice if all of the panels were near each other. We might need to bring the fan down a touch more to make sure the vast majority of its chunks pa

[2018-12-28 01:20] arouinfar commented on #140
@chrisklus I've uploaded the new wire and updated wire.ai assets to the [sim design folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYVDFaVURCMUREd28). I cloned the original wire and shortened it by 20 px, so the dimensions should work out. Let me know if I should tweak anything.

[2018-12-28 01:36] arouinfar commented on #81
@chrisklus @jbphet I've uploaded the updated assets for the bike frame and bike gear to the [sim design folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYVDFaVURCMUREd28). I'll finish up the remaining cyclist assets tomorrow.

[2018-12-28 17:09] chrisklus commented on #147
I've got something working pretty nicely.

![kapture 2018-12-28 at 12 07 41](https://user-images.githubusercontent.com/5618316/50522521-5262ee00-0a99-11e9-92d9-95ff54520d7d.gif)

Assigning to @jbphet for review.

[2018-12-28 18:02] chrisklus commented on #140
Thanks @arouinfar! The beaker heater and fan lowered very nicely.

It looks like outer edge and gradient of the curve on the shorter image is a little distorted - maybe it got squashed a bit when the image was shortened? Not sure if it's a big deal, just thought I'd bring it to your attention.

Old:
![image](https://user-images.githubusercontent.com/5618316/50523806-10897600-0aa0-11e9-9166-2d8ddfe

[2018-12-28 18:06] chrisklus commented on #148
All set. I went with @arouinfar's recommendation and lowered the fan with the shorter wire. The energy chunk legend is in front of the energy chunk layers and far enough above the chunks coming from the fan.

Anything else left here @arouinfar?

[2018-12-28 23:40] chrisklus commented on #146
@jbphet and I worked on this tonight and got it functioning like the Java version. Assigning to @ariel-phet for review (on master).

[2018-12-31 17:37] jbphet opened #149 "License entry needed for bicycle gear"
In a939906cadd380ab0bf451e4429ee2a24a9ec672 I added a license entry for `bicycle_gear.png` because the absence of such an entry was causing CT failures.  I credited the image to @arouinfar, if that's correct, then everything is cool and this can be closed.  If not, it should be updated.

[2018-12-31 17:53] jbphet commented on #81
IMO, this is an improvement over the non-rotating gear (for comparison, you can see the fixed gear in https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.0.0-dev.11/phet/energy-forms-and-changes_en_phet.html).  It looks a little odd at low speeds because the gear moves more continuously than the animated crank and pedals, but it's still better.

[2018-12-31 18:37] jbphet commented on #81
I just noticed something - the gear sometimes does an odd little jump when it has been spinning for a while and then stops due to the biker power being turned all the way down.  It only happens at the very end of the slowdown process.  Adding @chrisklus as an assignee to investigate.

[2018-12-31 18:58] jbphet commented on #118
Code changes look good, and I tested the behavior for a while and it looks good too.  Closing.

[2018-12-31 18:58] #118 closed

[2018-12-31 19:03] jbphet commented on #103
It looks good to me.  The term "energy systems" is still used in the code quite a bit, but I think this makes sense given that just using the term "systems", e.g. calling something a `SystemElement` versus an `EnergySystemElement` is too vague, I think what was done makes sense.  Closing.

[2018-12-31 19:03] #103 closed

[2018-12-31 19:37] jbphet commented on #60
There is a bit of a problem with this implementation that became clear to me after working on https://github.com/phetsims/resistance-in-a-wire/issues/204.  To duplicate the issue, select the "Link Heaters" checkbox and then click on the slider track of one of the heater-coolers.  The selected one will activate and the other won't.  Also, if the sim is run with the `a11y` flag enabled and the user

[2018-12-31 19:41] jbphet commented on #49
Looks good - this is much cleaner and easier to understand.  Closing.

[2018-12-31 19:41] #49 closed

[2018-12-31 21:36] jbphet commented on #146
Getting this working has made it clear to me why code existed that prevented energy exchange with the air when thermal model elements (i.e. blocks and beakers) are stacked.  In https://github.com/phetsims/energy-forms-and-changes/issues/115#issuecomment-448729854, I described removing this code.  We may have to put it back, but I'd rather not, because it's tweaky and not very physical.  The essenc

[2018-12-31 23:45] jbphet commented on #146
I implemented idea 1 from the previous comment, and it seems to work great.  @ariel-phet and @arouinfar  - please test the current screen 1 energy chunk behavior on master and see if you think it's looking good.

[2019-01-01 20:38] arouinfar commented on #148
Everything looks great, thanks @chrisklus!

[2019-01-01 20:38] #148 closed

[2019-01-02 02:31] arouinfar commented on #140
Nice catch @chrisklus! I think the issue is that the artboard coordinates weren't whole numbers of pixels which lead to the asset dimensions being a bit off. I ended up re-exporting all of the wire assets after fixing the .ai file. I think things should align correctly now. The updated assets can be found in the [sim design folder](https://drive.google.com/drive/u/0/folders/0B6CMwxdP0NGYVDFaVURCMU

[2019-01-02 16:14] chrisklus commented on #149
Whoops, sorry about that @jbphet. I've updated the license. Closing

[2019-01-02 16:14] #149 closed

[2019-01-02 17:06] KatieWoe opened #150 "CT: Encountered energy chunk with unexpected type"
[code]

[2019-01-02 20:56] arouinfar commented on #81
Converting remaining work in https://github.com/phetsims/energy-forms-and-changes/issues/81#issuecomment-432028777 to a checklist
- [x] Add top border to T`cyclist_leg_front_18.png`, `cyclist_leg_front_17.png`, and `cyclist_leg_front_12.png`.
- [x] Remove extra gray shape in `cyclist_leg_front_16.png`.
- [x] Adjust position of crank, particularly in `cyclist_leg_front_12.png` and `cyclist_leg_fron

[2019-01-02 20:57] arouinfar commented on #81
By the way, I think the rotating gear looks really nice in master @chrisklus!

[2019-01-04 21:53] arouinfar commented on #60
@chrisklus @jbphet I found an issue with the current implementation of the Link Heaters option.

Everything works nicely if a student drags the slider thumb. However, if they click on the slider track instead, only one heater will turn on. This happened in two student interviews and was problematic.
![link_heaters](https://user-images.githubusercontent.com/8419308/50712817-2236c480-1030-11e9-8b77-

[2019-01-04 22:15] pixelzoom commented on #60
If the Properties that control the 2 HeaterCoolerNodes were properly linked, then it shouldn't matter whether you use the thumb or click the track.  So I suspect there's something more fundamentally wrong with how this "link" feature is implemented.

[2019-01-07 19:54] arouinfar opened #151 "Remove snappy behavior from tea kettle's HeaterCoolerNode"
In Java, the tea kettle's slider is not snappy -- the thumb can be left in a heating or cooling position. This allows students to swap out the different energy consumers while the energy is flowing through the system. Currently, the HeaterCoolerNode's slider thumb always snaps back to the off position if the user lets go. All of the other energy producers can be left on without needing to hold the

[2019-01-07 20:46] jbphet commented on #143
I've added other code that makes it more difficult to get into this situation.  It looked pretty good in my initial testing, assigning to @ariel-phet to take a look and see if the current behavior on master is acceptable.  Note that all objects stop losing heat when they get to the freezing point of water.  The thinking here is that visually, they look like they are essentially in contact with ice

[2019-01-07 23:11] ariel-phet commented on #146
I think this is all looking good. Closing

[2019-01-07 23:11] #146 closed

[2019-01-07 23:34] ariel-phet commented on #143
@jbphet the not cooling below "ice" temp looks fine to me and most things seem to be working nicely. For instance if I heat up the water and then put it on a block to cool, all the behavior looks quite nice.

The one behavior that is not looking quite right is heat conduction when cooling an object with another object stacked on top of it.

For example:
1. start the sim
2. Put the iron block on th

[2019-01-08 00:12] arouinfar opened #152 "Fast forward is jumpy and can tank performance"
In interviews on dev.12, the students used a MacBook Air (Lise) running macOS 10.13.6/Safari 12.

When using fast forward, the sim became really jumpy and the performance was very poor to the point the sim became unusable (sim ran fine when speed was normal). This is an older device, but I notice the fast-forward performance isn't so hot on my MacBook (also running macOS 10.13.6), though the sim r

[2019-01-08 18:22] chrisklus commented on #140
Thanks @arouinfar! Hmm, it looks like all of the curves are distorted now except wire_bottom_left.png. That's pretty weird, I wonder what's going on.

I've left wire.ai and the images as they were, so wire_bottom_right_short.png is still the only distorted image on master.

[2019-01-08 19:49] chrisklus commented on #60
Thanks for the feedback. I went ahead with @jbphet's recommendation and added options to HeaterCoolerFront for startDrag and endDrag. This allowed me to update a Property in LinkableHeaterCoolerFront with startDrag and endDrag functions, which I then linked to in EFACIntroScreenView, instead of linking to `slider.isThumbDraggingProperty`.

Clicking on the slider track and moving the thumbs with a1

[2019-01-08 21:04] chrisklus commented on #81
The changes look really good @arouinfar! The cranks are centered nicely.

Something caused the legs to get out of sync. I've not investigated much, but in dev.12, it looks like the cranks are always in line with each other. With these images, they seem to get out of line slightly at some point in the rotation, and then when front leg is at its top position, it does not move for one frame, and so t

[2019-01-08 21:06] chrisklus commented on #81
I just realized that it's easy to look at the diff between the two sets of images in WebStorm. Front legs 11-14 are ahead one step in the animation from their previous versions. So, the original 11 is being skipped over, and the original 15 is being displayed twice.

[2019-01-08 22:56] pixelzoom commented on #60
I believe that these changes are unnecessary, there is no need to add anything to HeaterCoolerNode.   You should be linking the Properties, not the drag behavior. Here's how I'd do it:

[code]

[2019-01-08 23:08] arouinfar commented on #81
@chrisklus looks like I  mis-numbered some of the legs. Can you restore the original front leg 11, and then shift the updated asset numbering from 11-14 to 12-15? Or do you need me to re-export the assets?

[2019-01-08 23:11] arouinfar commented on #140
How strange! I'm not sure what's going on, but I will work on updating wire_bottom_right_short so it lines up correctly with the other wires.

[2019-01-08 23:15] chrisklus commented on #60
This seems problematic because there is no leader-follower relationship being established. The HeaterCooler that is following should not be pickable. At first glance, I don't see how that could be done with equal links between the two.

[2019-01-08 23:21] chrisklus commented on #81
@arouinfar sure thing! Should the assets in the table in https://github.com/phetsims/energy-forms-and-changes/issues/81#issuecomment-450982564 be labeled 12-15 as well? Just want to make sure that I'm renaming the same four images that you made changes to.

[2019-01-08 23:36] arouinfar commented on #81
Definitely. I went ahead and updated the table.

[2019-01-08 23:45] chrisklus commented on #81
Sweet, thanks @arouinfar. I renamed and added the images and everything looks great. I'll go ahead and commit the cyclist.ai from the drive folder too, as I'm assuming that's good to go.

[2019-01-09 00:05] pixelzoom commented on #60
[code]

... and similar for `heaterCoolerNode1`.  Again, no new features/options/code needed in HeaterCoolerNode.

[2019-01-09 00:06] chrisklus commented on #81
@jbphet and I investigated the gear jumpiness that he mentioned in https://github.com/phetsims/energy-forms-and-changes/issues/81#issuecomment-450678654. We discovered that once the velocity of the biker has decelerated to 0, the crank angle Property is set to a value that aligns to the next closest biker animation frame so that there is no delay for the legs to start moving the next time the bike

[2019-01-09 00:09] chrisklus commented on #81
@arouinfar I think we're pretty far along here, would you like to review?

[2019-01-09 00:14] chrisklus commented on #60
Nicee, yeah this definitely seems simplified. And gets rid of all need for LinkableHeaterCoolerFront, right ha....

[2019-01-09 19:55] arouinfar commented on #81
Looks great @chrisklus! Not sure if there's any remaining work here, so I'll leave this issue open and assigned to @chrisklus.

[2019-01-09 21:50] arouinfar commented on #140
@chrisklus, I downloaded wire_straight and wire_bottom_right_short from the images directory. They align perfectly if the bottom of wire_bottom_right_short is 3 px lower than the bottom of wire_straight.

![image](https://user-images.githubusercontent.com/8419308/50930310-f09d6f00-141c-11e9-9886-afd669ed6e90.png)

I'm not sure why master has a slight mis-alignment
![image](https://user-images.gith

[2019-01-09 22:12] chrisklus commented on #81
@arouinfar thanks for reviewing. I don't think there's any remaining work, so I'm going to close.

[2019-01-09 22:12] #81 closed

[2019-01-10 00:55] jbphet commented on #143
@ariel-phet - please test the scenario you described in the preceding comment on the current master version and let me know how that looks.  For now, let's leave it at that.  There are some other issues with energy chunk exchanges between stacked items that I'm close to resolving, but not quite there yet.

[2019-01-10 19:46] ariel-phet commented on #143
@jbphet things generally look good to me for energy exchanges between stacked items when cooling or heating. The one polish I am seeing now is that if I cool a brick with the water on top sometimes the chunks from the water take an odd route (for instance they slide down the air on the side of the brick, then pop into the brick, then down to the ice). So the bounds of the thermal contact of the br

[2019-01-10 20:10] ariel-phet opened #153 "Some reflectivity of light rays off solar panel (energy symbols off)"
Since we now show (light) energy chunks bouncing off the solar panel with some frequency, we might want to consider showing some reflectivity of the solar panel when energy symbols are off, the "light ray" mode of the sun.

Definitely not needed for 1.0.

Marking as a potential "polish" and curious for @arouinfar opinion

[2019-01-10 22:29] KatieWoe opened #154 "CT: cannot read property getEnergyChunkBalance"
[code]

[2019-01-11 00:52] chrisklus commented on #147
No worries! As we've since discussed, using twixt Animation was very straightforward, and got rid of a lot of duplicated and unnecessary code. I made the thermometers un-pickable when the animation is in process.

Back to @jbphet for review.

[2019-01-11 01:47] chrisklus commented on #140
As @arouinfar and I discovered yesterday, turns out we were on different pages from the beginning regarding https://github.com/phetsims/energy-forms-and-changes/issues/140#issuecomment-450401580, as I'm now seeing from https://github.com/phetsims/energy-forms-and-changes/issues/140#issuecomment-450777728. My concerns were for image quality, and @arouinfar's were for image alignment. My apologies f

[2019-01-11 17:00] #140 closed

[2019-01-11 18:47] arouinfar commented on #153
@ariel-phet I think that would be a nice touch, and I think it would be nice to try out after 1.0.

A few thoughts
* The reflection angle could be tricky because of the perspective of the solar panel
* The opacity of the reflected ay would need to be quite low
* The area around the solar panel could end up looking a bit busy if there are a lot of ray intersections, but perhaps the low opacity of r

[2019-01-11 20:04] chrisklus commented on #107
@jbphet and I figured out a way to do this that was not very complex.

This issue was low priority, but we either had to (option 1) put the water in front of the generator wheel and figure out the layering situation, or (option 2) figure out how to time the energy chunks to pass in between the wheel paddles (which is the behavior in the java sim), since they've been passing behind the wheel paddle

[2019-01-11 20:37] chrisklus opened #155 "Energy chunks blip when transferring from source to generator"
When an energy chunk is switching over from its source to the generator, there is one frame where the chunk disappears before reappearing as a chunk owned by the generator. Symptom appears with the water faucet, tea kettle, and biker. Noticed while working on https://github.com/phetsims/energy-forms-and-changes/issues/107.

![kapture 2019-01-11 at 13 36 50](https://user-images.githubusercontent.co

[2019-01-11 22:05] chrisklus commented on #150
This has been a tricky one to investigate. I've been repeatedly fuzzing the second screen for an hour on two different machines and have only caught it twice.

All I know is that the solar panel is somehow receiving a mechanical chunk, which is throwing an assertion. The stack is not helpful aside from that. Before I reached the assertion a second time, I tagged all of the the outgoing energy chun

[2019-01-11 23:17] jbphet commented on #154
CT looks clear after several hours, closing.

[2019-01-11 23:17] #154 closed

[2019-01-12 00:46] chrisklus opened #156 "Energy chunks from air to burner fall in straight line"
When the burners are cooling without blocks or burners on them, the chunks they get from the air fall a straight line instead of the usual wander that thermal chunks have.

![kapture 2019-01-11 at 17 44 13](https://user-images.githubusercontent.com/5618316/51066635-9ccf8900-15c8-11e9-891a-268ec19e1311.gif)

[2019-01-12 00:54] jbphet commented on #143
@ariel-phet - please test the behavior on https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.0.0-dev.13/phet/energy-forms-and-changes_en_phet.html and log any next comments on the energy chunk behavior with respect to that dev version.  I've modified a number of things about the energy chunk transfer behavior that I think will address the concerns above.

[2019-01-14 18:38] ariel-phet commented on #143
@jbphet as far as I can tell dev.13 is all looking good. Going to close this issue, and we can see if QA finds anything else, but nothing obvious seems to be an issue, and the behavior is looking quite nice!

[2019-01-14 18:38] #143 closed

[2019-01-14 18:39] ariel-phet commented on #155
Agreed @chrisklus , barely noticeable (but yes I can see it if I am watching for it). Defintiely not blocking for 1.0

Marking low piority.

[2019-01-14 19:19] chrisklus commented on #107
There was a bug in the change for this issue that is apparent in dev.13. If you switch to the solar panel and then back to the generator, the energy chunk path is not visible for part of the way through the generator. When I removed the parent position Property for the energy chunk layer that was being added back in on top of the energy source layers, I set the Property to null, but forgot to also

[2019-01-14 21:38] jbphet commented on #156
Should be fixed, assigning to @chrisklus to review and test.

[2019-01-14 21:42] chrisklus opened #157 "Generalize a max height for traveling energy chunks"
Throughout this sim, there are several places where energy chunks are released upwards, but the paths for doing so are determined in different ways. The sun emanates light chunks in all directions and removes them once they've traveled outside a certain radius, while the thermal paths from the fan, lightbulb, beaker heater, and biker use a relative distance from their position for their energy chu

[2019-01-15 19:54] jbphet commented on #156
The odd behavior seems to have been an issue with vector pooling.  In an attempt to reduce allocations, and thus improve performance, the energy chunk wander controllers were trying to create their position vectors from a pool.  For some reason, this was resulting in vector values getting overwritten, which means some of the things they were getting from or releasing to the pool weren't actually u

[2019-01-15 20:59] arouinfar commented on #96
Now that the water/generator layering has shifted (see #107), I should replace the screenshot used in the icon for the Systems screen.

Tagging for https://github.com/phetsims/QA/issues/258, since the icon should be updated before the next round of QA testing.

[2019-01-15 21:15] KatieWoe opened #158 "Falling Blocks teleport to burner and water/oil"
For https://github.com/phetsims/QA/issues/258
The brick and iron blocks fall to the ground but teleport if they end on a burner or in a liquid.  According to @chrisklus this was not always the behavior.  Seen better when ?speed=.1
![telleportblock](https://user-images.githubusercontent.com/41024075/51210331-be35bb00-18cf-11e9-910e-593440a70c51.gif)

[2019-01-15 21:31] chrisklus opened #159 "Create a type to handle second screen chunk wandering"
From https://github.com/phetsims/energy-forms-and-changes/issues/157.

There is a lot of repeated code for determining the paths of released energy chunks. For example, path creation for radiated chunks is basically the same in Biker, BeakerHeater, and Fan. I think there should be a type for the second screen that can create different kinds of energy chunk paths. This would be a significant change

[2019-01-15 21:36] chrisklus commented on #157
I've added the constraint for all relevant system elements. The first screen has a different zoom level than the second screen, so I've left the max energy chunk height on its own in Air.js.

There is a lot of repeated code for determining the paths of released energy chunks that needs to be generalized. I'm going to close this issue and then address the repeated code after 1.0 release in a new is

[2019-01-15 21:38] rea-laura commented on #152
For https://github.com/phetsims/QA/issues/258 I noticed performance issues as well on iOS 12.1.1. Seems like activating energy symbols or using the fast forward button both tank performance. The sim becomes jumpy and slow, even to the point where it will sometimes freeze up entirely and needs a page refresh to fix the problem.

[2019-01-15 21:57] chrisklus commented on #158
This was an accidental change from an earlier refactor of falling model elements. Fixed now. Note that the beakers would also not animate when falling to a surface besides the lab bench, but now they do along with the blocks.

@KatieWoe please close when you confirm this is behaving correctly.

[2019-01-15 22:05] KatieWoe commented on #158
Confirmed

[2019-01-15 22:05] #158 closed

[2019-01-15 22:25] KatieWoe opened #160 "Liquid containers can pick up thermometers when dropped"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/258.  Probably connected to https://github.com/phetsims/energy-forms-and-changes/issues/67.
When dropping a beaker, if it passes through a thermometer on the way down, it may pick it up.  It may also occur if you drop the container while overlapped with t

[2019-01-15 22:36] chrisklus opened #161 "Add option for making first screen burners sticky"
@KatieWoe requested that we add a query param option for making the first screen burners sticky so that QA can test more efficiently.

[2019-01-15 22:43] rea-laura opened #162 "Fast forward causes objects to teleport, stick together, and energy symbols to cluster outside of objects"
Likely related to https://github.com/phetsims/energy-forms-and-changes/issues/152
Similar to effects observed in https://github.com/phetsims/energy-forms-and-changes/issues/168 but much worse on iPad.

Device:
Leibniz, iOS 12.1.1
not found on any other devices (yet) - will update with more info as testing continues.

Browser:
Safari

Problem Description:
For https://github.com/phetsims/QA/issues/2

[2019-01-15 22:51] chrisklus commented on #161
Implemented on master. Will be ready for next dev version @KatieWoe. Closing.

[2019-01-15 22:51] #161 closed

[2019-01-16 00:02] KatieWoe opened #163 "Multitouch allows element to fall into burner and overlap"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/258.
During fuzz test the beakers and blocks can be seen to fall into the burners, and some elements overlap.  I have been able to partially reproduce this, though not to the extent seen during fuzz tests.  This method at least relies on multitouch.  It also has

[2019-01-16 00:40] arouinfar opened #164 "Thermometers should update when sim is paused"
For https://github.com/phetsims/QA/issues/258

When the sim is paused, the thermometers remain tied to the object they were placed on before the sim was paused. This leads to some buggy-looking behavior.

![thermometer](https://user-images.githubusercontent.com/8419308/51218445-b7b43d00-18e9-11e9-91ce-5cb536afa643.gif)

From the color of the triangle, it's clear that the thermometers are still rea

[2019-01-16 00:42] chrisklus commented on #164
Hey that makes a lot of sense. I'll look into this.

[2019-01-16 01:32] chrisklus commented on #164
@jbphet can you review? I considered doing something like this:

[code]

And then also still call `this.stepSensors( dt )` from the end of `stepModel()`, but what I committed above seemed like all that was needed to me.

[2019-01-16 03:07] ariel-phet commented on #163
@KatieWoe pretty awesome detective work! We will reevaluate this issue after 1.0 is published, but for now I am marking deferred. Considering the "edginess" of this use case, it is quite likely we will just ignore it.

[2019-01-16 15:57] lmulhall-phet opened #165 "All energy chunks move to the same spot when olive oil is heated"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.2

**Browser**

71.0.3578.98

**Problem Description**

For https://github.com/phetsims/QA/issues/258. Basically the title. See the gif.

**Steps to Reproduce**

1. Put olive oil on burner.
2. Heat olive oil.

**Screenshots**

![issue](https://user-images.githubusercontent.com/31285590/51260933-92b4de00-196c-11e9-888e-82807a1c918f.gif)

[2019-01-16 15:59] lmulhall-phet opened #166 "Why doesn't olive oil have energy chunks?"
For https://github.com/phetsims/QA/issues/258.

Upon loading the sim, olive oil doesn't have energy chunks.

![screen shot 2019-01-16 at 8 58 22 am](https://user-images.githubusercontent.com/31285590/51261136-eb847680-196c-11e9-8c1e-d61dad63c8c3.png)

[2019-01-16 16:01] lmulhall-phet opened #167 "Add dependencies JSON"
Dependencies JSON is missing in Report a Problem.

[2019-01-16 16:05] arouinfar commented on #166
Definitely a bug @lmulhall-phet

[2019-01-16 16:08] arouinfar commented on #166
This is what I'm seeing on startup, though.

![screenshot_20190116-090636](https://user-images.githubusercontent.com/8419308/51261816-3d79cc00-196e-11e9-9f7a-bccb6f910dca.png)

[2019-01-16 16:09] lmulhall-phet commented on #166
@KatieWoe figured out why this is happening. She'll comment with more details.

[2019-01-16 16:20] lmulhall-phet commented on #165
This occurs because of another bug. Will make issue. All will be clear.

[2019-01-16 16:37] lmulhall-phet opened #168 "Adding brick to liquid, heating, then resetting causes chunks to be off, move to same spot"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.2

**Browser**

71.0.3578.98

**Problem Description**

For https://github.com/phetsims/QA/issues/258. This is bug with convoluted steps. https://github.com/phetsims/energy-forms-and-changes/issues/165 and https://github.com/phetsims/energy-forms-and-changes/issues/166 occur as a result of this bug.

**Steps to Reproduce**

1. Put oliv

[2019-01-16 16:39] kellywurtz opened #169 "Vibrating energy chunks stuck in between elements"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.2

**Browser**

Chrome 71.0.3578.98

**Problem Description**

Two energy chunks seem to be stuck in between the olive oil beaker and the brick, and are vibrating widly. See gif.

**Steps to Reproduce**
(I have not been able to reproduce, but these were the steps used to create - will update if I discover anything more reliable)

1) Re

[2019-01-16 16:40] lmulhall-phet commented on #166
We can close this issue if we want to; there is an "umbrella issue" https://github.com/phetsims/energy-forms-and-changes/issues/168.

[2019-01-16 16:41] lmulhall-phet commented on #165
We can close this issue if we want to; there is an "umbrella issue" https://github.com/phetsims/energy-forms-and-changes/issues/168.

[2019-01-16 16:46] KatieWoe commented on #168
The results of this bug can differ a bit each time we see it.  I'm using this comment to detail some of the bugs seen when after these steps are followed.
1. The chunks may either disappear, or be changed to be off center and partially gone
2. A string of glitchy chunks follow the beaker around as it is dragged, especially if you have attempted to heat the beaker after the glitch occurred
3. Some

[2019-01-16 16:49] KatieWoe commented on #168
![ironbrickinsameplace](https://user-images.githubusercontent.com/41024075/51264366-926c1100-1973-11e9-9237-71b421a46be9.jpg)

![resetoff](https://user-images.githubusercontent.com/41024075/51264402-a283f080-1973-11e9-8bf6-29ba771e204f.jpg)

https://drive.google.com/file/d/1ctu1pBldtkRQ3Wrk1U_U14BTZee-nkyz/view?usp=sharing

[2019-01-16 16:53] kellywurtz commented on #168
Also able to reproduce the **disappearing olive oil** bug on **normal speed**.

(Macbook Pro, Chrome 71.0.3578.98)

![efac_disappearingoliveoil](https://user-images.githubusercontent.com/42352972/51264754-70bf5980-1974-11e9-9deb-745e37133f1a.gif)

[2019-01-16 16:59] KatieWoe opened #170 "Edge performance"
Performance on Edge (Win 10) is particularly bad.  It can take the sim a few seconds to respond to input.
For https://github.com/phetsims/QA/issues/258
Unlike https://github.com/phetsims/energy-forms-and-changes/issues/152, this occurs without fastforward, though may be similar to the iOS portion, as energy chunks seem to be a cause.

[2019-01-16 16:59] rea-laura commented on #168
In Katie's previous comment (#4):

"Moving elements can cause them to phase through beakers, into the burner, etc"

here is a visual of the problem she found. On iPad (12.1.1) this problem can sometimes even prevent the brick from being removed from the olive oil. When dragged upward, it instead moves down through the beaker and into the burner and gets trapped.

https://photos.app.goo.gl/ejfVQ4Yo

[2019-01-16 17:09] KatieWoe commented on #170
This lower performance may make https://github.com/phetsims/energy-forms-and-changes/issues/168 easier to achieve on normal speed.  It happened quickly when performance was bad on normal speed, but didn't when performance was good on my chrome.

[2019-01-16 17:24] arouinfar commented on #96
@chrisklus the updated icon is up on Drive.

[2019-01-16 17:44] ariel-phet commented on #170
@jbphet @chrisklus I just tried this sim on Win 10 Edge...I have to admit performance is surprisingly abysmal. I would go so far as to say the sim is not really even usable. Given that Edge is pretty small use and Windows is planning on getting rid of it, we might let this slide for 1.0 but it seems worthy of at least some investigation as to where the performance bottlenecks are. Please give 2-3

[2019-01-16 17:47] ariel-phet commented on #162
@chrisklus @jbphet I think both @arouinfar and I agree that fastforward is not pedagogically necessary for this sim.

If fixing the fast forward issues is anything more than minor work, I am confident we can kill this feature for 1.0.

@arouinfar please comment if you feel differently.

[2019-01-16 17:58] KatieWoe commented on #170
I'm mostly concerned that it may be the same sort of issue that @rea-laura found on iOS 12, which is much more heavily used.

[2019-01-16 18:05] arouinfar commented on #162
In #152 I commented:

[2019-01-16 18:09] ariel-phet commented on #168
Seems like these are high priority issues...especially reset not properly resetting the sim.

[2019-01-16 18:29] rea-laura opened #171 "Text box overlaps objects when strings = long"
<b>Test Device</b>

Leibniz

<b>Operating System</b>

iOS 12.1.1

<b>Browser</b>

Safari

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/258:
When strings are long, energy type key overlaps objects in the sim

<b>Steps to Reproduce</b>

1) open sim with query parameter ?stringTest=long
2) go to "systems" page
3) turn on energy symbols
4) note that the energy symbol key overl

[2019-01-16 19:17] JRomero0613 opened #172 "Thermal Objects Gain no Energy Symbols in Fast Forward"
For https://github.com/phetsims/QA/issues/258 on Mac OS 10.11.6 on Chrome v. 71.0.3578.98 on the intro screen when the sim is put into fast forward mode and the heaters are turned on to add energy to the thermal objects the energy does not get transferred to the object and instead thermal energy simply rises through the object, not impacting the temperature at all. This does not occur every time t

[2019-01-16 19:39] KatieWoe opened #173 "Energy chunks don't turn off when checkbox is disabled"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Firefox (Only seen here so far)
**Problem description:**
For https://github.com/phetsims/QA/issues/258
When the Energy chunks are turned off with the checkbox, it takes a significant amount of time for some, but not others, to disappear.  This only seems to be the case on the first screen.  Mostly the energy chunks in the beake

[2019-01-16 20:23] KatieWoe opened #174 "Energy chunks layering in water heater"
For https://github.com/phetsims/QA/issues/258
The water heater is portrayed as a cylinder with an oval at the bottom, representing the front bottom and back bottom of the container.  The energy chunks appear "in" the container, meaning they are layered behind the bottom part of the oval and in front of the the top part.  However, when new chunks are added, they are layered behind the entire thing.

[2019-01-16 20:26] chrisklus commented on #166
@lmulhall-phet can you confirm that this issue is a result of #168? (and not an bug that occurs on its own upon loading the sim page). If not, we're going to need more information, as I've never seen this happen on any device before.

[2019-01-16 20:37] chrisklus commented on #166
Thanks, closing.

[2019-01-16 20:37] #166 closed

[2019-01-16 20:45] ariel-phet commented on #171
This should be a straightforward fix.

[2019-01-16 20:51] ariel-phet commented on #173
Also reproduced on Win 7 FF.

note: moving an object/interacting with the sliders after unchecking the Energy Chunks checkbox immediately clears the chunks in the beakers.

Seems like an obvious bug and one to fix.

[2019-01-16 20:57] lmulhall-phet commented on #168
I've noticed that if you take the brick or iron out of the liquid and you further heat the liquid, the brick or iron will behave as if it's still in the liquid, i.e. by giving off energy chunks.

[2019-01-16 21:00] KatieWoe commented on #174
To clarify, this is the chunk in question.  The grey line that makes up the back of the beaker is on top of the chunk, when it should be behind.
![inkedhidinge_li](https://user-images.githubusercontent.com/41024075/51278141-08ce3a80-1997-11e9-8b62-86096b4416b5.jpg)

[2019-01-16 21:00] ariel-phet commented on #174
I do see what @KatieWoe is talking about. This is a minor issue, although it would be nice to fix, it should not be considered blocking for 1.0

Marking low priority, if it is any more than an hour or so fix, please defer for 1.1