[2019-01-16 21:01] chrisklus commented on #168
@lmulhall-phet can you add visuals to confirm this behavior is incorrect? If the blocks are in a warm fluid and then removed, they should lose heat to the air as you've described. However, if it's clear that they're still heating up like they are in the liquid, that is indeed a problem.

[2019-01-16 21:03] lmulhall-phet commented on #168
@chrisklus I'm looking at it right now and I'm fairly certain what I'm seeing is the "blocks are warm, removed, then lose heat" behavior. Sorry. Thought it might help you guys suss out the problem if it turned out the sim thought the blocks were still in the liquid.

[2019-01-16 21:09] lmulhall-phet commented on #168
One more side effect of this bug: I've seen the olive oil disappear and then reappear in its starting position. @KatieWoe says @rea-laura observed the same thing or something similar.

[2019-01-16 21:15] chrisklus opened #175 "Consider removing fast forward"
From https://github.com/phetsims/energy-forms-and-changes/issues/162.

@ariel-phet said:

If fixing the fast forward issues is anything more than minor work, I am confident we can kill this feature for 1.0.
@arouinfar please comment if you feel differently.

@arouinfar previously said:

Notifying QA team members @KatieWoe @lmulhall-phet @kellywurtz @JRomero0613 @rea-laura that for now, we should n

[2019-01-16 21:16] jbphet commented on #168
I dug into this, and it likely was due to some position vectors being changed out from under the thermal model elements (e.g. blocks and beakers).  The only reasonable explanation that @chrisklus and I could come up with for this was that the vector pooling that was being done to reduce vector allocations wasn't working correctly, i.e. a vector was being freed that was still in use somewhere else.

[2019-01-16 21:17] jbphet commented on #168
Assigning to @lmulhall-phet to test on master.

[2019-01-16 21:42] chrisklus commented on #171
Nice catch, @rea-laura. Looks like I missed this when working on https://github.com/phetsims/energy-forms-and-changes/issues/141. Fixed, assigning to @arouinfar for review on master.

[2019-01-16 21:53] chrisklus commented on #169
@jbphet observed this symptom when working on https://github.com/phetsims/energy-forms-and-changes/issues/143.

Leaving to @jbphet for new energy chunk transfer implementation.

[2019-01-16 21:54] chrisklus commented on #168
@lmulhall-phet nice! Do you think we're ready to close?

[2019-01-16 21:56] chrisklus commented on #173
@jbphet is currently working on this with @jonathanolson.

[2019-01-16 21:59] KatieWoe commented on #168
@chrisklus Our fastest method of causing the bug didn't work after ~5 min, so I think its good.

[2019-01-16 22:00] chrisklus commented on #168
@KatieWoe sounds good, thank you. Closing.

[2019-01-16 22:00] #168 closed

[2019-01-16 22:03] KatieWoe opened #176 "Teapot causes a crash and freeze"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
firefox (reproduced on chrome)
**Problem description:**
For https://github.com/phetsims/QA/issues/258
It is possible for the sim to crash and freeze when the teapot is used under certain circumstances.
**Steps to reproduce:**
1. Go to the second screen
2. Select teapot and solar panel
3. Make sure energy chunks are off
4. Heat

[2019-01-16 22:04] chrisklus commented on #156
Since the title part of this issue have been fixed, and the latter part of this issue is redescribed in #172, I'm going to close this and leave any remaining work for #172.

[2019-01-16 22:04] #156 closed

[2019-01-16 22:10] chrisklus commented on #176
Nice find @KatieWoe! I can reproduce on my Macbook Pro as well, both Chrome and Firefox.

[2019-01-16 22:22] arouinfar commented on #171
Looks good @chrisklus

[2019-01-16 22:22] #171 closed

[2019-01-16 22:34] jbphet commented on #173
@jonathanolson and I looked at this together and determined that it was related to the clip area that is used to hide energy chunks in the beaker when blocks are placed inside.  This seems to render fine on other browsers, but causes problems on Firefox.  I changed the code that updates the clip area to set it to null (no clip area) when energy chunks are not visible, and that appears to have solv

[2019-01-16 22:36] jbphet commented on #173
Assigning to @KatieWoe to test fix on master.

[2019-01-16 22:49] KatieWoe commented on #173
@jbphet all seems good

[2019-01-16 22:52] chrisklus commented on #165
#168 has been resolved, closing.

[2019-01-16 22:52] #165 closed

[2019-01-16 23:08] KatieWoe opened #177 "Can't enter intro screen in Internet Explorer"
For https://github.com/phetsims/QA/issues/258
The intro screen can not be entered when on Internet explorer.  Nothing happens if you try from the second screen.  However, if you try from the home page, the sim freezes completely and will not respond to any more input.

[2019-01-16 23:13] jbphet commented on #173
Cool.  Closing.

[2019-01-16 23:13] #173 closed

[2019-01-16 23:16] jbphet commented on #169
I'm not able to duplicate this on the dev release, nor on master.  It's possible that the issue that was causing the odd energy chunk movement in #168 was also causing this one, and that issue has been resolved.

I'm sending this one back to QA to first see if someone can come up with a way to reliably duplicate this issue on the dev release.  If so, then please try the same procedure on master an

[2019-01-16 23:16] chrisklus opened #178 "Tea kettle preloaded energy chunks have a gap"
Found when fixing https://github.com/phetsims/energy-forms-and-changes/issues/176.

After the tea kettle is steaming and then energy chunks are turned on, there is a gap between the initial stream of chunks and the chunks that follow out of the burner.

![kapture 2019-01-16 at 16 15 20](https://user-images.githubusercontent.com/5618316/51284777-032e2000-19aa-11e9-9523-bddda37b58f8.gif)

@arouinfar

[2019-01-16 23:18] chrisklus commented on #176
There was no handling in preloadEnergyChunks for the case when the tea kettle has no system to give its energy chunks to, so the freeze was caused by the sim being stuck in a while loop. When the tea kettle is hooked up to the generator, the chunks that don't get selected for transfer get put into an `exemptFromTransferEnergyChunks` array, so I pushed the preloading chunks into there as well when

[2019-01-16 23:19] KatieWoe commented on #169
I only saw this during #168, and the fact that olive oil itself doesn't have any of the chunks itself, I'm pretty sure this was a subset of that issue.  We'll keep an eye out, but I think it was solved in the same issue.  @jbphet

[2019-01-16 23:40] KatieWoe commented on #176
Looks good @chrisklus

[2019-01-16 23:45] jbphet commented on #177
This was due to a usage of Array.includes, which isn't supported in IE11, see https://caniuse.com/#feat=array-includes.  The usage has been changed, and I tested the built version.  Performance is abysmal, but that's another story.

[2019-01-16 23:46] chrisklus commented on #152
Putting on hold until a decision is made in #175.

[2019-01-16 23:48] chrisklus commented on #162
Since #168 was fixed, I suspect that the issues described in https://github.com/phetsims/energy-forms-and-changes/issues/162#issue-399568571 are also fixed, aside from bad performance.

@rea-laura could you see if any funky behavior still remains?

[2019-01-16 23:49] jbphet commented on #177
Should be fixed, assigning back to QA to test on master.  Two notes:

+ Because we're using ES6 for some of the code, only built versions can be tested on IE.
+ As I mentioned above, performance is horrible.  If QA is so inclined, feel free to log an issue, but please include some performance numbers from profiling that can be used as a baseline against which to gauge improvements.

[2019-01-16 23:53] chrisklus commented on #176
Sweet, thanks. Closing.

[2019-01-16 23:53] #176 closed

[2019-01-16 23:55] KatieWoe commented on #177
@jbphet checked on master.  Fixed, and performance wasn't actually that bad, at least on intro where I was checking.

[2019-01-16 23:58] chrisklus commented on #172
Since #168 was fixed, I suspect that this issues is also fixed. I'm not able to reproduce. @JRomero0613  could you confirm?

[2019-01-16 23:58] jbphet commented on #177
@KatieWoe just looked at this together, and it seems that the reason I was seeing such poor performance was that I had the dev tools open.  Closing them vastly improved things.  I think we can close this one.

[2019-01-16 23:58] #177 closed

[2019-01-17 00:04] chrisklus commented on #175
It's looking like fast forward is causing performance issues, as described in #152, but not buggy issues like what's described in #162.

Shall we wait to decide to get rid of it until some performance optimizations have been made?

[2019-01-17 00:09] jbphet commented on #164
The change looks great to me.  I added a little documentation, and I think it can be closed.

[2019-01-17 00:09] #164 closed

[2019-01-17 00:15] arouinfar commented on #175
I'm fine with killing it for now @chrisklus.

[2019-01-17 00:18] jbphet commented on #147
Looks good to me.  Closing.

[2019-01-17 00:18] #147 closed

[2019-01-17 00:25] kathy-phet opened #179 "Behavior of fan on low energy rate transfer"
I was just playing with the fan and noticed that when the energy rate of transfer is very low it sort of stops, then starts, then stops, as the actual energy chunks arrive. The wheel in constrast moves at a constant, but slower rate. I think it would be more physically accurate to make the fan more like the wheel -- a constant steady state. (Even if the chunks themselves come along slowly).
![imag

[2019-01-17 00:31] chrisklus commented on #179
The current behavior imitates how the lightbulbs and beaker heater work when chunks are turned on (non steadiness based on incoming chunks), but could easily be modified to respect the steady, incoming energy instead.

[2019-01-17 00:36] chrisklus commented on #96
Looks great @arouinfar! Re-closing.

[2019-01-17 00:36] #96 closed

[2019-01-17 00:37] jbphet commented on #107
The behavior looks great, and the general idea of having the `SystemsScreenView` manage the energy chunk layer seems sound.  I have a few suggestions for the details:

+ The `GeneratorNode` has three energy chunk layers, so I think the code should be more specific about which one is being extracted.  The categories are listed below, and the generator node code and API should be clarified to reflec

[2019-01-17 00:37] ariel-phet commented on #175
@chrisklus also fine with killing it. Not at all necessary for 1.0

We can consider reintroducing this feature after we get 1.0 published.

[2019-01-17 01:55] chrisklus commented on #175
@jbphet and I agree that fast forward is nice for testing, so I've left the model code in place and added a query param that can turn it on, `&fastForward`.

There was also a view type, PlayPauseAndSpeedControlPanel, that held all of the controls for the first screen. For now, I've left this type in the repo (though it is unused) so we can easily bring it back if desired for 1.1. I'm unfamiliar if

[2019-01-17 02:12] chrisklus commented on #172
I'm going to close this issue since we decided to remove fast forward mode in https://github.com/phetsims/energy-forms-and-changes/issues/175.

[2019-01-17 02:12] #172 closed

[2019-01-17 02:12] chrisklus commented on #169
I'm going to close this issue since we decided to remove fast forward mode in https://github.com/phetsims/energy-forms-and-changes/issues/175.

[2019-01-17 02:15] chrisklus commented on #162
I'm going to close this issue since we decided to remove fast forward mode in #175.

[2019-01-17 02:15] #162 closed

[2019-01-17 02:18] chrisklus commented on #152
@arouinfar should this issue be closed?

[2019-01-17 15:34] KatieWoe commented on #169
@chrisklus we can close it.  If it appears, and I don't suspect it will, we can reopen it.

[2019-01-17 15:34] #169 closed

[2019-01-17 15:54] KatieWoe opened #180 "Dragging object off burner with slider"
Creating separate issue for https://github.com/phetsims/energy-forms-and-changes/issues/60#issuecomment-445425220 per request of @chrisklus
For https://github.com/phetsims/QA/issues/258
Comment part reads: A user can slide up one of the heater thumbs and then snag a block or beaker off the top of the burner stand without lifting their finger.

Here is a screen recording of the phenomena.  It occur

[2019-01-17 16:34] arouinfar commented on #152
Yep, I think #175 will cover it. :)

[2019-01-17 16:34] #152 closed

[2019-01-17 16:43] ariel-phet commented on #180
@jbphet @chrisklus this issue is a little funky, but not really a big problem. I was able to reproduce on my touch screen. This doesn't really cause any problems, but it is a bit of a funky UX.

Marking low priority, feel free to punt for publishing 1.0

[2019-01-17 16:50] rea-laura opened #181 "Energy chunks go straight through objects without interacting"
<b>Test Device</b>

Feynman

<b>Operating System and Browser (Chromebook)</b>

Chrome OS 71.0.3578.94 (Official Build) beta (32-bit)

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/258:
Energy chunks go straight through object on burner without interacting. The cooling "burner" will instead pull energy from the surroundings even though there are many energy chunks in the obj

[2019-01-17 16:59] chrisklus commented on #181
This looks like the same as https://github.com/phetsims/energy-forms-and-changes/issues/172 and was likely fixed in #168. @rea-laura you you make sure that this is not reproducible on master?

[2019-01-17 17:20] rea-laura commented on #181
@chrisklus whoops, sorry, I was still testing the dev version. Will move to the master now and resume testing.

[2019-01-17 17:27] rea-laura commented on #181
@chrisklus looks all fixed on master. Sorry for the confusion. Closing issue now!

[2019-01-17 17:31] chrisklus commented on #181
You're good, thanks!

[2019-01-17 17:38] KatieWoe commented on #180
@ariel-phet @jbphet @chrisklus
I was looking at iOS 10 and I saw the energy chunks, in olive oil especially, were outside of their containers as seen in https://github.com/phetsims/energy-forms-and-changes/issues/168) and it looked as if it was connected to this happening.  It was difficult to see as the performance was very laggy.  I can't be sure this was the cause for that reason, but it may ha

[2019-01-17 17:39] chrisklus commented on #180
@KatieWoe was that on master or dev.15?

[2019-01-17 17:40] rea-laura commented on #162
@chrisklus all looks good on master!

[2019-01-17 17:41] chrisklus commented on #162
@rea-laura awesome, thanks!

[2019-01-17 17:45] KatieWoe commented on #180
@chrisklus dev.15

[2019-01-17 17:56] chrisklus commented on #167
From https://github.com/phetsims/joist/issues/533:

@samreid said:

@jonathanolson said:

@samreid said:

@lmulhall-phet looks like this was intentional and is the way of the future! I'm going to close.

[2019-01-17 17:56] #167 closed

[2019-01-17 17:58] chrisklus commented on #180
@KatieWoe gotcha, I wouldn't worry unless you can reproduce on master, regarding

[2019-01-17 18:58] jbphet commented on #170
Based on some work that @jonathanolson and I did looking at different renderers, this is probably because we use the `canvas` renderer setting by default for Edge, whereas we use SVG for other sims.  The issue that describes why is https://github.com/phetsims/scenery/issues/520.

[2019-01-17 19:00] jbphet commented on #170
@KatieWoe - there was some investigation done between meetings, and it was decided that Edge is now in such a state that we can use the SVG renderer, which greatly improves performance.  Please re-test on master and let us know if performance is now reasonable.

[2019-01-17 19:07] KatieWoe commented on #170
@jbphet much, much better on master

[2019-01-17 20:28] #170 closed

[2019-01-17 21:00] jbphet commented on #180
For reference, I believe that this was first mentioned in https://github.com/phetsims/energy-forms-and-changes/issues/60#issuecomment-445425220.

[2019-01-17 21:27] #60 closed, assigned to jbphet, chrisklus

[2019-01-17 21:37] jbphet commented on #175
A few comments on this:
+ I had pictured the result a little differently.  I thought the idea was to add a query parameter that would hide/show the controls for normal and fast-forward, and that they'd be hidden by default.  The advantages to this are:
  + we could run it at fast-forward for a while in order to quickly achieve some state, then set it back to normal mode for the actual testing
  +

[2019-01-17 21:38] jbphet commented on #175
I'm adding back @arouinfar and @ariel-phet to the discussion, since we I think we should either decide now or open a new issue about whether we want to add this back in 1.1.  That decision may influence how we finalize the work to remove the feature for now.

[2019-01-17 21:52] chrisklus commented on #175
@arouinfar and I just chatted about this and we think that you were on the right track in https://github.com/phetsims/energy-forms-and-changes/issues/175#issuecomment-455341024. I'll leave the PlayPauseStepButtonGroup implemented as is, and then add something like SimSpeedButtonGroup under `if( EFACQueryParams.fastForward )`

[2019-01-17 22:09] jbphet opened #182 "branch: alternativeEnergyChunkExchange"
The code for exchanging energy chunks has gotten to a level of complexity where I feel it is worthwhile to consider some alternatives.  This branch is going to be used to explore an approach where the energy exchanges are tracked between all thermal model elements, burners, and the air, and the energy chunks transferred based on that tracking data.

[2019-01-17 23:48] chrisklus commented on #175
Thanks for the comments, @jbphet.

Changes I made in the commit above:
+ created a type just for the speed controls, SimSpeedButtonGroup
+ made the sim speed controls appear with the flag `showSpeedControls`
+ changed normalSimSpeedProperty to simSpeedProperty, updated its documentation, and added valid values `SimSpeed.NORMAL` and `SimSpeed.FAST_FORWARD`
+ removed the old type PlayPauseAndSpeedCo

[2019-01-18 00:55] chrisklus commented on #107
Good thoughts, @jbphet. I've implemented your suggestions and now EnergyChunkLayer and SystemsScreenView are simpler regarding this issue.

@jbphet please review.

[2019-01-18 17:26] arouinfar commented on #179
@kathy-phet, as @chrisklus said, the fan mirrors the way the lightbulbs and beaker's heating element behave when energy symbols are on. The Java sim behaves in the same way. Here's the basic flow:

* When energy symbols are on, the energy consumers will not turn on until the first chunk reaches it. If the rate of energy flow is really low, the energy consumer will flicker on and off.
* When energy

[2019-01-18 17:31] arouinfar commented on #179
I would say this is at least tangentially related to https://github.com/phetsims/QA/issues/258, so tagging it so it shows up in the QA issue.

[2019-01-18 17:44] kathy-phet commented on #179
@arouinfar - I think your sentiment here is same as mine:

This sim was designed in conjunction with the Energy Story folks - Rachel Scherr and Stamatis Vokos. What do you think about consulting them on this question? I'm sure they would be happy to hear about it moving to HTML5!

[2019-01-18 17:54] chrisklus commented on #179
I think they would be very helpful for answering this question.

My understanding of this screen has always been that when energy chunks are off, the sim behaves as it would in real life with a continuous flow of energy. And when they're on, that continuous energy is split up into little packets to allow for visual representation of the energy, so nothing is hidden or behind the scenes. If this is

[2019-01-18 18:09] arouinfar commented on #179
Thanks @chrisklus @kathy-phet!

This may likely the case @chrisklus, but it would be good to confirm.

I'll draft an email to Rachel, Stamatis, and Amy. I would still be interested in hearing from @jbphet and @ariel-phet in case they have any insight into this aspect of the design.

[2019-01-18 18:37] jbphet commented on #179
Here are a couple of thoughts:

+ It's a bit tricky to have the energy consumers, i.e. the fan and the light bulbs, set their rates based on the amount of continuous energy coming in when the energy chunks are visible, because we need the energy consumers to wait until the energy chunks start to show up at their inputs before starting to move or produce light, and we need to wait until all energy

[2019-01-18 18:40] jbphet commented on #179
Here's another thought: We could do some trickery to limit the minimum amount of energy production in all of the energy producers in order to minimize the likelihood of users encountering this case.

[2019-01-18 18:42] jbphet commented on #179
I've marked this as a legacy bug, since (as @arouinfar pointed out), the "pulsing" behavior exists in the Java version.

[2019-01-18 19:01] kathy-phet commented on #179
It's actually unclear if it was a legacy bug, or a legacy intentional behavior. I think we should talk with the Energy Story experts.

[2019-01-18 20:12] chrisklus commented on #155
The problem was that the active source, converter, and user were all being stepped before the model was updating the energy transfers from source to converter and converter to user in the same frame. This caused the system elements to not know what energy chunks they were receiving until the following frame.

So, I changed that order to: source.step() -> pull outgoing chunks from source and inject

[2019-01-18 20:12] #155 closed

[2019-01-18 21:35] chrisklus commented on #179
@ariel-phet and I talked about this for a bit today. He confirmed that the energy that powers the users should only originate from the chunks when they are turned on.

However, we had some ideas for how to make the fan look a little more consistent when the system is in a low energy state. Right now, the fan has inertia, but it doesn't take drag into account when slowing. So, it decelerates at the

[2019-01-18 22:17] jbphet opened #183 "Consider simpler way to exchange energy chunks"
For https://github.com/phetsims/energy-forms-and-changes/issues/143, a bunch of code was added to improve the behavior of how energy chunks move between model elements.  This made the code more complex, and didn't solve all the issues.  I want to investigate a simpler approach, where instead of looking at which things have a surplus or deficit of energy chunks and doing the exchange based on that,

[2019-01-18 22:52] kellywurtz opened #184 "~20 sec freeze after zooming in on Safari"
**Operating System:**
MacOS 10.14.2

**Browser:**
Safari 12.0.2

**Problem Description:**
Testing 1.0.0-dev.16 (https://github.com/phetsims/QA/issues/263) on MacOS I noticed that Safari gives me the option to zoom in to the sim with my trackpad (Chrome does not) - Safari does not allow any interaction with the sim while zoomed in (consistent with other published sims), but on EFAC when I zoom back

[2019-01-18 23:10] chrisklus commented on #184
Just a note - I'm not seeing this issue on my 10.13 machine.

[2019-01-18 23:55] megan-phet opened #185 "Thermometer doesn't respond near top or bottom of beaker"
<b>Test Device</b>
- MacBook Pro

<b>Operating System</b>
- 10.14.2

<b>Browser</b>
- All latest

<b>Problem Description</b>

For phetsims/QA#263
When the thermometer is over the top (when filled) or bottom of the beaker it will not read the temperature of the fluid inside.

<b>Steps to Reproduce</b>

1. Drag thermometer over the top or bottom of either beaker.

<b>Visuals</b>
![kapture 2019-01-18

[2019-01-19 00:19] jbphet commented on #183
I've created a one-off version with code that tracks energy exchange balances between the various components and exchanges energy chunks on the basis of those values.  I've tested a bit, and so far it seems pretty good, and the code to implement it is far simpler and therefore more maintainable.

Assigning to @ariel-phet, @arouinfar, and @chrisklus to review the behavior (and in @chrisklus's case

[2019-01-19 00:34] chrisklus commented on #179
I've been digging into this for a while and it's been pretty tricky to find a nice balance. Because the fan is being powered by energy chunks and not energy values (meaning the target velocity is either 100% or 0% since the chunks don't contain energy values), it's either in a state of acceleration or deceleration. That means that there is only one point across the spectrum of incoming energy chun

[2019-01-19 00:37] megan-phet opened #186 "Thermometer can be lost on the right side of the screen"
<b>Test Device</b>
- MacBook Pro

<b>Operating System</b>
- 10.14.2

<b>Browser</b>
- All latest

<b>Problem Description</b>

For phetsims/QA#263
Thermometer can be lost on the right side of the screen. This does not happen on the left side.
There is a parameter keeping the thermometers from going too far though.

<b>Steps to Reproduce</b>

1. Put thermometer on the right side of the screen
2. Mak

[2019-01-21 19:32] ariel-phet commented on #186
@chrisklus @jbphet seems like the thermometers should stay in dev bounds.

I imagine this is a fairly easy fix, but marking low priority for 1.0

[2019-01-21 19:34] ariel-phet commented on #185
Seems like this issue should be fixed for 1.0 if possible.

[2019-01-21 20:56] ariel-phet commented on #183
@jbphet I played with this version fairly thoroughly, trying lots of combinations. Overall it seems to be working well. However, there does seem to be one bug, and I verified that this bug does NOT occur on dev.16 -- I would say this bug is reasonably severe but I am guessing potentially straightforward to fix.

Basically, with some stacking and heating/cooling you can get the brick to show some o

[2019-01-22 01:03] jbphet commented on #160
This was due to some "special case" code that moves the thermometer when it's attached to a beaker and the user drops a block into that beaker.  I've adjust the code to handle the drop situation.

[2019-01-22 17:04] chrisklus commented on #180
@jonathanolson helped me with this, and recommended adding an option to the SimpleDragHandler in Slider that prevented a new drag from starting while the slider was currently being dragged.

This bug should be fixed on master.

[2019-01-22 17:11] rea-laura commented on #180
@chrisklus for https://github.com/phetsims/QA/issues/263:
I will note that this phenomenon allows the object on the burner to hover barely over the shelf, making it so that the energy chunks pass right through the objects rather than heating them. Not sure if that's a big problem, but the behavior seems a little wonky.
https://photos.app.goo.gl/ntBcKpEpaEaVmyJq5

[2019-01-22 17:15] chrisklus commented on #180
Thanks @rea-laura! Could you verify that you cannot reproduce on master?

[2019-01-22 17:21] ariel-phet commented on #185
@jbphet sounds good...lets defer for the moment, and revisit whether to address after 1.0

[2019-01-22 17:32] rea-laura commented on #180
@chrisklus all looks good on master. I will start testing only the master from now on!

[2019-01-22 17:33] chrisklus opened #187 "Dragging thermometers picks up other elements"
@KatieWoe discovered this while testing https://github.com/phetsims/energy-forms-and-changes/issues/180

When dragging a thermometer around on a touch device, it can pick up other elements, like the blocks and beakers. This gif was recoded with one touch drag.

![kapture 2019-01-22 at 10 31 31](https://user-images.githubusercontent.com/5618316/51553800-f9d10780-1e30-11e9-9a6d-559b27f19116.gif)

[2019-01-22 17:40] rea-laura commented on #187
@chrisklus I also found this issue on the master for iOS 12.1.1.

[2019-01-22 17:49] rea-laura commented on #187
@chrisklus all looks good on master

[2019-01-22 17:49] chrisklus commented on #187
@rea-laura sweet, thank you! Closing.

[2019-01-22 17:49] #187 closed

[2019-01-22 17:51] chrisklus commented on #180
@rea-laura awesome, thanks much. Closing.

[2019-01-22 17:51] #180 closed

[2019-01-22 18:19] chrisklus commented on #186
@ariel-phet I've added the width of the sensor to be included in the drag bounds restrictions. Would you like me to do the same for the height? The sensor cannot currently be lost in the y-direction like it was able to in the x-direction, but anything above or below the sensor tip can go outside of the dev bounds.

![kapture 2019-01-22 at 11 17 50](https://user-images.githubusercontent.com/5618316

[2019-01-22 18:21] lmulhall-phet opened #188 "Rim of beaker doesn't disappear behind solid"
For https://github.com/phetsims/QA/issues/263. The rim of the beaker overlaps with the iron or brick. It shouldn't be visible. Seen on macOS 10.14 + Chrome.

![beaker-issue](https://user-images.githubusercontent.com/31285590/51556465-76ff7b00-1e37-11e9-88c5-fb535af2ef76.gif)

Just documenting so that it can be fixed when we have some time.

[2019-01-22 19:14] lmulhall-phet commented on #188
Assigning @ariel-phet for prioritization.

[2019-01-22 19:45] ariel-phet commented on #186
@chrisklus the restriction you are showing above looks good to me.

[2019-01-22 19:46] ariel-phet commented on #188
This would be nice to fix, but not a showstopper for 1.0

Marking low priority, but feel free to defer

[2019-01-22 19:47] chrisklus commented on #186
Sounds good, closing.

[2019-01-22 19:47] #186 closed

[2019-01-22 20:04] rea-laura opened #189 "Hard to reset burner to zero"
<b>Test Device</b>

Feynman

<b>Operating System</b>

Chrome OS 72.0.3626.59

<b>Browser</b>

Chrome 72.0.3626.59

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/263:

I noticed that it is very hard to put the burner back to zero (no heating or cooling) on the tea kettle system. The burner slider is different than the Intro page, so that the user can set it to a certain loca

[2019-01-22 20:16] chrisklus commented on #189
Ooh that's interesting. It looks like zero is non-achievable when `snapToZero` is set to false. However, since anywhere in the cooling range is essentially zero for the tea kettle (nothing happens unless the burner is heating), I wonder if this issue is not much of a problem for this sim.

It does seem like it could be problematic for other potential uses of HeaterCoolerNode, though, like if we wa

[2019-01-22 20:31] KatieWoe opened #190 "Steam does not animate when advanced from pause"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/263.  Graphical oddity, likely very minor.
When the sim is playing, steam animates upwards.  However, if pause and moving forward frame by frame, the steam stays completely in place.  Other objects such as  energy chunks and falling objects move, but not the ste

[2019-01-22 20:32] arouinfar commented on #189
@chrisklus taking a look at this issue, I realize that the tea kettle is a bit different in Java.

In Java, the slider only goes from zero to heat.
<img src="https://user-images.githubusercontent.com/8419308/51563003-71f6f780-1e48-11e9-965c-10e516061e8e.png" width=200>

In HTML5, we're using HeaterCoolerNode, which I don't believe supports removing the cooling range. However, looking at the behavi

[2019-01-22 20:34] chrisklus commented on #190
Ooh nice, that's a problem! I'll investigate.

[2019-01-22 20:35] KatieWoe commented on #190
Also seems to happen on second screen when heating the water

[2019-01-22 20:38] arouinfar commented on #189
Just as a side note @chrisklus, I think sliders may have an option to snap the thumb to a value if it's within a certain threshold. (For example, the [slider on the battery in Capacitor Lab: Basics](https://github.com/phetsims/capacitor-lab-basics/blob/master/js/common/view/BatteryNode.js#L70) will snap to 0 V if the value is less than 0.15 V).

While that would solve @rea-laura's original issue,

[2019-01-22 20:40] KatieWoe commented on #190
Much less noticeable, but the water from the faucet, and more noticeable the teapot cloud.

[2019-01-22 20:42] arouinfar commented on #145
Since we're nearing the Jan 31 deadline, I'll remove `status:on-hold`.

[2019-01-22 20:46] chrisklus commented on #190
I think these were all animations that originally didn't stop animating when the sim was paused, so I didn't remember to add a way to step them once the sim was in a paused state.

[2019-01-22 21:40] arouinfar commented on #183
I'm still testing out this alternative version @jbphet, but I did find a few ways to get zero energy chunks.

1. On startup, place brick on stand, place thermometer on brick, and turn on energy chunks. (For comparison, you can do the same with an iron block, though not necessary.)
2. Cool brick all the way down, and then release HeaterCoolerNode thumb. (I let go when iron reached 4 chunks.)
3. All

[2019-01-22 21:43] ariel-phet commented on #190
Certainly would be nice to fix, but also not a showstopper for 1.0 since I doubt it would cause major pedagogical issues.

[2019-01-22 22:38] arouinfar commented on #183
@jbphet I was unable to reproduce https://github.com/phetsims/energy-forms-and-changes/issues/183#issuecomment-456574133 in dev.16. I also didn't discover any other quirks with the updated model.

I  was able reproduce the issue described by @ariel-phet in https://github.com/phetsims/energy-forms-and-changes/issues/183#issuecomment-456196749 (in the branch, not dev.16). The brick has 3 energy chun

[2019-01-23 01:00] chrisklus commented on #190
Thanks @KatieWoe. I got a code sign-off from @jbphet after I made a recommended update to my changes in the commit above. Closing.

[2019-01-23 19:19] jbphet commented on #183
Good finds @ariel-phet and @arouinfar.  I've explained these issues below, mostly for my own records in case I ever need to reconstruct what was done here.  The bottom line is that I think I have improved the code to where these issues are handled, so please do another round of testing on [this new one-off version](https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.0.0-alternativeEnergy

[2019-01-23 20:07] jbphet commented on #175
Commits look good, as does the behavior.  Closing.

[2019-01-23 20:07] #175 closed

[2019-01-23 20:10] chrisklus opened #191 "Improve performance on slower devices"
@jbphet and I will track and commit our latest performance improvements in this issue.

[2019-01-23 20:10] chrisklus commented on #75
Closing, see https://github.com/phetsims/energy-forms-and-changes/issues/191 for latest performance updates.

[2019-01-23 20:10] #75 closed

[2019-01-23 20:11] chrisklus commented on #116
Closing, see https://github.com/phetsims/energy-forms-and-changes/issues/191 for latest performance updates.

[2019-01-23 20:11] #116 closed

[2019-01-23 20:13] jbphet commented on #107
Looks good.  I added a little documentation and formatting, you may want to take a quick look and then close.

[2019-01-23 20:15] chrisklus commented on #107
Thanks, looks great. Closing.

[2019-01-23 20:15] #107 closed

[2019-01-23 21:01] chrisklus commented on #191
1.0.0-dev.16 iPad testing
================

Test 1: Idle first screen
Test 2: Dragging water beaker back and forth above the burners at approximately one back-and-forth cycle per second
Test 3: Heating a beaker on top of a block with energy chunks visible long enough for steam to come out
Test 4: Idle second screen
Test 5: Sun -> solar panel -> beaker heater, with energy chunks visible, run long e

[2019-01-24 00:04] KatieWoe opened #192 "CT running lint-all task"
[code]

[2019-01-24 03:55] pixelzoom commented on #192
Fixed, closing.

[2019-01-24 03:55] #192 closed

[2019-01-24 18:32] jbphet commented on #182
This branch has been merged into master, but I'm going to leave it around for a little while (and leave this issue open) until we are confident that the changes are working well.

[2019-01-24 18:33] jbphet commented on #178
This behavior is also present in the Java sim.

[2019-01-24 22:17] jbphet opened #193 "Investigate and potentially consolidate getCompositeBounds and getBounds"
While working to reduce the number of bounds allocations that occur in the sim, I noticed that there are various methods for getting the bounds of the rectangular thermal model elements, i.e. the beakers and the blocks.  I think it may be possible to consolidate these, but I don't want to take the time to do it right now since we have a tight delivery deadline.

This will simplify the code, and th

[2019-01-24 22:46] arouinfar opened #194 "Screenshots"
As pointed out in https://github.com/phetsims/QA/issues/267, this sim needs screenshots for 1.0.

[2019-01-24 23:20] arouinfar commented on #194
Screenshots have been committed, closing.

[2019-01-24 23:20] #194 closed

[2019-01-25 05:03] jbphet commented on #191
A number of optimizations have been implemented, and I just did a quick test and saw substantial improvements for tests 1 through 5.  There are still some situations where the sim doesn't feel very usable on an iPad 4 (Jemison), so there is further work to be done here.  From my observations, I think the next steps should be (and this is here mostly for my own benefit):

+ Try to reduce the comput

[2019-01-25 05:39] jbphet commented on #174
This is because the chunks are moving from the burner to the beaker, so they are behind the edge of the beaker, then move into the beaker and are in front of that edge.  The Java sim behaves the same way.  Having said that, it wasn't hard to address, so I did.  @KatieWoe please test on master or the next dev version.

[2019-01-25 15:36] KatieWoe commented on #174
This looks good on master.

[2019-01-25 16:00] chrisklus commented on #174
Oooh looks really slick @jbphet. I think we can close here.

[2019-01-25 16:00] #174 closed

[2019-01-25 19:19] chrisklus commented on #191
I reran the tests from https://github.com/phetsims/energy-forms-and-changes/issues/191#issuecomment-456964603 to get some numbers recorded from @jbphet's optimizations, and to have a new baseline for future optimizations. Testing on the latest dev version, https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.0.0-dev.17/phet/energy-forms-and-changes_en_phet.html

Test 2: Dragging water bea

[2019-01-25 20:36] ariel-phet commented on #179
New behavior is looking quite good in my opinion. If we decide we need to do some even finer tuning for 1.1 we can open a separate issue, but the behavior looks pretty solid. Nice work @chrisklus!

[2019-01-25 21:43] chrisklus commented on #191
I've looked into a few of @jbphet's next steps and tested any possibilities I found on Jemison.

For starters, I changed the loop that iterates over all of the steam bubbles to c-style, since there are ~126 bubbles being rendered at max steaming. This helped a little on my device (from a variable 54-60 FPS -> constant 60 for Test 5), but I didn't notice any performance increase on Jemison. The maj

[2019-01-25 21:50] KatieWoe opened #195 "Thermometer attached but not reading"
For https://github.com/phetsims/QA/issues/268.  Found while making a gif for another issue.  Unsure how to reproduce at the moment.
The thermometer is attached to the beaker and is moving along with it.  However, it is not the correct color and is not displaying the temperature.
https://drive.google.com/file/d/1kgYv_obHYBZT8ImxC4JrFpPYeLHSq71Q/view?usp=sharing

[2019-01-25 21:59] KatieWoe commented on #190
For https://github.com/phetsims/QA/issues/268.  Minor update.  I saw that the smoke animates as you start dragging the beaker around.  This is a very minor thing.
https://drive.google.com/file/d/1kgYv_obHYBZT8ImxC4JrFpPYeLHSq71Q/view?usp=sharing

[2019-01-25 22:23] KatieWoe opened #196 "Making beaker fall into burner without touch"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/268.  Rather minor and does not harm sim.
It is possible to make the beaker fall into burners using pause, step forward, and a block.  Hitting play, stepping forward one step, or dragging the beaker out of the area all resolve the issue.
**Steps to reproduce:**

[2019-01-25 22:38] megan-phet opened #197 "Random energy formation when Energy symbols is selected in Systems"
<b>Test Device</b>
- MacBook Pro

<b>Operating System</b>
- 10.14.2

<b>Browser</b>
- All latest

<b>Problem Description</b>

https://github.com/phetsims/QA/issues/268
Energy will randumly appear in the system when the energy symbol is clicked.
This only happens when using the sun and solar panal with one transparent cloud.
<img width="326" alt="screen shot 2019-01-25 at 3 36 46 pm" src="https://u

[2019-01-25 23:09] chrisklus commented on #190
Update:

I committed a quick hack that prevents the steam from animating when the sim is paused and the beakers are being dragged, but `paintCanvas` is still being called from an unknown source.

You can't pass in args to `invalidatePaint`, but we still wanted to use `dt` to animate the steam, so when `dt` is passed into the step function, we're saving it as a property of SteamCanvasNode so that t

[2019-01-25 23:18] ariel-phet commented on #197
@chrisklus it looks like the fan is not turning at all for "very cloudy" but not completely blocked without energy symbols on. Seems like a little tuning needs to be done for the Energy symbols off and a small amount of light hitting the panel (since a symbol does still sometimes hit the panel in this configuration).

[2019-01-25 23:20] ariel-phet commented on #197
I do not consider this a "showstopper" for 1.0 but would be nice to fix

[2019-01-25 23:22] ariel-phet commented on #196
marking deferred for 1.0

[2019-01-25 23:58] chrisklus commented on #197
Looks like I introduced this myself just last night! Would love to chat with you about it @ariel-phet.

[2019-01-26 00:11] phet-steele commented on #195
1. Fresh load on Intro screen.
2. Pause
3. Grab a thermometer out of its box and just put it to the side for now.
4. Take a beaker (although I find this WAY easier to do with a block) and place it over the thermometer box in the top left.
5. Take your thermometer from step three and try to put it back into its box.

May take some tries (although I get it first try every time with a block) but when

[2019-01-26 00:15] megan-phet opened #198 "Thermometer will read steam temp instead of oil temp when attached to the oil beaker"
<b>Test Device</b>
- MacBook Pro

<b>Operating System</b>
- 10.14.2

<b>Browser</b>
- All latest

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/268
When a thermometer is dragged over the steam of water while attached to the oil beaker it will show the steam temp.
Note: This does not happen the other way around or with the other objects.

<b>Steps to Reproduce</b>
1. Heat th

[2019-01-26 00:20] chrisklus commented on #198
@megan-phet nice find!

[2019-01-26 00:22] phet-steele opened #199 "Update faucet artwork"
This artwork does not match the component in the sim and @arouinfar suggested/volunteered to address it:

![image](https://user-images.githubusercontent.com/5863899/51779615-a3c8c200-20c5-11e9-8d6c-d207b3565222.png)

Seen on Win 10 Chrome. For phetsims/QA/issues/268.

[2019-01-26 00:38] chrisklus commented on #195
Wow, nice @phet-steele!

[2019-01-26 00:50] phet-steele commented on #197
This issue is a bit more broad than is led on (@chrisklus could probably clue us in better). It feels like energy chunks are not properly being cleared when the checkbox is updated and/or the system changes, leading to some transient chunks. In my video below, I waited a few moments after the system came to an apparent rest, then activated energy chunks. The result was that the left over chunks ca

[2019-01-26 00:53] ariel-phet commented on #197
@chrisklus given what @phet-steele is showing above, seems like a high priority to fix for 1.0 if possible (the not clearing energy in the system on carousel switching seems odd).

[2019-01-26 00:56] chrisklus commented on #197
@phet-steele, @ariel-phet and I discussed a fix for https://github.com/phetsims/energy-forms-and-changes/issues/197#issuecomment-457768107 that I'm working on now.

What you've identified is a separate problem with the energy chunk preloads for the fan (i've seen it a few times but haven't been able to reproduce this consistency) do you you think you could open a separate issue for it?

@ariel-phe

[2019-01-26 00:57] ariel-phet commented on #197
Ah, separate issue seems good, at high priority @chrisklus

[2019-01-26 01:04] phet-steele opened #200 "Fan holds on to internal energy when it should not"
See https://github.com/phetsims/energy-forms-and-changes/issues/197#issuecomment-457783677

![efac01](https://user-images.githubusercontent.com/5863899/51780163-8c8bd380-20c9-11e9-91dc-9c7439ec3a8c.gif)

Seen on Win 10 Chrome. For phetsims/QA/issues/268.

<details>
<summary>Troubleshooting Information</summary>

URL: https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.0.0-dev.17/phet/ene

[2019-01-26 01:05] phet-steele commented on #197
Dev knows best: #200. Feel free to change the title of it to what the "problem" is.

[2019-01-26 01:08] chrisklus commented on #197
Thanks much @phet-steele

[2019-01-26 01:39] chrisklus commented on #200
This should be fixed. @phet-steele please test.

[2019-01-26 01:44] megan-phet commented on #196
I also found this issue on my MacBook Pro 10.14.2 (all latest browser)
The block just has to be in the beaker for it to happen (not touching the bottom). If the block is slightly off the bottom the beaker will jump to the left when moved.

![kapture 2019-01-25 at 18 43 16](https://user-images.githubusercontent.com/40698031/51781037-260ab380-20d1-11e9-92f6-fbe7dd4be695.gif)

[2019-01-26 02:04] megan-phet commented on #196
<img width="297" alt="screen shot 2019-01-25 at 7 00 47 pm" src="https://user-images.githubusercontent.com/40698031/51781286-f4471c00-20d3-11e9-8306-f3a342d0ee16.png">

[2019-01-26 02:05] chrisklus commented on #197
I've updated the sun's output when chunks are off. @ariel-phet please test what we discussed regarding https://github.com/phetsims/energy-forms-and-changes/issues/197#issuecomment-457768107.

[2019-01-26 02:11] chrisklus commented on #196
@jbphet and I have wondered for months how fuzzing has been able to produce these situations. Looks like pause is the answer.

[2019-01-26 02:15] megan-phet commented on #196
![kapture 2019-01-25 at 19 13 55](https://user-images.githubusercontent.com/40698031/51781410-7b48c400-20d5-11e9-824b-a3c7232cd0d5.gif)

[2019-01-26 18:43] ariel-phet commented on #197
@chrisklus I think this looks pretty good, the fan with energy chunks on and off seems to behave in a way that is more consistent and reasonably easy to interpret. Closing

[2019-01-26 18:43] #197 closed

[2019-01-28 16:05] kellywurtz opened #201 "Brick gets stuck under beaker while paused"
For https://github.com/phetsims/QA/issues/268:
**Test device:**
Macbook

**Operating System:**
MacOS 10.14.2

**Browser:**
Chrome

**Problem description:**
While paused, the blocks get stuck under the beakers and cannot be picked up, only moved side to side. While on play, dragging the block will pick up both the block and the beaker.

**Steps to reproduce:**
- Pause sim
- Drag brick or iron on to

[2019-01-28 16:12] kellywurtz opened #202 "While paused, blocks jump out of beaker when beaker is moved"
For https://github.com/phetsims/QA/issues/268:

**Test device:**
Macbook

**Operating System:**
MacOS 10.14.2

**Browser:**
Chrome

**Problem description:**
While paused, dragging a beaker with blocks in it causes the beaker and blocks to be separated. The beaker jumps to the side while the blocks stay in place.

**Steps to reproduce:**

- Pause sim
- Drag block (or two) into either beaker.
- Move

[2019-01-28 16:27] KatieWoe commented on #202
Likely related to, or even the same as https://github.com/phetsims/energy-forms-and-changes/issues/196

[2019-01-28 16:42] kellywurtz commented on #201
Realized the block only needs to be in contact with the bottom of a beaker for this to occur, not necessarily be on the stand.

![efac_brickstuck2](https://user-images.githubusercontent.com/42352972/51851212-ace1ab00-22e0-11e9-8acb-d8ba7073c928.gif)

[2019-01-28 16:50] lmulhall-phet commented on #200
@chrisklus, I think this is fixed.

(1) If you check the Energy Symbols box quickly after the fan appears to stop you typically see an energy chunk and the fan spins again, but this might be because the fan only _appears_ to have stopped spinning when in reality its velocity is not 0.

I went and looked at 1.0.0-dev.17 and if you wait ~5 seconds between when the fan stops spinning and checking the

[2019-01-28 17:08] KatieWoe opened #203 "Edge Pieces of block turn invisible"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Edge
**Problem description:**
For https://github.com/phetsims/QA/issues/268
Happens fairly regularly under normal use, but doesn't seem to have set steps.  From slack: I saw a weird graphical glitch in EFAC in edge.  The brick block briefly lost the color in one of its sides and that piece was in a new location.  In the image the blue

[2019-01-28 17:14] KatieWoe commented on #201
Note: If the objects were already stacked before the pause this does not occur.

[2019-01-28 17:24] KatieWoe commented on #195
This is actually slightly different from what I'm seeing.  I just figured out what happened and its a bit more concerning @ariel-phet.  Also not sure how it took me so long to reproduce.
Steps:
1. Move a thermometer onto a beaker
2. Hit the orange reset button
3. Pick up the beaker from step one.

![thermometeronthebeakersolved](https://user-images.githubusercontent.com/41024075/51853966-d271b300-

[2019-01-28 17:58] jbphet commented on #202
@chrisklus and I talked about disallowing dragging of blocks and beakers while paused, and I just discussed this with @ariel-phet, and he's cool with it.  He just suggests that we make the pause button a bit smaller to call more attention to the change of states.  We decided to essentially "split the difference" between the size of the play button and the step button.

[2019-01-28 18:10] arouinfar commented on #202
@jbphet @ariel-phet I was discussing this a bit with @chrisklus, and I think it's a bit unprecedented to make something unpickable when paused. This may also have some unintended consequences for keyboard nav later down the line. I am fine with this solution for 1.0, but I don't think it's ideal.

I think a more natural alternative would be to simply unpause the sim when the user starts dragging b

[2019-01-28 18:15] kellywurtz opened #204 "fallToSurface() bug"
For https://github.com/phetsims/QA/issues/268:

**Test device:**
iPad

**Operating System:**
iOS 12.1.1

**Browser:**
Safari

**Problem description:**
Block placed below beaker while paused will jump into a beaker upon pressing forward button. I have only had this happen when the block is initially placed close to the floor, but not touching, and it does not happen every time.

Seen on multiple de

[2019-01-28 18:18] ariel-phet commented on #195
@chrisklus --not the bug @phet-steele found, but the bug @KatieWoe found in https://github.com/phetsims/energy-forms-and-changes/issues/195#issuecomment-458222772 seems worthy of fixing if possible. Seems something is not getting reset properly and the bug is quite easy to reproduce following the steps.

[2019-01-28 18:20] ariel-phet commented on #204
A bit of an unusual use case, but certainly a bug. Would be nice to fix, but not for 1.0. Marking deferred.

[2019-01-28 18:22] ariel-phet commented on #202
@arouinfar agreed, would be good to have a better solution in place for 1.1

[2019-01-28 18:35] chrisklus commented on #202
@arouinfar @ariel-phet it's equally easy to 1) make the beakers and blocks unpickable while the sim is paused, or 2) make the sim resume playing when when a beaker or block is grabbed.

Sounds like @arouinfar is leaning towards the latter, what is your preference @ariel-phet?

[2019-01-28 18:41] arouinfar commented on #199
@chrisklus I've uploaded the updated assets for the faucet icon to the [sim design folder](https://drive.google.com/drive/u/0/folders/0B6CMwxdP0NGYVDFaVURCMUREd28) on Drive. I exported the .png at double the resolution of the one that's checked in, so it won't look so pixelated at large window sizes.

[2019-01-28 19:10] chrisklus commented on #200
@lmulhall-phet is right on about this - there's a cutoff for minimum velocity that will stop the fan if its movement would otherwise be too slow and jumpy. I changed the preload condition so that it will also respect that minimum velocity. This prevents any chunks from being added to the fan's preload, but if the generator wheel is still turning a little bit, for example, then it might add a chunk

[2019-01-28 19:16] lmulhall-phet commented on #200
@chrisklus, it does seem a bit better. I can still get the fan to start spinning again if I check the box almost immediately after I see the fan stop, but it seems better than before.

[2019-01-28 19:18] chrisklus commented on #200
@lmulhall-phet cool, thanks. Like I said, if the chunk that makes it spin again comes from the spinning generator, then I think that is fine. Ready to close if you are.

[2019-01-28 19:21] lmulhall-phet commented on #200
I'm also good with closing this.

[2019-01-28 19:21] #200 closed

[2019-01-28 20:12] ariel-phet commented on #201
My understanding is that @jbphet and @chrisklus are going to disable dragging objects while the sim is paused for 1.0 since there are many issues associated with this use pattern.

[2019-01-28 20:14] ariel-phet commented on #202
@chrisklus I am fine with (2)

[2019-01-28 20:17] chrisklus commented on #202
@ariel-phet cool, thanks. Would you still like the pause button to be smaller, and if so, should the pause button on the second screen match that size?

[2019-01-28 20:46] chrisklus commented on #195
Should be fixed, @KatieWoe please test.

[2019-01-28 20:54] ariel-phet commented on #202
@chrisklus yes, I think a bit smaller would be good, and yes, match the second screen. I think it generally looks good when then button appears to "grow" in case someone hit it by accident.

[2019-01-28 21:03] KatieWoe commented on #195
This does seem fixed on master

[2019-01-28 21:17] arouinfar opened #205 "Decrease size of pause button?"
Originally suggested in https://github.com/phetsims/energy-forms-and-changes/issues/202#issuecomment-458235696.

@ariel-phet commented:

I replied:

I'm not particularly keen on the play and pause buttons having a different size, but I think it's worth brining up at a design meeting before 1.1+.

[2019-01-28 21:24] ariel-phet commented on #203
I can reproduce this issue. It is a little annoying, and likely related to using SVG on Edge. Considering we could basically get nowhere near acceptable performance without SVG, this seems like an acceptable trade off. When we are working on 1.1 lets see if we can get a little of JO's time to see if there is an easy workaround or scenery fix.

[2019-01-28 22:00] chrisklus commented on #202
Implemented, could @KatieWoe, @arouinfar, or @ariel-phet try this out please.

[2019-01-28 22:05] chrisklus commented on #201
Closing, since dragging model elements on pause was disabled in https://github.com/phetsims/energy-forms-and-changes/issues/202.

[2019-01-28 22:05] #201 closed

[2019-01-28 22:05] chrisklus commented on #196
Closing, since dragging model elements on pause was disabled in https://github.com/phetsims/energy-forms-and-changes/issues/202.

[2019-01-28 22:05] #196 closed

[2019-01-28 22:07] KatieWoe commented on #202
I'm ok with this

[2019-01-28 22:08] chrisklus commented on #195
Good deal, thanks @KatieWoe. Since that is fixed, and the bug described in https://github.com/phetsims/energy-forms-and-changes/issues/195#issuecomment-457777795 is no longer possible since dragging model elements on pause was disabled in #202, I'm going to close.

[2019-01-28 22:08] #195 closed

[2019-01-28 22:16] arouinfar commented on #202
Looks good @chrisklus.

[2019-01-28 22:53] chrisklus commented on #204
Note - this issue is not related to pause, so it will not be fixed by the removal of model element dragging on pause (though setting it up like this because the sim is paused will no longer be possible, which does eliminate this bug on non-multitouch devices).

It is still reproducible on a multitouch device, so we should leave open to be fixed for 1.1. More specific steps for reproducing (to refr

[2019-01-28 23:11] chrisklus commented on #199
Looks good @arouinfar!

Hmm, the faucet and fan icon kinda put the rest to shame resolution wise. And it looks like the beaker heater and two lightbulbs have the old element base image in the icon. Think we should replace those?

[2019-01-28 23:53] arouinfar commented on #199
@chrisklus the updated beaker and light bulb icons are now up on Drive.

[2019-01-29 01:16] chrisklus commented on #190
@jbphet thought it was normal behavior for `paintCanvas` to be called while dragging, so I'm assigning him to review my fix, and then we can close.

[2019-01-29 01:19] chrisklus commented on #199
@arouinfar thanks! They've been added.

The beaker icon was taken from a screenshot with a white background, so the white corners are a bit visible when a different user is selected. @arouinfar is planning on erasing the visible parts out to be a transparent background.

[2019-01-29 15:41] kellywurtz commented on #160
Although this has been marked as deferred, I wanted to note that I am still seeing a version of this on rc.1 (as the issue is also marked as fixed). Not when beakers are dropped, but when they are being dragged around by a block underneath them.

The only reason I can see this being an issue is because when the beaker picks up thermometers, the thermometers snap to the same place (perfectly on top

[2019-01-29 17:37] chrisklus commented on #160
The beaker thinks that the block is inside it, so it handles it like the first case in the following clip.

![kapture 2019-01-29 at 10 35 19](https://user-images.githubusercontent.com/5618316/51927797-a8d18e00-23b1-11e9-8df4-5e212bebe1ed.gif)

I'll add a check for the y-position of the block relative to the beaker.

[2019-01-29 17:41] chrisklus commented on #160
Fixed, @kellywurtz could you test this on master?

[2019-01-29 17:45] chrisklus commented on #160
For https://github.com/phetsims/QA/issues/273

[2019-01-29 17:54] chrisklus commented on #50
@arouinfar do we need anything more than https://github.com/phetsims/energy-forms-and-changes/issues/95#issuecomment-432713237 for this issue?

[2019-01-29 18:00] kellywurtz commented on #160
Still occurring.

[2019-01-29 18:03] chrisklus commented on #160
Whoops, forgot to change back something i was testing. My bad.

[2019-01-29 18:05] kellywurtz commented on #160
Fixed!

[2019-01-29 18:12] chrisklus commented on #160
Nice, thanks. Closing.

[2019-01-29 18:12] #160 closed

[2019-01-29 18:17] chrisklus commented on #78
@ariel-phet, I've compressed the tea kettle and bike frame with squoosh/OptiPNG (visible on master), could you take a look? They look fine to me, but they also weren't able to be compressed much as .pngs. The bike frame is reduced by 30%, and the tea kettle 10%.

[2019-01-29 18:53] chrisklus commented on #199
I had some time this morning, so I went ahead and did this. Anything else for this issue @arouinfar?

[2019-01-29 19:03] arouinfar commented on #199
Looks great, thanks @chrisklus!

[2019-01-29 19:03] #199 closed

[2019-01-29 19:25] KatieWoe opened #206 "Water starts and stops"
For https://github.com/phetsims/QA/issues/273.  Likely minor and to be deferred.
The water faucet on the second screen will occasionally pause for a second, causing a break in the water, even when it is fully on.  This was found on Win 10 chrome.  Two things seem to cause this.  The first is to change he machine being powered.  The second is to go to a different tab and then come back.
https://dri

[2019-01-29 19:34] chrisklus commented on #206
Interesting. It looks to me like there's just a high load on the sim for a split second (when selecting a new user). Notice that the generator wheel briefly freezes at the same time. However, there must be a reason why this is happening when the user is switched, but not when the generator is switched to the solar panel.

[2019-01-29 21:54] #50 closed

[2019-01-29 21:55] arouinfar commented on #95
@chrisklus can you please add Cheryl McCutchan to Graphic Arts?

[2019-01-29 22:02] ariel-phet commented on #206
Not necessary to fix for 1.0. Marking deferred.

[2019-01-29 22:25] KatieWoe opened #207 "CT running lint all task"
[code]

[2019-01-29 22:41] KatieWoe commented on #95
QA for all add (if not there already): Steele Dalton, Megan Lai, Liam Mulhall, Laura Rea, Jacob Romero, Katie Woessner, and Kelly Wurtz

[2019-01-29 23:57] chrisklus commented on #95
Here are the current credits:

[code]

Anything else needed here @arouinfar?

[2019-01-30 00:05] arouinfar commented on #95
Looks good @chrisklus!

[2019-01-30 03:18] samreid commented on #78
If the full resolution SVG is already checked in, then you don't need to check in the high resolution PNG.  If there is no full resolution SVG, then check in the PNG in "energy-forms-and-changes/assets" as the source image.

[2019-01-30 05:17] arouinfar opened #208 "Create Sim Primer"
For #13

- [ ] Draft script
- [ ] Record rough version for script verification
- [ ] Review script verification draft, and adjust script as necessary
- [ ] Record another draft
- [ ] Review 2nd draft
- [ ] Produce primer and upload
- [ ] Caption primer

[2019-01-30 05:17] arouinfar opened #209 "LoL Icons/Descriptions"
For #13

[2019-01-30 15:52] jbphet commented on #191
Based on profiling on Chrome, the biggest user of CPU cycles in the energy chunk distributor.  Right now, it works through a repulsion algorithm where each energy chunk is repelled by the walls of the "slice" that it is in as well as by all other energy chunks in the thermal model element.  This looks quite good, but it's an order n-squared algorithm that runs at every time step for each model ele

[2019-01-30 16:55] chrisklus commented on #78
I did size comparison tests of build files after compressing 1/103 images, and found that the sim was 99.88% of its original size. @jbphet and I think that this compression would be worth doing once squoosh supports a batch process, but is not significant enough to be worth doing manually right now.

[2019-01-30 21:29] #207 closed, assigned to chrisklus

[2019-01-31 23:57] chrisklus commented on #89
I just checked a flame chart again, and don't think it's worth trying to optimize. @jbphet signed off as well. Closing.

[2019-01-31 23:57] #89 closed

[2019-02-01 00:00] chrisklus commented on #112
Performance on slower devices is being done in https://github.com/phetsims/energy-forms-and-changes/issues/191, closing.

[2019-02-01 00:00] #112 closed

[2019-02-01 19:35] jbphet commented on #182
The revised code passed QA testing, so I deleted this branch and will now close this issue.

[2019-02-01 19:35] #182 closed

[2019-02-01 19:40] chrisklus commented on #124
This is fixed, closing.

[2019-02-01 19:40] #124 closed

[2019-02-04 17:16] arouinfar commented on #145
Tips have been created and uploaded, closing.

[2019-02-04 17:16] #145 closed

[2019-02-04 20:08] arouinfar commented on #209
Icons & descriptions are up on Drive, and EFAC has been delivered to LoL.

[2019-02-04 20:08] #209 closed

[2019-02-04 23:44] chrisklus commented on #159
This went pretty smoothly and removed a significant amount of duplicated code. Assigning to @jbphet for review since this was a big change to the second screen.

[2019-02-05 19:58] chrisklus commented on #203
Once the sim is in good shape for 1.1, let's see if @jonathanolson has some time to look into this.

[2019-02-05 20:05] chrisklus commented on #184
@ariel-phet thinks we can address this if we get feedback related to it, but marking as won't-fix and closing for now.

[2019-02-05 20:05] #184 closed

[2019-02-05 20:12] chrisklus commented on #153
@ariel-phet says to spend a little time on this and see if something works out nicely.

[2019-02-05 20:17] chrisklus commented on #106
I think @jbphet and I have spent enough time trying to fix this, and it's pretty small. Closing.

[2019-02-05 20:17] #106 closed

[2019-02-05 20:22] chrisklus commented on #87
I'm going to update everything about my computer and hope that this is fixed on my machine, but @ariel-phet says we can close regardless since no other devices have the symptom.

[2019-02-05 20:32] chrisklus commented on #52
@ariel-phet says this is up to @jbphet and @chrisklus to decide if we want to fix.

[2019-02-05 20:37] chrisklus commented on #3
@ariel-phet thinks that this issue is actually convenient because it allows for dragging one stack over another stack on a burner. This would not be possible if the bounds of the whole stack were constrained inside the dev bounds. And, the elements that go above the screen cannot be lost. Closing.

[2019-02-05 20:37] #3 closed

[2019-02-05 20:44] chrisklus opened #210 "Float sim to bottom of tall window"
@ariel-phet thinks that when opening the sim on a skinny window, the sim should float to the bottom of the screen instead of remaining in the middle. Additionally, we should fade out the background and any elements at some height above the sim so that we don't have have the chunks traveling to some super high y-position all of the time.

I will check out how this was done in Energy Skate Park: Bas

[2019-02-05 21:07] chrisklus opened #211 "Convert to ES6"
@ariel-phet says it's time, and this should come before any other bug fixes.

[2019-02-05 22:46] chrisklus commented on #211
**Conversion status**

- [ ] common
  - [ ] model
  - [ ] view
- [ ] intro
  - [ ] model
  - [ ] view
- [ ] systems
  - [ ] model
  - [ ] view

[2019-02-06 23:43] arouinfar commented on #13
@ariel-phet the remaining items are yours.

[2019-02-08 22:06] chrisklus opened #212 "Clipping region not functioning for block held in beaker"
After https://github.com/phetsims/energy-forms-and-changes/issues/114 was implemented, a clipping region was in place to keep the back of the blocks opaque when they're in the beaker, regardless of wether they're resting or being held by a user. See behavior from dev.10:

![kapture 2019-02-08 at 14 59 59](https://user-images.githubusercontent.com/5618316/52508542-4139f080-2bb2-11e9-803c-120300c09f

[2019-02-09 00:53] chrisklus commented on #52
@jbphet fixed this today, and it looks really nice!

![image](https://user-images.githubusercontent.com/5618316/52513814-65a1c700-2bca-11e9-92e2-35fde7b5dd0d.png)

Closing.

[2019-02-09 00:53] #52 closed

[2019-02-11 19:13] jbphet opened #213 "branch: optimizedECDistribution"
This branch was created to work on the issue where the distribution algorithm for energy chunks is causing performance problems on some slower iOS devices, see #191.

[2019-02-11 19:18] chrisklus opened #214 "Energy chunks returning to beaker can disappear"
Because of the clipping region in place on the beakers (see #114), energy chunks that are owned by the beakers can only be seen within the red column shown below. When a beaker is receiving an energy chunk from the air, it owns that chunk as it's on its way down, so if the beaker is moved away from the traveling chunk, then the chunk disappears until it reaches the beaker and magically appears in

[2019-02-11 20:36] jbphet commented on #191
Testing again after a number of additional changes intended to improve performance.  This version uses an order-n algorithm on iOS devices, which may not have acceptable appearance.

| Test 1 | Test 2 | Test 3 | Test 4 | Test 5 | Test 6 | Test 7 |
| --- | --- | --- | --- | --- | --- | --- |
| 46 | 10 | 7 | 57 | 9-10 | 17 | 17 |

[2019-02-11 21:12] jbphet commented on #191
@ariel-phet and @arouinfar - I'd like your input to help decide where to go next on this.  I've implemented an order-n algorithm for distribution of the energy chunks and have set things up so that it **only runs on iOS devices**.  A few other, more minor optimizations were also implemented.  For the device that was serving as the low performance benchmark, which is the PhET iPad 4 named Jemison (

[2019-02-11 21:13] chrisklus commented on #211
This went way faster than I expected. All files have been converted to ES6 except:

* ModelElement.js
* UserMovableModelElement.js
* RectangularThermalMovableModelElement.js
* Block.js
* Beaker.js
* EnergyChunkDistributor.js

These can be converted once the optimized energy chunk distribution algorithm is merged into master in https://github.com/phetsims/energy-forms-and-changes/issues/191. Markin

[2019-02-11 21:15] jbphet commented on #191
Labeling has high priority, since we need to decide whether to merge in the branch where this work was done so that we can finish on issue #211.

[2019-02-11 22:37] arouinfar commented on #191
I tested this out on 3 iPads: iPad Air/iOS 12.1, iPad Air/iOS 11.4, iPad2/iOS 9. (I also tested this on Jemison and another device yesterday.) In all cases, the order-n algorithm is definitely smoother. The improvement is particularly dramatic for lower-end iPads.

The energy chunk distribution is arguably worse with the order-n algorithm, and energy chunks can tend to clump together. I think make

[2019-02-11 22:46] ariel-phet commented on #214
I am going to put this one as high priority since the fundamental goal of the sim is energy conservation, so it seems a problematic bug from that standpoint.

[2019-02-11 22:52] ariel-phet commented on #191
@jbphet I lean towards @arouinfar sentiment, but having the energy appear "distributed" in the liquids is also important.

Are there any potential tweaks you could make that would retain improved performance but do a better job of distributing the chunks?

[2019-02-12 04:54] ariel-phet commented on #212
Since this behavior was working before, and it is the desired behavior, marking as high priority since my guess is some investigation will yield a solution fairly quickly.

[2019-02-13 23:31] chrisklus commented on #87
@samreid told me that he was able to fix his MBP graphics problems (slightly different than this issue, see https://github.com/phetsims/energy-forms-and-changes/issues/87#issuecomment-428291195, but my screen also flashes black sometimes so I figured it was related) by unchecking "Automatic graphics switching" under Energy Saver in System Preferences.

![image](https://user-images.githubuserconten

[2019-02-14 00:47] jbphet commented on #212
This was due to a test that was using incorrect bounds for the beaker.  I think this may be the result of an attempted optimization that I did that was done incorrectly.  It should be fixed now, and we should have it verified in the next release.  Unassigning until then.

[2019-02-14 00:49] jbphet commented on #191
I'll try making some adjustments to the algorithm and see if we can get a better distribution.  There are number of parameters that can be tweaked, but it's going to be tough to get anything perfect, since the whole idea of the faster algorithm is that it doesn't have to look at the positions of the other energy chunks.

[2019-02-14 00:50] samreid commented on #87
@chrisklus I'm reopening for a quick question.  When you have "automatic graphics switching" unchecked how does that impact heat/noise/fan/battery life?  No need to do experiments--just wondering if you noticed anything.

[2019-02-14 01:04] chrisklus commented on #87
@samreid I haven't noticed any differences today. I wouldn't expect too big of change though, at least in the context of a usual day at PhET since we're running sims more often than not.

[2019-02-14 01:37] chrisklus commented on #157
The previous commit puts both of these heights in EFACConstants.js and documents why they can't be the same value. Closing.

[2019-02-14 01:37] #157 closed

[2019-02-14 22:25] chrisklus opened #215 "Wandering energy chunks get stuck before removal"
When energy chunks on the first screen get to the end of their path, they sometimes get stuck and wiggle for a while before eventually removing themselves. This doesn't seem like a big problem since this location in the sim will soon be covered by a white cloud (see https://github.com/phetsims/energy-forms-and-changes/issues/210), but it's still a bug.

![kapture 2019-02-14 at 15 24 21](https://us

[2019-02-15 17:47] jbphet commented on #214
I've added code that causes the energy chunks to move with the destination object in the horizontal direction in this situation.  @chrisklus and I both thought it looked pretty good.  Marking as fixed, but will leave open and have QA verify in the next release.

[2019-02-15 19:31] chrisklus commented on #210
I added a white layer on top of the sim that fades in before the energy chunks are removed, so it makes it look like the energy chunks are fading out. The point at which the energy chunks are removed is right above where the gradient becomes fully opaque on both screens.

Per @jbphet's recommendation, I set the removal point of the energy chunks just high enough so that on an iPad in portrait orie

[2019-02-15 19:33] chrisklus commented on #87
Okay to close @samreid?

[2019-02-15 20:07] chrisklus commented on #215
Line ~59 in SkyNode, `this.addChild( opaqueRectangle );`, can be commented out to see this happening

[2019-02-15 20:53] #87 closed

[2019-02-20 00:20] jbphet commented on #215
There was a bug where the code that checked the wander constraint in `EnergyChunkWanderController` didn't get updated when the name of the wander constraint option did, so the constraint wasn't being check, and this allowed some code to creep in where the initial position of the energy chunks was outside the wander constraint.  Since the air uses the X coordinate of the original EC position as the

[2019-02-20 00:51] chrisklus commented on #215
Nice @jbphet! I was having trouble with this earlier. Looks perfect on my end as well.

I think we were seeing the same behavior - I see four spots where they were getting stuck in the GIF above, and since both beakers were being heated, I think the four spots correspond to the both edges of each beaker. The ones that appear in the middle are probably the inside edges of the neighboring beakers si

[2019-02-20 00:51] #215 closed

[2019-02-20 16:55] chrisklus opened #216 "PhET-iO instrumentation"
We are planning on having a design meeting for PhET-iO instrumentation of this sim while it's still fresh for @jbphet and me.

[2019-02-20 21:48] chrisklus opened #217 "Sensor reads all steam as white"
Up until I just pushed a fix for https://github.com/phetsims/energy-forms-and-changes/issues/198, the color that the sensors read for all steam was hardcoded as white. Beakers didn't have their own steam color property until we decided to change olive oil's steam color to gray, and I missed this hardcoded value during that change.

The problem is visible on the published version:

![image](https:/

[2019-02-20 22:13] chrisklus commented on #198
As we check to see if a sensor is over various things on the first screen, we loop over collections of types, like the beakers. Each beaker checks to see if a sensor is in the bounds of its fluid, and then its steam. Once the sensor has found something to detect, it bails on checking the rest of the elements, so order matters.

The problem was that the first beaker (water) was noticing that the se

[2019-02-20 22:13] #198 closed

[2019-02-20 22:34] ariel-phet commented on #217
Discussed with @chrisklus a maintenance release seems low risk and probably worthwhile.

[2019-02-20 23:29] chrisklus commented on #217
Maintenance release complete. The commit above is what I patched with. Closing.

[2019-02-20 23:29] #217 closed

[2019-02-21 00:06] chrisklus opened #218 "Assertion failed: items should only be on top of burner when getting ECs"
@jbphet added a new assertion a little while ago, and I kept triggering it while working on https://github.com/phetsims/energy-forms-and-changes/issues/198. I suspect it is due to floating point error.

[code]

In code:

[code]

[2019-02-21 00:08] chrisklus commented on #218
Floating point error indeed:

[code]

[2019-02-21 21:49] chrisklus commented on #193
getCompositeBounds() and getBounds() were doing the same thing, so I consolidated all uses to getBounds() in RectangularThermalMovableModelElement, and removed any extras that were in sub types like block and beaker.

I also consolidated a few more similar methods - getRawShape(), getRawOutlineRect(), and get rect() were used in block and beaker. getRawShape() and getRawOutlineRect() returned the

[2019-02-21 22:08] jbphet commented on #191
I've made some adjustments, and it's better, but it is still somewhat clumpy at times.  I think this is about all the time I should spend on this, so please let me know if you feel that I should integrate the fast algorithm into master.  If we move forward with it, I'll merge it and then add code to detect when it is needed and automatically switch, rather than using it on iOS in all cases.

I've

[2019-02-21 22:28] jbphet commented on #210
The code change looks fine to me, though I'm not an expert on such things.  @chrisklus says that this was leveraged from another already-published sim, so that boosts our confidence.  I tested it on an iPad to make sure that rotation was handled okay, and it seemed to be.

The one thing I would suggest is adding the `@override` notation for the `layout` methods that were added.  Back to @chrisklus

[2019-02-21 22:28] arouinfar commented on #191
@jbphet the energy chunks are definitely less clumped than they were previously. My opinion is still the same as before -- the clumping is not ideal, but the trade-off is dramatic performance improvement for older iPads (which could barely run the sim before). I think it's ready to merge into master, but @ariel-phet should also take a look.

[2019-02-21 22:39] jbphet commented on #190
The current behavior looks good, but the setting of `dt` to zero is no longer needed because the sim un-pauses when a drag starts.  Back to @chrisklus to remove and update.

[2019-02-21 23:25] jbphet commented on #193
Looks good to me.  Closing.

[2019-02-21 23:25] #193 closed

[2019-02-21 23:31] jbphet commented on #159
Nice!  This looks great to me, closing.

[2019-02-21 23:31] #159 closed

[2019-02-23 03:25] zepumph opened #219 "Uncaught InvalidStateError: Failed to execute 'drawImage' on 'CanvasRenderingContext2D':"
CT says it began at 2/22/2019, 1:55:56pm
[code]

[2019-02-25 16:40] KatieWoe opened #220 "CT: call tree of updateDisplay"
[code]

[2019-02-25 16:49] KatieWoe commented on #220
Probably https://github.com/phetsims/energy-forms-and-changes/issues/219.  Probably can be closed.

[2019-02-25 18:20] chrisklus commented on #220
Thanks @KatieWoe. This should be fixed now, i'll check CT in a while.

[2019-02-25 18:21] chrisklus commented on #219
Thanks @zepumph. This should be fixed now, I'll check CT in a while.

[2019-02-25 19:32] chrisklus commented on #123
I've implemented new steam for the tea kettle using a pattern similar to the beaker's steam. Assigning to @jbphet for code review, and feedback from anyone @ariel-phet @arouinfar @jbphet.

I did some testing to see if this has negative performance impacts. On my machine, the tea kettle steam and beaker steam running simultaneously shows 60 FPS for the old steam and new steam. On Jemison, our slowe

[2019-02-25 20:00] chrisklus commented on #178
This is fixed, closing.

[2019-02-25 20:46] chrisklus commented on #218
I've added some tolerance to the assert so this stops showing up, but @jbphet wants to see if there's a better way to assert on the logic in use.

[2019-02-25 20:46] chrisklus commented on #220
CT is looking good, closing.

[2019-02-25 20:47] chrisklus commented on #219
CT is looking good, closing.

[2019-02-25 20:47] #219 closed

[2019-02-25 20:50] chrisklus commented on #210
Thanks @jbphet - `@override` annotations have been added. Closing.

[2019-02-25 20:50] #210 closed

[2019-02-25 21:02] chrisklus commented on #190
Thanks @jbphet. Updated, closing.

[2019-02-25 21:02] #190 closed

[2019-02-25 21:08] arouinfar commented on #123
@chrisklus I really like the new steam node! It looks smoother and more realistic to me.

[2019-02-25 22:29] chrisklus commented on #204
This is fixed. Basically, I previously tried to fix a floating point error bug in a comparison by adding in a second comparison (instead of doing the usual fix of adding a small tolerance to the comparison), which introduced the bug of this issue. I don't see another way to solve this, so I removed the extra comparison and just added in the tolerance. A further explanation can be found in the code

[2019-02-25 22:29] #204 closed

[2019-02-25 23:48] chrisklus commented on #123
Thanks @arouinfar!

[2019-02-26 02:44] ariel-phet commented on #123
Looks very nice to me as well!

[2019-02-26 18:12] chrisklus opened #221 "First screen falling bug"
As a result of fixing #204, a couple of new bad cases have come up. Here is one:

![kapture 2019-02-26 at 10 34 20](https://user-images.githubusercontent.com/5618316/53433705-24732a80-39b2-11e9-8674-99f83bbed006.gif)

What's happening is that since the stack of iron + olive oil cannot land on the water beaker, the next closest spot is the burner. But, brick is above iron when the stack is released

[2019-02-26 18:45] chrisklus commented on #221
The additional search is working well from what I can see. I've added a debugger for the cases above (after `if ( modelElementsInSpot.length > 0 ) {`, line ~678) and have verified that the elements being found are correct and are not being added multiple times.

I feel pretty good about this solution, especially since it eliminated the need for the floating point error tolerance that was added in

[2019-02-26 18:57] chrisklus commented on #220
After a day of no errors, this reappeared when CT ran `stringTest=xss` and `fuzz` together.

[2019-02-26 19:17] ariel-phet commented on #191
@jbphet agreed with @arouinfar - I think things look reasonable now, and on an older iPad (like iPad2) the sim is basically unusable. So I think the plan of detecting when you need it sounds good (we will obviously want QA to test that thoroughly as the not speed optimized algorithm is highly preferable when performance allows). Merging approved :).

[2019-02-26 19:24] chrisklus opened #222 "CT: Cannot read property 'opacity' of undefined"
[code]

I've seen this before from the beaker steam, and I think it's because as the steam fades away, the last bubble tries to be rendered after it has be removed from the list of active bubbles. There is a guard to prevent that, but it must be failing sometimes. I'll investigate.

[2019-02-26 19:33] chrisklus commented on #222
Indeed - after making steam repeatedly appear and dissapear from the beakers for a couple minutes, I was able to trigger this manually:

[code]

This following error (previously logged in #220) also came up as a result of the error above, so perhaps they are related in this context:

[code]

[2019-02-26 21:33] chrisklus commented on #222
I first committed a quick fix, and then discussed with @jbphet, and he pointed out that the bubbles array should be copied before iterating so that it's not wonky to remove them from the original array during iteration. So I refactored based on his suggestions and have not been able to trigger the error since. Closing.

[2019-02-26 21:33] #222 closed

[2019-02-26 21:42] chrisklus commented on #220
As I mentioned in https://github.com/phetsims/energy-forms-and-changes/issues/222#issuecomment-467580156, this is likely related to #222, which is fixed. I'm going to close if this doesn't come up again in the next couple days.

[2019-02-27 23:27] chrisklus commented on #153
@jbphet and I discussed the implementation of this and we decided that it wasn't worth the time, and I relayed this to @ariel-phet. Closing.

[2019-02-27 23:27] #153 closed

[2019-02-28 01:06] jbphet commented on #221
This is pretty complex, but I think the general approach seems sound, and I tested a number of two-finger multi-touch scenarios and it seemed to handle them well.  Here are a few comments that I believe will help it be more maintainable:

+ In the big `if` in the first `forEach` loop in `fallToSurface` (currently around line 639), you could short-circuit the loop with something like `if ( potentia

[2019-03-01 00:45] chrisklus commented on #221
Nice comments @jbphet - thanks. I've addressed all of your suggestions. Closing.

[2019-03-01 00:45] #221 closed

[2019-03-01 17:31] chrisklus commented on #188
@jbphet and I discussed this and agreed that it wouldn't be fixable unless we restructured the implementation of the model element nodes. Closing.

[2019-03-01 17:31] #188 closed

[2019-03-01 18:24] chrisklus commented on #220
I haven't seen this again, closing.

[2019-03-01 18:24] #220 closed

[2019-03-01 19:43] chrisklus opened #223 "Update second screen carousel icons"
In https://github.com/phetsims/energy-forms-and-changes/issues/199, the carousel icons for the water faucet, beaker heater, and both lightbulbs were updated to match their new components in the sim. As a result, they were bumped to a higher resolution and look very nice.

I'd like to do the same for the sun, tea kettle, bike, generator, and solar panel icons since they're a little fuzzy. I'm also

[2019-03-01 20:36] chrisklus commented on #223
It looks like the tea kettle is the only one I'm able to do without illustrator. The other new icons had a larger dimension of 90px, so I did the same for the tea kettle.

@arouinfar if EFAC is low on your priorities then I'm happy to do the rest of these, I just need to ask @oliver-phet how to get illustrator.

[2019-03-01 23:56] chrisklus commented on #211
ES6 conversion complete. Closing.

[2019-03-01 23:56] #211 closed

[2019-03-02 00:28] KatieWoe opened #224 "CT: Issue with the licenses for media types"
[code]

[2019-03-02 00:28] chrisklus commented on #224
Thanks @KatieWoe, just fixed it, closing.

[2019-03-02 00:28] #224 closed

[2019-03-03 02:14] arouinfar commented on #223
@chrisklus here are the updated assets -- the longer dimension is 90 px for each. Please let me know if you need anything else!

[sun_icon.png](https://user-images.githubusercontent.com/8419308/53689959-6f789f00-3d1e-11e9-8253-165845b77c79.png)
[bicycle_icon.png](https://user-images.githubusercontent.com/8419308/53689975-e01fbb80-3d1e-11e9-9c7a-b6eb57044779.png)
[generator_icon.png](https://user-i

[2019-03-04 19:50] chrisklus commented on #223
Thanks @arouinfar, I really like the new solar panel and generator icon! The bicycle icon looked a bit more pixelated so I left the old one in for now - could you export that again?

[2019-03-04 20:59] jbphet commented on #191
I initially tried adding code that continuously monitored the performance of the repulsive distribution algorithm and automatically switched to the spiral algorithm if the performance dropped too low.  I found this to be problematic in some cases, though, because it would make this transition in the middle of using it, which would cause the energy chunks to suddenly shift position, and I think thi

[2019-03-04 22:17] KatieWoe commented on #202
Found a case during https://github.com/phetsims/QA/issues/293 that may cause problems for this solution.    Multitouch.  If you pause the sim while still holding an object, you will still be able to drag that object around while the sim remains paused.  Easiest to do on a touch screen like an iPad.  Haven't seen any issues arise from it yet, and it is a bit more of an edge case.  So feel free to c

[2019-03-04 22:26] chrisklus commented on #202
@KatieWoe I'm not too worried about this. Once the user lets go, as soon as another block or beaker is touched, the sim resumes, right?

[2019-03-04 22:27] KatieWoe commented on #202
@chrisklus Yes

[2019-03-04 22:29] chrisklus commented on #202
@KatieWoe cool, thanks. I'm okay with closing but let's wait for more opinions first.

[2019-03-04 23:57] KatieWoe opened #225 "Thermometer sticks to glass after liquid lowers"
**Device**
Dell
**OS**
Win 1
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/293
Normally the thermometer does not stick to the glass of the beaker, only the liquid.  It is possible to make the thermometer stick to the glass.  It does not seem to cause any other problems and is present in the published version.
**Steps to Reproduce**
1. Put a block in one of th

[2019-03-05 01:22] chrisklus commented on #225
@KatieWoe should be fixed, please test on master.

[2019-03-05 04:16] ariel-phet commented on #202
Yes, I think OK to close. We generally do not worry too much about some of these multitouch edge cases unless they have the potential to wreak havoc pedagogically or crash the sim horribly. Closing

[2019-03-05 04:16] #202 closed

[2019-03-05 15:38] KatieWoe commented on #225
This seems to be fixed on master.

[2019-03-05 16:55] chrisklus commented on #225
Cool thanks, I'm going to close.

[2019-03-05 16:55] #225 closed

[2019-03-05 17:10] KatieWoe opened #226 "Flashing screen on Win 10 firefox"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Firefox 65.0.2
**Problem description:**
For https://github.com/phetsims/QA/issues/293
On Win 10 Firefox, the screen sometimes flashes and flickers briefly.  This can be quite noticeable and annoying, but does not break the sim.  Severity at any time seems to be a bit random in terms of frequency of flashes and duration.  Mostly seen o

[2019-03-05 18:06] KatieWoe commented on #203
Noting that this is still seen in https://github.com/phetsims/QA/issues/293

[2019-03-05 19:38] jbphet commented on #191
I'm marking this and fixed and unassigning, will update based on feedback from dev testing, see https://github.com/phetsims/QA/issues/293.

[2019-03-05 19:59] KatieWoe opened #227 "Beaker falls into burner or floor more easily"
**Device**
iPad (2018)
**OS**
iOS 12.1.4
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/293.  May be an easier to achieve version of https://github.com/phetsims/energy-forms-and-changes/issues/163.
Attempting to place a block in a beaker while both are being held causes the beaker to move down through the floor/burner.  Is in published version.
**Steps to Repr

[2019-03-05 21:09] arouinfar commented on #223
Looks like I used an image for the bike instead of the vector asset, my bad! Let's try these instead @chrisklus.

[scene_icons.ai](https://drive.google.com/file/d/1MGUjIoN7oFxK_F-3bMd7B-hXDIAN3AYy/view)
[bicycle_icon.png](https://user-images.githubusercontent.com/8419308/53837596-23ad3c00-3f50-11e9-83d2-df417aac06f9.png)

[2019-03-05 21:20] KatieWoe commented on #178
This can happen to a minor degree if you switch tabs and come back.  For https://github.com/phetsims/QA/issues/293
![slighthiccup](https://user-images.githubusercontent.com/41024075/53838260-d29e4780-3f51-11e9-9d60-cbab4eaab476.gif)

[2019-03-05 22:28] KatieWoe commented on #178
Second unintended consequence: I noticed that when turning on energy chunks you can get a situation where chunks appear to be coming from an empty bucket.
https://drive.google.com/file/d/1a2IiTkoh0xKLUbtXJzNztsXVtA2AcQSj/view?usp=sharing

[2019-03-06 01:04] lmulhall-phet opened #228 "Is the wire supposed to be not smooth?"
Discovered while doing testing for https://github.com/phetsims/QA/issues/293. There's a slight "unsmoothness" (I don't know what else to call it) in the wire. See the screenshot. The "unsmoothness" is more prominent on other platforms. This screenshot was taken on Win10 + FF, but I've checked and it's not one of those weird FF problems.

![issue](https://user-images.githubusercontent.com/31285590/

[2019-03-06 01:08] chrisklus commented on #223
Thanks @arouinfar, looks good! Closing.

[2019-03-06 01:08] #223 closed

[2019-03-06 22:16] arouinfar commented on #228
@lmulhall-phet I think the aliasing of the wire comes down to the requested resolution for the assets in https://github.com/phetsims/energy-forms-and-changes/issues/140#issuecomment-448395821.

To improve the image quality, I think we'll probably need to use larger images. @chrisklus is this something you'd like to pursue? I know you were concerned about the aliasing at one point.

[2019-03-07 00:16] jbphet commented on #227
I was able to duplicate this on my touch-enabled Win 10 machine.  The screenshot below shows a situation that I was able to get the sim into by pushing the block down on the beaker.  Normally, I think I'd say that this is a multi-touch issue, and a bit of an odd one at that, so it isn't worth the time and effort to fix, but this looks fairly bad.  I think it would be worthwhile to spend a little t

[2019-03-07 00:17] jbphet commented on #227
@chrisklus - can you please take a look and see if there is a way to essentially move the beaker to a new spot if it ends up in the situation shown?

[2019-03-07 21:41] jbphet commented on #226
I was able to duplicate this on my Win 10 Dell, but I have no idea what to do about it.  @jonathanolson was here at the time and saw it too, but he didn't have any immediate insights either.  It may well be a bug in the rendering algorithms for this particular browser.

The only thing I know of that might fix this is to put some `layerSplit` directives in key places.  I'm not sure if that would ma

[2019-03-07 22:44] jbphet commented on #218
Because I don't trust that a floating point margin will work in all circumstances, I changed the assert to verify that the bounds to which the energy chunk is headed is above the center of the burner's bounds.  This seems like it would catch the vast majority of positioning problems without risking "false failures".  Closing.

[2019-03-07 22:44] #218 closed

[2019-03-07 22:51] jbphet commented on #123
That's a big improvement in the appearance, and the code looks great.  Closing.

[2019-03-07 22:51] #123 closed

[2019-03-07 23:03] jbphet opened #229 "Address TODO comments"
As of this writing there are 15 TODO items marked in the code.  I should go through them and either address, create an issue for, or delete each one.

[2019-03-08 16:28] jbphet commented on #227
Actually, I just took a look and I think I may have a fix, or at least an improvement.  Assigning to myself.

[2019-03-08 19:23] jbphet commented on #227
There was a problem with the portion of the code that constrains the drag motion of a model element based on the position of the other model elements.  The gist of the problem is that when a block is dragged and tested against the beakers' bounds, the edges of the beakers are used, but when the beaker was being dragged and its bounds were being compared against those of the blocks, the outline sha

[2019-03-08 20:04] KatieWoe commented on #227
I did notice that hen dragging a beaker with a block or two in it there is a very large amount of lag.  Sometimes the beaker doesn't even catch up to the mouse.
![superlagdrag](https://user-images.githubusercontent.com/41024075/54052852-bfce8180-41a2-11e9-8b6f-1f0e2746c755.gif)

[2019-03-08 20:11] KatieWoe opened #230 "Consistent layering of tool boxes"
As seen below, the items dragged over the thermometer box go on top.  The items dragged over the check boxes go behind.  These should be consistent.
![consistent](https://user-images.githubusercontent.com/41024075/54053139-982be900-41a3-11e9-880e-c6364644b124.gif)

[2019-03-08 20:12] jbphet commented on #227
Good catch.  I think I know exactly what's up and will address shortly.

[2019-03-08 21:28] jbphet commented on #227
Fixed.  @KatieWoe, please take another look.  I think this may also fix one of the interactions that you showed me (that we decided not to follow up on) where the block could be dragged through the bottom of the beaker during some multi-touch interactions.

[2019-03-08 21:33] KatieWoe commented on #227
This problem does seem to be solved.  I'm still seeing the one we decided not to address.  But like we said, it should be perfectly acceptable.

[2019-03-09 00:35] jbphet commented on #227
Over to @chrisklus for review.

[2019-03-09 00:41] jbphet commented on #191
I had tried some optimizations to the repulsive algorithm in the optimizedECDistribution branch, but they changed the way the algorithm operated, and not in a way that seemed like a visual improvement.  I just took some time and carefully propagated these optimizations to the main branch, taking care to make sure that the visual appearance didn't change.  It seemed like it worked, and it got a 9 F

[2019-03-09 00:45] jbphet commented on #213
The optimizations that were developed on this branch have been propagated to master and the branch has been deleted.  Closing.

[2019-03-11 17:43] jbphet commented on #230
I agree that this should be changed.  In all the sims that I've done before where the user can drag things around, such and Build an Atom and Expression Exchange, the thing being dragged goes above the control panel.

[2019-03-11 17:44] jbphet commented on #230
Done.  This is a small change, and I don't think it requires more testing or review.  Closing.

[2019-03-11 17:44] #230 closed

[2019-03-11 18:35] jbphet commented on #191
This should be re-tested on the the next RC, but other than that, I think the development work is done.

[2019-03-11 19:01] chrisklus commented on #228
@arouinfar I think it would look nice if the curved edges were a little smoother. Can you export at a higher resolution and we can see if that helps with the aliasing? It will take a little work in the code to use larger images but it seems worth it to me if they look better.

[2019-03-11 19:28] arouinfar commented on #228
@chrisklus the original assets were exported as screen resolution (72 ppi), so I've re-exported the wire assets at 300 ppi and 150 ppi. Let me know how it goes!

300 ppi:
[wire.png](https://user-images.githubusercontent.com/8419308/54151699-07524900-4401-11e9-9131-f664cdc214a1.png)
[wire_top.png](https://user-images.githubusercontent.com/8419308/54151700-07524900-4401-11e9-8d4c-16393b106efc.png)
[

[2019-03-11 19:54] chrisklus commented on #227
Nice fix! I tested on one of our iPads and the code changes look good. Closing.

[2019-03-11 19:54] #227 closed

[2019-03-11 22:02] chrisklus opened #231 "Tweak energy chunk paths"
Small adjustments are needed from changes in https://github.com/phetsims/energy-forms-and-changes/issues/228.

It would also be nice to add a few more position "stops" around the curved wires so the chunks flow more smoothly.

[2019-03-11 22:06] chrisklus commented on #228
Thanks @arouinfar! And thanks for the ppi numbers - that made them easier to scale down accurately. I went ahead with the 150 ppi images and the joint is looking much nicer.

![image](https://user-images.githubusercontent.com/5618316/54161348-7a66ba00-4417-11e9-8ae1-e0cf1a9f27fc.png)

[2019-03-11 22:47] chrisklus commented on #229
I addressed a few of these - there are 10 remaining. Some are more for @jbphet or for us to look at together.

[2019-03-11 22:48] chrisklus commented on #228
Remaining work in #231, closing here.

[2019-03-11 22:48] #228 closed

[2019-03-12 15:50] oliver-phet opened #232 "User suggestion: lock temperature"

[2019-03-12 16:39] chrisklus commented on #232
Interesting! On the Java version, tapping the arrow keys changes the burner level and doesn't snap them to zero when released. I wasn't aware of this feature.

![Kapture 2019-03-12 at 10 25 01](https://user-images.githubusercontent.com/5618316/54217386-23152800-44b1-11e9-90b7-ec96754f4261.gif)

We definitely don't support this right now in HTML5. A11y is not yet enabled in the published version so

[2019-03-12 17:03] arouinfar commented on #232
This is news to me as well @chrisklus! Given the previous design discussions, I wouldn't be surprised if this was an unintentional feature in the Java version.

I've probably done 10 or so interviews on sims with a HeaterCoolerNode across a variety of grade levels, and I haven't noticed any interaction or usability issues with the snappy thumb. At worst, it's slightly inconvenient to require users

[2019-03-13 23:01] jbphet commented on #54
We've decided that this isn't worth the effort to fix.  It wouldn't be very easy to do, and the current behavior works fine in almost all cases.  Closing.

[2019-03-13 23:01] #54 closed

[2019-03-13 23:07] jbphet commented on #232
Another reason not to support this is that the simulation's behavior can become somewhat unphysical if we *do*, since if the water was set up to be heating and steaming forever, the water should evaporate, and if the iron block was heated forever, it should melt.

[2019-03-13 23:08] jbphet commented on #232
@oliver-phet - it looks like the consensus is that we don't want this feature in the HTML5 version, at least not for now.  It may be somewhat supported once a11y is fully implemented.  I'll leave it up to you whether and how to respond to the user who made the request.

[2019-03-13 23:09] jbphet commented on #232
@oliver-phet - feel free to close once you've responded (or not).

[2019-03-14 16:33] pixelzoom commented on #87
FYI, I ran into a similar problem with Gas Properties.  After pumping a bunch of particles into the container, the animation runs for 1-2 seconds, then pauses, then resumes.  This occurs regardless of how long I wait after startup to do the pumping.

Specifying `?webgl=false` makes the problem go away.  So @samreid's hypothesis is that scenery is doing a WebGL check that switches the GPU.  And the

[2019-03-14 18:56] chrisklus commented on #229
All TODOs have been addressed, closing.

[2019-03-14 18:56] #229 closed

[2019-03-14 19:34] chrisklus opened #233 "Replace connector and post image"
@arouinfar and I discussed replacing the connector image (silver piece between the generator and wire) and post image (rotated connector image beneath the solar panel) since these are the only remaining general images with the older style of gradient. The wires and light bulb bases have been updated to use a newer style gradient.

![image](https://user-images.githubusercontent.com/5618316/54385602

[2019-03-14 19:42] chrisklus opened #234 "Make image names consistent"
A lot of the images have names with extra numbers or characters that aren't needed.

For example, the incandescent light bulb images are named `incandescent_2.png` and `incandescent_on_3.png`, but `incandescent.png` and `incandescent_on.png` don't exist, so those numbers are unnecessary.

I'm going to make these usages consistent.

[2019-03-14 22:20] chrisklus commented on #231
Waiting until we've added the new images from #233 so that everything is in its final place.

[2019-03-14 23:17] chrisklus commented on #234
This is complete, closing.

[2019-03-14 23:17] #234 closed

[2019-03-15 16:44] chrisklus commented on #178
https://github.com/phetsims/energy-forms-and-changes/issues/178#issuecomment-469861725 has been fixed by capping the max dt for a time step.

[2019-03-15 16:55] chrisklus commented on #206
I just did some testing and this is hardly noticeable now. @KatieWoe let me know if you think it's a problem on other devices.

Our default max dt is 0.5 seconds, so I changed that in the this sim to be 0.1 seconds, and now the break in the water is much smaller and acceptable. I can't lower the max dt any more because slow performing iPads need the flexibility of larger-than-normal dts.

[2019-03-15 17:22] chrisklus commented on #178
https://github.com/phetsims/energy-forms-and-changes/issues/178#issuecomment-469884078 has also been fixed. Now, if the burner is on when chunks are being preloaded, the chunks originate from the burner, but it the burner is off when they're being preloaded, then they originate from the tea kettle.

[2019-03-15 17:23] chrisklus commented on #178
@KatieWoe could you please verify my changes above on master and close if all looks good?

[2019-03-15 17:49] KatieWoe commented on #206
I would say that this is acceptable on master.

[2019-03-15 17:50] chrisklus commented on #206
Good deal, thanks. Closing.

[2019-03-15 17:50] #206 closed

[2019-03-15 17:53] KatieWoe commented on #178
I would say this looks pretty good on master.

[2019-03-15 19:37] arouinfar commented on #233
@chrisklus here are the updated assets. The .ai file contains the various circuit connectors including connector, solar_panel_post, and element_base. I've exported the images at 72 ppi (native screen resolution) and 150 ppi. The former have the specified resolution.

[circuit_connectors.ai.zip](https://github.com/phetsims/energy-forms-and-changes/files/2972633/circuit_connectors.ai.zip)
[connector

[2019-03-18 18:15] chrisklus commented on #233
These look fantastic, nice @arouinfar! I'm glad we made this change - it's great that they match the element bases.

It is okay for me to delete element_base.ai from assets? Ready to close once that's done.

[2019-03-18 21:30] arouinfar commented on #233
Yes, we can delete that asset. Back to you for deletion!

[2019-03-18 23:08] chrisklus commented on #231
Finished, closing.

[2019-03-18 23:08] #231 closed

[2019-03-18 23:09] #233 closed

[2019-03-20 17:44] KatieWoe opened #235 "Debug freeze in chrome"
While running fuzz test on https://github.com/phetsims/QA/issues/298 I noticed that the window froze after ~20 min.  Happened with another sim as well, so likely not specific to this sim.
![freezes](https://user-images.githubusercontent.com/41024075/54706871-8a605700-4b05-11e9-9b85-85d3fd8c8b1f.jpg)

[2019-03-25 22:22] KatieWoe commented on #214
This seems to be ok in 1.1.0-rc.2.  I did notice that the last bit of the the energy chunk falling is much faster if moving the block/beaker at the time.  I believe I also saw the energy chunk show this behavior by chance since it spawned near the clip area and zigzagged in and out.  However, I haven't been able to replicate this behavior since it seems to happen by chance.

[2019-03-25 22:30] KatieWoe commented on #214
Update.  Please disregard the second part of the above comment.  I think I am misremembering and this actually happened on the the old version while I was testing to see what the bug looked like.  I'll keep trying for a bit, but unless I can reproduce only speeding up chunks from the comment above should be considered.  Sorry for the confusion @chrisklus

[2019-03-25 22:42] KatieWoe commented on #214
Haven't been able to reproduce on this rc

[2019-03-25 22:59] KatieWoe opened #236 "Energy chunks from air spawn too low"
For https://github.com/phetsims/QA/issues/298
Seen on iPad iOS 12 in portrait mode.  When an energy chunk spawns in the air to fall into a beaker or block sitting on a burner, it spawns lower than the top of the screen.  According to @jbphet this is unintended.
This video is sped up to show chunk spawning sooner:
https://drive.google.com/file/d/1aqXGcusCH7I0xwDPAROZBM9B1fS2w02R/view?usp=sharing

[2019-03-25 23:08] chrisklus commented on #214
Thanks @KatieWoe! The returning energy chunks speeding up when moving the beaker is intentional. That's great that you haven't seen them zigzag in and out of the clipping area.

I think we're ready to close here.

[2019-03-25 23:08] #214 closed

[2019-03-25 23:12] chrisklus commented on #236
Nice catch! Yeah, those should be created at the top of the Air, not wherever that is. I'll look into it.

[2019-03-25 23:20] chrisklus commented on #236
Looks to me like the burners and blocks have the correct behavior, but the beaker's spawn point is too low. The beakers clipping area needs to be extended to the height of the air.

[2019-03-25 23:25] chrisklus commented on #236
Fixed, please test on master @KatieWoe.

[2019-03-26 18:29] KatieWoe commented on #236
Does seem to be fixed on master

[2019-03-26 18:40] KatieWoe commented on #212
This can still happen a small amount if the two blocks are stacked on top of each other.  The chunks in the water are lightly visible where the top of the bottom block and the bottom of the top block overlap.
![tinybitseethrough](https://user-images.githubusercontent.com/41024075/55024351-4917ed80-4fc4-11e9-85ef-de15664d8a0d.gif)

[2019-03-26 18:41] KatieWoe commented on #212
It is worse in the published version

[2019-03-26 18:51] KatieWoe commented on #212
Also, not sure if this is intended, but the chunks of the bottom block are visible in this area, even without moving the top block.
![vissibleunder](https://user-images.githubusercontent.com/41024075/55025088-d14ac280-4fc5-11e9-8912-5ab85152171a.gif)

[2019-03-26 18:56] KatieWoe commented on #178
Looks good in 1.1.0-rc.2

[2019-03-26 18:56] #178 closed

[2019-03-26 20:30] KatieWoe opened #237 "Is steam temp correct?"
For https://github.com/phetsims/QA/issues/298.  Mostly a design/science question.  I noticed that the steam temp is lower than the boiling water temp, and that it gets cooler after you stop heating the beaker.  I would have expected it to be 100 degrees and stay that way when steam was present.  If it slowly dropped I would expect that to be in the clear air?  Am I misinterpreting the visuals?

[2019-03-26 21:06] chrisklus commented on #236
Great, thanks @KatieWoe. Closing.

[2019-03-26 21:06] #236 closed

[2019-03-26 21:23] chrisklus commented on #212
From https://github.com/phetsims/energy-forms-and-changes/issues/212#issuecomment-476792289:

Right! Good catch. If the upper block is being grabbed, there is no clipping mask wherever the blocks overlap, as if their two clipping masks are canceling each other out. @jbphet do you think this is reasonable to fix/worth fixing?

This issue was found after publication, so the original (and much more n

[2019-03-26 21:24] KatieWoe commented on #237
I did notice that the oil smoke/steam cools much faster (almost instantly)

[2019-03-26 21:41] chrisklus commented on #237
The steam temperature is a function of the water temperature and distance away from the water level, so if you measure the steam right where it originates from the water, it is 100 degrees. I think it's plenty realistic that it's cooler than the water if you measure it a bit above the water.

That does seems a little odd to me, though it is subtle. We could probably hard code the steam temperature

[2019-03-27 03:25] arouinfar commented on #237
That's correct @chrisklus.

The current behavior in the sim is correct. As water is heated, the vapor pressure of the water increases as more water evaporates. When the vapor pressure reaches atmospheric pressure, the water will boil (which is why water boils at a lower temperature at elevation). However, steam can be visible before water boils -- think about a steaming cup of coffee. In the sim,

[2019-03-27 03:25] #237 closed

[2019-03-27 15:16] KatieWoe opened #238 "Energy chunks vibrate when more or added or removed"
**Device**
Dell Laptop
**OS**
Win 10
**Browser**
Edge
**Problem Description**
For https://github.com/phetsims/QA/issues/298
When there are a large number of chunks present (meaning the water beaker, especially when it is heated) adding and especially removing chunks causes the ones around it to vibrate for a brief time.  Only really seen on Edge so far, but it can be replicated in chrome if you us

[2019-03-27 16:10] KatieWoe commented on #203
Noting that this is seen in https://github.com/phetsims/QA/issues/298, in particular when the sim is in iframe

[2019-03-27 18:39] chrisklus commented on #238
I think I've seen this wiggling a few times before. @jbphet can you take a look at this on your Edge?

[2019-03-27 19:08] jbphet commented on #212
I took a look at the code, which is in `BeakerContainerView`, and specifically in the `addProjectedBlocksToClipArea` method.  Unfortunately, this would not be easy to correct.  The clipping area that is created to hide the energy chunks is drawn with "holes" for the blocks, and if the holes overlap, the energy chunks behind them (i.e. in the water) can show through.  There is specific code in plac

[2019-03-27 19:08] #212 closed

[2019-03-27 20:03] KatieWoe commented on #238
On Edge, fps while doing this is about 35

[2019-03-28 14:26] arouinfar commented on #238
Nice find @KatieWoe. If there is some obvious, low-effort solution to address the wiggling (which I doubt), then it'd be nice to address. However, given that Edge is a low-use platform, and the wiggling doesn't seem all that problematic, I would be okay with leaving things be.

[2019-03-28 14:27] KatieWoe commented on #238
I did also see it on other platforms on Mac.

[2019-03-28 22:32] KatieWoe commented on #238
Behavior in safari is almost more noticeable.

[2019-03-29 03:24] arouinfar commented on #238
I tested on macOS 10.14.3 in Chrome and Safari. The vibration of the energy chunks is definitely noticeable, though not as bad as what I observe when using `?speed=3`. I compared to 1.0, and the vibration is not present there.

@jbphet @chrisklus can you review? I think this would be worth some investigation since this is a change from 1.0, and not only limited to low-use platforms.

[2019-04-02 20:27] KatieWoe commented on #238
Very noticeable in IE

[2019-04-02 22:46] KatieWoe commented on #191
The alternate distribution has not been showing up in the rc.  Including on iOS 9.  Going back to dev 4 shows that this platform was still running the alternate distribution at that time.  https://github.com/phetsims/energy-forms-and-changes/issues/238 also happens to a very large degree on this platform but does not occur in dev 4

[2019-04-03 16:49] KatieWoe commented on #191
Same with iOS 10.

[2019-04-11 16:03] ariel-phet commented on #226
@chrisklus @jbphet @KatieWoe I tried these steps and could not reproduce.

In addition, I looked at the video, and given the nature of the bug, the potential difficulty of reproduction, and FF being a lower use platform, I think we are going to go ahead and mark this as `wontfix` .

Any of you can feel free to close.

[2019-04-11 17:44] jbphet commented on #226
Well, I'll take the bait.  Since it doesn't happen on every platform, and there's not much we can do about it, and it is unlikely to interfere with learning, I'm going to close this.

[2019-04-11 17:44] #226 closed

[2019-04-17 21:56] KatieWoe opened #239 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* The faucet of the water in the second screen could be difficult to control.  This was likely due to how close it is to the top of the scre

[2019-04-17 22:14] arouinfar commented on #239
@chrisklus can you dilate the touch area for the FaucetNode handle a bit more?

[2019-04-17 22:15] chrisklus commented on #239
I have a very difficult time checking the energy symbols and link heaters checkboxes on my iPhone SE (smaller screen than any other current iphone, so perhaps doesn't matter).

[2019-04-18 01:58] ariel-phet commented on #13
iO discussion will be covered by #216

Closing

[2019-04-18 01:58] #13 closed

[2019-04-19 16:41] oliver-phet opened #240 "Migrating from Java version, thermometer differences"
@arouinfar Are there significant differences in the thermometer scale between the 2 versions?
I did a quick test and it seems that 100C is roughly halfway up the thermometer in HTML5, but 90% in Java?

Perhaps if we could quantify the scales for this user, it would help them migrate their activity?

[2019-04-23 21:28] arouinfar opened #241 "Change olive oil boiling point to 573.15 K"
In investigating #240, I discovered that `OLIVE_OIL_BOILING_POINT_TEMPERATURE` is currently 572.04 K, which corresponds to 298.89 C.

Depending on the grade or origin of the oil, there is some variability in the boiling point, so we could instead use the rounder 300 C which corresponds to 573.15 K.

[2019-04-23 21:28] arouinfar commented on #240
Due to the addition of olive oil, we increased the thermometer range to 300 °C. It is important to be able to compare all materials on the same temperature scale, so adding a thermometer on a different scale is not a request we can accommodate. This would likely be confusing to users, especially the younger learners which this sim is primarily designed for.

Yes, I think this would be the way to g

[2019-04-23 22:00] arouinfar commented on #240
Just spoke with @chrisklus, and this is not quite right. The major tick marks do represent 50 °C and the boiling point of olive oil has been set to 300 °C, but the thermometer currently maxes out at 275 °C. @chrisklus will update the `ThermometerNode` so that the top-most major tick mark corresponds to 300 °C. When olive oil starts "boiling" the temperature will not rise any higher (similar to the

[2019-04-23 22:06] oliver-phet commented on #240
Thanks @arouinfar  I've replied back to the user.

[2019-04-23 22:26] arouinfar commented on #240
Thanks @oliver-phet!

[2019-04-24 23:37] jbphet commented on #238
I'm only finding little bits of time to work on this here and there, so I'm going to log a lot of notes so that it's easier to ramp back up each time I take a look.

+ It's vexing to me that the algorithm behaves differently on different platforms, because the algorithm divides up the time delta values that come in into a fixed time step in the internal loop, so it stands to reason that even on a

[2019-04-25 18:59] oliver-phet commented on #240
A reply from user:

[2019-04-25 19:04] chrisklus commented on #240
For sure, if we'd like to pursue that. From https://github.com/phetsims/energy-forms-and-changes/issues/240#issuecomment-485991115, I'm planning on making adjustments to correct the scale to be 50/25 (major/minor tick marks) but could instead do 20/10.

[2019-04-26 20:51] arouinfar commented on #240
As @chrisklus points out, this would increase the density of the tick marks quite a bit. The goals of this simulation are qualitative, and I'm not sure that making the temperature more quantifiable actually does improve the usability. After all, the other parameters (mass and heat capacity) aren't specified.

@chrisklus back to you to correct the scale, but let's keep it at 50/25.

[2019-05-06 18:48] KatieWoe commented on #235
linking to https://github.com/phetsims/states-of-matter-basics/issues/20 and closing

[2019-05-06 18:48] #235 closed

[2019-07-22 21:08] chrisklus commented on #241
Updated, closing.

[2019-07-22 21:08] #241 closed

[2019-07-22 22:23] chrisklus opened #242 "1.1 timeline"
From discussion in design meeting from 7/18/19:

EFAC is going to be instrumented with PhET-iO soon, so before that, we should finish up the work for phet-brand 1.1, which was intended to be released sometime before the start of the 2019-20 school year.

A formal code review has not been done yet, so  @pixelzoom is going to do that as early as Friday, 7/26.

During the week of 7/29-8/2, I'm going

[2019-07-22 22:35] pixelzoom commented on #242
When you're ready for the final code review, create an issue and assign it to me.

Has someone completed a “self code review” yet?  The developer goes through the code-review checklist before passing it to the final reviewer.  I typically create an issue for this, like https://github.com/phetsims/gas-properties/issues/122.

[2019-07-22 22:45] chrisklus commented on #242
@jbphet and I were self reviewing while finishing up 1.0, but I don't remember if we looked over all of the code. I'll do a self-code review before passing off the final review to you.

[2019-07-22 22:49] chrisklus commented on #216
Whoops!

[2019-07-23 21:44] chrisklus commented on #240
Thanks to @arnabp's new ThermometerNode option in https://github.com/phetsims/scenery-phet/issues/516, this was a very easy change.

![image](https://user-images.githubusercontent.com/5618316/61749747-bb28f500-ad60-11e9-8514-29452632338f.png)

Closing.

[2019-07-23 21:44] #240 closed

[2019-07-30 16:35] chrisklus opened #243 "self code review"
As per discussion with @ariel-phet and @jbphet on 07/29/19, the formal code review is just going to start with EFACIntroModel.js, EFACIntroScreenView.js, SystemsModel.js, and SystemsScreenView.js. I'm going self review these before opening an issue for the final review.

## **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable,

[2019-07-30 22:50] chrisklus opened #244 "Update implementation-notes.md and model.md"
The files in https://github.com/phetsims/energy-forms-and-changes/tree/master/doc haven't been updated since June of 2018, and could use some work.

[2019-07-31 08:20] chrisklus opened #245 "Memory test before 1.2"
I believe we did a memory test before 1.0 and found nothing concerning, but I don't see an issue. We can do additional memory tests for 1.2 here.

[2019-07-31 08:24] chrisklus opened #246 "Remove unneeded dependencies from dependencies.json"
These are still included, and should be removed:

[code]

[2019-07-31 08:36] chrisklus commented on #243
Self review complete. I'll create an issue for the real review.

[2019-07-31 08:36] #243 closed

[2019-07-31 08:50] chrisklus opened #247 "code review"
As per discussion between @ariel-phet, @jbphet, and @chrisklus on 07/29/19, the formal code review is just for **EFACIntroModel.js, EFACIntroScreenView.js, SystemsModel.js, and SystemsScreenView.js.** These files are all-together ~2500 LOC, which is around 1/5 of the sim. This sim is on-deck for phet-io instrumentation.

@pixelzoom, please see the few items marked with 'UPDATE' in my self review (

[2019-07-31 16:06] pixelzoom commented on #244
This is typically something that should be done before code review, since it provides necessary background for the code reviewer.   But I will proceed with code review #247.

[2019-07-31 16:36] pixelzoom opened #248 "decrease maxWidth for text on icons"
Related to code review #247.

With `stringTest=double`, the text on the icon for Energy Symbols looks a little crowded, and blends into the shaded edges of the background.  Slightly decreasing `maxWidth` for this text would give it more x margin.  I haven't looked at the implementation, but `maxWidth` should be computed based on the background width.

<img width="293" alt="screenshot_1294" src="ht

[2019-07-31 16:38] pixelzoom commented on #248
Ditto for other icons:

<img width="279" alt="screenshot_1295" src="https://user-images.githubusercontent.com/3046552/62230581-559bc080-b37f-11e9-8eaa-67fe63327943.png">

[2019-07-31 16:49] pixelzoom opened #249 "incorrect keys for screen titles"
Related to code review #247.

From code-review checklist:

[code]

This sim does not follow that convention:

[code]

[2019-07-31 16:54] pixelzoom opened #250 "review copyright dates in images/license.json"
Related to code review #247

Copyright dates in [images/license.json](https://github.com/phetsims/energy-forms-and-changes/blob/master/images/license.json) look suspect.  I would expect copyrights to all have 2019 in them.   But I see entries like this:

[code]

[2019-07-31 17:02] pixelzoom opened #251 "references to intro in common"
Related to code review #247

Code in js/common/ should not reference code in screen-specific subdirectories. Beaker violates that by referencing EnergyContainerCategory and ThermalContactArea (both in js/intro/).

[2019-07-31 17:06] pixelzoom opened #252 ""View" class suffix violates PhET naming convention"
Related to code review #247

Per PhET conventions, `BeakerView` and `BeakerContainerView` should be named `BeakerNode` and `BeakerContainerNode` respectively.   E.g., model element named `Beaker` should have view named `BeakerNode`.   This is the convention is followed throughout EFAC, with these 2 exceptions.

[2019-07-31 17:35] pixelzoom opened #253 "investigate 1.1 branch"
Discovered during code review #247, discussed with @jbphet on Zoom.

The currently published version is 1.0.6.

A 1.1 branch was created on 3/15/19 by @chrisklus.  It has an RC test issue, https://github.com/phetsims/QA/issues/298, for 1.1.0-rc.2. And 1.1.0-rc.1 apparent doesn't exist because of a build server error.   It appears that no sim-specific commits have been made on 1.1 since 3/15/19.

[2019-07-31 17:40] pixelzoom commented on #246
@chrisklus May you mean that these dependencies are in the 1.1 release branch? I don't see these dependencies in master, and (as noted in #253) the next release is going to be on a new 1.2 release branch.  So perhaps this issue can be closed?

[2019-07-31 17:50] chrisklus commented on #95
Reopening for 1.2 release

[2019-07-31 17:54] pixelzoom opened #254 "insufficient documentation for query parameters"
Related to code review #247

Sim-specific query parameters should identify whether they are for internal use or public facing.  None of the query parameters in EFACQueryParameters have this documentation.

[2019-07-31 18:01] pixelzoom opened #255 "reformat code to PhET conventions"
Related to code review #247:

Doing "Reformat Code" in WebStorm, I see 13 files that require updates.

[2019-07-31 18:08] pixelzoom opened #256 "use Enumeration and EnumerationProperty"
Related to code review #241

This is especially important to do for this release if it's a PhET-iO release.

There are currently no uses of `Enumeration` in this sim.   Convert the following types:

- [x] `BlockType`
- [x] `EnergyType` - edit by @chrisklus
- [x] `EnergyContainerCategory`
- [x] `SimSpeed`

Their corresponding `Properties` should be `EnumerationProperty`. For example, in `EFACIntroM

[2019-07-31 18:12] pixelzoom opened #257 "use NumberProperty"
Related to code review #247

There are multiple places where `Property` should be replaced with `NumberProperty`. I count ~24.  Search for "new Property" to locate them.  This is especially important if this is a PhET-iO release.

For example, in `Beaker`:

[code]

[2019-07-31 18:15] pixelzoom opened #258 "use BooleanProperty"
Related to coe review #247, similar to #257

I see at least multiple places where Property should be replaced with BooleanProperty.  This list may not be exhaustive.

TemperatureAndColorSensor:
[code]

EFACIntroScreen:
[code]

Belt:
[code]

EnergyChunkLegend:
[code]

[2019-07-31 18:17] pixelzoom opened #259 "use Vector2Property"
Related to coe review #247, similar to #257

I see at multiple places where Property should be replaced with Vector2Property. This list is not necessarily complete.

Burner:
[code]

EnergyChunk:
[code]

PositionableModelElement:
[code]

[2019-07-31 18:26] pixelzoom opened #260 "faucet control is too close to top of screen"
Noted during code review #247

The faucet control is very close to the top of the layoutBounds, see screenshot below with `?dev`.   I would expect this to have a problem similar to what we just fixed in https://github.com/phetsims/acid-base-solutions/issues/160.   And we have identified that margins, particularly at the top of the screen, are a general problem, see https://github.com/phetsims/jois

[2019-07-31 18:37] pixelzoom opened #261 "document relationship between images and assets"
Related to code review #247

In https://github.com/phetsims/energy-forms-and-changes/issues/243 (self code review), @chrisklus noted:

This is not an acceptable answer.  This sim has a whopping 104 images files. Not only is there no documentation in license.json about which asset files correspond to each image, there is no documentation about which images do not have a corresponding asset file.

A

[2019-07-31 18:44] pixelzoom opened #262 "use Property validation options"
Related to code review #247

There appears to be no validation for Properties. I see 0 uses of `isValidValue` and `range`, and only 2 uses of `valueType` (both for Emitters).  This is not acceptable, especially if this is going to be a PhET-iO release.

For example, in `Cloud`:

[code]

If this is indeed opacity, then option `range: new Range( 0, 1 )` should be included.

[2019-07-31 18:47] pixelzoom opened #263 "incorrect use of "property""
Related to code review #247:

Searching for "property" in comments,  I see at least 7 occurrences that should be "Property".

Searching for "properties" in comments,  I see at least 3 occurrences that should be "Properties".

[2019-07-31 18:51] pixelzoom opened #264 "incorrect filename for singleton"
Related to code review #247

EnergyChunkDistributor.js returns a singleton.

[2019-07-31 19:04] pixelzoom opened #265 "documentation of observers and listeners does not meet PhET requirements"
Related to code review #247:

	- [ ] AXON: `Property.link` is accompanied by `Property.unlink`.
	- [ ] AXON: Creation of `DerivedProperty` is accompanied by `dispose`.
	- [ ] AXON: Creation of `Multilink` is accompanied by `dispose`.
	- [ ] AXON: `Events.on` is accompanied by `Events.off`.
	- [ ] AXON: `Emitter.addListener` is accompanied by `Emitter.removeListener`.
	- [ ] SCENERY: `Node.on` is a

[2019-07-31 19:10] pixelzoom opened #266 "cannot determine if dispose requirements have been met"
Related to code review #247

Searching for `dispose() {`, I find only 2 definitions of `dispose`.   Due to deficiencies in #244 and #265, I have no way to determine if this checklist item is satisfied.   implementation-notes.md should include this in a general description of memory management.  See for example the "Memory Management" subsection of https://github.com/phetsims/gas-properties/blob/ma

[2019-07-31 19:12] pixelzoom commented on #266
Ditto for:

[2019-07-31 19:25] arouinfar commented on #260
The `FaucetNode` shooter uses a horizontal swipe, so the interaction is a bit different than https://github.com/phetsims/acid-base-solutions/issues/160. I believe the problem with ABS was that the vertical swipe opened an iPhone menu. @KatieWoe can you test on an iPhone and see if you have any issue with the faucet? Bear in mind that the touch areas will be dilated in https://github.com/phetsims/s

[2019-07-31 19:25] pixelzoom opened #267 "avoid non-standard abbreviations in variable names"
Related to code review #247

[code]

Mutliple violations of this specific "num" case, a particle list from various .js files:

[code]

Some violations the use "ec", not a complete list:

[code]

Some others, not a complete list:

[code]

[2019-07-31 19:35] pixelzoom opened #268 "improve doc for performanceMeasurementTaken"
In Beaker.js:

[code]

Unless Beaker is a singleton (which a doubt), I'm wondering about the semantics of this in the context of multiple instances.  Please address this in documentation.

[2019-07-31 19:39] pixelzoom opened #269 "ThermalEnergyContainer does not exist"
Related to code review #247

In Burner.js, I see 3 type expressions that include `ThermalEnergyContainer`. For example:

[code]

I can find no such class or `@type` definition.

[2019-07-31 19:47] pixelzoom opened #270 "problems with thermalContactArea field"
Related to code review #247

Problems with Beaker `thermalContactArea` field:

* It's annotated as `@private`, but is used in multiple places outside of `Beaker`.

* One of the places that it's used is in its superclass `RectangularThermalMovableModelElement`.  This is a big no no -- superclasses should not be using fields that are defined in a subclass.

Problems with Air `thermalContactArea` fie

[2019-07-31 19:56] arouinfar commented on #248
Thanks @pixelzoom.

@chrisklus can you adjust the maxWidth as @pixelzoom recommends?

[2019-07-31 20:02] pixelzoom opened #271 "is nothing in this sim abstract?"
Related to code review #247

I see no `@abstract` annotations in this sim.  If that's correct, feel free to close this immediately.  Otherwise, identify abstract classes and methods with `@abstract`.

[2019-07-31 20:08] pixelzoom commented on #244
Please include a description of the units used in this sim in model.md.   Sometimes this is documented in the code, sometimes it's not.

[2019-07-31 20:13] pixelzoom opened #272 "invalid override in Burner"
Related to #271 and code review #247.

In Burner:

[code]

The `@override` annotation means that this is defined in the superclass `ModelElement`.  That is not the case.   Is `ModelElement` missing an abstract definition of `getBounds`?

[2019-07-31 20:19] pixelzoom opened #273 "duplication in override of addInitialEnergyChunks"
Related to code review #247

Beaker extends  RectangularThermalMovableModelElement.   It overrides `addInitialEnergyChunks` without chaining to the superclass implementation.  And there is significant duplication, copied from the superclass implementation, including (but not limited to):

[code]

[2019-07-31 20:22] pixelzoom opened #274 "magic number in addInitialEnergyChunks"
Related to #247 code review.

The magic number `500` appears in code that is duplicated `addInitialEnergyChunks` in Beaker and RectangularThermalMovableModelElement:

[code]

What is the significance of `500`?  What happens if I increase or decrease this value?

[2019-07-31 20:23] pixelzoom commented on #273
Another problem here -- `addInitialEnergyChunks` is annotated as `@private` in RectangularThermalMovableModelElement, so it cannot be overridden by Beaker.

[code]

[2019-07-31 20:24] pixelzoom commented on #273
Same problem with `addEnergyChunkSlices`.  It's private in RectangularThermalMovableModelElement, overridden by Beaker and Block.

[2019-07-31 20:26] pixelzoom opened #275 "invalid override of getEnergyBeyondMaxTemperature"
Related to #247 code review.

Block.js:

[code]

There is no `getEnergyBeyondMaxTemperature` in the superclass hierarchy. How is this an override?

[2019-07-31 20:30] pixelzoom opened #276 ""main constructor" makes no sense"
Related to #247 code review.

I see comments like this in a couple of places:

[code]

"main constructor" makes no sense in JavaScript, where constructor overloading does not exist.  Maybe this was copied from the Java implementation.

[2019-07-31 20:31] pixelzoom commented on #276
I see "main constructor" (case insensitive) 17 times in PhET code, so maybe this is a more pervasive copy-paste problem.

[2019-07-31 20:36] pixelzoom opened #277 "duplication of Property functionality"
Related to #247 code review.

In EnergyChunk.js, the implementation of `setPosition` duplicates what is done by Property with `useDeepEquality: true`.

[code]

[2019-07-31 20:39] pixelzoom opened #278 "duplication of Vector2 functionality"
Related to #247 code review.

In EnergyChunk, the implementation of `translate` duplicates functionality of Vector2:

[code]

Could be:

[code]

[2019-07-31 20:41] arouinfar commented on #250
@pixelzoom is there a convention for the copyright date? I could see the date corresponding to the artwork's creation, date it was committed, or sim publication date.

Some of the artwork comes from the Java version, and is credited to Noah Podolefsky. I don't know when the artwork was created, but my guess would be 2012.

[2019-07-31 20:42] pixelzoom opened #279 "EnergyChunk has multiple interfaces for velocity"
Related to #247 code review.

In EnergyChunk:

[code]

... and methods `getVelocity`, `setVelocity`, and `setVelocityXY` are also defined.  What is the point of having these methods when `this.velocity` is not read-only?

[2019-07-31 20:45] pixelzoom commented on #279
Also wondering about this in EnergyChunk:

[code]

... and then there are a few methods defined for setting its value, e.g. `setPosition`.  Did you intend for `positionProperty` to be read-only?

[2019-07-31 20:49] pixelzoom opened #280 "improve performance for critical loops"
Related to #247 code review.

In EnergyChunk, and perhaps elsewhere:

[code]

This computes the exist condition on every iteration.  The best performance will be if you iterate backwards, which uses a constant for the exit condition:

[code]

In Gas Properties, using this iteration strategy (for particles) resulted in a significant performance increase.

[2019-07-31 21:12] KatieWoe commented on #260
I am having an issue using the faucet on master.  No sure why, or why it wasn't caught the last time around.

[2019-07-31 21:18] arouinfar commented on #260
I followed up with @KatieWoe, and the issue on the iPhone is the small touch area, particularly in portrait mode. The iPhone menu is not being unintentionally summoned by the horizontal swipe, so https://github.com/phetsims/scenery-phet/issues/521 should be sufficient to address @KatieWoe's concern in https://github.com/phetsims/energy-forms-and-changes/issues/260#issuecomment-517022885.

[2019-07-31 21:18] #260 closed

[2019-07-31 21:43] pixelzoom commented on #247
79 inline "//REVIEW" comments were added in the above commit.

[2019-07-31 22:00] pixelzoom opened #281 "EFACIntroModel is too big"
Related to #247 code review.

Imo, EFACIntroModel.js is much too big - 1217 lines.   I had a difficult time getting through this class.  Consider encapsulating and factoring out some of the responsibilities into sub-model classes.

This was a productive strategy in IdealGasLawModel, where sub-model TemperatureModel and PressureModel were factored out to deal with those independent aspects of the m

[2019-07-31 22:21] pixelzoom opened #282 "Are all dependent properties modeled as DerivedProperty?"
Related to #247 code review:

There are no uses of `DerivedProperty` in this sim, surprising in a sim of this sim.  So this is a question for the developers.

[2019-07-31 22:21] chrisklus commented on #247
Sorry you had to add all those "needs annotation" comments throughout the sim... you saw that this review was supposed to be based around just four files, right? I would've addressed those in my self review otherwise.

[2019-07-31 22:24] pixelzoom commented on #247
Oh no... I didn't see that this was just 4 files.  I did a complete review.

[2019-07-31 22:26] pixelzoom commented on #247
So why is this a "formal review" if I'm only doing 4 files?  Sounds like a spot-check to me.  And I was never involved in any discussion where this didn't sound like a full code review.  But my bad for jumping right in without reading the top comment.

[2019-07-31 22:30] chrisklus commented on #247
Only because all of this is motivated by starting phet-io instrumentation (which we were hoping to start pretty soon), and we knew a pile of work would come up if the whole sim got reviewed. Perhaps that is for the best long-term, though.

My bad for not telling you separately beforehand too.

[2019-07-31 22:34] pixelzoom commented on #247
Yeah, I think it's probably for the best.

I've completed the review.  Summary....

Generally important:
* EFACIntroModel is too big, #281
* improve performance of critical loops, #280

Important for PhET-iO:
* use type-specific Properties, #256, #257, #258, #259
* use Property type-validation options, #262
* review whether DerivedProperty should be used, #282

[2019-07-31 22:40] chrisklus commented on #247
@pixelzoom thanks for putting in all the time and effort. And sorry that you were probably swearing at me for doing a terrible self review that whole time... I'll communicate better in the future.

[2019-07-31 23:21] samreid commented on #253
Do we have a way to tell the maintenance release process to ignore abandoned branches?

[2019-08-01 16:21] pixelzoom commented on #250
Copyright dates are set based on the date of file creation and update.  If something is created in 2015 and updated in 2018, then the date would be "2015-2018".    In the example above, energy_chemical.png first appearing in GitHub on 9/29/14, and was last updated on 3/14/19.  The copyright dates should therefore be "2014-2019", certainly not "2002-2015".  PhET has an automated process that handle

[2019-08-01 17:06] jbphet commented on #253
@chrisklus and I talked and recalled what this branch was about and why it stalled.  There were several issues that we wanted to address that involved some significant changes to the code and some changes to the functionality.  All in all, the changes were significant enough that we decided to create a new minor release rather than a maintenance release.  There was one outstanding issue that was a

[2019-08-01 22:34] chrisklus commented on #249
@pixelzoom do you know how important this convention is? For example, would the lack of `screen.` be causing some metadata service we have to not find EFAC screen names?

This sim has a lot of translations, so I think it would be a difficult change to make.

[2019-08-01 22:39] chrisklus commented on #252
I know this was an intentional decision early on, but I agree they should be changed to match PhET's convention.

[2019-08-01 22:46] chrisklus commented on #253
Sounds great to me.

[2019-08-01 23:02] chrisklus commented on #261
Understood - I didn't know this was a big deal. During the development of the sim, whenever we had to change one of the original images, @arouinfar just made a new one since we didn't have the original .ai files and since they typically had an outdated look.

I didn't know we had a convention for linking images to assets in the license file. That sounds very nice and helpful. I'll do this as part

[2019-08-01 23:20] chrisklus commented on #268
I think this pertains to the check for which EC distribution algorithm should be used, which likely only happens once on startup. This feature is @jbphet's, so assigning to him to improve the doc.

[2019-08-01 23:26] chrisklus commented on #270
Assigning to @jbphet

[2019-08-02 16:21] pixelzoom commented on #249
I don't know if there is anything else that relies on this convention.  Probably a good question for @ariel-phet and someone familiar with website, etc.

[2019-08-05 21:55] ariel-phet commented on #249
@jbphet in a slack conversation said:

Given how many translations we have, it seems best not to mess with this right now.

@chrisklus I believe you cannot comment in the strings file, but if there is another way to note why it is being left this way somewhere in the code, that would be best.

[2019-08-05 22:02] jbphet commented on #238
I think I've found and corrected the main issue, which was that the reusable force vectors in the distribution algorithm were not being cleared out on each iteration of the force calculations, leading to a buildup that only becomes apparent when longer time steps occurred, which happens on Edge and IE.  This has been fixed.  I also ended up simplifying the algorithm while I was working on this suc

[2019-08-05 22:12] jbphet commented on #238
I have cherry picked the commit with the fix to the 1.1 branch.  Unassigning for now, and this should be verified for the next release off of either master or the 1.1 branch.

[2019-08-06 19:43] jbphet commented on #253
Assigning the @chrisklus to close if and when he does that 1.1 release.

[2019-08-12 18:08] chrisklus commented on #248
I reduced the max width so that the text aligns with the left edge of the shine on the right side, and inside the gradient on the left side.

![image](https://user-images.githubusercontent.com/5618316/62884939-aad3bc80-bd05-11e9-86ae-b2db9f56ea80.png)

Assigning to @arouinfar to sign off.

[2019-08-12 18:33] chrisklus commented on #249
I added a note in EFACConstants.js, closing.

[2019-08-12 18:33] #249 closed

[2019-08-12 19:24] chrisklus commented on #251
EnergyContainerCategory and ThermalContactArea have been moved to js/common. Assigning to @pixelzoom to sign off and close.

[2019-08-12 20:00] chrisklus commented on #252
Oh, I remembered that the beakers were made up of separate layers but forgot that they were added separately outside of the class, which is why they were named as Views. See the comment from the constructor:

[code]

Now, usages (for example) look like this:

[code]

@pixelzoom what is your opinion given this situation?

[2019-08-12 20:11] pixelzoom commented on #252
I understand now.  But if `BeakerView` can't be added to the scenegraph, and only its subcomponents should be added, then `class BeakerView extends Node {` seems very wrong.   So I would recommend changing to `class BeakerView {` with no supertype.

[2019-08-12 20:13] pixelzoom commented on #252
Oh, but I see that there's the option to composite them:

[code]

This seems like it should be the responsibility of a `BeakerNode` which uses `BeakerView` and adds its components as children.

[2019-08-12 20:16] pixelzoom commented on #252
To clarify what I'm recommending:

[code]

[code]

[2019-08-12 20:25] pixelzoom commented on #251
👍 closing.

[2019-08-12 20:25] #251 closed

[2019-08-12 21:38] chrisklus commented on #254
Documentation added. Are there any further steps we take to enforce these, or docs only?

[2019-08-12 21:41] pixelzoom commented on #254
Docs-only is cool.  Closing.

[2019-08-12 21:41] #254 closed

[2019-08-12 22:07] chrisklus commented on #255
Reformatted, closing.

[2019-08-12 22:07] #255 closed

[2019-08-12 22:34] chrisklus commented on #280
I throttled my Chrome cpu x4 and tried out this strategy in EnergyChunkContainerSlice and EnergyChunkDistributor (which I was hoping for some improvements in since it has nested loops), but unfortunately did not see any change in frame rate. I suspect N is just too small compared to GP for this subtle of a code change (I think the water beaker has ~35 energy chunks in it). Performance discussions

[2019-08-12 22:34] #280 closed

[2019-08-13 14:35] chrisklus commented on #264
Fixed, closing.

[2019-08-13 14:35] #264 closed

[2019-08-15 03:59] chrisklus commented on #256
Assigning to @pixelzoom for review.

[2019-08-15 14:18] chrisklus commented on #259
Ready for review.

[2019-08-15 14:35] chrisklus commented on #258
Ready for review.

[2019-08-15 14:53] chrisklus commented on #257
Ready for review

[2019-08-15 16:39] pixelzoom commented on #257
👍 closing.

[2019-08-15 16:39] #257 closed

[2019-08-15 16:41] pixelzoom commented on #258
👍 closing.

[2019-08-15 16:41] #258 closed

[2019-08-15 16:42] pixelzoom commented on #259
👍 closing.

[2019-08-15 16:42] #259 closed

[2019-08-15 16:58] pixelzoom commented on #256
Everything looks good, except how `EnergyContainerCategory` is being used to look up heat transfer constants.

In HeatTransferConstants.js, the `getHeatTransferFactor` takes 2 string args:

[code]

But in these usages, the args are values from the `EnergyContainerCategory` enumeration.  They are coerced to `{string}` by JavaScript, and this creates a reliance on the value returned by `toString`, w

[2019-08-15 17:14] chrisklus commented on #256
Thanks for the explanation - I was expecting to have to call `.toString()` or `.name` on the args when making the change, but it just worked without it, and I wasn't sure why.

I thought about doing something like this that didn't involve all of the hard-coded strings, but didn't come up with an obvious way. I didn't think to try using `Map`.

Sounds good - thanks for the recommendation. I'll proc

[2019-08-15 23:41] chrisklus commented on #256
Ready for review.

[2019-08-16 00:02] pixelzoom commented on #256
Looks great. Closing.

[2019-08-16 00:02] #256 closed

[2019-08-16 14:55] KatieWoe opened #283 "CT cannot read property name of undefined"
[code]

[2019-08-19 21:51] chrisklus commented on #283
Whoops, sorry that I just saw this. Should be fixed, I'll wait for the next round of CT.

[2019-08-19 22:37] chrisklus commented on #239
@arouinfar how does this look?

![image](https://user-images.githubusercontent.com/5618316/63304219-4dfd7680-c2b0-11e9-922f-152e28d366ad.png)

[2019-08-19 22:56] chrisklus commented on #282
There are three usages of `Property.multilink`. Perhaps those would be better for phet-io as `DerivedProperty`?

[2019-08-19 23:11] kathy-phet commented on #239
@arouinfar - What do you think about making these touch areas for the checkboxes bigger in any direction - so its easier to hit? Perhaps the checkboxes could have a bit more vertical padding/space.

[2019-08-19 23:25] chrisklus commented on #269
Fixed, ready for review.

[2019-08-20 00:25] chrisklus commented on #278
Fixed, closing.

[2019-08-20 00:25] #278 closed

[2019-08-20 00:36] chrisklus commented on #277
Ready for review.

[2019-08-20 00:46] chrisklus commented on #276
Doc has been removed, anything else to do here @pixelzoom? Perhaps we should notify devs to not use this terminology?

[2019-08-20 01:01] chrisklus commented on #275
Perhaps there used to be, or perhaps someone misunderstood the hierarchy when porting the sim.

Incorrect `@override` has been removed, closing.

[2019-08-20 01:01] #275 closed

[2019-08-20 02:44] chrisklus commented on #274
500 refers to the max number of times the energy chunk distributor should run when initializing energy chunks in their containers.

I ran some tests, and found that the olive oil beaker finishes after ~300 loops, the water beaker on the first screen was ~800-900, and the water beaker on the second screen was ~600-700.

So, I'm assuming 500 was chosen as a happy medium of proper distribution and ac

[2019-08-20 03:08] chrisklus commented on #283
Looks like another assertion snuck into the stack that I missed - fixed and fuzz tested. Will close when CT is clear.

[2019-08-20 17:29] pixelzoom commented on #282
Multilink and DerivedProperty typically have different purposes.  Multilink is used to perform some action when one or more Properties changes. DerivedProperty is used to derive a Property value from the values of N Properties.  Based on a quick look, none of the uses of Multilink (via `Property.multilink`) in this sim look convertible to DerivedProperty.

[2019-08-20 17:31] pixelzoom commented on #277
👍 closing

[2019-08-20 17:31] #277 closed

[2019-08-20 17:32] pixelzoom commented on #269
👍

[2019-08-20 17:32] #269 closed

[2019-08-20 17:53] pixelzoom commented on #276
I deleted remaining occurrences of "main constructor".   And I sent this PSA to the Slack developer channel:

Closing.

[2019-08-20 17:53] #276 closed

[2019-08-20 21:57] jbphet commented on #270
I think this field was actually a protected field in the base class in the Java version, and was never declared as such in the base class here in the ported version.  I've remedied that situation, which required some minor mods to `Block.js` and `Beaker.js`, but it seems like an improvement.  Closing.

[2019-08-20 21:57] #270 closed

[2019-08-21 03:21] arouinfar commented on #248
Looks good to me @chrisklus!

[2019-08-21 03:36] arouinfar commented on #239
Looks good!

I can't remember if we added asymmetric touch area dilation to checkboxes or not, so perhaps @chrisklus can comment about whether this is currently supported or not. I think we could certainly add a bit more vertical padding between the checkboxes. Perhaps a few extra pixels @chrisklus?

[2019-08-21 15:09] chrisklus commented on #281
@jbphet and I factored out few methods that handle collision detection of the various elements while dragging.  This reduced the size of EFACIntroModel by 1/3, so it's now down to ~800 lines.
We feel good about this change and are ready to close.

[2019-08-21 15:09] #281 closed

[2019-08-21 23:04] chrisklus commented on #248
Sweet thanks, closing.

[2019-08-21 23:04] #248 closed

[2019-08-21 23:13] chrisklus commented on #283
CT looks good, closing.

[2019-08-21 23:13] #283 closed

[2019-08-21 23:22] chrisklus commented on #282
Gotcha, thanks. Those are the only places I could think of that might benefit from using DerivedProperty, so I'm going to close.

[2019-08-21 23:22] #282 closed

[2019-08-21 23:50] chrisklus commented on #279
@jbphet and I worked on this together and are ready to close:

* we made `this.velocity` read-only, and removed the unused function `getVelocity`.
* we removed the function `setPosition`, as it is was an unnecessary layer on top of Property's `set` function. we left `setPositionXY`, as it is for convenience.

[2019-08-21 23:50] #279 closed

[2019-08-22 04:00] chrisklus opened #284 "Refactor EnergySystemElementCarousel to take elements as params"
For https://github.com/phetsims/energy-forms-and-changes/issues/262

In EnergySystemElementCarousel, there is a NumberProperty called `targetIndexProperty`, which will likely be desirable to leverage with PhET-iO. But the elements are added after the creation of EnergySystemElementCarousel, so there is no way to provide an accurate range for validating `targetIndexProperty`.

From SystemsModel.js:

[2019-08-22 04:06] chrisklus opened #285 "Fix wheelRotationalAngleProperty values in Generator.js"
The values for `wheelRotationalAngleProperty` for the generator need to be constrained a bit in order to use Property validation for PhET-iO.

Instead of wrapping around to 0 when the angle reaches 2pi, the angle just keeps increasing to infinity. Likewise, when the tea kettle steam is applied and the generator wheel spins in the opposite direction, instead of starting at 2pi and decreasing to 0,

[2019-08-22 04:08] chrisklus commented on #262
I believe these are the remaining Properties without any validation:

* `backgroundColorProperty`, which looks like this never uses validation in our project
* `zPositionProperty`, used for visual effect only, should not be instrumented, and has weird values
* `targetIndexProperty` in EnergySystemElementCarousel.js, see https://github.com/phetsims/energy-forms-and-changes/issues/284
* `wheelRotati

[2019-08-29 01:24] chrisklus commented on #284
This worked out well, and validation of the carousel's `targetIndexProperty` is functioning as expected. Closing

[2019-08-29 01:24] #284 closed

[2019-08-29 01:48] chrisklus commented on #272
The `@override` annotation has been removed.

I see that `RectangularThermalMovableModelElement`, which is a subclass of `ModelElement`, has a `getBounds` method, so maybe Burner extended it at some point before only being a `ModelElement`. Closing.

[2019-08-29 01:48] #272 closed

[2019-08-29 01:58] chrisklus commented on #263
The usages have been addressed, closing.

[2019-08-29 01:58] #263 closed

[2019-08-29 02:35] chrisklus commented on #250
Per discussion with @ariel-phet before 08/22/19 dev meeting, we won't have time for cleanup in this issue and https://github.com/phetsims/energy-forms-and-changes/issues/261 before starting PhET-iO instrumentation. Updating to low priority.

[2019-08-29 02:35] chrisklus commented on #261
Per discussion with @ariel-phet before 08/22/19 dev meeting, we won't have time for cleanup in this issue and https://github.com/phetsims/energy-forms-and-changes/issues/250 before starting PhET-iO instrumentation. Updating to low priority.

[2019-08-29 06:50] chrisklus commented on #267
I've addressed the cases above and any more that I saw while doing so. It would be nice to eliminate all of the java-esque usages of `numSomething` with `numberOfSomething`, so I'll look out for those while continuing to work in this sim.

`ec` is used all over the place, and seems to be a standard term for this sim. I'd like to hear what @jbphet thinks about expanding all of those usages, as some

[2019-08-29 15:06] pixelzoom commented on #267
That's something that would be appropriate to mention in implementation-notes.md.  I typically include a "Terminology" section in that document. See for example https://github.com/phetsims/equality-explorer/blob/master/doc/implementation-notes.md#terminology.

[2019-08-29 15:46] chrisklus commented on #239
It doesn't look like we support this with the typical dilation options but I think I can pass in a custom touch area that has a pre-calculated size. I'll ask if this is the standard way for checkboxes.

[2019-08-29 16:12] chrisklus commented on #216
@ariel-phet when I said two weeks during our discussion I was intending for 09/05/19 design meeting, if that's a possibility. A dev test has been opened, so if nothing crazy comes from that then I'll be able to do initial tandem passing before Thursday next week.

[2019-08-29 18:16] KatieWoe commented on #238
Looks much more natural now.

[2019-08-29 18:16] #238 closed

[2019-08-29 19:00] KatieWoe commented on #191
I'm still not getting the alternate distribution in 1.2.0-dev.1.  Is this supposed to be the case? @jbphet @chrisklus

[2019-08-29 19:10] chrisklus commented on #191
Good to know, thanks. For all test devices @KatieWoe?

From the dev test issue:

So, I'd say that if the normal algorithm is working well enough in all the places that it's not showing up then that is a good thing. If looks terrible on some devices and you would expect the spiral algorithm to kick in, but it's not, then that seems like a problem.

[2019-08-29 19:13] KatieWoe commented on #191
Well, I would expect it to kick in for iOS 9 and 10 at least, maybe Edge as well, but it doesn't.

[2019-08-29 19:15] chrisklus commented on #191
Gotcha, hmm. What frame rate range are you seeing for for those platforms?

[2019-08-29 20:04] KatieWoe opened #286 "Biker doesn"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/420
;fasd;flkhasldfa;lsdkjf'kasjd;fj
**Steps to reproduce**
1. Go to asdf;kasjd;fja;s screen
2.

**Visuals**

Troubleshooting information:
!!!!! DO NOT EDIT !!!!!
Name: ‪Energy Forms and Changes‬
URL: https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.2.0

[2019-08-29 20:04] #286 closed

[2019-08-29 21:46] lmulhall-phet commented on #191
* iOS 9: 4 FPS.
* iOS 10: 6 FPS.

(Heating up the water and watching the energy chunks float up.)

[2019-08-29 22:54] chrisklus commented on #191
Thanks, yeah it should definitely be kicking in for performance that poor. I think we tried to set the cutoff to be ~8-10 FPS.

@jbphet do you have any time to look into this in the next few days? If not, I might be able to get my dad to bring home his old iPad 2 home this weekend - I think that's the only device to debug this issue with that I have access to. Even at 6x CPU throttling on my compu

[2019-08-29 23:06] loganbraywork opened #287 "Can you draw a bike from memory"
**Test device**
Dell Laptop

**Operating System**
Windows 7

**Browser**
Internet Explorer

**Problem description**
From https://github.com/phetsims/QA/issues/420

The first wheel on the bike is stationary and it seems like this bike wouldn't work in real life.
Feel free to close once you see.

**Steps to reproduce**
1. Enter the Systems screen
2. Click on the bike
3. Adjust the slider as to activ

[2019-08-29 23:14] #287 closed

[2019-09-04 01:34] chrisklus commented on #252
While investigating @pixelzoom's recommendation from https://github.com/phetsims/energy-forms-and-changes/issues/252#issuecomment-520578025, I discovered that the code below doesn't actually do anything:

[code]

The only usage where `options.composited` is true is in BeakerHeaterNode.js, and it violates that option by still adding parts of the BeakerView as separate layers:

[code]

So instead, I

[2019-09-04 01:34] #252 closed

[2019-09-04 03:32] chrisklus commented on #267
Thanks @pixelzoom, I've added a note in the implementation notes that will need to be fleshed out with more terms when working on https://github.com/phetsims/energy-forms-and-changes/issues/244. Closing.

[2019-09-04 03:32] #267 closed

[2019-09-04 03:33] chrisklus commented on #244
From https://github.com/phetsims/energy-forms-and-changes/issues/267#issuecomment-527724463:

If there turns out to be enough terminology, a dedicated terms section should be added.

[2019-09-04 18:36] KatieWoe opened #288 "Water wheel doesn't reset position when reset all is used"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/420
When the second screen is reset, the water wheel stays in its last position rather than going to its original position.  This also occurs in the published version.  Fairly minor.
**Steps to reproduce**
1. Go to the second screen
2. Note wheel position
3. Pause s

[2019-09-04 18:52] arouinfar commented on #288
Nice find @KatieWoe. `ResetAllButton` should return the sim to its default state, which includes resetting the position of the water wheel.

[2019-09-04 20:21] KatieWoe commented on #238
To clarify https://github.com/phetsims/energy-forms-and-changes/issues/238#issuecomment-526302084, the shaking still occurs, but is less pronounced and looks more acceptable on the mentioned platforms from what I've seen.

[2019-09-04 21:33] chrisklus commented on #288
Nice find! I'm pretty surprised none of us ever noticed that. Should be fixed, back to @KatieWoe to confirm on master.

[2019-09-04 21:38] KatieWoe commented on #288
Looks good on master

[2019-09-04 21:38] #288 closed

[2019-09-04 21:59] chrisklus commented on #239
That is what's done for the usages I found, so I went ahead with this pattern. Per https://github.com/phetsims/energy-forms-and-changes/issues/239#issuecomment-523281768, I increased the padding between the two checkboxes by 2px, and dilated the touch areas by 5px on the top and bottom.

Before:

![image](https://user-images.githubusercontent.com/5618316/64294043-ebf17200-cf3b-11e9-86b4-d5b87fc907

[2019-09-04 22:54] arouinfar commented on #239
Nice, thanks @chrisklus! I think that takes care of everything, closing.

[2019-09-04 22:54] #239 closed

[2019-09-04 23:49] jbphet commented on #191
I just ran a test using an iOS 9 device (Tycho), and found that the performance is good enough that the alternative algorithm just isn't kicking in.  I suspect that the optimizations to the "regular" distribution algorithm made enough of a difference that this threshold is not reached.

I tried testing with the alternative algorithm on using the `ecDistribution=spiral` query parameter, and I found

[2019-09-05 01:41] chrisklus commented on #191
Agreed! Thanks for looking into it. Sounds good to me, ready to close.

[2019-09-05 01:41] #191 closed

[2019-09-05 02:23] chrisklus commented on #245
09/04/19 testing from a built version of EFAC master:

| Test | Memory Usage (MB) |
| --- | --- |
| Immediately after load | 34.3 |
| After visiting each page | 32.6 |
| After 1 min of fuzz | 36.6 |
| After 2 min of fuzz | 37.0 |
| After 3 min of fuzz | 37.2 |
| After 4 min of fuzz | 40.3 |
| After 5 min of fuzz | 38.1 |
| After 6 min of fuzz | 37.9 |
| After 7 min of fuzz | 40.1 |
| After 8 min o

[2019-09-05 02:23] #245 closed

[2019-09-05 04:11] chrisklus commented on #216
## Before instrumenting
- [x] Create a "PhET-iO Instrumentation" issue in the simulation repository.  Copy this checklist to the issue description (top issue comment) for tracking. Link back to this checklist via `/blob/<SHA>/` so that the specific guide you used is preserved.
- [ ] Publish a pre-instrumentation dev release.  This can be useful for identifying whether bugs or memory issues have be

[2019-09-05 04:24] chrisklus opened #289 "branch: phetioInstrumentation"
For https://github.com/phetsims/energy-forms-and-changes/issues/216.

Master is in good shape right now, but we are likely about to take RC SHAs for 1.2 non-phet-io release, so I thought I'd start phet-io changes on a branch. If we want to wait for phet-io before publishing again, this will be easy to merge into master.

[2019-09-05 15:41] chrisklus commented on #216
Basic tandem passing is complete on branch `phetioInstrumentation`.

[2019-09-06 01:06] chrisklus commented on #216
First dev version: https://phet-dev.colorado.edu/html/energy-forms-and-changes/1.2.0-phetioInstrumentation.1/phet-io/wrappers/studio/

Some things I've noticed to discuss for 09/12/19 design meeting:

**Intro Screen**

* The beakers are three separate pieces instead of one Node so that things like energy chunks and blocks can go between the front and back of the beaker. This doesn't look ideal in

[2019-09-06 14:55] chrisklus commented on #246
Right, thanks. I must have been on 1.1. Closing.

[2019-09-06 14:56] #246 closed

[2019-09-06 22:46] arouinfar commented on #250
@chrisklus here are the images which need updating.

| Image | Year | Artist |
| --- | --- | --- |
| energy_chemical.png | 2012-2018 | Noah Podolefsky and Amy Rouinfar |
| energy_hidden.png | 2012 | Noah Podolefsky |
| energy_electrical.png | 2012-2018 | Noah Podolefsky and Amy Rouinfar |
| energy_light.png | 2012-2018 | Noah Podolefsky and Amy Rouinfar |
| energy_mechanical.png | 2012-2018 | Noah

[2019-09-06 22:51] chrisklus commented on #250
Thanks @arouinfar!

[2019-09-06 23:05] chrisklus commented on #289
I took RC SHAs for 1.2 phet brand earlier today, so I just merged branch `phetioInstrumentation` into master and then deleted it. Closing.

[2019-09-06 23:33] chrisklus commented on #250
Ready for review.

Other changes I made (I noticed a few others that were 2002-2015):

| Image | Year | Artist |
| --- | --- | --- |
| solar_panel_gen.png | 2012 | Noah Podolefsky |
| all iron texture images | 2018 | Amy Rouinfar |

[2019-09-09 17:53] arouinfar commented on #250
Looks good @chrisklus, thanks!

[2019-09-09 17:53] #250 closed

[2019-09-16 17:39] KatieWoe opened #290 "CT value failed isValidValue"
[code]

[2019-09-16 19:36] chrisklus commented on #290
I can't reproduce this after lots of fuzzing on my local machine. Somehow, PhET girl biker is getting one more energy chunk than she's supposed to have. I'll look more into this if it keeps coming up on CT.

[2019-09-18 16:39] chrisklus commented on #216
@zepumph suggested moving this customization as an optional menu dialog located in the sim along with a button to relaunch the sim once the customizations are applied. This would allow for the customization to be confined to one place, instead of every entry point for the sim. In Studio, we would need to find a way to relaunch Studio, not just the sim itself.

This pattern would also make customiz

[2019-09-20 00:21] samreid commented on #216
@zepumph what do you think about bypassing the normal sim construction and going straight to the query parameter UI via a query parameter?  sim.html?configure .  This would still version and deploy within the sim HTML.

[2019-09-20 00:39] zepumph commented on #216
That sounds like it is worth investigation! In the sim feels like it is most robust, and will be easiest to maintain. I still reserve the right to be outvoted if people think that this belongs outside the sim.

[2019-09-20 15:01] chrisklus commented on #216
Would this menu delay normal startup of the sim until the configure menu was submitted? If so, it seems nice that the sim wouldn't have to be reloaded for the customization to take place. It feels a little weird that you add a query parameter in order to add more query parameters, but I can picture an alternate link that would be labeled for customizations, so the client still doesn't need to know

[2019-09-20 15:25] samreid commented on #216
How about a separate HTML page that is deployed alongside the sim HTML?

[2019-09-25 22:59] chrisklus opened #291 "Customization with query parameters"
From https://github.com/phetsims/energy-forms-and-changes/issues/216. This issue pertains to the EFAC specific nature of customizing the sim with query parameters, and is up for discussion at 09/26/19 phet-io design meeting. There are many details to sign-off on or tweak that came from this work.

Note: there's a separate issue pertaining to the general UI component of this feature (implementation

[2019-09-27 20:16] loganbraywork opened #292 "Slowdowns and occasional freezes when using Safari 13 on MacOS 10.14.6"
**Test device**
Jordan
**Operating System**
10.14.6
**Browser**
13.0
**Problem description**
Extreme slowdowns when switching to and from full-screen mode on MacOS 10.14.6. Sometimes causes freezes and the occasional crash. Most frequently occurs when screen is maximized.
**Steps to reproduce**
1. Maximize browser window
2. Check Energy Symbols and Link Heaters boxes
3. Boil water using Heat slide

[2019-09-30 17:46] chrisklus commented on #291
In the above commit, I added support for one or two burners, which can be leveraged with the query param `burners`. Note that when only one 1 burner is specified, there is no need for the "Link Heaters" checkbox, so I removed it for that case. And, as we discussed, elements are able use the vacant burner spot.

Remaining discussion points/work for this issue (from 09/26/19 design meeting):

* Ther

[2019-10-02 03:32] chrisklus commented on #291
Ready for review - @arouinfar want to check out some various combinations in Studio on master and see what you think?

I recommend using this query string:
[code]

That will load the sim in its default state, but turn off phet-io API validation, so you shouldn't run into any API mismatch errors when changing the values of `elements` or `burners`.

[2019-10-02 21:19] KatieWoe opened #293 "Bike Crash when paused with energy chunks"
**Test device**
Dell or Mac
**Operating System**
Win 10 or Mac 10.15
**Browser**
Chrome or Safari
**Problem description**
Found during https://github.com/phetsims/QA/issues/433 but unrelated to that.  This is in the published version.  Requires fairly specific steps to reproduce.  The page will crash if you turn on energy chunks while the bike rider is in a certain state.  I was unable to get a co

[2019-10-02 22:56] chrisklus opened #294 "Use Group for intro screen customization"
From discussion outlined in https://github.com/phetsims/joist/issues/576#issuecomment-537667836, I'm going to investigate using Group for creating blocks and beakers. This would allow us to still validate the phet-io API when configuring the sim to a custom layout (when changing the values of `elements`, burners will come later when we have single dynamic elements).

Total work for making this usa

[2019-10-02 23:40] arouinfar commented on #291
@chrisklus I tested several different combinations and the query parameter is working wonderfully. Nice work!

[2019-10-03 23:19] chrisklus commented on #291
Great, thanks! The phet-io team is not sure of the best pattern for this style of customization yet, but we're discussing in other issues, so I'm going close this one.

[2019-10-03 23:19] #291 closed

[2019-10-04 00:13] chrisklus opened #295 "branch: phetioGroups"
For investigation in https://github.com/phetsims/energy-forms-and-changes/issues/294. Will exist until this pattern is either moved to master or abandoned.

[2019-10-08 15:04] KatieWoe opened #296 "CT api mismatches"
[code]

[2019-10-08 15:11] chrisklus commented on #296
Thanks @KatieWoe. Should be fixed, I'll wait for a round or two of CT before closing.

[2019-10-10 19:56] KatieWoe commented on #293
This issue also appears in https://github.com/phetsims/QA/issues/425

[2019-10-21 16:55] KatieWoe commented on #290
[code]
Could it be related to https://github.com/phetsims/energy-forms-and-changes/issues/293?

[2019-10-22 14:49] KatieWoe opened #297 "CT e.toStateObject is not a function"
[code]

[2019-10-24 04:12] phet-dev opened #298 "Maintenance patches applied to branch 1.1"
This branch (1.1) had changes related to the following applied:

- fix for iOS 13 Full Screen, see https://github.com/phetsims/phet-core/issues/64
- https://github.com/phetsims/scenery/issues/1006

Presumably one or more of these changes is likely to have been applied after the last RC version, and should be spot-checked by QA in the next RC (or if it was ready for a production release, an additio

[2019-10-24 04:13] phet-dev opened #299 "Maintenance patches applied to branch 1.2"
This branch (1.2) had changes related to the following applied:

- fix for iOS 13 Full Screen, see https://github.com/phetsims/phet-core/issues/64
- https://github.com/phetsims/scenery/issues/1006

Presumably one or more of these changes is likely to have been applied after the last RC version, and should be spot-checked by QA in the next RC (or if it was ready for a production release, an additio

[2019-10-24 22:01] #296 closed

[2019-10-25 00:04] chrisklus commented on #293
I just investigated for a little while, and as like any past freezing occurrences on the second screen, it involves preloading energy chunks. The condition for attempting a preload is (1) Is the biker hooked up to the generator? (2) Does the biker have any remaining energy chunks? and (3) Is the target velocity of the biker (the slider) greater than zero? The case above meets those conditions - th

[2019-10-26 03:48] arouinfar commented on #208
We don't have anyone currently working on video production, and I don't have the bandwidth for primers right now. Marking as `status:on-hold`.

[2019-11-14 18:19] chrisklus commented on #216
Some features added since last comment:

* select EnergySystemElement in Studio with labeled Enumeration instead of an index.
* sensors are layered correctly when set with state and stick to elements they're on after setting state
* state transfers on Systems screen, and energy chunks are preloaded in state
* energySystemElements don't animate to their starting positions when loading with custom s

[2019-11-21 17:17] chrisklus commented on #216
Work done since 11/20/19 phet-io design meeting:

* reversed thermometer naming so 4 is last in stack
* instrumented the checkbox control panels
* added sensedNameProperty to thermometers, which looks at the element's tandem name

Notes for future work:

* Include units when adding phetioDocumentation, especially for temperature readouts
* be specific about position when adding doc for element's p

[2019-12-06 19:19] KatieWoe opened #300 "CT api mismatches"
[code]

[2019-12-11 16:55] chrisklus commented on #300
Thanks @KatieWoe. This was fixed in https://github.com/phetsims/energy-forms-and-changes/commit/e3148fa2a2f29f3ea7e166cbc0fe6f2992be5168, closing.

[2019-12-11 16:55] #300 closed

[2019-12-11 16:59] chrisklus commented on #295
This pattern was updated and merged into master. The last SHA of the previous query parameter customization pattern is ca8b3139e768300e866a479598733d1d36b8f165. phetioGroups has been deleted, closing.

[2019-12-17 18:19] arouinfar opened #301 "Treat air like a heat sink"
In reviewing the sim in studio with @kathy-phet, we noticed that heating/cooling an empty burner will increase/decrease the temperature of ALL blocks/beakers. This is because the burner will heat/cool the air, and then air will then heat/cool the other elements.

Steps to observe
1. Load sim in [studio](http://phettest.colorado.edu/phet-io-wrappers/studio/?sim=energy-forms-and-changes&phetioDebug&

[2019-12-18 18:01] jbphet commented on #301
In the commit above, I made it so that the air never gains or loses energy, and thus never changes temperature.  @arouinfar - please regression test the sim behavior thoroughly and, if all is good, assign back to me and I'll finalize the change with an explanatory comment and will close this issue.

[2019-12-18 21:56] arouinfar commented on #301
@jbphet for the most part, this change appears to work as intended. The elements and air still exchange energy chunks, and heating the air no longer increases the temperature of the other elements.

The only strange thing is that the SteamNode doesn't get triggered with the beakers reach their boiling points. Back to @jbphet  for investigation.

[2019-12-19 22:28] jbphet opened #302 "Steam node not visible"
The steam node is not showing up in the master version when it should.  This was first reported in https://github.com/phetsims/energy-forms-and-changes/issues/301#issuecomment-567230237, but after looking into it, I don't think it's related to the change of the air temperature behavior.

[2019-12-19 22:31] jbphet commented on #302
Looks like this problem was introduced in 933c20140b46fe4fa16d9fc8df661810e4c7a35e.

[2019-12-19 22:34] jbphet commented on #302
@chrisklus - please check my commit for this issue and verify that it looks correct and isn't likely to cause problems.  It looks to me like it was just an oversight, but it never hurts to double check.  In summary, the `dt` value was not being passed through to the step function that drives the steam animation, which was causing `NaN` values in some of the calculations, resulting in no production

[2019-12-19 22:52] jbphet opened #303 "Can't measure temperature of burner flame or ice"
While attempting to test https://github.com/phetsims/energy-forms-and-changes/issues/301, I found that when positioning the thermometer just above the burner and then moving the heat/cool slider either up or down, an assertion is thrown.  The message for flame is:
[code]

It's similar for ice.

@chrisklus - this looks like it's related to phet-io instrumention, so I'm passing it over to you.

[2019-12-19 22:58] jbphet commented on #301
I believe the steam issue is now fixed.  It was not related to the change made for the energy behavior of the air, so I logged a new issue, see #302.  There is also another new issue related to measuring the temperature of the burner, see #303.  Both of these issues should be addressed before this one is considered fully resolved.

I just spoke with @arouinfar, and she would like to do some more t

[2019-12-20 17:51] chrisklus commented on #302
Nice catch @jbphet - that's it for sure. Thanks for looking into this. Closing.

[2019-12-20 17:51] #302 closed

[2019-12-20 18:17] chrisklus commented on #303
Thanks @jbphet. I converted those colors to use Color so that all colors that the sensors read can be consistently validated. Closing.

[2019-12-20 18:17] #303 closed

[2019-12-20 18:21] chrisklus commented on #301
Thanks again @jbphet - both #302 and #303 are resolved.

[2019-12-31 18:03] chrisklus commented on #294
This was implemented and finished over in #216, closing.

[2019-12-31 18:03] #294 closed

[2019-12-31 18:09] chrisklus commented on #297
Fixed in https://github.com/phetsims/energy-forms-and-changes/issues/303, closing.

[2019-12-31 18:09] #297 closed

[2019-12-31 19:00] chrisklus opened #304 "Refactor RectangularThermalMovableModelElement to have temperatureProperty"
For #216, one of the requested requirements is to have a `temperatureProperty` in the blocks and beakers. The beakers already have this, so I'm planning to move the beaker's pattern to its supertype so the blocks are included as well.

[2019-12-31 19:36] chrisklus commented on #304
This was pretty straightforward - the blocks and beakers look good in Studio and the sim is passing fuzz tests. Closing.

[2019-12-31 19:36] #304 closed

[2020-01-06 23:11] arouinfar commented on #301
@jbphet @chrisklus the behavior on master is still looking good. I'm reasonably confident that nothing was broken by this change, but I'll defer to @chrisklus to decide of QA should test this issue before the sim is up for general dev testing.

[2020-01-07 00:42] chrisklus commented on #301
Thanks @arouinfar - I'm confident as well, given the simple change set. Self assigning to clean up Air.js, as described in https://github.com/phetsims/energy-forms-and-changes/commit/4b427e9fa1bb8326284d69d562ed77efa9c174d2.

[2020-01-07 23:33] arouinfar commented on #293
I reviewed this with @kathy-phet, and we decided that it makes sense to treat the cyclist like the tea kettle (check actual velocity) and to leave the faucet as is.

[2020-01-07 23:34] arouinfar commented on #293
Btw @KatieWoe this was a really awesome find!

[2020-01-08 02:07] chrisklus opened #305 "Link system element's visibility to corresponding radio button's visibility"
From 01/07/20 EFAC PhET-iO design meeting, for #216.

The current way to remove a system element (the tea kettle, for example) from one of the carousels in Studio is to make the tea kettle radio button `visible: false`, as well as the teaKettleNode itself `visible: false` so that you don't see it go by when selecting an element on either side of the tea kettle.

@arouinfar and @kathy-phet would pr

[2020-01-08 02:13] chrisklus commented on #305
I was able to do this without passing in all of the energy system nodes to EnergySystemElementSelector (where the visibility's are being linked), so this change worked out pretty cleanly. Closing.

[2020-01-08 02:13] #305 closed

[2020-01-08 22:24] arouinfar opened #306 "[Systems Screen] State is not being correctly saved"
Related to #216 and #307

@kathy-phet and I reviewed the Systems screen in studio today, and we discovered that the state is not being properly saved. The active source/converter/user, energy source slider, and state of the energy symbols checkbox are all correctly saved, but when launching the sim, the energy hasn't propagated through the system. In particular, we've noticed
* The faucet, tea ket

[2020-01-08 22:43] arouinfar opened #307 "[Systems Screen] designer review comments/questions for PhET-iO"
Related to #216

@kathy-phet and I reviewed the Systems Screen in studio, and have some comments and questions for @chrisklus.

- [x] The Feed Me button should be instrumented, and ideally nested under model.energySources.biker and view.energySoruces.bikerNode. Its properties should probably all be read only because the button only appears when the biker's energy is depleted.

- [x] It seems that

[2020-01-09 05:48] chrisklus commented on #307
The feed me button only appears under `view.energySoruces.bikerNode` because it's a UI component that's not directly correlated to a Property (`model.energySources.biker.energyChunksRemainingProperty` is most related). Is that sufficient?

`energyFormsAndChanges.systemsScreen.model.energyUsers.beakerHeater.thermometer.positionProperty`

Technically no, just `position` would suffice for this partic

[2020-01-15 22:31] chrisklus commented on #307
@arouinfar and I met and discussed these today:

Yep, sounds good.

@arouinfar is on board with just leaving them un-featured.

Lastly, @arouinfar and @kathy-phet will discuss the light bulb behavior together.

[2020-01-15 23:03] arouinfar commented on #307
Back to @chrisklus since there's some work left to be done on the litProportionProperty and angularVelocityProperty.

[2020-01-21 23:42] chrisklus opened #308 "Preloading the beaker causes the sim to pause"
While working on https://github.com/phetsims/energy-forms-and-changes/issues/306, I've noticed that the second screen briefly lags when energy chunks are turned on.

I did a performance profile and found that the cause is the preloading step I added to the beaker in https://github.com/phetsims/energy-forms-and-changes/issues/306 (so that the beaker has the correct number of energy chunks in the be

[2020-01-22 00:03] chrisklus commented on #293
Thanks all - I changed the condition to check the actual velocity. Closing.

[2020-01-22 00:03] #293 closed

[2020-01-22 00:22] chrisklus commented on #290
@KatieWoe I know this doesn't come up often on CT so it'll be hard to catch, but can you keep an eye out for it again? I just refactored how energy chunks in the biker work in https://github.com/phetsims/energy-forms-and-changes/issues/306 and https://github.com/phetsims/energy-forms-and-changes/issues/293, so I'm hoping this was fixed 🤞

More specifically, a function that restored the number of e

[2020-01-22 20:49] arouinfar commented on #308
I'm seeing a small stutter when turning on the energy chunks, but it seems minor. What impact would reverting to the published behavior have on #306? Do you know of an alternative that would allow for the state to be saved?

Since this EFAC is likely on tomorrow's design meeting agenda, I'll tag this issue for discussion.

[2020-01-22 22:47] chrisklus commented on #308
Hey I'm realizing that I was mistaken about the phet brand behavior - when energy chunks are cleared out of a system and then reloaded during preloading, they aren't cleared out of the beaker because it handles its own energy chunks differently (since it's from the first screen), so the state of the beaker's energy chunks is preserved when toggling the energy symbols checkbox on the published vers

[2020-01-23 05:37] chrisklus commented on #306
@arouinfar ready for review!

[2020-01-23 23:07] chrisklus commented on #306
Relevant notes from today's design meeting:

* energy chunks are not preloaded correctly when the sim is paused during setState
* the biker doesn't preload correctly during setState

[2020-01-25 00:50] chrisklus commented on #308
Implemented above. State is still working and turning on energy energy chunks is no longer delayed. Closing.

[2020-01-25 00:50] #308 closed

[2020-02-06 20:22] arouinfar opened #309 "phetioFeatured overrides"
Related to #216

@kathy-phet and I have gone through studio and have decided which things should be featured. I will commit the changes to [energy-forms-and-changes-phet-io-elements-overrides.js](https://github.com/phetsims/energy-forms-and-changes/blob/master/js/phet-io/energy-forms-and-changes-phet-io-elements-overrides.js)
and reference this issue.

[2020-02-06 20:26] arouinfar commented on #309
Overrides have been committed. Leaving self-assigned to review in master.

[2020-02-07 19:20] KatieWoe opened #310 "CT registered PhetioObject baseline must equal baseline schema"
[code]

[2020-02-07 20:16] chrisklus commented on #310
Thanks @KatieWoe! Fixed, closing.

[2020-02-07 20:16] #310 closed

[2020-02-07 21:10] ariel-phet opened #311 "Feature tweaks for UK users (and possibly all users)"
We had seen on twitter that EFAC is not aligned with UK education standards, so most teachers there feel they cannot use it. I reached out to one of the people suggesting changes on twitter (Helen) and had a productive discussion. I think we can make a few tweaks that would work for everyone, and then we could allow a "GB" locale to exist for some wording changes.

The basic story is that right no

[2020-02-07 22:09] arouinfar commented on #311
@ariel-phet the translation changes for en_GB all make sense to me.

Is the lack of a pipe on the HeaterCoolerNode really a deal breaker for users in the UK? While I understand that the pipe would may better explain the magical source of the energy, I think it would muddy up the visual design quite a bit. I'm also not convinced that it would be conceptually necessary -- we've seen lots of students

[2020-02-07 22:34] arouinfar commented on #309
@chrisklus in reviewing the featured elements in studio, I noticed that the [things we'd featured in the overrides](https://github.com/phetsims/energy-forms-and-changes/blob/master/js/phet-io/energy-forms-and-changes-phet-io-elements-overrides.js#L4-L23) for beakerGroup.archetype and blockGroup.archetype aren't showing up. Can you investigate?

[2020-02-07 23:18] arouinfar commented on #309
Remaining issues:

* Archetypes which are featured in [energy-forms-and-changes-phet-io-elements-overrides.js](https://github.com/phetsims/energy-forms-and-changes/blob/master/js/phet-io/energy-forms-and-changes-phet-io-elements-overrides.js) do not appear featured in studio.
* The panel around the biker's slider isn't instrumented yet. When it is, we'll need to feature the panel's visibleProperty

[2020-02-08 00:45] chrisklus commented on #311
@ariel-phet yes they all seem straightforward. Depending on the wall connection artwork for the heater/coolers, there could be some complications with the layering in between the 3d beaker stand legs, but that's all I can think of (and that's likely easily avoidable).

Adding a generator label and putting the biker first sound like great changes to me - I've had a couple people ask me what the gen

[2020-02-08 18:25] ariel-phet commented on #311
@arouinfar @chrisklus

1. Since we are all in agreement regarding the biker girl we should just go ahead and make that switch

2. As for HeaterCoolerNode, I am NOT suggesting changing heater cooler node, just adding some **sim specific artwork**. I think for this particular simulation, the leaning goals are appropriate for the energy "coming from somewhere" but for all other sims (gas properties,

[2020-02-11 18:41] chrisklus commented on #311
![image](https://user-images.githubusercontent.com/5618316/74267478-1e19b380-4cd4-11ea-95f7-3a329ed2a634.png)

[2020-02-11 18:46] kathy-phet commented on #311
This all sounds OK to me. Agreed that we should not have gas lines in other sims.

[2020-02-12 00:50] arouinfar commented on #311
@ariel-phet thanks for the mockups. I will work on updating the assets. We will likely need to split the wire stand into a front and back piece to accommodate the pipe on the 2nd screen. I'll leave it self-assigned for mockups.

@chrisklus the screenshot looks good, but I would keep the relative ordering of energySource radio buttons the same, so Bike > Faucet > Sun > Kettle.

[2020-02-12 23:43] KatieWoe commented on #290
[code]

[2020-02-13 14:48] chrisklus opened #312 "CT value failed isValidValue"
[code]

[2020-02-13 14:49] chrisklus commented on #290
Thanks @KatieWoe. That error is different the one from this issue, so I opened https://github.com/phetsims/energy-forms-and-changes/issues/312. Since we haven't seen this issue come up since my commits from https://github.com/phetsims/energy-forms-and-changes/issues/290#issuecomment-576950100, I'm going to close here.

[2020-02-13 14:49] #290 closed

[2020-02-13 14:54] chrisklus commented on #307
Work done in the above recent commits:

* added `sunProportionProperty`
* moved clouds slider into clouds panel
* instrumented the biker control panel and nested the biker's slider in it
* omitted the flickering Studio value `energyOutputRateProperty` from the Solar panel

Anything else for this issue @arouinfar?

[2020-02-13 15:11] chrisklus commented on #309
@arouinfar the archetypes themselves were not featured in the overrides files, so I featured them for `beakerGroup` and `blockGroup`. I see them showing up in Studio under featured as well as their Properties that you featured. Let me know if this was the right direction or if I'm misunderstanding.

I also featured the specified tandems from your list above that were added in https://github.com/ph

[2020-02-13 15:34] chrisklus opened #313 "Systems reset is incomplete"
The beaker steam doesn't reset and the biker is full of energy but still looks tired until she starts pedaling again. This is from refactors I've done recently.

[2020-02-13 16:11] chrisklus commented on #313
Fixed above. The steam animation was a weird case that must have come up from my refactors to make it stateful in #306. The biker was only setting the torso style when it was active, which is a constraint that's no longer needed since the refactors of making the energyChunkRemainingProperty more of a 'leader' instead of a 'follower'. Closing.

[2020-02-13 16:11] #313 closed

[2020-02-13 16:30] chrisklus commented on #306
I looked into the biker state problem more. For starters, there was an assertion that was coming up a few times when testing setState, so I've fixed that. There must be a race condition happening for preloading after setState, because it's working all of the times I've tested on the first setState now, whereas before it was never working after the first setState. And by before I mean... maybe sinc

[2020-02-13 16:43] chrisklus commented on #312
I've removed the range from `verticalVelocityProperty`, as it hasn't been useful at all (and it's not instrumented, and if it was, it'd be read-only), and there doesn't seem to be a good reason for limiting the speed at which something can fall. I'm unsure why fuzz testing is reaching higher values that I can when testing within the dev bounds, but again, I don't see a reason to limit it. Closing.

[2020-02-13 16:43] #312 closed

[2020-02-14 00:15] chrisklus commented on #301
I removed `equalizeWithSurroundingAir` and an unneeded call to `changeEnergy`. I did all the testing I could think of with pertaining to the air on the first screen and the behavior still seems normal. Assigning to @jbphet to review and close if all looks good.

[2020-02-14 21:51] arouinfar commented on #306
@chrisklus the biker's state is saving correctly on my end too. When it comes time for QA testing, they should bang away pretty aggressively at saving the state, including the biker.

[2020-02-14 21:56] arouinfar commented on #307
@chrisklus everything's looking good in studio, thanks!

[2020-02-14 21:56] #307 closed

[2020-02-14 22:11] arouinfar commented on #309
That's really strange. Here's the text file with the overrides I committed. There are 9 instances of `archetype` in the file.
[EFAC-overrides.txt](https://github.com/phetsims/energy-forms-and-changes/files/4206991/EFAC-overrides.txt)

When I opened master in Chrome, I still wasn't seeing the archetypes featured. Hard refreshing and `cacheBust` didn't work, but loading studio in a incognito window

[2020-02-14 22:15] arouinfar commented on #309
@chrisklus thanks for featuring the `sunProprotionProperty` and the `cloudsPanel.visibleProperty`. I don't believe there's anything else left do for this issue, so I'll go ahead and close.

[2020-02-14 22:15] #309 closed

[2020-02-17 19:33] jbphet commented on #301
Looks good to me.  We will all need to make an effort to remember the history of this if anything odd comes up about the behavior of the air.  Closing.

[2020-02-17 19:33] #301 closed

[2020-02-26 20:36] arouinfar commented on #311
@ariel-phet I've mocked up the extra pipes. If these look good to you, then we should check in with @chrisklus about how he would like to proceed. The wire stands are drawn in code, so the Systems Screen layering may be a bit tricky. I think the pipe on that screen could be easily drawn in code --it's just a thick line with gradient applied along the stroke. I used the same method for the curved p

[2020-02-26 20:57] arouinfar opened #314 "Instrument labels on blocks/beakers/generator"
Related to https://github.com/phetsims/QA/issues/483

Many elements have labels on them, and these labels are not currently instrumented.
![image](https://user-images.githubusercontent.com/8419308/75386680-58bc4800-589f-11ea-9d74-0505bb64955b.png)
![image](https://user-images.githubusercontent.com/8419308/75386707-61ad1980-589f-11ea-8a79-18d4e72f0dcb.png)

@kathy-phet and I could see a client want

[2020-02-27 00:01] chrisklus commented on #314
The blocks', beakers', and generator's labels were instrumented in the commit above. Assigning to @arouinfar for review.

[2020-02-27 00:39] arouinfar commented on #314
Thanks @chrisklus! It's looking good in the tree. I'll need to update the overrides to feature the `labelNode.textProperty` and `labelNode.visibleProperty`, but I probably won't get to that until tomorrow.

[2020-02-27 15:29] ariel-phet commented on #311
@arouinfar those all look really nice to me. I especially like how you kept made the supply pipes on the first screen small but still effective (out of the way, not interfering with the stands, etc)

[2020-02-27 16:05] kathy-phet commented on #311
Looks good to me.

[2020-02-27 22:22] arouinfar commented on #314
I've featured the various `labelNode.textProperty` and `labelNode.visibleProperty` in the above commit, and it looks good in master. Closing.

[2020-02-27 22:22] #314 closed

[2020-02-27 22:57] arouinfar commented on #311
Thanks @ariel-phet @kathy-phet.

@chrisklus how would you like to proceed? Is this something you can draw in code or would you prefer assets?

The pipes both use the same gradient along the stroke. The stroke weight is 10 pt on Intro and 14 pt on Systems. The ellipse at the base of the pipes on Intro is `#e2e4e6`.

| Location | Color |
| --- | --- |
| 0% | `#e4e5e7`|
| 20% | `#f5f6f6`|
| 50% | `#d

[2020-02-28 18:29] chrisklus commented on #311
Thanks @arouinfar! I looked into it a bit, and think I would prefer assets.

The short ones are tricky with the amount of space we have, but if their ground attachment point is much below the lower left corner of the HeaterCoolerNode then it feels like they are lifting the HeaterCoolerNode off the ground (unless they are extending out toward the user, but this seems like an odd place to add depth)

[2020-03-04 22:53] arouinfar commented on #311
Thanks for the feedback @chrisklus. I've made the pipe on the Intro screen a tab bit smaller so its placement can be a bit closer to the HeaterCoolerNode. Here's a comparison of the updated pipe (left) and the original (right). How's that looking to you?
![image](https://user-images.githubusercontent.com/8419308/75929469-e6fb7580-5e2d-11ea-9f06-03d78cdb7ab4.png)

Here are the asset files for the p

[2020-03-06 21:25] loganbraywork opened #315 "Crash when using elements query parameters"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/483

When using elements to restrict elements to just water and brick, if water is placed onto the brick and the brick is clicked a crash occurs. The following is the error which occurs upon clicking on the brick.

energy-forms-and-changes_all_phet.

[2020-03-09 18:49] KatieWoe opened #316 "Top state sim is very laggy"
For ES6 Testing.
On phet-io master, the top state wrapper shows significant lag, making it quite difficult to use.
![statelag](https://user-images.githubusercontent.com/41024075/76246973-5ee9e700-6204-11ea-933b-9461c70aa6f6.gif)

[2020-03-09 22:23] chrisklus commented on #315
Thanks! Should be fixed, please test on master to confirm.

[2020-03-09 23:28] chrisklus commented on #316
Setting state takes a while (about a second) in this sim because the blocks and beakers add the number of energy chunks they need for their current temperature and then run their redistribution algorithm. Since the state wrapper sets state every second, the sim never has a chance to catch up, so it's quite laggy. This is easier to observe when using a longer interval, like `numberOfMillisecondsBet

[2020-03-10 22:12] chrisklus commented on #311
Thanks @arouinfar! This was a bit tricky to get working in a way that felt okay (because of the different images for different cases, layering between the burner legs, and linking the node Properties to the HeaterCoolerNode so they change appropriately in Studio) - I played around with a few different approaches. Ready for review.

[2020-03-10 22:37] KatieWoe commented on #315
Looks good on master. Found it was more general (works with iron and olive oil too for instance) but that also seems fixed.

[2020-03-10 22:51] chrisklus commented on #315
Great, thanks @KatieWoe. Closing.

[2020-03-10 22:51] #315 closed

[2020-03-11 23:00] KatieWoe opened #317 "Biker doesn't start with energy chunks"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/483
When the sim first loads, if you turn on energy chunks on the Systems screen the biker doesn't have any chunks inside them. If you start the biker like this, the chunks only appear once they reach the water wheel. If you wait until the biker says "feed me" and t

[2020-03-11 23:08] chrisklus commented on #317
Yikes, thanks @KatieWoe.

[2020-03-12 14:57] KatieWoe opened #318 "CT not annotated images"
[code]

[2020-03-12 20:04] KatieWoe commented on #163
Found in https://github.com/phetsims/QA/issues/483. Doesn't need quite as much set up, but same idea. Can end up overlapping with the other block and going under the ground. the beaker can also start overlapping with objects.

[2020-03-12 21:02] KatieWoe opened #319 "Beaker can overlap burner slightly"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Edge
**Problem description**
For https://github.com/phetsims/QA/issues/483. In published version.
When you are only dragging the beaker, it stops at the burner and doesn't overlap it. If you are dragging a block with a beaker on top of it the beaker overlaps the burner a bit. Very minor.

**Visuals**
![overburner](https://user-images.git

[2020-03-12 22:48] KatieWoe opened #320 "IE won't load sim"
For https://github.com/phetsims/QA/issues/483.
In IE, the loading bar won't start filling and this console error occurs:
![iewontload](https://user-images.githubusercontent.com/41024075/76573423-433f4480-6481-11ea-9ad2-b14c5c3c5973.png)